<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/debtor/save" method="POST" class="form-group" enctype="multipart/form-data">
        <div class="row">
          <div class="col-9">
            <h3 class="text-info">สร้างรายชื่อลูกหนี้</h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/debtor">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
          <%-include('debtoraddform')%>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/dist/js/debtors/debtor.js" crossorigin="anonymous"></script>

  <%-include('../../_footer.ejs')%>
