<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info">รายชื่อลูกค้า</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success" href="/debtor/add">เพิ่มลูกหนี้ใหม่</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;">
                <table class="table table-borderless table-hover table-responsive-md table-responsive-lg" id="debtorTable">
                  <thead class="table-bordered">
                    <tr class="bg-info"  align="center">
                      <th width="%">รายชื่อบริษัท</th>
                      <th width="%">ชื่อผู้ติดต่อ</th>
                      <th width="%">เบอร์ติดต่อ</th>
                      <th width="%">อีเมลล์</th>
                      <th width="%">ยอดคงเหลือ</th>
                      <th width="%">เอกสาร</th>
                      <th width="%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (debtors) { %>
                      <% for (var i = 0; i< debtors.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= debtors[i].company %> </td>
                      <td> <%= debtors[i].employee %></td>
                      <td> <%= debtors[i].mobile %></td>
                      <td> <%=debtors[i].email %> </td>
                      <td> <%=debtors[i].balance%></td>
                      <td style="font-size: 28px;">
                        <% if(debtors[i].file) { %>
                          <%if (debtors[i].file.split('.')[1] == "pdf") { %>
                            <a class="text-danger" href= "/debtors/<%=debtors[i].file%>" target="_blank">
                              <i class="fa fa-file-pdf"></i>
                            </a>
                          <%}else if (debtors[i].file.split('.')[1] == "docx") { %>
                            <a class="text-primary" href= "/debtors/<%=debtors[i].file%>" target="_blank">
                              <i class="fa fa-file-word"></i>
                            </a>
                          <%}else if (debtors[i].file.split('.')[1] == "xlsx") { %>
                            <a class="text-success" href= "/debtors/<%=debtors[i].file%>" target="_blank">
                              <i class="fa fa-file-excel"></i>
                            </a>
                          <%}else if (debtors[i].file.split('.')[1] == "png" || debtors[i].file.split('.')[1] == "jpg") { %>
                            <a class="text-secondary" href= "/debtors/<%=debtors[i].file%>" target="_blank">
                              <i class="far fa-file-image"></i>
                            </a>
                          <%}else { %>
                            <a class="text-dark" href= "/debtors/<%=debtors[i].file%>" target="_blank">
                              <i class="far fa-file"></i>
                            </a>
                          <%}%>
                        <%}%>
                      </td>

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#popup" onclick="debtorPopup('debtorpopupedit_<%= debtors[i].id %>')"><i class="fa fa-edit"></i> 1 แก้ไขข้อมูล</a>
                            <a class="dropdown-item" href="/debtor/edit/<%=debtors[i].id%>"><i class="fa fa-edit"></i> แก้ไขข้อมูล</a>
                            <a class="dropdown-item" href="/address/report/debtor/<%=debtors[i].id%>" target="_blank"><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#popup" onclick="debtorPopup('copy_<%= debtors[i].id %>')"><i class="far fa-copy"></i> สร้างซ้ำ</a>
                            <hr>
                            <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#delete<%=debtors[i].id %>"><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                          </div>
                        </div>
                      </td>
                      <div class="modal fade" id="delete<%=debtors[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="exampleModalLabel">ลบข้อมูลผู้ติดต่อ</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                                สำนักงาน / สาขา : <%= debtors[i].branch %><br>
                                ชื่อผู้ติดต่อ : <%= debtors[i].employee %><br>
                                เบอร์มือถือ :<%= debtors[i].mobile %><br>

                            </div>
                            <div class="modal-footer">
                              <a href="/debtor/delete/<%= debtors[i].id %>" class="btn btn-danger">ตกลง</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    <!-- edit popup -->
          <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="form-group" id="creditoreditform">
                  <div class="modal-body">
                    <!-- <input type="hidden" id="idd" name="id"> -->
                    <%-include('debtoraddform')%>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">ตกลง</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#debtorTable').DataTable({
      "order": [[ 0, "asc" ]]
    });
  });
</script>

<script src="/dist/js/debtors/debtor.js" crossorigin="anonymous"></script>

 <%-include('../../_footer')%>
