<div class="row">
    <div class="col-lg-6 col-md-6">
      <form action="" method="post">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">ข้อมูลผู้ติดต่อ</legend>
        <table class="table table-borderless">
            <tr>
              <td>
                <div class="input-group">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><t style="color: red;">*</t>ประเภทผู้ติดต่อ:</label>
                  </div>
                  <select class="form-control" name="human_id" id="edithuman" required>
                    <option>--กรุณาเลือกประเภทบุคคล--</option>
                    <% if(human) { %>
                      <% for(var i = 0; i<human.length; i++) { %>
                        <option value="<%= human[i].id %>"><%= human[i].name %></option>
                      <% } %>
                    <% } %>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for="">เครดิต(วัน):</label>
                    </div>
                    <input type="text" name="crday" class="form-control" id="editcrday">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label>ยอดคงเหลือ:</label>
                    </div>
                    <input type="text" name="balance" value="0" class="form-control" id="editbalance" readonly>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label>วงเงินเครดิต / เครดิตคงเหลือ:</label>
                    </div>
                    <input type="text" name="crfull" class="form-control" value="0" id="editcrfull"> / <input type="text" name="crbalance" value="0" class="form-control" id="editcrbalance" readonly>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for="">รหัสเจ้าหนี้:</label>
                      </div>
                      <input type="text" name="debtorID" <%if(debtormodule[0].using == 1){%>value="<%if(maxnumber[0].maxnumber){%><%=maxnumber[0].maxnumber%><%}else{%><%=debtormodule[0].char%>000000<%}%>" maxlength="<%=debtormodule[0].length%>"<%}%> class="form-control" id="editdebtorID" required>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>ชื่อธุรกิจ:</label>
                      </div>
                      <input type="text" name="company" class="form-control" placeholder="ตัวอย่างการกรอก: บริษัทพีทีทีแอคเคาท์ จำกัด" id="editcompany" required>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>เลขผู้เสียภาษี:</label>
                      </div>
                      <input type="text" name="tax" class="form-control" id="edittax" required>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>สำนักงาน/สาขา:</label>
                      </div>
                      <input class="form-check" type="radio" name="branch" value="สำนักงานใหญ่" id="checka" onclick="branchCheck(this)" required>
                      <label for="checka">สำนักงานใหญ่</label>
                      <input class="form-check" type="radio" name="branch" value="สาขา" id="checkb" onclick="branchCheck(this)" required>
                      <label for="checkb">สาขา</label>
                    </div>
                    <div class="input-group" id="debbranch">
                      <div class="col-lg-4 col-md-4">
                        <!-- //// -->
                      </div>
                      <div class="col-lg-8 col-md-8">
                        <div class="input-group">
                          <input class="form-control" type="text" name="branchID" id="editbranchID" placeholder="รหัสสาขา">
                          <input class="form-control" type="text" name="branchname" id="editbranchname" placeholder="ชื่อสาขา">
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label><t style="color: red;">*</t>ที่อยู่:</label>
                      </div>
                      <textarea class="form-control" name="address" cols="40" rows="2" id="editaddress" required></textarea>
                    </div>
                   <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>จังหวัด:</label>
                    </div>
                    <select id="getResultOption" class="form-control" name="provinces_id" required>
                      <option>--กรุณาเลือกจังหวัด--</option>
                      <% if(provinces) { %>
                        <% for(var i=0; i<provinces.length; i++){ %>
                          <option value="<%= provinces[i].id %>">
                            <%=provinces[i].name_th %>
                          </option>
                        <%}%>
                      <%}%>
                    </select>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>อำเภอ:</label>
                    </div>
                    <select id="getAmphuresOption" class="form-control" name="amphures_id" required>
                      <option>--กรุณาเลือกอำเภอ--</option>
                    </select>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>ตำบล:</label>
                    </div>
                    <select id="getDistrictsOption" class="form-control" name="districts_id" required>
                      <option>--กรุณาเลือกตำบล--</option>
                    </select>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for="">รหัสไปรษณีย์:</label>
                    </div>
                    <div id="getPost" class="">
                      <input id="changPost" type="text"  class="form-control" disabled>
                    </div>
                  </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>ที่อยู่สำหรับจัดส่ง:</label>
                      </div>
                      <textarea class="form-control" name="address1" cols="40" rows="2" id="editaddress1" required></textarea>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>จังหวัด:</label>
                      </div>
                      <select id="getResultOption2" class="form-control" name="provinces_id1" required>
                        <option>--กรุณาเลือกจังหวัด--</option>
                        <% if(provinces) { %>
                          <% for(var i=0; i<provinces.length; i++){ %>
                            <option value="<%= provinces[i].id %>">
                              <%=provinces[i].name_th %>
                            </option>
                          <%}%>
                        <%}%>
                      </select>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>อำเภอ:</label>
                      </div>
                      <select id="getAmphuresOption2" class="form-control" name="amphures_id1" required>
                        <option>--กรุณาเลือกอำเภอ--</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for=""><t style="color: red;">*</t>ตำบล:</label>
                      </div>
                      <select id="getDistrictsOption2" class="form-control" name="districts_id1" required>
                        <option>--กรุณาเลือกตำบล--</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for="">รหัสไปรษณีย์:</label>
                      </div>
                      <div id="getPost2" class="">
                        <input id="changPost2" type="text" class="form-control" disabled>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>เบอร์สำนักงาน:</label>
                    </div>
                    <input class="form-control" type="text" name="officephone" id="editofficephone" required>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for="">เบอร์โทรสาร:</label>
                    </div>
                    <input class="form-control" type="text" name="faxnumber" id="editfaxnumber">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for="">เว็บไซต์:</label>
                    </div>
                    <input class="form-control" type="text" name="website" id="editwebsite">
                  </div>
                </td>
              </tr>
            </table>
        </fieldset>
    </div>
    <div class="col-lg-6 col-md-6">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">รายละเอียดผู้ติดต่อ</legend>
          <table class="table table-borderless">
            <tr>
              <td>
                <div class="form-group">
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>ชื่อผู้ติดต่อ:</label>
                    </div>
                    <input class="form-control" type="text" name="employee" id="editemployee" required>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>อีเมล์:</label>
                    </div>
                    <input class="form-control" type="email" name="email" id="editemail" required>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>เบอร์มือถือ:</label>
                    </div>
                    <input class="form-control" type="text" name="mobile" id="editmobile" required>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">ข้อมูลผังบัญชี</legend>
          <table class="table table-borderless">
            <tr>
              <th style="width: 32%;">ผังบัญชี:</th>
              <td>
                <select class="form-control" name="chart_id" id='editchart_id' required>
                  <option>--กรุณาเลือกบัญชี--</option>
                  <% if(chart) { %>
                    <% for(var i=0; i<chart.length; i++){ %>
                      <option value="<%= chart[i].id %>">
                        <%=chart[i].code %> / <%=chart[i].name %>
                      </option>
                    <%}%>
                  <%}%>
                </select>
              </td>
            </tr>
          </table>
        </fieldset>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">ข้อมูลธนาคาร</legend>
          <table class="table table-borderless">
            <tr>
              <td>
                <div class="form-group">
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>ธนาคาร:</label>
                    </div>
                    <select class="form-control" name="bank_id" id='editbank_id' required>
                      <option>--กรุณาเลือกชื่อธนาคาร--</option>
                      <% if(bank) { %>
                        <% for(var i=0; i<bank.length; i++){ %>
                          <option value="<%= bank[i].id %>">
                            <%=bank[i].name %>
                          </option>
                        <%}%>
                      <%}%>
                    </select>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>เลขที่บัญชี:</label>
                    </div>
                    <input class="form-control" type="text" name="bankID" id="editbankID" required>
                  </div>
                  <div class="input-group">
                    <div class="col-lg-4 col-md-4">
                      <label for=""><t style="color: red;">*</t>สาขาธนาคาร:</label>
                    </div>
                    <input class="form-control" type="text" name="bankbranch" id="editbankbranch" required>
                  </div>
                </div>
              </td>
            <tr>
              <td>
                <div class="input-group">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><t style="color: red;">*</t>ประเภทบัญชี:</label>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <div class="input-group">
                      <input class="form-check" type="radio" name="accounttype" value="บัญชีออมทรัพย์" id="checkp" required>
                      <label for="checkp">บัญชีออมทรัพย์</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <div class="input-group">
                      <input class="form-check" type="radio" name="accounttype" value="บัญชีกระแสรายวัน" id="checko" required>
                      <label for="checko">บัญชีกระแสรายวัน</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">ข้อมูลเพิ่มเติม</legend>
          <table class="table table-borderless">
            <tr>
              <th style="width: 32%;">แนบไฟล์:</th>
              <td>
                <input class="form-control" type="file" name="file"  id="clip"  accept="application/*"  hidden>
                <label for="clip" id="forClip"><i class="fa fa-paperclip" aria-hidden="true" ></i>แนบไฟล์</label>
                  <div id="addIClass">
                    <i id="imga1"></i>
                    <a class="text-danger" href="#" id="fileDelete"><i class="fa fa-trash"></i></a>
                  </div>
              </td>
            </tr>
            <tr>
              <th>โน๊ต:</th>
              <td>
                <textarea class="form-control" name="note" rows="3" cols="40" id="editnote"></textarea>
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
    </div>


    <script src="/dist/js/debtors/debtor.js" crossorigin="anonymous"></script>
