<%-include('../../_header.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card mt-5">        
            <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h3><i class="far fa-sticky-note"></i> รายละเอียดใบเสนอราคา</h3>
                    <h2 class="text-success"><%=taxinvoice[0].taxinvoicechar%><%=taxinvoice[0].taxinvoicenumber%></h2>
                    <input type="hidden">
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-outline-dark" href="/tax_invoice">กลับ</a>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>ชื่อผู้จำหน่าย</b></label>
                    <div class="input-group-prepend">
                      <input type="text"  value="<%=taxinvoice[0].debtors_name%>" class="form-control"  placeholder="เลือกลูกค้า หรือพิมพ์เพื่อสร้างใหม่" disabled>
                    </div>
                    <div class="text-right" >
                      <!-- for credit popup link -->
                    </div>
                    <label for=""><b>รายละเอียด</b></label>
                    <textarea class="form-control"  cols="50" rows="5" placeholder="รายละเอียดที่อยู่" disabled><%=taxinvoice[0].address%></textarea>
                    <label for=""><b>รหัสไปรษณีย์</b></label>
                    <input type="text" value="<%=taxinvoice[0].post%>" class="form-control"  placeholder="รหัสไปรษณีย์" disabled>
                    <label for=""><b>เลขประจำตัวผู้เสียภาษี</b></label>
                    <input type="text" value="<%=taxinvoice[0].tax%>" class="form-control"  placeholder="เลขประจำตัวผู้เสียภาษี" disabled>
                    <label for=""><b>สำนักงาน/สาขาที่</b></label>
                    <input type="text"  value="<%=taxinvoice[0].branch%>" class="form-control"  placeholder="สำนักงาน/สาขาที่" disabled>
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <!-- /////blank//// -->
                  </div>

                  <div class="col-lg-4 col-md-4">
                   <span><b>จำนวนเงินรวมทั้งสิ้น</b></span>
                    <div class="form-group">
                      <span style="color: blue; font-size: 40px;"><%=taxinvoice[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>วันที่:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text"  value="<%=date_now%>" id="datedata" onchange="setDue()" disabled>
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b id="indicatetext">เครดิต (วัน):</b></label>
                          <input type="hidden" name="indicate_id" value="1" id="indicateid"  >
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <div class="input-group">
                            <input class="form-control credit" type="text"  value="<%=taxinvoice[0].credit%>" id="creditdata" onchange="setDue()" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="input-group" id="duegroup">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>ครบกำหนด:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text"  value="<%=due_now%>" id="duedata" onchange="setDay()" disabled> 
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานส่ง:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text"  value="<%=taxinvoice[0].employee_saler%>">
                        </div>
                      </div>
                     
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานรับ:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" list="deliverylist" type="text" value="<%=taxinvoice[0].employee_delivery%>">
                        </div>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label><b>ตั้งค่าใบสั่งซื้อ</b></label>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( taxinvoice[0].itemizedvat == 0){%> checked="checked" <%}%> id="computevatlist" onclick="settingcompute(),computeList()" disabled>
                          <% if( taxinvoice[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ภาษีแยกรายการ</b></span>
                        </div>
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( taxinvoice[0].itemizeddiscount == 0){%> checked="checked" <%}%> id="computediscountlist" onclick="settingcompute(),computeList()" disabled>
                          <% if( taxinvoice[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ส่วนลดแยกรายการ</b></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-2 col-md-2">
                          <label for=""><b>ชื่อโปรเจค:</b></label>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          <input type="text" value="<%=taxinvoice[0].projectgl%>" id="" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>เลขที่อ้างอิง:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text"  value="<%=taxinvoice[0].number%>" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>ราคาสินค้า:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text" value="<%=taxinvoice[0].compute%>" id="compute" onchange="settingcompute(),computeList()" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <table class="table table-responsive" id="rowForAddData">
                    <thead class="bg-primary">
                      <tr>
                        <th width="5%" class="text-center">ลำดับ</th>
                        <th width="40%">ชื่อสินค้า/รายละเอียด</th>
                        <th width="8%" class="text-center">จำนวน</th>
                        <th width="8%" class="text-center">หน่วย</th>
                        <th width="10%" class="text-center">ราคาต่อหน่วย</th>
                        <th width="8%" class="text-center discountlist" hidden>
                          <div class="input-group">
                            <label for="">ส่วนลด</label>
                            <select class=""  style="background-color: #105cd8;"  id="setdiscount" onchange="computeList()" >
                              <%for (var i = 0; i < discount.length; i++) { %>
                                <option value="<%=discount[i].id%>" <%if(discount[i].name == taxinvoice[0].discount_id){%>selected<%}%><%= discount[i].discount_id %>>
                                  <%=discount[i].name%>
                                </option>
                              <%}%>
                            </select>
                          </div>
                        </th>
                        <th width="10%" class="text-center vatlist" hidden>ภาษี</th>
                        <th width="10%" class="text-center">ราคารวม</th>
                        <th width="4%"></th>
                      </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                      <script>
                        var n = 1;
                  </script>
                  <%for (var j = 0; j < taxinvoice.length; j++) { %>
                      <tr class="border" id="row_1">
                        <td align="center">
                          <script>
                            n = n + 1;
                          </script>
                          <span><%=j+1%></span>
                        </td>
                        <td>
                          <div class="input-group">
                            <input type="text" class="form-control " placeholder="ชื่อสินค้า" value="<%=taxinvoice[j].name%>"  disabled  >
                          </div>
                          <input type="text" class="form-control " value="<%=taxinvoice[j].product_code%>"  placeholder="รหัสสินค้า" disabled>
                          <input type="text" value="<%=taxinvoice[j].detail%>" class="form-control raida" placeholder="รายละเอียด" disabled>
                        </td>
                        <td>
                          <input type="text" name="quantity" class="form-control text-right" value="<%=taxinvoice[j].quantity.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>" step="1.00" onkeyup="computeList()" disabled>
                        </td>
                        <td>
                          <input type="text" value="<%=taxinvoice[j].category%>"  class="form-control" disabled>
                        </td>
                        <td>
                          <input type="text" name="price" class="form-control text-right" value="<%=taxinvoice[j].price.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>" onkeyup="computeList()" disabled>
                        </td>
                        <td  class="discountlist" hidden>
                          <input type="text" class="form-control text-right" name="listdiscount" value="<%=taxinvoice[j].listdiscount%>" onkeyup="computeList()" disabled>
                        </td>
                        <td class="vatlist" hidden>
                          <input type="text" value="<%=taxinvoice[j].vat_id + '%' %>" class="form-control taxinvoicelistvat" onchange="computeList()" disabled>
                        </td>
                        <td>
                          <input type="text" class="form-control text-right"  value="<%=taxinvoice[j].totallist.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>" disabled >
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="input-group">
                      <input class="form-check" type="checkbox" <% if( taxinvoice[0].signature == 0){%> checked="checked"<%}%> name="signature" value="" id="checke" disabled>
                      <label for="checke">
                        ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                      </label>
                    </div>
                    <table class="table table-borderless">
                      <tr>
                        <th>หมายเหตุ</th>
                        <th>โน๊ตภายในบริษัท</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" name="note"  cols="50" rows="4" disabled><%=taxinvoice[0].note%></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" name="notein" id="" cols="50" rows="4" disabled><%=taxinvoice[0].notein%></textarea>
                        </td>
                      </tr>
                    </table>
                    <table class="table table-borderless table-responsive-md">
                      <tr>
                        <td>
                          <div class="dropzone" style="width: 150px; height: 150px;">
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
                            คลิกเพื่อเลือกไฟล์
                            <input type="file" name="filename" class="upload-input" multiple/>
                          </div>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </div>


                  <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>รวมเป็นเงิน</b>
                        </div>
                        <div class="col-4 text-right">
                          <b ><%=taxinvoice[0].total.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                        </div>
                      </div>
                    </div>
                   <!-- < id="sumdiscount"> -->
                    <div class="form-group" >
                      <div class="input-group">
                        <div class="col-8">
                          <b>ส่วนลด</b>
                          <%var sum = taxinvoice[0].total -  taxinvoice[0].afterdiscount%>
                          <input class="text-right" type="text"  maxlength="6"   style="width: 50px;" hidden>
                          <b>%</b>
                        </div>
                        <div class="col-4 text-right">
                          <input type="hidden" name="alldiscount" value="<%=sum%>" step="0.00" class="text-right float-right"  style="width: 100px;">
                          <i class="fa fa-edit" ></i><b><%=sum.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินหลังหักส่วนลด</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=taxinvoice[0].afterdiscount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                        </div>
                      </div>
                    </div>

                    <div class="vatlistset" >
                      <hr>
                      <div class="form-group" id="vatexamption">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่ไม่มี/ยกเว้นภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=taxinvoice[0].except.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่คำนวณภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=taxinvoice[0].vatcalculator.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <id="computevat1"> -->
                    <div class="form-group" >
                      <div class="input-group">
                        <div class="col-8">
                          <div class="input-group">
                            <input class="form-check" type="checkbox" <% if( taxinvoice[0].vatamount > 1){%> checked="checked"<%}%>  name="vat" value="7" id="ordervat" onclick="computeList()">
                            <b>ภาษีมูลค่าเพิ่ม</b>
                          </div>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=taxinvoice[0].vatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินรวมทั้งสิ้น</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=taxinvoice[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group" id="computevat2">
                      <!-- /// -->
                    </div>

                    <div class="form-group" id="notplusvat" hidden>
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินไม่รวมภาษี</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=taxinvoice[0].notvatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="notvatamount" value="">
                        </div>
                      </div>
                    </div>

                    <div class="withholding">
                      <hr>
                      <div class="form-group" >
                        <div class="input-group">
                          <div class="col-8">
                            <div class="input-group">
                              <input class="form-check" type="checkbox" <% if( taxinvoice[0].witholding > 1){%> checked="checked"<%}%> id="withholdingC" onclick="corectCheck('withholdingC'),computeList()">
                              <b class="mr-3" for="withholdingC">หัก ณ ที่จ่าย</b>
                              <select class="" name="witholding_id" id="witholdingoption" onchange="computeList()" disabled hidden>
                                <%for (var i = 0; i < witholding.length; i++) { %>
                                  <option value="<%=witholding[i].number%>" <%if(witholding[i].number == taxinvoice[0].witholding_id){%>selected<%}%><%= witholding[i].witholding_id %> >
                                    <%=witholding[i].name%></option>
                                <%}%>
                              </select>
                            </div>
                          </div>
                          <div class="col-4 text-right">
                            <b id="computewitholding"><%=taxinvoice[0].witholding.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" id="computewitholdingin">
                          </div>
                        </div>
                      </div>

                      <div class="form-group" id="discountSum" >
                        <div class="input-group">
                          <div class="col-8">
                            <b>ยอดชำระ</b>
                          </div>
                          <div class="col-4 text-right">
                            <b id="paymoney"><%=taxinvoice[0].payment.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden"  >
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
 
</script>

<%-include('../../_footer.ejs')%>
