<%-include('../../_header.ejs')%>
<!-- ======= Services Section ======= -->
  <div class="container mt-5" data-aos="fade-up">
    <div class="row">

      <%for (var i = 0; i < module.length; i++) {%>
        <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box col-md-12"">
            <a href="<%=module[i].route%>">
              <div class="icon"><i class="<%=module[i].bx%>"></i></div>
              <h4 class="title"><%=module[i].full_name%></h4>
              <p class="description"></p>
            </a>
          </div>
        </div>
      <%}%>
      <!-- <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box col-md-12"">
          <a href="/gl/add">
            <div class="icon"><i class="bx bx-briefcase"></i></div>
            <h4 class="title">บัญชีแยกประเภท</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="250">
        <div class="icon-box col-md-12">
          <a href="/product">
            <div class="icon"><i class="bx bx-buildings"></i></div>
            <h4 class="title">สินค้าคงคลัง</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box col-md-12">
          <a href="/debtor">
            <div class="icon"><i class="bx bx-user-plus"></i></div>
            <h4 class="title">ลูกหนี้</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="350">
        <div class="icon-box col-md-12">
          <a href="/creditor">
            <div class="icon"><i class="bx bxs-user-minus"></i></div>
            <h4 class="title">เจ้าหนี้</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box col-md-12">
          <a href="/pos">
            <div class="icon"><i class="bx bx-calculator"></i></div>
            <h4 class="title">POS</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="450">
        <div class="icon-box col-md-12">
          <a href="/purchase_order">
            <div class="icon"><i class="bx bx-cart"></i></div>
            <h4 class="title">ซื้อสินค้า</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box col-md-12">
          <a href="/quotation">
            <div class="icon"><i class="bx bx-store"></i></div>
            <h4 class="title">ขายสินค้าและรายได้อื่นๆ</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="550">
        <div class="icon-box col-md-12">
          <a href="/salary_management">
            <div class="icon"><i class="bx bx-money"></i></div>
            <h4 class="title">การจัดการเงินเดือนและค่าแรง</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box col-md-12">
          <a href="/property_list">
            <div class="icon"><i class="bx bx-dollar"></i></div>
            <h4 class="title">สินทรัพย์ถาวร</h4>
            <p class="description"></p>
          </a>
        </div>
      </div>

      <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="fade-up" data-aos-delay="650">
        <div class="icon-box col-md-12">
          <a href="/data_management">
            <div class="icon"><i class="bx bxs-folder-open"></i></div>
            <h4 class="title">การจัดการแฟ้มและข้อมูล</h4>
            <p class="description"></p>
          </a>
        </div>
      </div> -->

    </div>
  </div>
  <!-- End Services Section -->

<%-include('../../_footer.ejs')%>
