<% if (payment_topic) { %>
  <% for (var k = 0; k< payment_topic.length; k++) { %>
    <div class="modal fade" id="popup<%= payment_topic[k].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">บันทึกการจ่ายเงินพนักงาน</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/pay_saveadd" method="post" id="action">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-5 col-md-5">
                  <table class="table table-borderless" style="background: white;">
                    <tr>
                      <td style="color: black">
                        <div class="input-group">
                          <div class="col-lg-6 col-md-6">
                            <label for="">ช่วงวันที่เงินเดือน:</label>
                          </div>
                          <h6><%= payment_topic[k].date_startn %> - <%= payment_topic[k].date_endn %> </h6>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="color: black">
                        <div class="input-group">
                          <div class="col-lg-6 col-md-6">
                            <label for="">วันที่จ่ายเงิน:</label>
                          </div>
                          <input class="form-control" type="date" name="date_pay" value="<%= new Date().toISOString().split('T')[0] %>" onchange="setDue()">
                          <input class="form-control" type="hidden" name="payment_topic_id" value="<%= payment_topic[k].id %>">
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3">
                  <table class="table table-borderless" style="background: white;">
                    <tr>
                      <td style="color: black">
                        <div class="text-center">
                          <label for="">จำนวนพนักงาน</label>
                        </div>
                        <div class="text-center">
                          <%= payment_topic[k].employee_count %>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                  <div class="col-lg-3 col-md-3">
                    <table class="table table-borderless" style="background: white;">
                      <tr>
                        <td style="color: black">
                          <div class="text-center">
                            <label for="">ยอดรวมจ่ายสุทธิ</label>
                          </div>
                          <div class="text-center">
                            <%= payment_topic[k].total_pay.toFixed(2) %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <hr>

              <b style="font-size: 17;">&nbsp;&nbsp;&nbsp;รายละเอียดช่องทางการชำระ</b>
              <div class="col-lg-5 col-md-5">
                <table class="table table-borderless" style="background: white;">
                  <tr>
                    <td style="color: black">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">ธนาคาร:</label>
                        </div>
                        <select class="form-control" name="bank_salary_id" id="bank_id" required>
                          <option id="yy">--กรุณาเลือกธนาคาร--</option>
                          <% if(bank) { %>
                            <% for(var i = 0; i<bank.length; i++) { %>
                              <option value="<%= bank[i].id %>" id="bank_id"><%= bank[i].name %> <%= bank[i].bank_number %> <%= bank[i].nametype %></option>
                            <% } %>
                          <% } %>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: black">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">จำนวนเงิน:</label>
                        </div>
                        <input class="form-control" type="text" name="money" value="<%= payment_topic[k].total_pay.toFixed(2) %>" id="total_payadd_two" readonly>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: black">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">ค่าธรรมเนียม:</label>
                        </div>
                        <input class="form-control" type="text" name="free" value="0" onkeyup="findTotal(this.value);" id="freeadd">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: black">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">วิธีการจ่าย:</label>
                        </div>
                        <p><%= payment_topic[k].pmname %></p>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-12 col-md-12">
                <table class="table table-borderless" >
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th width="50">ลำดับ</th>
                      <th>ชื่อ นามสกุล/รหัสพนักงาน</th>
                      <th>ช่องทางการชำระ </th>
                      <th>ยอดจ่ายสุทธิ </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (payment_list) { %>
                      <% for (var j = 0; j< payment_list.length; j++) { %>
                        <% if (payment_list[j].payment_topic_id == payment_topic[k].id) { %>
                          <tr class="border-left border-right border-bottom">
                            <td align="center"> <%= j+1 %> </td>
                            <td align="left"> <%= payment_list[j].fname %> <%= payment_list[j].lname %> </td>
                            <td align="left">
                              <%if(payment_list[j].name){%>
                                <%= payment_list[j].name %> (<%= payment_list[j].btn %>) <br> <%= payment_list[j].bank_number %>
                              <%}else {%>
                                <%= payment_topic[k].pmname %>
                              <%}%>
                            </td>
                          <td align="right"> <%= payment_list[j].total_pay.toFixed(2) %> </td>
                        </tr>
                      <% } %>
                    <% }
                  } %>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <%}
}%>

<script>

  function findTotal(){//add(,)
    var a = parseFloat(document.getElementById("total_payadd_two").value);
    var b = parseFloat(document.getElementById("freeadd").value);
    sum = a+b;
    document.getElementById('total_payadd').innerText = sum.toLocaleString();
  }

</script>
