
<style>

  * {
    box-sizing: border-box;
  }
  
  .l-radio {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 8px 0;
    -webkit-tap-highlight-color: transparent;
  }
  .l-radio:hover, .l-radio:focus-within {
    background: rgba(159, 159, 159, 0.1);
  }
  .l-radio input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9F9F9F;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    pointer-events: none;
  }
  .l-radio input:focus {
    outline: none;
  }
  .l-radio input:checked {
    box-shadow: inset 0 0 0 6px #6743ee;
  }
  .l-radio span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
  }
  </style>
    <div class="modal fade" id="popupdel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูลรายการปรับลด</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="get" >
            <div class="modal-body">
              <!-- <input type="hidden" id="idd" name="id"> -->
              <div class="row">
                <div class="col-lg-12 col-md-12">
                    <table class="table table-borderless" style="background: linear-gradient(to right, #d31027, #ea384d)">
                        <tr>
                          <td>
                          </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label for="">รายการปรับลด:</label>
                                </div>
                                <input type="text" name="namedel" class="form-control" id="namedel"  readonly>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label>แสดง/ไม่แสดง:</label>
                                </div>
                     
                      <label for="select_one" class="l-radio">
                        <input type="radio" id="select_one" name="default" value="1" tabindex="default">
                        <span>แสดง</span>
                      </label>
                      <label for="select_two" class="l-radio">
                        <input type="radio" id="select_two" name="default" value="0" tabindex="default">
                        <span>ไม่แสดง</span>
                      </label>
                  
                              </div>
                            </td>
                          </tr>

                       
                        
                        </table>
                </div>
      
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-confirm" id="colorbutton" style="background-color:red;border:lightgoldenrodyellow;"  >
                <a href="https://www.w3schools.com" id="pay_savedel" style="color: cornsilk;">ลบรายการ</a></button>
            </div>
         
        </div>
      </div>
    </div>
  
  