<% if (pay_save) { %>
  <% for (var k = 0; k< pay_save.length; k++) { %>
    <div class="modal fade" id="popuplink<%= pay_save[k].ptid %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-s" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ข้อมูลการจ่ายเงินพนักงาน</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <input type="hidden" id="idd" name="id"> -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <table class="table table-borderless" style="background: linear-gradient(to bottom, #ffefba, #ffffff);">
                  <tr>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label style="color: black;" for="">วันที่ชำระใบเสร็จ:</label>
                        </div>
                        <input type="text" name="namedel" value="<%=pay_save[k].date %>" class="form-control" id="namedel"  readonly>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label style="color: black;" for="">รวมจ่ายสุทธิ:</label>
                        </div>
                        <input type="text" name="namedel" value="<%=pay_save[k].money %>" class="form-control" id="namedel"  readonly>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label style="color: black;" for="">ค่าธรรมเนียม:</label>
                        </div>
                        <input type="text" name="namedel" value="<%=pay_save[k].free %>" class="form-control" id="namedel"  readonly>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<%}}%>
