<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h3 class="text-info" style="color: #8A2BE2;">รายการเงินเดือน/ค่าจ้าง</h3>
          </div>

        </div>
        <hr>
        <div style="width: 100%;" >
          <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
            <thead class="table-bordered">
              <tr class="bg-info">
                <th >ลำดับ</th>
                <th >ช่วงวันที่</th>
                <th >วันที่ชำระ</th>
                <th >ค่าใช้จ่ายพนักงานรวม</th>
                <th >ยอดจ่ายรวมสุทธิ</th>
                <th >สถานะ</th>
                <th >ดูรายระเอียดการชำระ</th>
                <th ></th>
              </tr>
            </thead>
            <tbody>
              <% if (payment_topic) { %>
                <% for (var i = 0; i< payment_topic.length; i++) { %>
                  <tr class="border-left border-right border-bottom" align="center">
                    <td> <%= i+1 %> </td>
                    <td> <%= payment_topic[i].date_startn %> - <%= payment_topic[i].date_endn %> </td>
                    <td> <%= payment_topic[i].date_payn %></td>
                    <% if (payment_topic[i].employee_expense == 0 || payment_topic[i].employee_expense > 0){%>
                      <td> <%= payment_topic[i].employee_expense.toLocaleString() %></td>
                    <%}else{%>
                      <td> <%= payment_topic[i].employee_expense %></td>
                    <%}%>
                    <% if (payment_topic[i].total_pay == 0 || payment_topic[i].total_pay > 0){%>
                      <td> <%= payment_topic[i].total_pay.toLocaleString() %></td>
                    <%}else{%>
                      <td> <%= payment_topic[i].total_pay %></td>
                    <%}%>
                    <td><p id="status<%=payment_topic[i].id%>">ยังไม่ชำระ</p></td>
                    <td><a class="btn btn-warning" data-toggle="modal" data-target="#popuplink<%=payment_topic[i].id%>" id="link<%=payment_topic[i].id%>">ยังไม่มีข้อมูล</a></td>
                    <td align="center">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h dropbtn"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" id="editdel<%=payment_topic[i].id%>" data-toggle="modal" data-target="#popup<%=payment_topic[i].id%>" ><i class="fa fa-edit"></i>ชำระเงิน</a>
                          <a class="dropdown-item" onclick="del('<%=payment_topic[i].id%>')" ><i class="fa fa-trash"></i> ยกเลิกการชำระเงิน</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
          <%-include('pay_saveadd.ejs')%>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('pay_save_del.ejs')%>
<%-include('pay_savelist.ejs')%>

<script type="text/javascript">

  $(function() {
    $(document).ready(function() {
      var test = <%- JSON.stringify(pay_save) %>;
      for (var i = 0; i< test.length; i++){
        var elem = document.getElementById("status"+test[i].ptid);
        if(elem !== null ) {
          $('#status'+test[i].ptid).text("ชำระเเงินแล้ว").css("color","green");
          $('#link'+test[i].ptid).text("ดูข้อมูล").css("background-color","green");
          $('#editdel' + test[i].ptid).remove();
        }
      }
      $('#example').DataTable();
    });
  });

  function add(){
    var datede = new Date().toISOString().split("T")[0]
    $("input[name='default']").prop('checked', false);
    $('#yy').prop('selected', true);
    $('#name').val("");
    $('#default').val("");
    $('#start_date').val(datede);
  };

  function del(pp){
    var link = "/pay_savedelcon/"+pp
    if (confirm('ต้องการลบหรือไม่')) {
      // Save it!
      $.ajax({
        url: link,
        success: function (data) {
          window.location.href = "/pay_save";
        }
      });
    } else {
        // Do nothing!
      console.log('notdel');
    }
  }

</script>



 <%-include('../../_footer')%>
