<%-include('../../_header.ejs')%>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="text-right">
            <a class="btn btn-outline-dark" href="/setting/expenses_head">กลับ</a>
            <button type="button" class="btn btn-success" data-toggle="modal" onclick="add_modal()">เพิ่ม</button>
          </div>
          <hr>
          <div style="width: 100%;">
            <table class="table table-bordered table-responsive-md">
              <thead class="table-active">
                <tr align="center">
                  <th width="50px">ลำดับ</th>
                  <th>รายการ</th>
                  <th>ชื่อบัญชี</th>
                  <th align="center">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <%if(expensesdetail){ %>
                <%for (var i=0; i < expensesdetail.length; i++) { %>
                  <tr class="border-left border-right border-bottom">
                    <td align="center">
                      <%=i+1%>
                    </td>
                    <td align="center">
                      <%=expensesdetail[i].name%>
                    </td>
                    <td align="center">
                      <%=expensesdetail[i].chartname%>
                    </td>
                    <td align="center">
                      <button type="button" class="btn btn-primary" data-toggle="modal"
                        onclick="edit_modal('tr_moduleexpenses_<%=i%>-<%=expensesdetail[i].id%>')">แก้ไข</button>
                      <button type="button" class="btn btn-danger" data-toggle="modal"
                        onclick="delete_modal('tr_moduleexpenses_<%=i%>-<%=expensesdetail[i].id%>')">ลบข้อมูล</button>
                    </td>
                  </tr>
                  <%}%>
                  <%}%>
              </tbody>
            </table>
           
            <div class="modal fade" id="tr_delete_moduleexpenses" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="p1_delete_modulebank">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                    <p id="p2_delete_moduleexpenses"></p>
                    <p id="p3_delete_moduleexpenses"></p>
                  </div>
                  <div class="modal-footer">
                   <a id="a1_moduleexpenses_delete" class="btn btn-danger">ลมข้อมูล</a>
                  </div>
                </div>
              </div>
            </div>
           

            <div class="modal fade bd-example-modal-lg" id="add_moduleexpenses" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/setting/expenses_detail/add/<%=url.expensesdetail%>" method="post">
                      <table class="table table-bordered">
                        <tr align="center">
                          <th>รายการ</th>
                          <td> <input type="text" name="name" class="form-control"></td>
                        </tr>
                        <tr align="center">
                          <th>ผังบัญชี</th>
                          <td>
                            <select name="chart_id" class="form-control" required>
                              <option value="">--กรุณาเลือกบัญชี--</option>
                              <%for (var i=0; i < chart.length; i++) { %>
                                <option value="<%=chart[i].id%>">
                                  <%=chart[i].name%>
                                </option>
                                <%}%>
                            </select>
                          </td>
                        </tr>
                      </table>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" type="submit">ตกลง</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          
            <div class="modal fade bd-example-modal-lg" id="edit_moduleexpenses" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">แก้ไข</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/setting/expenses_detail/edit/<%=url.expensesdetail%>" method="post">
                      <table class="table table-bordered">
                        <tr align="center">
                          <th>รายการ</th>
                          <td><input type="text" name="name" id="name_list" class="form-control"></td>
                              <td hidden><input type="text" name="name_id" id="id"></td>
                        </tr>
                        <tr align="center">
                          <th>ผังบัญชี</th>
                          <td>
                            <select name="chart_id" class="form-control" id="chart_list" required>
                              <option value="">--กรุณาเลือกบัญชี--</option>
                              <%for (var i=0; i < chart.length; i++) { %>
                                <option value="<%=chart[i].id%>">
                                  <%=chart[i].name%>
                                </option>
                                <%}%>
                            </select>
                          </td>
                        </tr>
                      </table>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" type="submit">ตกลง</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
        

          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var expensesdetail = <%-JSON.stringify(expensesdetail) %>;
    var url = <%-JSON.stringify(url.expensesdetail) %>;

    function delete_modal(tr) {
      console.log(tr)
      var del = tr.split('-')[1];
      console.log(del)
      for (var i = 0; i < expensesdetail.length; i++) {
        if (expensesdetail[i].id == del) {
          $('#p2_delete_moduleexpenses').text("รายการ:"+expensesdetail[i].name);
          $('#p3_delete_moduleexpenses').text("ผังบัญชี:"+expensesdetail[i].chartname);
        }
      }
      $('#a1_moduleexpenses_delete').attr('href', '/setting/expenses_detail/delete/' + del +'/'+ url);
      $('#tr_delete_moduleexpenses').modal();
    }

    function add_modal() {
      $('#add_moduleexpenses').modal();
    }

    function edit_modal(tr) {
      var data = tr.split('-')[1];
      $('#id').val(data);
      console.log(data)
      for (var i = 0; i < expensesdetail.length; i++) {
        if (expensesdetail[i].id == data) {
          $('#name_list').val(expensesdetail[i].name);
          $('#chart_list').val(expensesdetail[i].chart_id);
          console.log(expensesdetail[i].chart_id)
        }
      }
      $('#edit_moduleexpenses').modal();
    }
  </script>

  <script src="/dist/js/sidebar.js"></script>
  <%-include('../../_footer.ejs')%>