<%-include('../../_header.ejs')%>
<div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <%-include('../setting_sidebar.ejs')%>

          <div id="main">
            <div class="float-left">
              <div class="row">
                <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                <h3>ตั้งค่าส่วนของค่าใช้จ่าย</h3>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-toggle="modal" onclick="add_modal()">สร้างรายการ</button>
            </div>
            <hr>
            <div style="width: 100%;">
              <table class="table table-bordered table-responsive-md">
                <thead class="table-active">
                  <tr align="center">
                    <th width="50px">ลำดับ</th>
                    <th >รายการ</th>
                    <th align="center">จัดการ</th>
                  </tr>
                </thead>
                <tbody>
                  <%for (var i = 0; i < expenseshead.length; i++) { %>
                    <tr class="border-left border-right border-bottom">
                      <td align="center"><%=i+1%></td>
                      <td align="center"><%=expenseshead[i].name%></td>
                      <td>
                        
                        <a class="btn btn-success" href="/setting/expenses_detail/<%=expenseshead[i].id%>">ข้อมูล</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="edit_modal('tr_moduleexpenses_<%=i%>-<%=expenseshead[i].id%>')">แก้ไข</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" onclick="delete_modal('tr_moduleexpenses_<%=i%>-<%=expenseshead[i].id%>')">ลบข้อมูล</button>
                      </td>
                    </tr>
                    <%}%>
                </tbody>
              </table>

              <div class="modal fade" id="tr_delete_moduleexpenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="p_delete_modulebank">
                      <p id="p1_delete_modulebank">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                      <p id="p2_delete_moduleexpenses"></p>
                    </div>
                    <div class="modal-footer">
                      <a  id="a1_moduleexpenses_delete" onclick=" location.reload()" class="btn btn-danger">ยืนยัน</a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade bd-example-modal-lg" id="tr_add_moduleexpenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/setting/expenses_head/add" method="post">
                     <table class="table table-bordered">
                      <tr align="center">
                        <th>รายการ</th>
                        <td><input type="text" name="name" class="form-control"></td>
                      </tr>
                     </table>

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-success" type="submit">ตกลง</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>

              <div class="modal fade bd-example-modal-lg" id="tr_edit_moduleexpenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/setting/expenses_head/edit/<%=expenseshead[0].id%>" name="edit" method="post">
                     <table class="table table-bordered">
                      <tr align="center">
                        <th>รายการ</th>
                        <td><input type="text" name="name" id="name_list" class="form-control"></td>
                      </tr>
                     </table>

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-success" type="submit">ตกลง</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var expenseshead = <%-JSON.stringify(expenseshead) %>;
    function add_modal(){
      $('#tr_add_moduleexpenses').modal();
    }

    function delete_modal(tr) {
      var del = tr.split('-')[1];
      console.log(del)
      for (var i = 0; i < expenseshead.length; i++) {
        if (expenseshead[i].id == del) {
          $('#p2_delete_moduleexpenses').text("รายการ:"+expenseshead[i].name);
        }
      }
      $('#a1_moduleexpenses_delete').attr('href', '/setting/expenses_head/delete/' + del );
      $('#tr_delete_moduleexpenses').modal();
    }


    function edit_modal(tr) {
      var data = tr.split('-')[1];
      $('#id').val(data);
      console.log(data)
      for (var i = 0; i < expenseshead.length; i++) {
        if (expenseshead[i].id == data) {
          $('#name_list').val(expenseshead[i].name);
        }
        document.edit.action = '/setting/expenses_head/edit/'+expenseshead[i].id;
      }
      $('#tr_edit_moduleexpenses').modal();
    }
  </script>

  <script src="/dist/js/sidebar.js"></script>
  <%-include('../../_footer.ejs')%>