<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<style>

.card--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}


</style>
<%-include('../css.ejs')%>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">จัดการผนักงาน</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success"data-toggle="modal" onclick="add()" data-target="#popup">เพิ่มผนักงาน</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >รหัสผนักงาน</th>
                      <th >ชื่อพนักงาน</th>
                      <th >ตำแหน่ง</th>
                      <th >แผนก</th>
                      <th >อีเมล</th>
                      <th >เบอร์มือถือ</th>   
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (employee) { %>
                      <% for (var i = 0; i< employee.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td> <%= employee[i].employee_code %> </td>
                      <td> <%= employee[i].noun_th %> <%= employee[i].firstname_th %>  <%= employee[i].lastname_th %></td>
                      <td> <%= employee[i].subdepartment %></td>
                      <td> <%= employee[i].name %></td>
                      <td> <%= employee[i].email %></td>
                      <td> <%= employee[i].phone %></td>
               

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"  data-toggle="modal" data-target="#popup" onclick="edit('<%= employee[i].id%>')"><i class="fa fa-edit"></i> แก้ไขข้อมูลแผนก</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= employee[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูลแผนก</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
   
                  
                
              </div>
            </div>
          </div>
        </div>
        <%-include('employee_addedit.ejs')%>
        <%-include('employee_del.ejs')%>

      

<script type="text/javascript">
  $(document).ready(function(){
	$('.price').blur(function () {
		var sumdata = 0;
		$('.price').each(function() {
			if($(this).val()!="")
			 {
				sumdata += parseFloat($(this).val());
			 }

		});
			$("#sum").html(sumdata);
	});
});
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });

});
function add(){
    var datede = new Date().toISOString().split("T")[0]
    $("input[name='bank_type_id']").prop('checked', false);
    $('#action').prop('action', "/employeeadd");
    $('#yy').prop('selected', true);
    $('#yy2').prop('selected', true);
    $('#yy3').prop('selected', true);
    $('#yy4').prop('selected', true);
    $("#rrr").hide();
    $("#rrr2").hide();
    $('#employee_code').val("");
    $('#noun_th').val(1);
    $('#firstname_th').val("");
    $('#lastname_th').val("");
    $('#nickname_th').val("");
    $('#noun_en').val(1);
    $('#firstname_en').val("");
    $('#lastname_en').val("");
    $('#nickname_en').val("");
    $('#numberid').val("");
    $('#passport_number').val("");

    $('#phone').val("");
    $('#email').val("");
    $('#line_id').val("");
    $('#address').val("");
    $('#emergency').val("");
    $('#emergency_phone').val("");
    $('#subdepartment').val("");

    $('#date_start').val(datede);
    $('#salary').val(0);
    $("input[id='social_security_two']").prop('checked', true);
    $('#social_security_cost').val(0);
    $('#withholding').val(0);
    $("input[id='auto_compute']").prop('checked', true);

    $('#payment_method_id').prop('selected', true);
    $('#bank_id').prop('selected', true);
    $("input[id='bank_type_id']").prop('checked', false);
    $('#bank_number').val("");
    $('#bank_branch').val("");
    $('#note').val("");
    $('#birthday').val(datede);
    


};
function edit(pp){
  var urlname = '/employeeajax/'+pp
  $('#edit,#editt').addClass('active');
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.employee[0]
    var id = "/employeeeditcon/" + suc.id
     console.log(id);
     console.log(suc);
     $('#exampleModalLabel').text("แก้ไขข้อมูลธนาคาร");
      
     $('#employee_code').val(suc.employee_code);
     $('#noun_th').val(suc.noun_id);
     $('#firstname_th').val(suc.firstname_th);
     $('#lastname_th').val(suc.lastname_th);
     $('#nickname_th').val(suc.nickname_th);
     $('#noun_en').val(suc.noun_id);
     $('#firstname_en').val(suc.firstname_en);
     $('#lastname_en').val(suc.lastname_en);
     $('#nickname_en').val(suc.nickname_en);
     $('#numberid').val(suc.numberid);
     $('#passport_number').val(suc.passport_number);

     if(suc.payment_method_id == 1){
      $("#rrr2").hide();
     }else{
      $("#rrr2").show();
     }
     if(suc.payment_method_id == 1){
      $("#rrr").hide();
     }else{
      $("#rrr").show();
     }
     
     $('#phone').val(suc.phone);
     $('#email').val(suc.email);
     $('#line_id').val(suc.line_id);
     $('#address').val(suc.address);
     $('#emergency').val(suc.emergency);
     $('#emergency_phone').val(suc.emergency_phone);

     $('#department_id').val(suc.department_id);
     $('#subdepartment').val(suc.subdepartment);
     $('#date_start').val(suc.date_st);

     $('#birthday').val(suc.date_bd);
     $('#note').val(suc.note);

     $('#employee_type_id').val(suc.employee_type_id);
     $('#salary').val(suc.salary);
     $("input[name=social_security][value=" + suc.social_security + "]").prop('checked', true);
     $("input[name=social_security][value=" + suc.social_security + "]").prop('checked', true);
     $('#social_security_cost').val(suc.social_security_cost);
     $('#withholding').val(suc.withholding);
     if(suc.social_security_cost == 0){
      $("input[name=auto_compute][value=" + 1 + "]").prop('checked', true);
     }else{
      $("input[name='auto_compute']").prop('checked', false);
     }
     
     $('#payment_method_id').val(suc.payment_method_id);
     $('#bank_id').val(suc.bank_id);
     $('#bank_number').val(suc.bank_number);
     $("input[name=bank_type_id][value=" + suc.bank_type_id + "]").prop('checked', true);
     $('#bank_branch').val(suc.bank_branch);

     $('#action').prop('action', id);
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/employeeajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.employee_del[0]
    var succheck = data.employee_check
    var id = "/employeedelcon/" + suc.id
     console.log(succheck.length);
     console.log(suc);
     $('#employee_codedel').val(suc.employee_code);
     $('#namedel').val(suc.noun_th +" "+ suc.firstname_th +" "+ suc.lastname_th);
     $('#subdepartmentdel').val(suc.subdepartment);
     $('#departmentdel').val(suc.dname);
     $('#emaildel').val(suc.email);
     $('#phonedel').val(suc.phone);

     if(succheck.length >= 1){
      $('#employeedel').attr("href", "/employee");
      $('#employeedel').text('ไม่สามารถลบได้').button("refresh").css("background-color","green");
      $('#colorbutton').button("refresh").css("background-color","green");
     }else{
      $('#employeedel').text('ลบรายการ').button("refresh").css("background-color","red");
      $('#colorbutton').button("refresh").css("background-color","red");
     $('#employeedel').attr("href", id);
     }
   
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
