
<style>

  * {
    box-sizing: border-box;
  }
  
  .l-radio {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 8px 0;
    -webkit-tap-highlight-color: transparent;
  }
  .l-radio:hover, .l-radio:focus-within {
    background: rgba(159, 159, 159, 0.1);
  }
  .l-radio input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9F9F9F;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    pointer-events: none;
  }
  .l-radio input:focus {
    outline: none;
  }
  .l-radio input:checked {
    box-shadow: inset 0 0 0 6px #6743ee;
  }
  .l-radio span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
  }
  </style>


    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">สร้างข้อมูลพนักงาน</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/employee_typeadd" method="post" id="action">
            <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border"><b>ข้อมูลพนักงานพื้นฐาน</b></legend>
                  <table class="table table-borderless">
                      <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">รหัสพนักงาน:<t style="color: red;">*</t></label>
                              </div>
                              <input type="text" name="employee_code" class="form-control" id="employee_code" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ชื่อพนักงาน:<t style="color: red;">*</t></label>
                              </div>
                              <select class="form-control" onchange="checknoun_th(this.value);" name="noun_id" id="noun_th" required>
                                <% if(noun) { %>
                                  <% for(var i = 0; i<noun.length; i++) { %>
                                    <option value="<%= noun[i].id %>" id="noun"><%= noun[i].noun_th %></option>
                                  <% } %>
                                <% } %>
                              </select>
                              <input type="text" name="firstname_th" class="form-control" id="firstname_th" style="width: 30%;" required>
                              <div class="col-lg-4 col-md-4">
                                <label for="">นามสกุล:<t style="color: red;">*</t></label>
                              </div>
                              <input type="text" name="lastname_th" class="form-control" id="lastname_th" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ชื่อเล่น:</label>
                              </div>
                              <input type="text" name="nickname_th" class="form-control" id="nickname_th">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ชื่อพนักงาน(EN):<t style="color: red;">*</t></label>
                              </div>
                              <select class="form-control" onchange="checknoun_en(this.value);" id="noun_en" required>
                                <% if(noun) { %>
                                  <% for(var i = 0; i<noun.length; i++) { %>
                                    <option value="<%= noun[i].id %>"><%= noun[i].noun_en %></option>
                                  <% } %>
                                <% } %>
                              </select>
                              <input type="text" name="firstname_en" class="form-control" id="firstname_en" style="width: 30%;" required>
                              <div class="col-lg-4 col-md-4">
                                <label for="">นามสกุล(EN):<t style="color: red;">*</t></label>
                              </div>
                              <input type="text" name="lastname_en" class="form-control" id="lastname_en" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ชื่อเล่น(EN):</label>
                              </div>
                              <input type="text" name="nickname_en" class="form-control" id="nickname_en">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">เลขบัตรประชาชน:<t style="color: red;">*</t></label>
                              </div>
                              <input type="text" name="numberid" class="form-control" id="numberid" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">หนังสือเดินทาง:</label>
                              </div>
                              <input type="text" name="passport_number" class="form-control" id="passport_number">
                            </div>
                          </td>
                        </tr>

                      </table>
                  </fieldset>
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">ข้อมูลการติดต่อ</legend>
                    <table class="table table-borderless">
                      <tr>
                        <td>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">เบอร์มือถือ:</label>
                            </div>
                            <input type="text" name="phone" class="form-control" id="phone">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">อีเมล:</label>
                            </div>
                            <input type="text" name="email" class="form-control" id="email">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">Line ID:</label>
                            </div>
                            <input type="text" name="line_id" class="form-control" id="line_id">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ที่อยู่พนักงาน:</label>
                              </div>
                              <textarea class="form-control" id="address" name="address" style="height: 100;"></textarea>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ชื่อผู้ติดต่อฉุกเฉิน:</label>
                              </div>
                              <input type="text" name="emergency" class="form-control" id="emergency">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">เบอร์ผู้ติดต่อฉุกเฉิน:</label>
                              </div>
                              <input type="text" name="emergency_phone" class="form-control" id="emergency_phone">
                            </div>
                          </td>
                        </tr>
                        </table>
                    </fieldset>
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border">ข้อมูลเพิ่มเติม</legend>
                      <table class="table table-borderless">
                          
                            <tr>
                              <td>
                                <div class="input-group">
                                      <div class="col-lg-4 col-md-4">
                                        <label for="">วันเกิด:</label>
                                      </div>
                                        <input class="form-control" type="date" name="birthday" value="" id="birthday" onchange="setDue()">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="input-group">
                                  <div class="col-lg-4 col-md-4">
                                    <label for="">เพิ่มโน้ต:</label>
                                  </div>
                                  <textarea class="form-control" id="note" name="note" style="height: 100;"></textarea>
                                </div>
                              </td>
                            </tr>
                          </table>
                      </fieldset>
              </div>
              <div class="col-lg-6 col-md-6">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">ข้อมูลการจ้างงาน</legend>
                  <table class="table table-borderless">
                    <tr>
                      <td>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">แผนก:<t style="color: red;">*</t></label>
                          </div>
                          <select class="form-control" name="department_id" id="department_id" required>
                            <option id="yy" value="0">--กรุณาเลือกแผนก--</option>
                            <% if(department) { %>
                              <% for(var i = 0; i<department.length; i++) { %>
                                <option value="<%= department[i].id %>" id="department"><%= department[i].name %></option>
                              <% } %>
                            <% } %>
                          </select>
                        </div>
                      </td>
                    </tr>
                      <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ตำแหน่ง:</label>
                              </div>
                              <input type="text" name="subdepartment" class="form-control" id="subdepartment">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                                  <div class="col-lg-4 col-md-4">
                                    <label for="">วันที่จ้างงาน:<t style="color: red;">*</t></label>
                                  </div>
                                    <input class="form-control" type="date" name="date_start" value="<%=new Date().toISOString().split('T')[0]%>" id="date_start" onchange="setDue()" required>
                          </td>
                        </tr>
                      </table>
                  </fieldset>
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">ข้อมูลเงินเดือน/ค่าจ้าง</legend>
                    <table class="table table-borderless">
                      <tr>
                        <td>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">ประเภทพนักงาน:<t style="color: red;">*</t></label>
                            </div>
                            <select class="form-control" name="employee_type_id" id="employee_type_id" onchange="if(this.value == 1){showhide3()}else{showhide4()}" required>
                              <option id="yy2" value="0">--กรุณาเลือกประเภทพนักงาน--</option>
                              <% if(employee_type) { %>
                                <% for(var i = 0; i<employee_type.length; i++) { %>
                                  <option value="<%= employee_type[i].id %>" id="employee_type"><%= employee_type[i].name %></option>
                                <% } %>
                              <% } %>
                            </select>
                          </div>
                        </td>
                      </tr>
                        <tr id="rrr2">
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label for="">เงินเดือน:<t style="color: red;">*</t></label>
                                </div>
                                <input class="form-control" onkeyup="this.value=Comma(this.value);" type="text" name="salary" id="salary" required>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label>สิทธิ์ประกันสังคม:</label>
                                </div>
                     
                      <label for="social_security_one" class="l-radio">
                        <input type="radio" id="social_security_one" onclick="tcheck()" name="social_security" value="1" tabindex="social_security">
                        <span>ขึ้นสิทธิ์ประกันสังคม</span>
                      </label>
                      <label for="social_security_two" class="l-radio">
                        <input type="radio" id="social_security_two" onclick="fcheck()" name="social_security" value="0" tabindex="social_security">
                        <span>ไม่ขึ้นสิทธิ์</span>
                      </label>
                  
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label for="">ประกันสังคม:<t style="color: red;">*</t></label>
                                </div>
                                <input type="text" name="social_security_cost" class="form-control" style="background-color: gray;" id="social_security_cost" onkeyup = "this.value=Comma(this.value);" value="0" readonly>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label for="">หัก ณ ที่จ่าย:</label>
                                </div>
                                <input type="text" name="withholding" class="form-control" id="withholding" style="width: 40%;" onkeyup = "auto_compute_false(),this.value=Comma(this.value);">
                                <div class="col-lg-4 col-md-4">
                                  <label for=""></label>
                                </div>
                                <label for="auto_compute" class="l-radio">
                                  <input type="checkbox" id="auto_compute" onclick="auto_compute_check()" name="auto_compute" value="1" tabindex="auto_compute">
                                  <span>คำนวณภาษีหัก ณ ที่จ่ายอัตโนมัติ</span>
                                </label>
                              </div>
                            </td>
                          </tr>
                        </table>
                    </fieldset>
                    <tr>
                      <td>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ช่องทางการชำระ:<t style="color: red;">*</t></label>
                          </div>
                          <select class="form-control" name="payment_method_id" id="payment_method_id" onchange="if(this.value == 2){showhide()}else{showhide2()}" required>
                            <option id="yy3" value="0">--กรุณาเลือกช่องทางการชำระ--</option>
                            <% if(payment_method) { %>
                              <% for(var i = 0; i<payment_method.length; i++) { %>
                                <option value="<%= payment_method[i].id %>" id="payment_method"><%= payment_method[i].name %></option>
                              <% } %>
                            <% } %>
                          </select>
                        </div>
                      </td>
                    </tr>
                    <br>
                    <fieldset class="scheduler-border" id="rrr">
                      <legend class="scheduler-border">ข้อมูลการชำระเงินเดือน/ค่าจ้าง</legend>
                      <table class="table table-borderless">
                        <div>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label for="">ธนาคาร:<t style="color: red;">*</t></label>
                                </div>
                                <select class="form-control" name="bank_id" id="bank_id" required>
                                  <option id="yy4" value="null">--กรุณาเลือกธนาคาร--</option>
                                  <% if(bank) { %>
                                    <% for(var i = 0; i<bank.length; i++) { %>
                                      <option value="<%= bank[i].id %>" id="bank"><%= bank[i].name %></option>
                                    <% } %>
                                  <% } %>
                                </select>
                              </div>
                            </td>
                          </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label for="">เลขที่บัญชี:<t style="color: red;">*</t></label>
                                    </div>
                                    <input type="text" name="bank_number" class="form-control" id="bank_number">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label>ประเภทบัญชี:</label>
                                    </div>
                                    <% if(bank_type) { %>
                                      <% for(var i = 0; i<bank_type.length; i++) { %>
                         
                                    <label for="<%= bank_type[i].id %>" class="l-radio">
                                      <input type="radio" id="<%= bank_type[i].id %>" name="bank_type_id" value="<%= bank_type[i].id %>" tabindex="<%= bank_type[i].id %>">
                                      <span><%= bank_type[i].name %></span>
                                    </label>
                                  <%}}%>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label for="">สาขาธนาคาร:</label>
                                    </div>
                                    <input type="text" name="bank_branch" class="form-control" id="bank_branch">
                                  </div>
                                </td>
                              </tr>
                              <br><br>
                        </div>
                        
                      
                    
                          </table>
                      </fieldset>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  
   
    
    

<script>
  function findTotal(){//add(,)
        var arr = document.getElementsByName('salary');
        var tot=0;
        tot = parseFloat(arr[0].value.replace(/,/g, '')) * 0.05;
   
        document.getElementById('social_security_cost').value = tot.toLocaleString();
    }
  function tcheck(){//checksalary
    var arr = document.getElementsByName('salary');
        var tot=0;
        tot = parseFloat(arr[0].value.replace(/,/g, '')) * 0.05;
   
        document.getElementById('social_security_cost').value = tot.toLocaleString();
  }
  function fcheck(){//checksalary
    document.getElementById('social_security_cost').value = 0;
  }
  function auto_compute_check(){//checkwithholding
    document.getElementById('withholding').value = 0;
  }
  function checknoun_th(){//checksalary
    var arr = document.getElementsByName('noun_id');

    $('#noun_en').val(arr[0].value);
  }
  function checknoun_en(){//checksalary
    var contents = $('#noun_en')[0]; 
    $('#noun_th').val(contents.value);
  }
  function auto_compute_false(){//checkwithholding
    var arr = document.getElementsByName('withholding');
    var tot= parseFloat(arr[0].value);
    if(tot > 0){
      $("input[name='auto_compute']").prop('checked', false);
    }
  }
  function Comma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }

  function showhide(){
    $("#rrr").show();
  }
  function showhide2(){
    $("#rrr").hide();
  }

  function showhide3(){
    $("#rrr2").show();
  }
  function showhide4(){
    $("#rrr2").hide();
  }
</script>
  
  