<style>
    /* html,
    body {
      font-family: 'Kanit', sans-serif;
    } */
    
    /* table {
        background: linear-gradient(to right, #000428, #004e92);
    } */
    
    /* th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    } */
    
    th {
        text-align: center;
    }
    
    /* thead th {
      background-color:#002546;
    } */
    /* tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.3);
    } */
    tbody td {
      position: relative;
    }

    
    </style>
     <!-- <style>
      /**
     * Variables
     */
    /**
     * Base styles
     */
    
    
    /* button {
      background-color: #0D52E9;
      position: relative;
      color: #fff;
      border: none;
      padding:0%;
      font-size: 0.75em;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
    }
    button:hover {
      background: #0c4ddb;
    }
    button:focus {
      outline: none;
    }
     */
    /**
     * Overlay
     * -- only show for tablet and up
     */
    @media only screen and (min-width: 40em) {
      .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      }
      .modal-overlay.active {
        opacity: 1;
        visibility: visible;
      }
    }
    /**
     * Modal
     */
    .modal {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      background-color: #fff;
      width: auto;
      height: auto;
      opacity: 0;
      overflow-y: auto;
      visibility: hidden;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transform: scale(1.2);
      transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .modal .close-modal {
      position: absolute;
      cursor: pointer;
      top:1%;
      right: 15px;
      opacity: 0;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition-delay: 0.3s;
    }
    .modal .close-modal svg {
      width: 1.75em;
      height: 1.75em;
    }
    .modal .modal-content {
      opacity: 0;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition-delay: 0.3s;
    }
    .modal.active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .modal.active .modal-content {
      opacity: 1;
    }
    .modal.active .close-modal {
      transform: translateY(10px);
      opacity: 1;
    }
    
    /**
     * Mobile styling
     */
    @media only screen and (max-width: 39.9375em) {
      h1 {
        font-size: 1.5rem;
      }
    
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        transform: scale(1.1);
        padding: 0 !important;
      }
    
      .close-modal {
        right: 20px !important;
      }
    }
    </style>  -->
    <!-- <style>

    
    #wrap {
      width: 100%;
    
    }
    
    .input::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: #0f1041;
    }
    .input-header {
      position: relative;
      padding-top: 80px;
      color: #fff;
    }
    .input-header h1 {
      padding-bottom: 25px;
      font-size: 3.25em;
      font-weight: 100;
    }
    .input-content {
      position: relative;
      padding: 44px 55px;
      background: #fff;
      z-index: 10;
    }
    .input-content h2 {
      padding-bottom: 45px;
      font-size: 1.625em;
      font-weight: bold;
      vertical-align: middle;
    }
    .input-content h2 span {
      display: inline-block;
      margin-left: 10px;
      padding: 5px 6px 3px;
      border: 1px solid #ffca00;
      border-radius: 4px;
      font-size: 0.85rem;
      vertical-align: middle;
      color: #ffca00;
    }
    .input-content .inputbox {
      overflow: hidden;
      position: relative;
      padding: 15px 0 28px 200px;
    }
    .input-content .inputbox-title {
      position: absolute;
      top: 15px;
      left: 0;
      width: 200px;
      height: 30px;
      color: #666;
      font-weight: bold;
      line-height: 30px;
    }
    .input-content .inputbox-content {
      position: relative;
      width: 100%;
    }
    .input-content .inputbox-content input {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      line-height: 30px;
      font-size: 14px;
      border: 0;
      background: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
    }
    .input-content .inputbox-content input:focus ~ label, .input-content .inputbox-content input:valid ~ label {
      color: #2962ff;
      transform: translateY(-20px);
      font-size: 0.825em;
      cursor: default;
    }
    .input-content .inputbox-content input:focus ~ .underline {
      width: 100%;
    }
    .input-content .inputbox-content label {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      line-height: 30px;
      color: #ccc;
      cursor: text;
      transition: all 200ms ease-out;
      z-index: 10;
    }
    .input-content .inputbox-content .underline {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      background: #2962ff;
      transition: all 200ms ease-out;
    }
    .input-content .btns {
      padding: 30px 0 0 200px;
    }
    .input-content .btns .btn {
      display: inline-block;
      margin-right: 2px;
      padding: 10px 25px;
      background: none;
      border: 1px solid #c0c0c0;
      border-radius: 2px;
      color: #666;
      font-size: 1.125em;
      outline: none;
      transition: all 100ms ease-out;
    }
    .input-content .btns .btn:hover, .input-content .btns .btn:focus {
      transform: translateY(-3px);
    }
    .input-content .btns .btn-confirm {
      border: 1px solid #03b612;
      background: #03b612;
      color: #fff;
    }
    </style> -->
    