<%-include('../_header.ejs')%>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/salary">
          <div class="icon"><i class='bx bxs-bank'></i></div>
          <h4 class="title">จัดการบัญชีธนาคาร</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/salarysetting">
          <div class="icon"><i class='bx bx-book-content'></i></div>
          <h4 class="title">ตั้งค่าบัญชีธนาคาร</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/department">
          <div class="icon"><i class='bx bx-sitemap'></i></div>
          <h4 class="title">จัดการแผนก</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/employee">
          <div class="icon"><i class='bx bx-layer'></i></div>
          <h4 class="title">จัดการข้อมูลพนักงาน</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/paymenttopic">
          <div class="icon"><i class='bx bx-wallet-alt'></i></div>
          <h4 class="title">จัดการเงินเดือนพนักงาน</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-up" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/pay_save">
          <div class="icon"><i class='bx bx-receipt'></i></div>
          <h4 class="title">บันทึกการจ่ายเงินเดือน</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-down" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/payment_method">
          <div class="icon"><i class='bx bx-coin'></i></div>
          <h4 class="title">ช่องทางการชำระ</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-down" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/employee_type">
          <div class="icon"><i class='bx bx-sidebar'></i></div>
          <h4 class="title">ประเภทพนักงาน</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-down" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/social">
          <div class="icon"><i class='bx bx-certification'></i></div>
          <h4 class="title">ประกันสังคม</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-down" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/up_list">
          <div class="icon"><i class='bx bx-right-top-arrow-circle'></i></div>
          <h4 class="title">รายการปรับเพิ่ม</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
    <div class="col-md-20 col-lg-20 d-flex align-items-stretch mb-5 mb-lg-3 " data-aos="fade-down" data-aos-delay="200">
      <div class="icon-box col-md-12"">
        <a href="/down_list">
          <div class="icon"><i class='bx bx-right-down-arrow-circle'></i></div>
          <h4 class="title">รายการปรับลด</h4>
          <p class="description"></p>
        </a>
      </div>
    </div>
  </div>
</div>

<%-include('../_footer')%>
