
    <style>

      * {
        box-sizing: border-box;
      }
      
      .l-radio {
        padding: 6px;
        border-radius: 50px;
        display: inline-flex;
        cursor: pointer;
        transition: background 0.2s ease;
        margin: 8px 0;
        -webkit-tap-highlight-color: transparent;
      }
      .l-radio:hover, .l-radio:focus-within {
        background: rgba(159, 159, 159, 0.1);
      }
      .l-radio input {
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: none;
        border: 0;
        box-shadow: inset 0 0 0 1px #9F9F9F;
        box-shadow: inset 0 0 0 1.5px #9F9F9F;
        appearance: none;
        padding: 0;
        margin: 0;
        transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
        pointer-events: none;
      }
      .l-radio input:focus {
        outline: none;
      }
      .l-radio input:checked {
        box-shadow: inset 0 0 0 6px #6743ee;
      }
      .l-radio span {
        vertical-align: middle;
        display: inline-block;
        line-height: 20px;
        padding: 0 8px;
      }
      </style>
        <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">สร้างการตั้งค่าเงินเดือน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/salarysettingadd" method="post" id="action">
                <div class="modal-body">
                  <!-- <input type="hidden" id="idd" name="id"> -->
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border">กรอกข้อมูล</legend>
                        <table class="table table-borderless" >
                            <tr>
                              <td>
                              </td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label for="">บัญชีธนาคาร</label>
                                    </div>
                                    <select class="form-control" name="bank_salary_id" id="salary_edit" required>
                                      <option id="yy">--กรุณาเลือกบัญชีธนาคาร--</option>
                                      <% if(salary) { %>
                                        <% for(var i = 0; i<salary.length; i++) { %>
                                          <option value="<%= salary[i].id %>" id="salary_edit"><%= salary[i].bsname %></option>
                                        <% } %>
                                      <% } %>
                                    </select>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label>เลขที่บัญชีนายจ้าง</label>
                                    </div>
                                    <input type="text" id="boss_edit" name="boss_bank_number" class="form-control" required>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label>ลำดับที่สาขาในระบบ</label>
                                    </div>
                                    <input type="text" id="num_edit" name="branch_no" class="form-control" required>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label>เลือกสิทธิ์ประกันสังคม</label>
                                    </div>
                                    <label for="pppp" class="l-radio">
                                      <input type="radio" id="pppp" name="social_security" value="1" tabindex="11">
                                      <span>มีสิทธิ์ประกันสังคม</span>
                                      </label>
                                      <label for="ppp" class="l-radio">
                                       <input type="radio" id="ppp" name="social_security" value="0" tabindex="12">
                                       <span>ไม่มีสิทธิ์ประกันสังคม</span>
                                       </label>
                                  </div>
                                </td>
                              </tr>
                           
                            
                            </table>
                        </fieldset>
                    </div>
          
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">ตกลง</button>
                </div>
              </form>
             
            </div>
          </div>
        </div>
  
  