
  <div class="modal fade" id="popupdel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ลบการตั้งค่าบัญชีธนาคาร</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="get" >
          <div class="modal-body">
            <!-- <input type="hidden" id="idd" name="id"> -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <table class="table table-borderless" style="background: linear-gradient(to right, #d31027, #ea384d)">
                      <tr>
                        <td>
                        </td>
                      </tr>
                      <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">บัญชีธนาคาร</label>
                              </div>
                              <input type="text" name="bank_number" class="form-control" id="salary_del"  readonly>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ประกันสังคม</label>
                              </div>
                              <input type="text" name="bank_number" class="form-control" id="so_del"  readonly>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>เลขที่บัญชีนายจ้าง</label>
                              </div>
                              <input type="text" name="bank_number" class="form-control" id="boss_del"  readonly>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ลำดับที่สาขาในระบบ</label>
                              </div>
                              <input type="text" name="bank_number" class="form-control" id="num_del"  readonly>
                            </div>
                          </td>
                        </tr>
                     
                      
                      </table>
              </div>
    
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-confirm" id="colorbutton" style="background-color:red;border:lightgoldenrodyellow;"  >
              <a href="https://www.w3schools.com" id="salarysettingdel" style="color: cornsilk;">ลบรายการ</a></button>
          </div>
       
      </div>
    </div>
  </div>
