<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">ตั้งค่าเงินเดือน</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success" data-toggle="modal" data-target="#popup" onclick="add()">เพิ่มการตั้งค่าเงินเดือน</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >บัญชีเงินเดือน</th>
                      <th >ประกันสังคม</th>
                      <th >เลขที่บัญชีนายจ้าง</th>
                      <th >ลำดับที่สาขาในระบบ</th>   
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (salary_setting) { %>
                      <% for (var i = 0; i< salary_setting.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td> <%= salary_setting[i].bsname %> </td>
                      <% if (salary_setting[i].social_security == "0"){%>
                        <td> ไม่มีสิทธ์ประกันสังคม</td>
                        <%}else if(salary_setting[i].social_security == "1"){%>
                          <td> มีสิทธ์ประกันสังคม</td>
                          <%}else{%>
                            <td> </td>
                            <%}%>
                      <td> <%= salary_setting[i].boss_bank_number %></td>
                      <td> <%= salary_setting[i].branch_no %></td>
                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-toggle="modal" data-target="#popup" onclick="edit('<%= salary_setting[i].id%>')"><i class="fa fa-edit"></i>แก้ไขการตั้งค่าเงินเดือน</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= salary_setting[i].id%>')"><i class="fa fa-trash"></i>ลบการตั้งค่าเงินเดือน</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>       
              </div>
            </div>
          </div>
        </div>
      </div>
      <%-include('salary_setting_addedit')%>
      <%-include('salary_setting_del')%>

      

<script type="text/javascript">

  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });

});
function add(){
    $('#exampleModalLabel').text("สร้างการตั้งค่าเงินเดือน");
    $('#action').prop('action', "/salarysettingadd");
    $("input[name='bank_salary_id']").prop('checked', false);
    $('#yy').prop('selected', true);
     $('#boss_edit').val("");
     $("input[name='social_security']").prop('checked', false);
     $('#num_edit').val("");
    $("input[name='social_security']").prop('checked', false);;
};
function edit(pp){
  var urlname = '/salarysettingajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.bank_setting[0]
    var id = "/salarysettingeditcon/" + suc.id
    $('#exampleModalLabel').text("แก้ไขการตั้งค่าเงินเดือน");
     $('#salary_edit').val(suc.bsid);
     $('#boss_edit').val(suc.boss_bank_number);
     $('#num_edit').val(suc.branch_no);
     $('#action').prop('action', id);
     if(suc.social_security == '1'){
      $("input[name=social_security][value=" + suc.social_security + "]").prop('checked', true);
     }else if(suc.social_security == '0'){
      $("input[name=social_security][value=" + suc.social_security + "]").prop('checked', true);
    }else{
      $("input[name='social_security']").prop('checked', false);
    }
    
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/salarysettingajax/'+pp
    $('#del,#dell').addClass('active');
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.bank_setting[0]
    var id = "/salarysettingdelcon/" + suc.id
     console.log(suc);
     $('#salary_del').val(suc.bsname);
     $('#boss_del').val(suc.boss_bank_number);
     if(suc.social_security == '1'){
      $('#so_del').val("มีสิทธิ์ประกันสังคม");
     }if(suc.social_security == '0'){
      $('#so_del').val("ไม่มีสิทธิ์ประกันสังคม");
    }
     $('#num_del').val(suc.branch_no);
     $('#salarysettingdel').attr("href", id);
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
