<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">จัดการแผนก</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success"data-toggle="modal" onclick="add()" data-target="#popup">เพิ่มแผนก</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >รหัสแผนก</th>
                      <th >ชื่อแผนก</th>
 
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (department) { %>
                      <% for (var i = 0; i< department.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td> <%= department[i].code %> </td>
                      <td> <%= department[i].name %></td>
               

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"  data-toggle="modal" data-target="#popup" onclick="edit('<%= department[i].id%>')"><i class="fa fa-edit"></i> แก้ไขข้อมูลแผนก</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= department[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูลแผนก</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>       
              </div>
            </div>
          </div>
        </div>
        <%-include('department_addedit.ejs')%>
        <%-include('department_del.ejs')%>

      

<script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });

});
function add(){
    $("input[name='bank_type_id']").prop('checked', false);
    $('#action').prop('action', "/departmentadd");
    $('#yy').prop('selected', true);
    $('#code').val("");
    $('#name').val("");
};
function edit(pp){
  var urlname = '/departmentajax/'+pp
  $('#edit,#editt').addClass('active');
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.department[0]
    var id = "/departmenteditcon/" + suc.id
     console.log(id);
     console.log(suc);
     $('#exampleModalLabel').text("แก้ไขข้อมูลธนาคาร");
     $('#code').val(suc.code);
     $('#name').val(suc.name);
     $('#action').prop('action', id);
     $("input[name=bank_type_id][value=" + suc.id + "]").prop('checked', true);
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/departmentajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.department[0]
    var succheck = data.department_check
    var id = "/departmentdelcon/" + suc.id
     console.log(succheck.length);
     $('#codedel').val(suc.code);
     $('#namedel').val(suc.name);
     if(succheck.length >= 1){
      $('#departmentdel').attr("href", "/department");
      $('#departmentdel').text('ไม่สามารถลบได้').button("refresh").css("background-color","green");
      $('#colorbutton').button("refresh").css("background-color","green");
     }else{
      $('#departmentdel').text('ลบรายการ').button("refresh").css("background-color","red");
      $('#colorbutton').button("refresh").css("background-color","red");
     $('#departmentdel').attr("href", id);
     }
   
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
