<%-include('../_header.ejs')%>

<!-- style for scroll ber -->

<!-- <style media="screen">
  .services {
    background: #2d405f;
    padding-bottom: 0;
    height: 90%;
  }

  .monitor {
    display: block;
    min-height: 93%;
    margin-top: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>

<section id="services" class="services">
  <div class="monitor">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-left">
                    <h3 class="text-info">POS</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="float-right">
                    <a class="btn btn-success" href="#/pos/add">สร้างใหม่</a>
                  </div>
                </div>
              </div>

              <hr>
              <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                <thead class="table-bordered">
                  <tr class="bg-info">
                    <th width="10%"></th>
                    <th width="12%">ชื่อผสินทรัพย์</th>
                    <th width="17%">หมวดหมู่สินทรัพย์</th>
                    <th width="12%">วันเริ่มต้นใช้งาน</th>
                    <th width="12%">ราคาซื้อ</th>
                    <th width="12%">มูลค่าทางบัญชี</th>
                    <th width="15%">สถานะสินทรัพย์</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border">
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td align="center">
                      <div class="dropdown">
                        <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown1')">
                          <i class="fa fa-ellipsis-h dropbtn"></i>
                        </button>
                        <div id="myDropdown1" class="dropdown-content">
                          <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                          <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                          <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                          <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="row">
                <div class="col-md-3 text-center">
                  <button class="btn btn-secondary" type="button" onclick="shooseIt('heart1')">เลือก</button>
                  <div class="text-danger" id="heart1">
                    <span style="font-size: 300px;"><i class="far fa-heart"></i></span>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <button class="btn btn-secondary" type="button" onclick="shooseIt('heart2')">เลือก</button>
                  <div class="text-danger" id="heart2">
                    <span style="font-size: 300px;"><i class="fas fa-heart"></i></span>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <button class="btn btn-secondary" type="button" onclick="shooseIt('heart3')">เลือก</button>
                  <div class="text-danger" id="heart3">
                    <span style="font-size: 300px;"><i class="fas fa-heartbeat"></i></span>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <button class="btn btn-secondary" type="button" onclick="shooseIt('heart4')">เลือก</button>
                  <div class="text-danger" id="heart4">
                    <span style="font-size: 300px;"><i class="fas fa-heart-broken"></i></span>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
                $('div.text-danger').hide();
                function shooseIt(heart){
                  $('div#'+heart).show();
                  $('button.btn-secondary').hide();
                }
              </script>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<style media="screen">
  html {
  height: 100%;                       /* note #1 */
}
body {
  height: 100%;                       /* note #1 */
  margin: 0;                          /* note #2 */
  overflow: hidden;
}
main {
  margin: 0;
  height: 100%;
}
.section-one {
  background-color: #FF0000;
  float: left;
  overflow-y: auto;                  /* new */
  width: 100%;
  height: 93%;
  padding: 15px;                      /* note #3 */
}
.section-two {
  background-color: #00FF00;
  float: left;
  height: 100%;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.section-three {
  background-color: #0000FF;
  height: 100%;
  float: left;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 3%;
  padding-left: 10px;
  padding-right: 10px;
}
</style>

<main>
  <div class="section-three">
    <p>this is section three</p>
    <div class="section-two">
      <p>this is section two</p>
      <section class="section-one">
        <p>this is section one</p>
        <p>this is section one</p>div
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
        <p>this is section one</p>
      </section>
    </div>
  </div>

</main>

<%-include('../_footer')%>
