<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="container">
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">ประเภทสินค้า:</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="product_type_list_id" name="product_type_list_id">
              <% for(var i=0;i<product_type_list.length;i++){ %>
                <option value="<%=product_type_list[i].id%>">
                  <%=product_type_list[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
        <div class="input-group" id="product_type_id">
          <div class="col-md-4">
            <label for="">ประเภท: </label>
          </div>
          <div class="col-md-8">
            <select class="form-control" name="product_type_id">
              <% for(var i=0;i<product_type.length;i++){ %>
                <option value="<%=product_type[i].id%>">
                  <%=product_type[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">รหัสสินค้า:</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" name="code" type="text" id="productCode" required>
          </div>
        </div>
        <div class="input-group">
          <div class="col-md-4">
            <label for="">ชื่อสินค้า:</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" name="name" type="text" required>
          </div>
        </div>
        <div class="input-group">
          <div class="col-md-4">
            <label for="">รายละเอียดสินค้า:</label>
          </div>
          <div class="col-md-8">
            <textarea class="form-control" name="detail" id="inputDetaill" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">หน่วยสินค้า:</label>
            <button type="button" id="addUnitType">เพิ่มหน่วยสินค้า</button>
            <button id='Bdel' type='button' onclick='deletetr()'>ลบ</button>
          </div>
          <div class="col-md-8">
            <table>
              <tbody id="tableUnitType">
                <tr class="trUnit tr1">
                  <td width="25%">
                    <input type="text" id="unitType1" class="form-control numberAddTrUnit-1" name="nameUnit"
                      onkeyup="unitSet(this,this.value)" placeholder="หน่วยสินค้าระดับที่ 1" maxlength="12">
                  </td>
                  <td width="15%">
                    <t>จำนวน</t>
                  </td>
                  <td width="35%">
                    <input type="number" class="form-control" name="Unit" placeholder="หน่วยสินค้าระดับที่ 1" value="1"
                      readonly>
                    <input type="hidden" name="quantity" id="" value="1">
                  </td>
                  <td width="25%">
                    <t class="textUnitType2">หน่วยสินค้าที่ 1</t>
                  </td>
                </tr>
                <tr>
                  <td>
                    <t class="textUnitType2">หน่วยสินค้าที่ 1</t>
                  </td>
                  <td>
                    <t>ราคาขายA:</t>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="sellA" placeholder="ราคาขายA">
                  </td>
                  <!-- <td>
                    <input type="number" class="form-control" name="buyA" placeholder="ราคาซื้อA">
                  </td> -->
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <t>ราคาขายB:</t>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="sellB" placeholder="ราคาขายB">
                  </td>
                  <!-- <td>
                    <input type="number" class="form-control" name="buyB" placeholder="ราคาซื้อB">
                  </td> -->
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <t>ราคาขายC:</t>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="sellC" placeholder="ราคาขายC">
                  </td>
                  <!-- <td>
                    <input type="number" class="form-control" name="buyC" placeholder="ราคาซื้อC">
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">หมวดสินค้า:</label>
          </div>
          <div class="col-md-8">
            <select name="product_group_id" id="product_group" class="form-control" required>
              <% for(var i=0;i<product_group.length;i++){ %>
                <option value="<%=product_group[i].id%>">
                  <%=product_group[i].name%>
                </option>
                <% } %>
                  <option value="-1">เพิ่มหมวดสินค้า</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for=""> สินค้านี้ :</label>
          </div>
          <div class="col-md-8">
            <input type="radio" name="vat" value="1" checked>มี VAT.
            <br>
            <input type="radio" name="vat" value="0">ไม่มี VAT.
          </div>
        </div>
      </div>
      <!-- //////////////////////////////////////////// -->
    </div>
  </div>

  <div class="col-lg-1 col-md-1">
    <!-- //// -->
  </div>

  <div class="col-lg-5 col-md-5">
    <div class="container">
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">ภาษีมูลค่าเพิ่ม(ขาย): </label>
          </div>
          <div class="col-md-8">
            <select class="form-control" name="tax_sell_id">
              <% for(var i=0;i<product_tax.length;i++){ %>
                <option value="<%=product_tax[i].id%>">
                  <%=product_tax[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">บัญชีรายได้:</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" name="acc_sell">
              <% for(var i=0;i<acc_sell.length;i++){ %>
                <option value="<%=acc_sell[i].id%>">
                  <%=acc_sell[i].code%> / <%=acc_sell[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////// -->
<div id="detailBuy">
  <div class="col-lg-12 col-md-12">
    <hr>
    <div class="text">
      <h5 class="text-info">รายละเอียดการซื้อ</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="container">
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-4">
              <label for="">รายละเอียดสินค้า:</label>
            </div>
            <div class="col-md-8">
              <input class="check-lage" type="checkbox" name="" value="" id="copyDetail">
              <label for="">ใช้รายละเอียดสินค้าเดียวกับเอกสารขาย</label>
            </div>
          </div>
        </div>
        <!-- <button type="button" onclick="$('#inputDetailBuy').val($('#inputDetaill').val())">ใช้รายละเอียดสินค้าเดียวกับเอกสารขาย</button> -->
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-4">
              <!-- //////// -->
            </div>
            <div class="col-md-8">
              <textarea class="form-control" id="inputDetailBuy" name="detail_buy" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1">
      <!-- //////// -->
    </div>

    <div class="col-lg-5 col-md-5">
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">ภาษีมูลค่าเพิ่ม(ซื้อ): </label>
          </div>
          <div class="col-md-8">
            <select class="form-control" name="tax_buy_id">
              <% for(var i=0;i<product_tax.length;i++){ %>
                <option value="<%=product_tax[i].id%>">
                  <%=product_tax[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="col-md-4">
            <label for="">บัญชีค่าใช้จ่าย:</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" name="acc_buy">
              <% for(var i=0;i<acc_buy.length;i++){ %>
                <option value="<%=acc_buy[i].id%>">
                  <%=acc_buy[i].code%> / <%=acc_buy[i].name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="detailMore">
    <div class="col-lg-12 col-md-12">
      <hr>
      <h5 class="text-info">รายละเอียดเพิ่มเติม</h5>
    </div>
    <!-- ///////////////////////////////////////// -->
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="container">
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-4">
                <label for="">รหัสบาร์โค้ด:</label>
              </div>
              <div class="row col-md-8">
                <div class="col-md-3">
                  <button class="btn btn-outline-dark" onclick="$('#codeText').val($('#productCode').val()), codeTextx()" type="button">ใช้รหัสสินค้า</button>
                </div>
                <div class="col-md-9">
                  <input class="form-control" name="code_qrbar" type="text" id="codeText"
                    placeholder="ไม่รองรับอักขระไทย">
                </div>
                
              </div>
              
              <div class="col-md-8">
                <input type="checkbox" id="chbar" name="bar_code" checked value="1">bar
                <input type="checkbox" id="chqr" name="qr_code" checked value="1">QR
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-4">
                <label for="">รูปสินค้า:</label>
              </div>
              <div class="col-md-8">
                <div class="row" id="photos">
                  <div class="col-md-6">
                    <div class="dropzone" id="divUp">
                      <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
                      <span id="spanphoto">คลิกเพื่อเลือกไฟล์</span>
                      <input type="file" name="photo" class="upload-input" accept="image/*" multiple id="imgInp" />
                    </div>
                    <span>คลิกเพื่อเลือกรูปหลัก</span>
                    <input type="radio" name="radioPhoto" id="radioPhoto1" value="0" checked>
                  </div>
                </div>
                <div class="text-right" id="close-item">
                  <button type="button" class="close-pic"><span aria-hidden="true">&times;</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="chbar2">
          <div class="text-center" id="newbar">
            <img id="barcode" />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div id="chqr2">
          <div style="width:100px; height: 100px; margin:auto;" id="newqr">
            <div id="qrcode"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script src="/dist/js/product.js" crossorigin="anonymous"></script>