<div class="modal fade bd-example-modal-sm" id="categoryAddForm" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่ม-ชื่อหมวดสินค้า</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addgroup">
          <input type="text" name="name" class="form-control" id="inputProductgroup">
          <br>
          <button class="btn btn-success" type="button" id="submidProductgroup">บันทึก</button>
          <br>
        </form>
        <table>
          <thead>
            <tr>
              <th>
                ลำดับ
              </th>
              <th>
                ชื่อ
              </th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tbody id="tbodyaddproduct_group">
            <%for(var i=0;i<product_group.length;i++){%>
              <tr id="trproduct_group-<%=product_group[i].id%>">
                <td>
                  <%=i+1%>
                </td>
                <td>
                  <input type="text" value="<%=product_group[i].name%>" onkeyup="$('#showproduct_group-<%=product_group[i].id%>').show()" id="inputupdate-<%=product_group[i].id%>">
                  
                </td>
                <td><button type="button" onclick="updateproduct_groupAjex(this)" id="showproduct_group-<%=product_group[i].id%>" class="hideproduct_group">แก้ไข</button></td>
                <td><button type="button" onclick="delproduct_group(this)" id="delproduct_group-<%=product_group[i].id%>">ลบ</button></td>
              </tr>
              <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>