  <div class="col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div>
          <table>
            <tr>
              <h5 class="text-info">รายละเอียดขาย-ซื้อ</h5>
              <th> <label>ประเภทสินค้า: </label> </th>
              <td> <label> <%=product_list[i].typename %> </label> </td>
            </tr>
            <tr>
              <th> <label>รหัสสินค้า:</label> </th>
              <td> <label> <%=product_list[i].code %> </label> </td>
            </tr>
            <tr>
              <th><label>หน่วยสินค้า:</label></th>
              <td></td>
            </tr>
            <tr>
              <th><label>หมวดสินค้า:</label></th>
              <td></td>
            </tr>
            <tr>
              <th><label>รหัสบาร์โค้ด:</label></th>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <% if(product_list[i].product_type_list_id == 3){ %>
        <div class="col-md-6 col-lg-6">
          <div>
            <h5 class="text-info">สต๊อก</h5>
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="card card-dark">
                  <div class="card-body">
                    <h2 class="text-center text-success"><%=product_list[i].id%></h2>
                  </div>
                  <div class="card-footer text-center bg-success">
                    จำนวนคงเหลือ
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="card card-info">
                  <div class="card-body">
                    <h2 class="text-center text-info"><%=product_list[i].id%></h2>
                  </div>
                  <div class="card-footer text-center bg-info">
                    ราคาขายเฉลี่ย
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h2 class="text-center text-primary"><%=product_list[i].id%></h2>
                  </div>
                  <div class="card-footer text-center bg-primary">
                    ราคาซื้อเฉลี่ย
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <hr>
  <div class="col-md-12 col-lg-12">
    <div class="row">
      <% if(product_list[i].product_type_list_id == 2 || product_list[i].product_type_list_id == 3){ %>
        <div class="col-md-6 col-lg-6">
          <div>
            <table>
              <tr>
                <h5 class="text-info">รายละเอียดการซื้อ</h5>
                <th><label>รายละเอียดสินค้า:</label></th>
                <td><label><%=product_list[i].detail%></label></td>
              </tr>
              <tr>
                <th><label>ราคาซื้อ:</label></th>
                <td><label><%= product_list[i].price_buy%></label></td>
              </tr>
              <tr>
                <th><label>ภาษีมูลค่าเพิ่ม:</label></th>
                <td><label><%=product_list[i].product_tax2%></label></td>
              </tr>
              <tr>
                <th><label>บัญชีรายได้:</label></th>
                <td><label><%=product_list[i].chart_buy_id%></label></td>
              </tr>
            </table>
          </div>
        </div>
      <% } %>
      <% if(true){ %>
        <div class="col-md-6 col-lg-6">
          <div>
            <table>
              <tr>
                <h5 class="text-info">รายละเอียดการขาย</h5>
                <th><label>รายละเอียดสินค้า:</label></th>
                <td><label><%=product_list[i].detail%></label></td>
              </tr>
              <tr>
                <th><label>ราคาขาย:</label></th>
                <td><label><%= product_list[i].price_sell%></label></td>
              </tr>
              <tr>
                <th><label>ภาษีมูลค่าเพิ่ม:</label></th>
                <td><label><%=product_list[i].product_tax1%></label></td>
              </tr>
              <tr>
                <th><label>บัญชีรายได้:</label></th>
                <td><label><%=product_list[i].chart_sell_id%></label></td>
              </tr>
            </table>
          </div>
        </div>
      <% } %>
    </div>
  </div>
