<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">รายการสินค้า</h3>
          </div>
          <div class="text-right">
            <a class="btn btn-success" href="/product/add">เพิ่มรายการสินค้า</a>
            <button type="button" class="btn btn-success" data-toggle="modal"
              data-target="#productAddForm">เพิ่มรายการสินค้า</button>
              <a class="btn btn-outline-dark" href="/homeInventoryList">กลับ</a>
          </div>
          <hr>

          <div class="wrapper">
            <nav class="tabs">
              <!-- <div class="selector"></div> -->
              <a href="#" id="tapsearch" class="active" onclick="activeTabp(event, 'go1')"><i
                  class="fas fa-box-open"></i>แสดงทั้งหมด</a>
              <a href="#" onclick="activeTabp(event, 'go2')"><i class="fas fa-people-carry"></i>บริการ</a>
              <a href="#" onclick="activeTabp(event, 'go3')"><i class="fas fa-tint-slash"></i>สินค้าไม่นับสต็อก</a>
              <a href="#" onclick="activeTabp(event, 'go4')"><i class="fas fa-tint"></i>สินค้านับสต็อก</a>
              <a href="#" onclick="activeTabp(event, 'go5')"><i class="fas fa-minus-circle"></i>ปิดใช้งานแล้ว</a>
            </nav>

            <div class="tabcontent" id="go1">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list) { %>
                    <% for (var i=0 ;i<product_list.length; i++){ %>
                      <tr id="go1-<%=product_list[i].id%>"
                        ondblclick="window.location.href ='/product/detail/<%=product_list[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list[i].typename %>
                        </td>
                        <td>
                          <%= product_list[i].code %>
                        </td>
                        <td>
                          <%= product_list[i].name %>
                        </td>
                        <td>
                          <%= product_list[i].product_group %>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/product/detail/<%=product_list[i].id%>"><i
                                  class="fa fa-list "></i> รายละเอียดสินค้า</a>
                              <a class="dropdown-item" href="/product/edit/<%=product_list[i].id%>"><i
                                  class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go1-<%=product_list[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go2">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list1) { %>
                    <% for (var i=0 ;i<product_list1.length; i++){ %>
                      <tr id="go2-<%=product_list1[i].id%>"
                        ondblclick="window.location.href ='/product/detail/<%=product_list[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list1[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list1[i].typename %>
                        </td>
                        <td>
                          <%= product_list1[i].code %>
                        </td>
                        <td>
                          <%= product_list1[i].name %>
                        </td>
                        <td>
                          <%= product_list1[i].product_group %>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" class="dropdown-item"
                                href="/product/detail/<%=product_list1[i].id%>"><i class="fa fa-list"></i>
                                รายละเอียดสินค้า</a>
                              <a class="dropdown-item" class="dropdown-item"
                                href="/product/edit/<%=product_list1[i].id%>"><i class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" class="dropdown-item" href="#"
                                onclick="inventoryDisable('go2-<%=product_list1[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go3">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list2) { %>
                    <% for (var i=0 ;i<product_list2.length; i++){ %>
                      <tr id="go3-<%=product_list2[i].id%>"
                        ondblclick="window.location.href ='/product/detail/<%=product_list2[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list2[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list2[i].typename %>
                        </td>
                        <td>
                          <%= product_list2[i].code %>
                        </td>
                        <td>
                          <%= product_list2[i].name %>
                        </td>
                        <td>
                          <%= product_list2[i].product_group %>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/product/detail/<%=product_list2[i].id%>"><i
                                  class="fa fa-list"></i> รายละเอียดสินค้า</a>
                              <a class="dropdown-item" href="/product/edit/<%=product_list2[i].id%>"><i
                                  class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go3-<%=product_list2[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go4">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list3) { %>
                    <% for (var i=0 ;i<product_list3.length; i++){ %>
                      <tr id="go4-<%=product_list3[i].id%>"
                        ondblclick="window.location.href ='/product/detail/<%=product_list3[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list3[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list3[i].typename %>
                        </td>
                        <td>
                          <%= product_list3[i].code %>
                        </td>
                        <td>
                          <%= product_list3[i].name %>
                        </td>
                        <td>
                          <%= product_list3[i].product_group %>
                        </td>

                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/product/detail/<%=product_list3[i].id%>"><i
                                  class="fa fa-list"></i> รายละเอียดสินค้า</a>
                              <a class="dropdown-item" href="/product/edit/<%=product_list3[i].id%>"><i
                                  class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go4-<%=product_list3[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go5">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_listDel) { %>
                    <% for (var i=0 ;i<product_listDel.length; i++){ %>
                      <tr id="go1-<%=product_listDel[i].id%>"
                        ondblclick="window.location.href ='/product/detail/<%=product_listDel[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_listDel[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_listDel[i].typename %>
                        </td>
                        <td>
                          <%= product_listDel[i].code %>
                        </td>
                        <td>
                          <%= product_listDel[i].name %>
                        </td>
                        <td>
                          <%= product_listDel[i].product_group %>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/product/detail/<%=product_listDel[i].id%>"><i
                                  class="fa fa-list "></i> รายละเอียดสินค้า</a>
                              <a class="dropdown-item" href="/product/edit/<%=product_listDel[i].id%>"><i
                                  class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryEnable('go1-<%=product_listDel[i].id%>')"><i
                                  class="fas fa-external-link-alt"></i> เปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>
          </div>

          <!-- -----------------Disable modal---------------- -->

          <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>รหัส: <span></span></p>
                  <p>ชื่อสินค้า: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>
          <!-- -----------------Enable modal---------------- -->

          <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">เปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการเปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>รหัส: <span></span></p>
                  <p>ชื่อสินค้า: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>

          <!-- -----------detail------------ -->

          <div class="modal fade" id="Detaill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">
                    รายละเอียดสินค้า
                  </h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/product/save" method="post" class="form-group">
                  <div class="modal-body">
                    <div>
                      <div>
                        <table>
                          <tr>
                            <label>รายละเอียดขาย-ซื้อ</label>
                            <td> <label>ประเภทสินค้า: </label> </td>
                            <td> <label></label> </td>
                          </tr>
                          <tr>
                            <td> <label>รหัสสินค้า:</label> </td>
                            <td> <label></label> </td>
                          </tr>
                          <tr>
                            <td><label>หน่วยสินค้า:</label></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label>หมวดสินค้า:</label></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><label>รหัสบาร์โค้ด:</label></td>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                      <% if(true){ %>
                        <hr>
                        <div>
                          <table>
                            <tr>
                              <label>รายละเอียดการขาย</label>
                              <td><label>รายละเอียดสินค้า:</label></td>
                              <td><label></label></td>
                            </tr>
                            <tr>
                              <td><label>ราคาขาย:</label></td>
                              <td><label> </label></td>
                            </tr>
                            <tr>
                              <td><label>ภาษีมูลค่าเพิ่ม:</label></td>
                              <td><label></label></td>
                            </tr>
                            <tr>
                              <td><label>บัญชีรายได้:</label></td>
                              <td><label></label></td>
                            </tr>
                          </table>
                        </div>
                        <% } %>
                          <% if(true){ %>
                            <hr>
                            <div>
                              <table>
                                <tr>
                                  <label>รายละเอียดการซื้อ</label>
                                  <td><label>รายละเอียดสินค้า:</label></td>
                                  <td><label></label></td>
                                </tr>
                                <tr>
                                  <td><label>ราคาซื้อ:</label></td>
                                  <td><label></label></td>
                                </tr>
                                <tr>
                                  <td><label>ภาษีมูลค่าเพิ่ม:</label></td>
                                  <td><label></label></td>
                                </tr>
                                <tr>
                                  <td><label>บัญชีรายได้:</label></td>
                                  <td><label></label></td>
                                </tr>
                              </table>
                            </div>
                            <% } %>
                              <% if(true){ %>
                                <hr>
                                <div>
                                  <table>
                                    <tr>
                                      <label>สต๊อก</label>
                                      <td><label>จำนวนคงเหลือ:</label></td>
                                      <td><label></label></td>
                                    </tr>
                                    <tr>
                                      <td><label>ราคาขายเฉลี่ย:</label></td>
                                      <td><label></label></td>
                                    </tr>
                                    <tr>
                                      <td><label>ราคาซื้อเฉลี่ย:</label></td>
                                      <td><label></label></td>
                                    </tr>
                                  </table>
                                </div>
                                <%}%>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">แก้ไข</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- add modal -->

          <div class="modal fade" id="productAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <h3 class="text-info">รายการสินค้า</h3>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid mt-2">
                    <%-include('_add')%>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">บันทึก</button>
                </div>
              </div>
            </div>
          </div>
          <%-include('_category')%>

            <!-- -----------------add data END ---------------- -->

        </div>
      </div>
    </div>
  </div>

  <!-- <script src="/dist/js/product.js" crossorigin="anonymous"></script> -->

  <%-include('../../_footer.ejs')%>