<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">แก้ไขรายการสินค้า</h3>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-dark" href="/product">กลับ</a>
          </div>
          <hr>
          <form action="/product/update/<%=product_list.id%>" method="post" class="form-group"  enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="container">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">ประเภทสินค้า:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" id="product_type_list_id" name="product_type_list_id">
                          <% for(var i=0;i<product_type_list.length;i++){ %>
                            <option value="<%=product_type_list[i].id%>"
                              <%if(product_list.product_type_list_id==product_type_list[i].id){ %>selected<% } %> >
                                <%=product_type_list[i].name%>
                            </option>
                            <%}%>
                        </select>
                      </div>
                    </div>
                    <div class="input-group" id="product_type_id">
                      <div class="col-md-4">
                        <label for="">ประเภท: </label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" name="product_type_id">
                          <% for(var i=0;i<product_type.length;i++){ %>
                            <option value="<%=product_type[i].id%>"
                              <%if(product_list.product_type_id==product_type[i].id){ %>selected<% } %> >
                                <%=product_type[i].name%>
                            </option>
                            <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">รหัสสินค้า:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" name="code" type="text" value="<%=product_list.code%>" id="productCode" required>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">ชื่อสินค้า:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" name="name" type="text" value="<%=product_list.name%>" required>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">รายละเอียดสินค้า:</label>
                      </div>
                      <div class="col-md-8">
                        <textarea class="form-control" name="detail" id="inputDetaill" rows="3"
                          value="<%=product_list.detail%>"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- แก้ หน่วยสินค้า -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">หน่วยสินค้า:</label>
                        <button type="button" id="addUnitType">เพิ่มหน่วยสินค้า</button>
                        <button id='Bdel' type='button' onclick='deletetr()'>ลบ</button>
                      </div>
                      <div class="col-md-8">
                        <table>
                          <tbody id="tableUnitType">
                            <%for(var i=0 ;i< category_price.length;i++){%>
                              <tr  <%if(i==0){%> class="trUnit" <%}else{%> class="trUnit trBdel-<%=i%>" <%}%>>
                                <td width="25%">
                                  <input type="text" id="unitType<%=i+1%>" class="form-control numberAddTrUnit-<%=i+1%>"
                                    name="nameUnit" onkeyup="unitSet(this,this.value)"
                                    placeholder="หน่วยสินค้าระดับที่ 1" maxlength="12" value="<%=category_price[i].name%>">
                                </td>
                                <td width="15%">
                                  <t>จำนวน</t>
                                </td>
                                <td width="35%" >
                                  <input type="number" class="form-control" name="Unit"
                                    placeholder="หน่วยสินค้าระดับที่ 1" <%if(i==0){%> value="1" readonly <%}else{%> value="<%=category_price[i].unit%>" <%}%> >
                                </td>
                                <td width="25%">
                                  <t  <%if(i==0){%> class="textUnitType2"<%}else{%> class="textUnitType<%=i+1%>"  <%}%>>
                                    <%var showcategory_priceName = 0;%>
                                    <%if(i==0){%> <% showcategory_priceName = 0; %> <%}else{%> <% showcategory_priceName = i-1; %> <%}%>
                                    <%=category_price[showcategory_priceName].name %>
                                    </t>
                                </td>
                              </tr>
                              <tr <%if(i==0){%> <%}else{%> class="trBdel-<%=i%>" <%}%>>
                                <td>
                                  <t  <%if(i==0){%> class="textUnitType2" <%}else{%> class="textUnitType<%=i+2%>"  <%}%>><%=category_price[i].name%></t>
                                </td>
                                <td>
                                  <t>ราคาขายA:</t>
                                </td>
                                <td>
                                  <input type="number" class="form-control" name="sellA" placeholder="ราคาขายA"  value="<%=category_price[i].price_sellA%>">
                                </td>
                                <!-- <td>
                                  <input type="number" class="form-control" name="buyA" placeholder="ราคาซื้อA"  value="<%=category_price[i].price_buyA%>">
                                </td> -->
                              </tr>
                              <tr <%if(i==0){%> <%}else{%> class="trBdel-<%=i%>" <%}%>>
                                <td>
                                </td>
                                <td>
                                  <t>ราคาขายB:</t>
                                </td>
                                <td>
                                  <input type="number" class="form-control" name="sellB" placeholder="ราคาขายB" value="<%=category_price[i].price_sellB%>" >
                                </td>
                                <!-- <td>
                                  <input type="number" class="form-control" name="buyB" placeholder="ราคาซื้อB" value="<%=category_price[i].price_buyB%>" >
                                </td> -->
                              </tr>
                              <tr <%if(i==0){%> <%}else{%> class="trBdel-<%=i%>" <%}%>>
                                <td>
                                </td>
                                <td>
                                  <t>ราคาขายC:</t>
                                </td>
                                <td>
                                  <input type="number" class="form-control" name="sellC" placeholder="ราคาขายC" value="<%=category_price[i].price_sellC%>" >
                                </td>
                                <!-- <td>
                                  <input type="number" class="form-control" name="buyC" placeholder="ราคาซื้อC" value="<%=category_price[i].price_buyC%>" >
                                </td> -->
                              </tr>
                              <%}%>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">หมวดสินค้า:</label>
                      </div>
                      <div class="col-md-8">
                        <select name="product_group_id" id="product_group" class="form-control" required>
                          <% for(var i=0;i<product_group.length;i++){ %>
                            <option value="<%=product_group[i].id%>"
                              <%if(product_list.product_group_id==product_group[i].id){%>selected<%}%> >
                                <%=product_group[i].name%>
                            </option>
                            <% } %>
                              <option value="-1">เพิ่มหมวดสินค้า</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for=""> สินค้านี้ :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="radio" name="vat" value="1" <%if(product_list.vat==1){%>checked<%}%> >มี VAT.
                          <br>
                          <input type="radio" name="vat" value="0" <%if(product_list.vat==0){%>checked<%}%> >ไม่มี VAT.
                      </div>
                    </div>
                  </div>
                  <!-- //////////////////////////////////////////// -->
                </div>
              </div>

              <div class="col-lg-1 col-md-1">
                <!-- //// -->
              </div>

              <div class="col-lg-5 col-md-5">
                <div class="container">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">ภาษีมูลค่าเพิ่ม(ขาย): </label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" name="tax_sell_id">
                          <% for(var i=0;i<product_tax.length;i++){ %>
                            <option value="<%=product_tax[i].id%>">
                           <%=product_tax[i].name%>
                            </option>
                            <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">บัญชีรายได้:</label>
                      </div>
                      <div class="col-md-8">
                        
                        <select class="form-control " name="acc_sell" >
                          <% for(var i=0;i<acc_sell.length;i++){ %>
                            <option value="<%=acc_sell[i].id%>" <%if(product_list.acc_sell==acc_sell[i].id){%>selected<%}%> >
                              <%=acc_sell[i].code%> / <%=acc_sell[i].name%>
                            </option>
                            <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ///////////////////////////////////////// -->
            <div id="detailBuy">
              <div class="col-lg-12 col-md-12">
                <hr>
                <div class="text">
                  <h5 class="text-info">รายละเอียดการซื้อ</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">รายละเอียดสินค้า:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="check-lage" type="checkbox" name="" value="" id="copyDetail">
                          <label for="">ใช้รายละเอียดสินค้าเดียวกับเอกสารขาย</label>
                        </div>
                      </div>
                    </div>
                    <!-- <button type="button" onclick="$('#inputDetailBuy').val($('#inputDetaill').val())">ใช้รายละเอียดสินค้าเดียวกับเอกสารขาย</button> -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <!-- //////// -->
                        </div>
                        <div class="col-md-8">
                          <textarea class="form-control" id="inputDetailBuy" name="detail_buy" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1 col-md-1">
                  <!-- //////// -->
                </div>
              <div class="col-lg-5 col-md-5">
                <div class="container">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">ภาษีมูลค่าเพิ่ม(ซื้อ): </label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" name="tax_buy_id">
                        <% for(var i=0;i<product_tax.length;i++){ %>
                          <option value="<%=product_tax[i].id%>">
                            <%=product_tax[i].name%>
                          </option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="col-md-4">
                        <label for="">บัญชีค่าใช้จ่าย:</label>
                      </div>
                      <div class="col-md-8">
                      
                        <select class="form-control" name="acc_buy" >
                        <% for(var i=0;i<acc_buy.length;i++){ %>
                          <option value="<%=acc_buy[i].id%>" <%if(product_list.acc_buy==acc_buy[i].id){%>selected<%}%> >
                            <%=acc_buy[i].code%> / <%=acc_buy[i].name%>
                          </option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ////////////////////////////////////////// -->
            <!-- <div id="setting">
              <div class="col-lg-12 col-md-12">
                <hr>
                <label class="control control-checkbox">
                  <h5 class="text-info"><input class="lage-check" type="checkbox"> ตั้งค่ายอดเริ่มต้น:</h5>
                </label>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">วันที่ตั้งต้นสินค้า:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" name="date_product" type="date"
                            value="<%=product_list.date_product%>">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">จำนวนคงคลัง:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" name="number_product" type="text"
                            value="<%=product_list.number_product%>">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">จำนวนต่ำสุดแจ้งเตือน:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" name="product_low" type="text"
                            value="<%=product_list.product_low%>">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">ต้นทุนต่อหน่วย:</label>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" name="unit_cost" type="text" value="0.00"
                            value="<%=product_list.unit_cost%>">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- ///////////////////////////////////////// -->
            <div id="detailMore">
              <div class="col-lg-12 col-md-12">
                <hr>
                <h5 class="text-info">รายละเอียดเพิ่มเติม</h5>
              </div>
              <!-- ///////////////////////////////////////// -->
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">รหัสบาร์โค้ด:</label>
                        </div>
                        <div class="row col-md-8">
                          <div class="col-md-3">
                            <button class="btn btn-outline-dark" onclick="$('#codeText').val($('#productCode').val()), codeTextx()" type="button">ใช้รหัสสินค้า</button>
                          </div>
                          <div class="col-md-9">
                            <input class="form-control" name="code_qrbar" type="text" id="codeText"
                              placeholder="ไม่รองรับอักขระไทย" value="<%=product_list.code_qrbar%>">
                              <%if(product_list.code_qrbar.length>0){%>
                                <script>
                                  //$('#codeText').keyup('');
                                  $(document).ready(function () {
                                   codeTextx();
                                  });
                                </script>
                                
                              <%}%>
                          </div>
                          
                        </div>
                        
                        <div class="col-md-8">
                          <input type="checkbox" id="chbar" name="bar_code" value="1"
                            <%if(product_list.bar_code==1){%>checked<%}%> >bar
                            <%if(product_list.bar_code==0){%>
                              <script>
                                $(document).ready(function () {
                                  $('#chbar2').hide();
                                });
                              </script>
                            <%}%>
                            <input type="checkbox" id="chqr" name="qr_code" value="1"
                              <%if(product_list.qr_code==1){%>checked<%}%> >QR
                              <%if(product_list.qr_code==0){%>
                                <script>
                                $(document).ready(function () {
                                  $('#chqr2').hide();
                                });
                                </script>
                              <%}%>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-md-4">
                          <label for="">รูปสินค้า:</label>
                        </div>
                        <div class="col-md-8">
                          <div class="row" id="photos">

                              <% for(var i =0;i<photo.length;i++){ %>
                                <div class="col-md-6" id="divshow_photo-<%=photo[i].id%>">
                                    <img src="/inventory/<%=photo[i].photo%>" style="width: 145px;height: 95px;"><br>
                                    <input type="radio" id="photomain-<%=product_list.id%>-<%=photo[i].id%>" class="showphotomain" <%if(photo[i].main==1){%> checked <%}%> >รูปหลัก
                                    
                                    <button type="button" class="btn btn-outline-dark" onclick="$('#delPhoto-<%=product_list.id%>-<%=photo[i].id%>').modal();" >ลบรูป</button>


                                    <div class="modal fade" id="delPhoto-<%=product_list.id%>-<%=photo[i].id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">ลบ รูป</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-delPhoto-<%=product_list.id%>-<%=photo[i].id%>">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>ต้องการลบ รูป นี้หรือไม่ ?</p>
                                            
                                          </div>
                                          <div class="modal-footer">
                                            <a class="btn btn-danger" id="delphoto-<%=product_list.id%>-<%=photo[i].id%>" onclick="deletephoto(this),$('#close-delPhoto-<%=product_list.id%>-<%=photo[i].id%>').click()">ยืนยัน</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                </div>
                              <% } %>
                              
                              <div class="col-md-6" id="divuploadphoto">
                                <div class="dropzone" id="divUp">
                                  <img src="http://100dayscss.com/codepen/upload.svg"  class="upload-icon"><br>
                                  <span>คลิกเพื่อเลือกไฟล์</span>
                                  <input type="file" name="photo" class="upload-input" accept="image/*" multiple id="imgInp" />
                                </div>
                              </div>
                              
                          </div>
                          

                          <div class="text-right" id="close-item">
                            <button type="button" class="close-pic"><span aria-hidden="true">&times;</span></button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div  class="col-md-4">
                  <div id="chbar2">
                    <div class="text-center" id="newbar">
                      <img id="barcode" />
                    </div>
                  </div>
                </div>
                <div  class="col-md-2">
                  <div id="chqr2">
                    <div style="width:100px; height: 100px; margin:auto;" id="newqr">
                    <div id="qrcode"></div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-right">
              <button type="submit" class="btn btn-success">บันทึก</button>
            </div>
          </form>
          <%-include('_category')%>
        </div>
      </div>
    </div>
  </div>




  <script src="/dist/js/product-edit.js" crossorigin="anonymous"></script>

  <%-include('../../_footer.ejs')%>