<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <div class="float-left">
          <h3 class="text-info">รายการสินค้า</h3>
        </div>
        <div class="text-right">
          <a class="btn btn-outline-dark" href="/product">กลับ</a>
        </div>
        <hr>
        <form action="/product/save" method="post" enctype="multipart/form-data">
          <%-include('_add')%>
          <hr>
          <div class="text-right">
            <button type="submit" class="btn btn-success">บันทึก</button>
          </div>
        </form>
        <%-include('_category')%>
     </div>
    </div>
  </div>
</div>

<%-include('../../_footer.ejs')%>
