<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">การเปลี่ยนแปลงของสินค้า: <%=product_list.name%>
            </h3>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-dark" href="/product/detail/<%=product_list.id%>">กลับ</a>
          </div>
          <hr>
          <div>
            <div class="tabcontent">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="2%">ลำดับ</th>
                    <th width="2%">วันที่</th>
                    <th width="10%">เลขที่เอกสาร</th>
                    <th width="10%">ชื่อผู้จำหน่าย</th>
                    <th width="15%">จำนวน</th>
                    <th width="15%">หน่วยสินค้า</th>
                    <th width="10%" class="text-right">ราคาต่อหนวย</th>
                    <th width="10%">ส่วนลด</th>
                    <th width="10%">ภาษีมูลค่าเพิ่ม</th>
                    <th width="10%">ยอดรวม</th>

                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0 ;i<receipt.length;i++){%>
                    <tr class="text-center" ondblclick="location.href='/product_receipt/detail/<%=receipt[i].id%>';">
                      <td>
                        <%=i+1%>
                      </td>
                      <td>
                        <%=receipt[i].date%>
                      </td>
                      <td>
                        <%=receipt[i].receiptordernumber%>
                      </td>
                      <td>
                        <%=receipt[i].creditors_name%>
                      </td>
                      <td>
                        <%=receipt[i].quantity%>
                      </td>
                      <td >
                        <%=receipt[i].unittype%>
                      </td>
                      <td class="text-right">
                        <%=receipt[i].price%>
                      </td>
                      <td class="text-right">
                        <%if(receipt[i].discount_id==1){%>
                          <%=receipt[i].listdiscount%>%
                            <%}else if(receipt[i].discount_id==2){%>
                              ฿<%=receipt[i].listdiscount%>
                                <%}else{%>
                                  ไม่มี
                                  <%}%>

                      </td>
                      <td>
                        <%=receipt[i].vat%>
                      </td>
                      <td class="text-right">
                        <%=receipt[i].price%>
                      </td>
                    </tr>
                    <%}%>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var i, tabcontent

    function activeTabp(evt, tabPd) {
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        $("table#tablesearch").attr('id', '');
      }
      document.getElementById(tabPd).style.display = "block";
      $('#search').val('');
      $("#" + tabPd + " table:first").attr('id', 'tablesearch');
      if ($('div#' + tabPd + ' > div:first').attr('id') != 'tablesearch_wrapper') {
        dataTable();
      }
    }

    $(document).ready(function () {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
});

function dataTable() {
  // $('#tablesearch_wrapper .row').remove().end()
  // $(document).ready(function() {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
  // });
}
  </script>
  <%-include('../../_footer.ejs')%>