<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9 col-lg-6">
                <h3 class="text-info">แก้ไขยอดยกมา</h3>
              </div>
              <div class="col-3 col-lg-6">
                <div class="float-right">
                  <a class="btn btn-outline-dark" href="/chart">กลับ</a>
                </div>
              </div>
            </div>
            <hr>
              <%var year = new Date().getFullYear();%>
              <form action="/beginning_balance/save" method="post">
                <div class="input-group">
                  <label class="col-lg-2 col-md-2 text-center" for=""><b>วันต้นงวด</b></label>
                  <input class="form-control mb-2 col-lg-2 col-md-2 text-center" type="date" name="date_start" value="<%=year+'-01-01'%>">
                </div>
              <table class="table table-bordered table-responsive-md">
                <thead class="text-center bg-info">
                  <th widht="15%">รหับัญชี</th>
                  <th width="25%">ชื่อบัญชี</th>
                  <th width="30%">เดบิต</th>
                  <th width="30%">เครดิต</th>
                </thead>
                <tbody>
                  <%if(chart){%>
                    <%for (var i = 0; i < chart.length; i++){%>
                      <tr>
                        <td>
                          <input type="hidden" name="id" value="<%=chart[i].id%>">
                          <input type="text" class="form-control" value="<%=chart[i].code%>" disabled>
                        </td>
                        <td><input type="text" class="form-control" value="<%=chart[i].name%>" disabled></td>
                        <td><input type="text" class="form-control text-right drS" name="dr" value="<%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2)%><%}%>" onkeyup="drSum()"></td>
                        <td><input type="text" class="form-control text-right crS" name="cr" value="<%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2)%><%}%>" onkeyup="crSum()"></td>
                      </tr>
                    <%}%>
                  <%}%>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                    <td><input type="text" class="form-control text-right" id="drR" disabled></td>
                    <td><input type="text" class="form-control text-right" id="crR" disabled></td>
                  </tr>
                </tfoot>
              </table>
              <div class="text-right">
                <button type="submit" class="btn btn-success" id="ok">บันทึก</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<script src="/dist/js/beginning_balance.js"></script>
<%-include('../../_footer.ejs')%>
