<%-include('../../_header.ejs')%>

  <link rel="stylesheet" href="/dist/css/chart.css">

      <div class="row">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-6 col-lg-6">
                      <h3 class="text-info">ผังบัญชี</h3>
                    </div>
                    <div class="col-6 col-lg-6">
                      <div class="float-right">
                        <a class="btn btn-outline-info" href="/beginning_balance/edit">แก้ไขยอดยกมา</a>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">เพิ่มผังบัญชี</button>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="wrapper">
                    <nav class="tabs">
                      <div class="selector"></div>
                      <a href="#" class="active" onclick="activeTab(event, 'ChartAll')"><i class="fas fa-box-open"></i> ทั้งหมด</a>
                      <a href="#" onclick="activeTab(event, 'Chart1')"><i class="fas fa-hotel"></i> หมวดที่ 1</a>
                      <a href="#" onclick="activeTab(event, 'Chart2')"><i class="far fa-credit-card"></i> หมวดที่ 2</a>
                      <a href="#" onclick="activeTab(event, 'Chart3')"><i class="fas fa-wallet"></i> หมวดที่ 3</a>
                      <a href="#" onclick="activeTab(event, 'Chart4')"><i class="fas fa-hand-holding-usd"></i> หมวดที่ 4</a>
                      <a href="#" onclick="activeTab(event, 'Chart5')"><i class="fas fa-money-check-alt"></i> หมวดที่ 5</a>
                    </nav>
                  </div>
                </div>
              </div>
                <div id="ChartAll" class="tabcontent">
                    <!-- ///////////////////////////////// ChartAll //////////////////////////////////////////////////////////////// -->

                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="allchartDatatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% for (var i=0; i < chart.length; i++) { %>
                                    <tr>
                                        <td class="<%= chart[i].id %>">
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <%= chart[i].code %>
                                        </td>
                                        <td>
                                            <%= chart[i].name %>
                                        </td>
                                        <td class="<%= chart[i].typecode %>">
                                            <%= chart[i].typename %>
                                        </td>
                                        <td align="right"><%if (chart[i].dr){%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                        <td align="right"><%if (chart[i].cr){%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                        <td align="center"><%if (chart[i].date_start != '0000-00-00'){%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="4">รวม</td>
                            <td align="right"></td>
                            <td align="right"></td>
                            <td colspan="2"></td>
                          </tr>
                        </tfoot>
                    </table>
                </div>

                <div id="Chart1" class="tabcontent">
                    <!-- ///////////////////////////////// Chart1 //////////////////////////////////////////////////////////////// -->

                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="chart1Datatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% var no1=1 %>
                                    <% for (var i=0; i < chart.length; i++) { %>
                                        <% if(chart[i].category_id==1){%>
                                            <tr>
                                                <td class="<%= chart[i].id %>">
                                                    <%= no1 %>
                                                </td>
                                                <td>
                                                    <%= chart[i].code %>
                                                </td>
                                                <td>
                                                    <%= chart[i].name %>
                                                </td>
                                                <td class="<%= chart[i].typecode %>">
                                                    <%= chart[i].typename %>
                                                </td>
                                                <td align="right"><%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="right"><%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="center"><%if (chart[i].date_start != '0000-00-00') {%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                                <td>
                                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                                </td>
                                            </tr>
                                            <% no1 ++ ; %>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="Chart2" class="tabcontent">
                    <!-- ///////////////////////////////// Chart2 //////////////////////////////////////////////////////////////// -->

                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="chart2Datatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% var no2=1 %>
                                    <% for (var i=0; i < chart.length; i++) { %>
                                        <% if(chart[i].category_id==2){%>
                                            <tr>
                                                <td class="<%= chart[i].id %>">
                                                    <%= no2 %>
                                                </td>
                                                <td>
                                                    <%= chart[i].code %>
                                                </td>
                                                <td>
                                                    <%= chart[i].name %>
                                                </td>
                                                <td class="<%= chart[i].typecode %>">
                                                    <%= chart[i].typename %>
                                                </td>
                                                <td align="right"><%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="right"><%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="center"><%if (chart[i].date_start != '0000-00-00') {%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                                <td>
                                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                                </td>
                                            </tr>
                                            <% no2 ++ ; %>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="Chart3" class="tabcontent">
                    <!-- ///////////////////////////////// Chart3 //////////////////////////////////////////////////////////////// -->


                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="chart3Datatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% var no3=1 %>
                                    <% for (var i=0; i < chart.length; i++) { %>
                                        <% if(chart[i].category_id==3){%>
                                            <tr>
                                                <td class="<%= chart[i].id %>">
                                                    <%= no3 %>
                                                </td>
                                                <td>
                                                    <%= chart[i].code %>
                                                </td>
                                                <td>
                                                    <%= chart[i].name %>
                                                </td>
                                                <td class="<%= chart[i].typecode %>">
                                                    <%= chart[i].typename %>
                                                </td>
                                                <td align="right"><%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="right"><%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="center"><%if (chart[i].date_start != '0000-00-00') {%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                                <td>
                                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                                </td>
                                            </tr>
                                            <% no3 ++ ; %>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="Chart4" class="tabcontent">
                    <!-- ///////////////////////////////// Chart4 //////////////////////////////////////////////////////////////// -->

                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="chart4Datatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% var no4=1 %>
                                    <% for (var i=0; i < chart.length; i++) { %>
                                        <% if(chart[i].category_id==4){%>
                                            <tr>
                                                <td class="<%= chart[i].id %>">
                                                    <%= no4 %>
                                                </td>
                                                <td>
                                                    <%= chart[i].code %>
                                                </td>
                                                <td>
                                                    <%= chart[i].name %>
                                                </td>
                                                <td class="<%= chart[i].typecode %>">
                                                    <%= chart[i].typename %>
                                                </td>
                                                <td align="right"><%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="right"><%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="center"><%if (chart[i].date_start != '0000-00-00') {%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                                <td>
                                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                                </td>
                                            </tr>
                                            <% no4 ++ ; %>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="Chart5" class="tabcontent">
                    <!-- ///////////////////////////////// Chart5 //////////////////////////////////////////////////////////////// -->

                    <table class="table table-bordered table-hover table-responsive-md table-responsive-lg" id="chart5Datatable">
                        <thead>
                            <tr class="table-active">
                                <th class="thno" width="5%">ลำดับ</th>
                                <th class="thid" width="10%">รหัสบัญชี</th>
                                <th class="thname" width="20%">ชื่อบัญชี</th>
                                <th class="thtype" width="16%">ประเภทบัญชี</th>
                                <th width="12%">เดบิต</th>
                                <th width="12%">เครดิต</th>
                                <th width="10%">วันต้นงวด</th>
                                <th class="thchoose" width="15%">ตัวเลือก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(chart){%>
                                <% var no5=1 %>

                                    <% for (var i=0; i < chart.length; i++) { %>

                                        <% if(chart[i].category_id==5){%>
                                            <tr>
                                                <td class="<%= chart[i].id %>">
                                                    <%= no5 %>
                                                </td>
                                                <td>
                                                    <%= chart[i].code %>
                                                </td>
                                                <td>
                                                    <%= chart[i].name %>
                                                </td>
                                                <td class="<%= chart[i].typecode %>">
                                                    <%= chart[i].typename %>
                                                </td>
                                                <td align="right"><%if (chart[i].dr) {%><%=chart[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="right"><%if (chart[i].cr) {%><%=chart[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%></td>
                                                <td align="center"><%if (chart[i].date_start != '0000-00-00') {%><%=chart[i].date_start.toISOString().split('T')[0]%><%}%></td>
                                                <td>
                                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="editData(this)">แก้ไข</button>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" onclick="editData(this)">ลบ</button>
                                                </td>
                                            </tr>
                                            <% no5 ++ ; %>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>

                <script>

                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        if (i > 0) {
                            tabcontent[i].style.display = "none";
                        }
                    }
                    function openCity(evt, cityName) {
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
                </script>
                <br>
            </div>
        </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////// -->

    <!--add/////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">เพิ่มผังบัญชี</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/chart/save" class="form-group" method="post">

                        <table class="table table-bordered">
                            <tr>
                                <th>รหัสบัญชี</th>
                                <td>
                                    <input type="text" name="code" class="form-control" placeholder="กรอกรหัสบัญชี">
                                </td>
                            </tr>
                            <tr>
                                <th>ชื่อบัญชี</th>
                                <td>
                                    <input type="text" name="name" class="form-control" placeholder="กรอกชื่อบัญชี">
                                </td>
                            </tr>
                            <tr>
                                <th>เลือกประเภทบัญชี</th>
                                <td>
                                    <select class='form-control' name='typeAcc_id'>
                                        <% if(typeacc) { %>
                                            <% for(var j=0; j<typeacc.length; j++){ %>
                                                <option value="<%= typeacc[j].id %>">
                                                    <%= typeacc[j].name %>
                                                </option>
                                                <%}%>
                                                    <%}%>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>ยอดคงเหลือปกติ</th>
                                <td>
                                    <select id="editTypeacc" class='form-control' name='normal_balance'>
                                      <option value="1">เดบิต</option>
                                      <option value="0">เครดิต</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">ตกลง</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/////////////////////////////endadd//////////////////////////////////////////////////////-->

    <!--//////////////////////////edit////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">แก้ไขข้อมูล</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/chart/update" class="form-group" method="post">
                        <table class="table table-bordered">
                            <tr>
                                <th>รหัสบัญชี</th>
                                <td>
                                    <input id="editCode" type="text" name="code" class="form-control" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>ชื่อบัญชี</th>
                                <td>
                                    <input id="editName" type="text" name="name" class="form-control" placeholder="กรอกชื่อบัญชี">
                                    <input id="chartid" type="hidden" name="chartid" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>เลือกประเภทบัญชี</th>
                                <td>
                                    <select id="editTypeacc" class='form-control' name='typeAcc_id'
                                        style="width: 100%;">
                                        <% if(typeacc) { %>
                                            <% for(var j=0; j<typeacc.length; j++){ %>
                                                <option value="<%= typeacc[j].id %>">
                                                    <%= typeacc[j].name %>
                                                </option>
                                                <%}%>
                                                    <%}%>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>ยอดคงเหลือปกติ</th>
                                <td>
                                    <select id="editTypeacc" class='form-control' name='normal_balance'>
                                      <option value="1">เดบิต</option>
                                      <option value="0">เครดิต</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">ตกลง</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
   <!--///////////////////////////////////////////////endedit///////////////////////////////////////////////////-->

   <!--/////////////////////delete////////////////////////////////////////////////////////////////-->
   <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ต้องการลบข้อมูล ?
        </div>
        <div class="modal-footer">
            <form action="/chart/del" class="form-group" method="post">
                <input id="chartiddelete" type="hidden" name="chartid" class="form-control">
                <button type="submit" class="btn btn-danger">ลบ</button>
            </form>
        </div>
      </div>
    </div>
  </div>
<!--///////////////////////////////////////end/////////////////////////////////////////////////////////-->
    <script>
        var idd, code, name, typyacc, idclass;
        function editData(data) {
            // alert("cc");
            // console.log($(data).closest("tr").find("td").eq(1).text());
            idd = $(data).closest("tr").find("td").eq(0).attr('class');
            code = $(data).closest("tr").find("td").eq(1).text();
            name = $(data).closest("tr").find("td").eq(2).text();
            idclass = $(data).closest("tr").find("td").eq(3).attr('class');
            console.log(idd);
            typyacc = $(data).closest("tr").find("td").eq(3).text();
            $('#chartiddelete').val($(data).closest("tr").find("td").eq(0).attr('class'));
            $('#chartid').val($(data).closest("tr").find("td").eq(0).attr('class'));
            $('#editCode').val($(data).closest("tr").find("td").eq(1).text().trim());
            $('#editName').val($(data).closest("tr").find("td").eq(2).text().trim());
            //ไม่ใช้แล้ว
            // $( "#editTypeacc option:selected" ).text(typyacc);
            // $('#editTypeacc option:contains("' + $(data).closest("tr").find("td").eq(3).text().trim() + '")').attr('selected', true);
            // console.log($('#editTypeacc option:contains('+$(data).closest("tr").find("td").eq(3).text().trim()+')').attr('selected'));

            $('#editTypeacc option[value="' + $(data).closest("tr").find("td").eq(3).attr('class') + '"]').prop('selected', true);
            console.log($('#editTypeacc option[value=' + idclass + ']').prop('selected'));
            console.log($('#editTypeacc option[value=' + idclass + ']').attr('selected'));
            //
            // $('#editTypeacc option:selected').val(typyacc.trim());
        }

        $(document).ready(function () {
          $('#allchartDatatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

        $(document).ready(function () {
          $('#chart1Datatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

        $(document).ready(function () {
          $('#chart2Datatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

        $(document).ready(function () {
          $('#chart3Datatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

        $(document).ready(function () {
          $('#chart4Datatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

        $(document).ready(function () {
          $('#chart5Datatable').DataTable({
            "order": [[0, "asc"]]
          });
        });

    </script>
    <!--///////////////////////////////endedit//////////////////////////////////////////////////////////-->
    <%-include('../../_footer.ejs')%>
