<%-include('../../_header.ejs')%>
    <link rel="stylesheet" href="/dist/css/chart.css">

        <div class="row">
          <div class="col-md-12">
            <div class="card mt-5">
              <div class="card-body">
                <form action="/addchart" class="form-group" method="post">
                    <div class="text-right mb-2 ">
                        <br>
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart()" id="selectall">เลือกทั้งหมด</a>
                        <script>
                            $(document).ready(function () {
                                $("#selectall").click(function () {
                                    $("#da1").show('fast');
                                    $("#da2").show('fast');
                                    $("#da3").show('fast');
                                    $("#da4").show('fast');
                                    $("#da5").show('fast');
                                });
                            });
                            function check_Select_Chart() {
                                $('.inputchartT').prop("checked", !$('.inputchartT').prop("checked"));
                            }
                        </script>
                    </div>
                    <br>
                    <script>
                        $(document).ready(function () {
                            $("#da1").hide();
                            $("#se1").click(function () {
                                $("#da1").toggle('fast');
                            });
                        });
                    </script>

                    <h2>หมวดที่ 1 <%= nameacc6[0].categoryname %>
                    </h2>

                    <div class="text-right mb-2 ">
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart1()" id="selectal1">หมวด1ทั้งหมด</a>
                        <script>
                            $(document).ready(function () {
                                $("#selectal1").click(function () {
                                    $("#da1").show('fast');
                                });
                            });
                            function check_Select_Chart1() {
                                $('.inputchart1').prop("checked", !$('.inputchart1').prop("checked"));
                            }
                        </script>
                    </div>
                    <table class="table table-bordered table-hover table-responsive">
                        <thead id="se1">
                            <tr class="table-active">
                                <th class="thno">ลำดับ</th>
                                <th class="thid">รหัสบัญชี</th>
                                <th class="thname">ชื่อบัญชี</th>
                                <th class="thtype">ประเภทบัญชี</th>
                                <th class="thaction">เลือก</th>
                            </tr>
                        </thead>
                        <tbody id="da1">
                            <% if(nameacc1){%>
                                <% for (var i=0; i < nameacc1.length; i++) { %>
                                    <tr <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%= nameacc1[i].nameaccid %>').prop('checked', !$('#xxxid<%= nameacc1[i].nameaccid %>').prop('checked'));" <% } %> >
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc1[i].code %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc1[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc1[i].typename %>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="xxx"
                                                            value="<%= nameacc1[i].nameaccid %>"
                                                            id="xxxid<%= nameacc1[i].nameaccid %>"
                                                            class="<% if(x[check_box_no]==0){ %> inputchartT inputchart1<% }else{%> inputchartF <%} %>"
                                                            <% if(x[check_box_no]==1){ %>checked onclick="return false"
                                                        <% } %>
                                                            <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%=nameacc1[i].nameaccid %>').prop('checked',!$('#xxxid<%= nameacc1[i].nameaccid %>').prop('checked'));" <% } %>>

                                                    </td>
                                    </tr>
                                    <%check_box_no++%>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                    <br>

                    <script>
                        $(document).ready(function () {
                            $("#da2").hide();
                            $("#se2").click(function () {
                                $("#da2").toggle('fast');
                            });
                        });
                    </script>

                    <h2>หมวดที่ 2 <%= nameacc7[0].categoryname %>
                    </h2>
                    <div class="text-right mb-2 ">
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart2()" id="selectal2">หมวด2ทั้งหมด</a>
                        <script>
                            $(document).ready(function () {
                                $("#selectal2").click(function () {
                                    $("#da2").show('fast');
                                });
                            });
                            function check_Select_Chart2() {
                                $('.inputchart2').prop("checked", !$('.inputchart2').prop("checked"));
                            }
                        </script>
                    </div>
                    <table class="table table-bordered table-hover table-responsive">
                        <thead id="se2">
                            <tr class="table-active">
                                <th class="thno">ลำดับ</th>
                                <th class="thid">รหัสบัญชี</th>
                                <th class="thname">ชื่อบัญชี</th>
                                <th class="thtype">ประเภทบัญชี</th>
                                <th class="thaction">เลือก</th>
                            </tr>
                        </thead>
                        <tbody id="da2">
                            <% if(nameacc2){%>
                                <% for (var i=0; i < nameacc2.length; i++) { %>
                                    <tr <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%= nameacc2[i].nameaccid %>').prop('checked', !$('#xxxid<%= nameacc2[i].nameaccid %>').prop('checked'));" <% } %>>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc2[i].code %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc2[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc2[i].typename %>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="xxx"
                                                            value="<%= nameacc2[i].nameaccid %>"
                                                            id="xxxid<%= nameacc2[i].nameaccid %>"
                                                            class="<% if(x[check_box_no]==0){ %> inputchartT inputchart2<% }else{%> inputchartF <%} %>"
                                                            <% if(x[check_box_no]==1){ %>checked onclick="return false"
                                                        <% } %>
                                                            <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%=nameacc2[i].nameaccid %>').prop('checked',!$('#xxxid<%= nameacc2[i].nameaccid %>').prop('checked'));" <% } %>>
                                                    </td>
                                    </tr><%check_box_no++%>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                    <br>
                    <script>
                        $(document).ready(function () {
                            $("#da3").hide();
                            $("#se3").click(function () {
                                $("#da3").toggle('fast');
                            });
                        });
                    </script>

                    <h2>หมวดที่ 3 <%= nameacc8[0].categoryname %>
                    </h2>
                    <div class="text-right mb-2 ">
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart3()" id="selectal3">หมวด3ทั้งหมด</a>
                        <script>
                             $(document).ready(function () {
                                $("#selectal3").click(function () {
                                    $("#da3").show('fast');
                                });
                            });
                            function check_Select_Chart3() {
                                $('.inputchart3').prop("checked", !$('.inputchart3').prop("checked"));
                            }
                        </script>
                    </div>
                    <table class="table table-bordered table-hover table-responsive">
                        <thead id="se3">
                            <tr class="table-active">
                                <th class="thno">ลำดับ</th>
                                <th class="thid">รหัสบัญชี</th>
                                <th class="thname">ชื่อบัญชี</th>
                                <th class="thtype">ประเภทบัญชี</th>
                                <th class="thaction">เลือก</th>
                            </tr>
                        </thead>
                        <tbody id="da3">
                            <% if(nameacc3){%>
                                <% for (var i=0; i < nameacc3.length; i++) { %>
                                    <tr <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%= nameacc3[i].nameaccid %>').prop('checked', !$('#xxxid<%= nameacc3[i].nameaccid %>').prop('checked'));" <% } %>>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc3[i].code %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc3[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc3[i].typename %>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="xxx"
                                                            value="<%= nameacc3[i].nameaccid %>"
                                                            id="xxxid<%= nameacc3[i].nameaccid %>"
                                                            class="<% if(x[check_box_no]==0){ %> inputchartT inputchart3<% }else{%> inputchartF <%} %>"
                                                            <% if(x[check_box_no]==1){ %>checked onclick="return false"
                                                        <% } %>
                                                            <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%=nameacc3[i].nameaccid %>').prop('checked',!$('#xxxid<%= nameacc3[i].nameaccid %>').prop('checked'));" <% } %>>

                                                    </td>
                                    </tr> <%check_box_no++%>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                    <br>

                    <script>
                        $(document).ready(function () {
                            $("#da4").hide();
                            $("#se4").click(function () {
                                $("#da4").toggle('fast');
                            });
                        });
                    </script>

                    <h2>หมวดที่ 4 <%= nameacc9[0].categoryname %>
                    </h2>
                    <div class="text-right mb-2 ">
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart4()" id="selectal4">หมวด4ทั้งหมด</a>
                        <script>
                            $(document).ready(function () {
                                $("#selectal4").click(function () {
                                    $("#da4").show('fast');
                                });
                            });
                            function check_Select_Chart4() {
                                $('.inputchart4').prop("checked", !$('.inputchart4').prop("checked"));
                            }
                        </script>
                    </div>
                    <table class="table table-bordered table-hover table-responsive">
                        <thead id="se4">
                            <tr class="table-active">
                                <th class="thno">ลำดับ</th>
                                <th class="thid">รหัสบัญชี</th>
                                <th class="thname">ชื่อบัญชี</th>
                                <th class="thtype">ประเภทบัญชี</th>
                                <th class="thaction">เลือก</th>
                            </tr>
                        </thead>
                        <tbody id="da4">
                            <% if(nameacc4){%>
                                <% for (var i=0; i < nameacc4.length; i++) { %>
                                    <tr <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%= nameacc4[i].nameaccid %>').prop('checked', !$('#xxxid<%= nameacc4[i].nameaccid %>').prop('checked'));" <% } %>>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc4[i].code %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc4[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc4[i].typename %>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="xxx"
                                                            value="<%= nameacc4[i].nameaccid %>"
                                                            id="xxxid<%= nameacc4[i].nameaccid %>"
                                                            class="<% if(x[check_box_no]==0){ %> inputchartT inputchart4<% }else{%> inputchartF <%} %>"
                                                            <% if(x[check_box_no]==1){ %>checked onclick="return false"
                                                        <% } %>
                                                            <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%=nameacc4[i].nameaccid %>').prop('checked',!$('#xxxid<%= nameacc4[i].nameaccid %>').prop('checked'));" <% } %>>

                                                    </td>
                                    </tr><%check_box_no++%>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                    <br>

                    <script>
                        $(document).ready(function () {
                            $("#da5").hide();
                            $("#se5").click(function () {
                                $("#da5").toggle('fast');
                            });
                        });
                    </script>

                    <h2>หมวดที่ 5 <%= nameacc10[0].categoryname %>
                    </h2>
                    <div class="text-right mb-2 ">
                        <a class="btn btn-outline-primary" onclick="check_Select_Chart5()" id="selectal5">หมวด5ทั้งหมด</a>
                        <script>
                            $(document).ready(function () {
                                $("#selectal5").click(function () {
                                    $("#da5").show('fast');
                                });
                            });
                            function check_Select_Chart5() {
                                $('.inputchart5').prop("checked", !$('.inputchart5').prop("checked"));
                            }
                        </script>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md">
                        <thead id="se5">
                            <tr class="table-active">
                                <th class="thno">ลำดับ</th>
                                <th class="thid">รหัสบัญชี</th>
                                <th class="thname">ชื่อบัญชี</th>
                                <th class="thtype">ประเภทบัญชี</th>
                                <th class="thaction">เลือก</th>
                            </tr>
                        </thead>
                        <tbody id="da5">
                            <% if(nameacc5){%>
                                <% for (var i=0; i < nameacc5.length; i++) { %>
                                    <tr <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%= nameacc5[i].nameaccid %>').prop('checked', !$('#xxxid<%= nameacc5[i].nameaccid %>').prop('checked'));" <% } %>>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc5[i].code %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc5[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= nameacc5[i].typename %>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="xxx"
                                                            value="<%= nameacc5[i].nameaccid %>"
                                                            id="xxxid<%= nameacc5[i].nameaccid %>"
                                                            class="<% if(x[check_box_no]==0){ %> inputchartT inputchart5<% }else{%> inputchartF <%} %>"
                                                            <% if(x[check_box_no]==1){ %>checked onclick="return false"
                                                        <% } %>
                                                            <% if(x[check_box_no]==0){ %> onclick="$('#xxxid<%=nameacc5[i].nameaccid %>').prop('checked',!$('#xxxid<%= nameacc5[i].nameaccid %>').prop('checked'));" <% } %>>

                                                    </td>
                                    </tr> <%check_box_no++%>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                    <br>
                    <br><br>
                    <div class="text-right">
                        <button class="btn btn-success" type="submit">บันทึก</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
  </div>

<%-include('../../_footer.ejs')%>
