<%if (data4.length > 0) {%>
  <%-include('../../_header.ejs')%>
<%}else {%>
  <%-include('../../_first_header.ejs')%>
<%}%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h3 class="text-info" align="left">
                <% if (data4.length==0){%>สร้างแฟ้มเริ่มต้นระบบ <%}else{%> สร้างแฟ้มต้นระบบสาขาที่ <%=data4.length %><%}%>
              </h3>
            </div>
            <div class="col-3">
              <div class="text-right">
                <a href="/company" class="btn btn-outline-dark"> กลับ </a>
              </div>
            </div>
          </div>

            <hr>
            <form action="/company/save" method="POST" class="form-group">
              <table class="table table-bordered table-responsive-md">
                <thead>
                  <tr>
                    <th width="20%">ชื่อกิจการ</th>
                    <td>
                      <% if (data4.length> 0) { %>
                        <input type="hidden" name="com_id" value="<%= data4[0].id %>">
                      <%}%>
                      <input type="text" name="name" class="form-control" placeholder="" required value="<% if (data4.length > 0) { %><%= data4[0].name %><% } %>">
                    </td>
                  </tr>
                  <tr>
                    <th>ชื่อสาขา</th>
                    <td><input type="text" name="namebranch" class="form-control" placeholder="" required></td>
                  </tr>
                  <tr>
                    <th>รหัสสาขา</th>
                    <td><input type="text" name="branchNo" class="form-control" placeholder="" required></td>
                  </tr>
                  <tr>
                    <th class="align-middle">ที่อยู่</th>
                    <td>
                      <table class="table table-brodered table-responsive-md">
                        <tbody>
                          <tr>
                            <td width="30%">บ้านเลขที่ -ถนน -ซอย</td>
                            <td width="70%"><input type="text" name="address" class="form-control" required></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-brodered table-responsive-md">
                        <tbody>
                          <tr>
                            <td width="15%">จังหวัด</td>
                            <td width="35%">
                              <select id="getResultOption" class="form-control" name="provinces_id" required>
                                <option value=""></option>
                                <%if (provinces) {%>
                                  <%for (var i = 0; i < provinces.length; i++) {%>
                                    <option id="test1" value="<%=provinces[i].id%>"><%=provinces[i].name_th%></option>
                                  <%}%>
                                <%}%>
                              </select>
                            </td>
                            <td width="15%">อำเภอ</td>
                            <td width="35%">
                              <select id="getAmphuresOption" class="form-control" name="amphures_id" required>
                                <option></option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>ตำบล</td>
                            <td>
                              <select id="getDistrictsOption" class="form-control" name="districts_id" required>
                                <option></option>
                              </select>
                            </td>
                            <td>รหัสไปรษณีย์</td>
                            <td>
                              <div id="getPost" class="">
                                <input id="changPost" type="text" value="" class="form-control" required>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th>โทรศัพท์</th>
                    <td><input type="text" name="phone" class="form-control" id="exampleInputPassword1" placeholder="" required></td>
                  </tr>
                  <% if (data4.length == 0) { %>
                    <tr>
                      <th>ทะเบียนการค้าเลขที่</th>
                      <td><input type="text" name="tradeNumber" class="form-control" id="exampleInputPassword1" placeholder="" required></td>
                    </tr>
                    <tr>
                      <th>เลขประจำตัวผู้เสียภาษี</th>
                      <td><input type="text" name="taxID" class="form-control" id="exampleInputPassword1" placeholder="" required></td>
                    </tr>
                    <tr>
                      <th>วันที่เริ่มต้นงวด</th>
                      <td> <input type="date" name="periodAcc" class="form-control" id="exampleInputPassword1" placeholder="" required></td>
                    </tr>
                    <tr>
                      <th class="align-middle">ประเภทกิจการ</th>
                      <td>
                        <select class='form-control' name='typebusiness_id' placeholder="กรุณาเลือก">
                          <option> กรุณาเลือก </option>
                          <% if(data1) { %>
                            <% for(var i=0; i<data1.length; i++){ %>
                              <option value="<%= data1[i].id %>"><%= data1[i].name %></option>
                            <%}%>
                          <%}%>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="align-middle">ระบบสมุดรายวันทั่วไป</th>
                      <td>
                        <div style="margin-left: 10px;">
                          <% for(var i=0 ; i<data2.length; i++) {%>
                            <input type="radio" id="customRadio2" name="GeneralBook_id" value="<%= data2[i].id%>" <% if(i> 0){ %> style="margin-left: 20px" <% } %> >
                            <label for="customRadio2">
                              <%= data2[i].name%>
                            </label>
                          <%}%>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="align-middle"> รูปแบบงบกำไรขาดทุน</th>
                      <td>
                          <% for(var i=0 ; i<data3.length; i++) {%>
                            <div style="margin-left: 10px;">
                              <input type="radio" id="customRadio2" name="template_id" value="<%= data3[i].id%>">
                              <label for="customRadio2"><%= data3[i].name%></label>
                            </div>
                          <%}%>
                      </td>
                    </tr>
                  <%}else{ %>
                    <input type="hidden" name="tradeNumber" class="form-control" id="exampleInputPassword1" placeholder="" required value="<%= data4[0].tradeNumber %>">
                    <input type="hidden" name="taxID" class="form-control" id="exampleInputPassword1" placeholder="" required value="<%= data4[0].taxID %>">
                    <input type="hidden" name="periodAcc" class="form-control" id="exampleInputPassword1" placeholder="" required value="<%= data4[0].periodAcc.toISOString().split('T')[0] %>">
                    <input type="hidden" class='form-control' name='typeBusiness_id' placeholder="กรุณาเลือก" value="<%=data4[0].typeBusiness_id %>">
                    <input type="hidden" value="<%= data4[0].GeneralBook_id%>">
                    <input type="hidden" value="<%= data4[0].template_id %>">
                  <%}%>
                  <tr>
                    <th>ไม่อนุญาตให้ลบหรือแก้ไข</th>
                    <td><input type="checkbox" id="customRadio2" name="edit" value="1"></td>
                  </tr>
                </thead>
              </table>
              <br>
              <div class="text-right">
                <button type="submit" class="btn btn-success text-rigth">ตกลง</button>
              </div>
            </from>
          </div>
        </div>
      </div>
    </div>

<%-include('../../_footer.ejs')%>
