<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" align="left">รายละเอียดเกี่ยวกับธุระกิจ</h3>
              </div>
              <div class="col-3">
                <div class="text-right">
                  <a href="/company" class="btn btn-outline-dark ">กลับ</a>
                </div>
              </div>
            </div>

            <hr>
            <% for (var i = 0; i<data4.length ; i++){ %>
              <form action="/company/update/<%= data4[i].id %>" method="Post">
                <style>
                  #t {
                    vertical-align: middle;
                  }
                </style>
                <table class="table table-bordered table-responsive-md">
                  <thead>
                    <input type="hidden" name="com_id" value="<%= data4[i].com_id %>">
                    <tr>
                      <th width="200px" class="table-active">ชื่อกิจการ</th>
                      <td> <input type="text" name="name" value="<%= data4[i].name %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="table-active">ชื่อสาขา </th>
                      <td><input type="text" name="namebranch" value="<%= data4[i].namebranch %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="table-active">รหัสสาขา </th>
                      <td><input type="text" name="branchNo" value="<%= data4[i].branchNo %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="align-middle table-active" >ที่อยู่ </th>
                      <td>
                        <table class="table table-brodered table-responsive-md">
                          <tbody>
                            <tr>
                              <td width="160px" class="table-active">บ้านเลขที่ -ถนน -ซอย</td>
                              <td><input type="text" name="address" value="<%= data4[i].address %>" class="form-control" required></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-brodered table-responsive-md">
                          <tbody>
                            <tr>
                              <td width="120px" class="table-active">จังหวัด</td>
                              <td width="270px">
                                <select id="getResultOption" class="form-control" name="provinces_id" required>
                                  <option value=""></option>
                                  <%if (provinces) {%>
                                    <%for (var j = 0; j < provinces.length; j++) {%>
                                      <option id="test1" value="<%=provinces[j].id%>" <%if(data4[i].provinces_id == provinces[j].id){%>selected<%}%>><%=provinces[j].name_th%></option>
                                    <%}%>
                                  <%}%>
                                </select>
                              </td>
                              <td width="120px" class="table-active">อำเภอ</td>
                              <td>
                                <select id="getAmphuresOption" class="form-control" name="amphures_id" required>
                                  <%for (var j = 0; j < amphures.length; j++) {%>
                                    <option value="<%=amphures[j].id%>" <%if (data4[i].amphures_id == amphures[j].id) {%>selected<%}%>><%=amphures[j].name_th%></option>
                                  <%}%>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="table-active">ตำบล</td>
                              <td>
                                <select id="getDistrictsOption" class="form-control" name="districts_id" required>
                                  <%for (var j = 0; j < districts.length; j++) {%>
                                    <option value="<%=districts[j].id%>" <%if (data4[i].districts_id == districts[j].id) {%>selected<%}%>><%=districts[j].name_th%></option>
                                  <%}%>
                                </select>
                              </td>
                              <td class="table-active">รหัสไปรษณีย์</td>
                              <td>
                                <div id="getPost" class="">
                                  <input id="changPost" type="text" value="<%for (var j = 0; j < districts.length; j++) { if (data4[i].districts_id == districts[j].id) {%><%=districts[j].zip_code%><%}%><%}%>" class="form-control" required>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <th class="table-active">โทรศัพท์ </th>
                      <td><input type="text" name="phone" value="<%= data4[i].phone %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="table-active">ทะเบียนการค้าเลขที่ </th>
                      <td><input type="text" name="tradeNumber" value="<%= data4[i].tradeNumber %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="table-active">เลขประจำตัวผู้เสียภาษี </th>
                      <td><input type="text" name="taxID" value="<%= data4[i].taxID %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="table-active">วันที่เริ่มต้นงวด</th>
                      <td><input type="date" name="periodAcc" value="<%= data4[i].periodAcc.toISOString().split('T')[0] %>" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th class="align-middle table-active" >ประเภทกิจการ </th>
                      <td>
                        <select class='form-control' name='typeBusiness_id' placeholder="กรุณาเลือก">
                          <option> กรุณาเลือก </option>
                          <% if(data1) { %>
                            <% for(var j=0; j<data1.length; j++){ %>
                              <option value="<%= data1[j].id %>"<%if (data1[j].id == data4[i].typeBusiness_id ) { %>selected <% } %> ><%= data1[j].name %></option>
                            <%}%>
                          <%}%>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="align-middle table-active">ระบบสมุดรายวันทั่วไป </th>
                      <td>
                        <p>
                          <div style="margin-left: 10px;">
                            <% for(var j=0 ; j<data2.length; j++) {%>
                              <input type="radio" id="customRadio2" name="GeneralBook_id" value="<%= data2[j].id%>" <% if(j> 0){%>style="margin-left: 20px"<% } %> <% if (data2[j].id == data4[i].GeneralBook_id ) {%>checked <%}%> >
                              <label for="customRadio2"><%= data2[j].name %></label>
                            <%}%>
                          </div>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <th class="align-middle table-active">รูปแบบงบกำไรขาดทุน </th>
                      <td>
                        <p>
                          <% for(var j=0 ; j<data3.length; j++) {%>
                            <div style="margin-left: 10px;">
                              <input type="radio" id="customRadio2" name="template_id" value="<%= data3[j].id%>" <%if (data3[j].id == data4[i].template_id ) { %>checked <% } %>>
                              <label for="customRadio2"><%= data3[j].name%></label>
                            </div>
                          <%}%>
                        </p>
                      </td>
                    </tr>
                    <%if (data4[i].com_id == null) {%>
                      <tr>
                        <td colspan="2" class="text-center">
                          <input type="checkbox" name="allow" value="1" id="allow">
                          <label for="allow">ให้แก้ไขในสาขาด้วย</label>
                        </td>
                      </tr>
                    <%}%>
                    <tr>
                      <th colspan="2" class="text-right">
                        <button class="btn btn-success" type="submit">ตกลง</button>
                      </th>
                    </tr>
                  </thead>
                </table>
              </form>
            <%} %>
          </div>
      </div>
    </div>
  </div>

<%-include('../../_footer.ejs')%>
