<%if (data.length > 0) {%>
  <%-include('../../_header.ejs')%>
<%}else {%>
  <%-include('../../_first_header.ejs')%>
<%}%>
  <link rel="stylesheet" href="/dist/css/background.css">
  <!-- <script src="/dist/js/company.js" crossorigin="anonymous"></script> -->
  <% if(data.length == 0 ) { %>

    <body class="background1">
      <p class="pigture"><img src="/dist/pigture/p.png" alt=""></p>
      <div style="margin-left: 39%; margin-top : -3%">
        <font size="20">สร้างธุระกิจของคุณ</font>
      </div>
      <p style="margin-left: 46%; margin-top: 2%"><a class="btn btn-primary btn-lg" href="/company/add" role="button" style="border-radius: 8px;">สร้างบริษัท</a></p>
    </body>
  <%}else{ %>
        <div class="row">
          <div class="col-md-12">
            <div class="card mt-5">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h3 class="text-info" align="left">รายละเอียดเกี่ยวกับธุระกิจ</h3>
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a href="/company/add" class="btn btn-success">เพิ่มสาขา</a>
                    </div>
                  </div>
                </div>

                <hr>

                <% for (var i=0; i< data.length ; i++) {%>
                  <% if(data[i].com_id == null){ %>
                    <div class="row">
                      <div class="col-9">
                        <h3 align="left" >สำนักงานใหญ่</h3>
                      </div>
                      <div class="col-3">
                        <div class="text-right">
                          <label for="tbody<%=i%>" onclick="showTb(this)"><a href="javascript:void(0)"><i class="fa fa-arrow-down"></i> รายละเอียด</a></label>
                        </div>
                      </div>
                    </div>
                  <% }else{ %>
                    <br><hr>
                    <div class="row">
                      <div class="col-9">
                        <h3 align="left">สาขา <%=i%></h3>
                      </div>
                      <div class="col-3">
                        <div class="text-right">
                          <label for="tbody<%=i%>" onclick="showTb(this)"><a href="javascript:void(0)"><i class="fa fa-arrow-down"></i> รายละเอียด</a></label>
                        </div>
                      </div>
                    </div>
                  <%}%>
                  <table class="table table-bordered table-responsive-md">
                    <thead>
                      <tr>
                        <th width="20%" class="table-active" >ชื่อกิจการ</th>
                        <td width="30%"><%= data[i].name %></td>
                        <th width="10%" class="table-active">ชื่อสาขา </th>
                        <td width="15%"><%= data[i].namebranch %></td>
                        <th width="10%" class="table-active">รหัสสาขา </th>
                        <td width="15%"><%= data[i].branchNo %></td>
                      </tr>
                    </thead>
                    <tbody id="tbody<%=i%>">
                      <tr>
                        <th class="align-middle table-active">ที่อยู่ </th>
                        <td colspan="5">
                          <table class="table table-bordered table-responsive-md">
                            <tr>
                              <td width="30%" class="table-active">บ้านเลขที่ -ถนน -ซอย</td>
                              <td width="70%"><%= data[i].address %></td>
                            </tr>
                          </table>
                          <table class="table table-bordered table-responsive-md">
                            <tr>
                              <td width="15%" class="table-active">จังหวัด</td>
                              <td width="35%"><%=data[i].provinces%></td>
                              <td width="15%" class="table-active">อำเภอ</td>
                              <td width="35%"><%=data[i].amphures%></td>
                            </tr>
                            <tr>
                              <td class="table-active">ตำบล</td>
                              <td><%=data[i].districts%></td>
                              <td class="table-active">รหัสไปรษณีย์</td>
                              <td><%=data[i].post%></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-active">โทรศัพท์ </th>
                        <td colspan="5"><%= data[i].phone %></td>
                      </tr>
                      <tr>
                        <th class="table-active">ทะเบียนการค้าเลขที่ </th>
                        <td colspan="5"><%= data[i].tradeNumber %></td>
                      </tr>
                      <tr>
                        <th class="table-active">เลขประจำตัวผู้เสียภาษี </th>
                        <td colspan="5"><%= data[i].taxID %></td>
                      </tr>
                      <tr>
                        <th class="table-active">รอบบัญชี</th>
                        <td colspan="5"><%= data[i].periodAccw %></td>
                      </tr>
                      <tr>
                        <th class="table-active">ประเภทกิจการ </th>
                        <td colspan="5"><%= data[i].tname %></td>
                      </tr>
                      <tr>
                        <th class="table-active">ระบบสมุดรายวันทั่วไป </th>
                        <td colspan="5"><%= data[i].gname %></td>
                      </tr>
                      <tr>
                        <th class="table-active">รูปแบบงบกำไรขาดทุน </th>
                        <td colspan="5"><%= data[i].temname %></td>
                      </tr>
                      <tr>
                        <th colspan="6" class="text-right">
                          <a href="/company/edit/<%= data[i].id %>" class="btn btn-info" type="hidden"><i class="far fa-edit"></i> แก้ไข</a>
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"><i class="fa fa-trash"></i> ลบ</button>
                        </th>
                      </tr>
                    </tbody>
                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            ต้องการลบข้อมูล หรือไม่ ?
                          </div>
                          <div class="modal-footer">
                            <form action="/company/delete/<%=data[i].id %>" class="form-group" method="get">
                              <button type="submit" class="btn btn-danger">ยืนยัน</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </table>
                <%}%>
              </div>
            </div>
          </div>
        </div>
  <%}%>
  <script type="text/javascript">
    $('tbody[id^=tbody]').hide();
    function showTb(tb){
      var tbs = $(tb).closest("label").attr('for');
      var font = $(tb).closest('label').find('i').attr('class');
      if (font == "fa fa-arrow-down") {
        $(tb).closest('label').find('i').attr('class','fa fa-arrow-up');
        $('tbody#'+tbs).show();
      }else{
        $(tb).closest('label').find('i').attr('class','fa fa-arrow-down');
        $('tbody#'+tbs).hide();
      }
      console.log(font);
    }
  </script>

  <%-include('../../_footer.ejs')%>
