<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>PTT EMPLOYEE INFORMATOIN</title>
  <link href="/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <script src="/dist/assets/vendor/jquery/jquery.min.js"></script>
  <link rel="icon" type="png" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png"/>
  <link href="/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <!-- <link href="/dist/css/custom.min.css" rel="stylesheet" crossorigin="anonymous" /> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet"/> -->
  <!-- <script src="/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">บัญชีแยกประเภท</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">หน้าหลัก
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<section id="services" class="services">
  <div class="container-fluid">
<% if(session.check == false){%>
  <% session.check = null; %>
  <div class="alert-danger"><h3 class="text-center"><%= session.warning %></h3></div>
<% } %>
