  </div>
</section>
<footer id="footer">
    <div class="container d-md-flex py-2">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>DH-PTT & CRRU</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by developer DH-PTT & CRRU
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/?lang=th" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/profile" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.skype.com/" class="google-plus"><i class="bx bxl-skype"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <script type="text/javascript">
    $(function(){
        var current = location.pathname;
        $('#mySidenav a').each(function(){
          var $this = $(this);
          if($this.attr('href') == current){
            $this.addClass('active');
          }
        });
      });
  </script>

  <!-- Vendor JS Files -->
  <script src="/dist/js/popper.min.js"></script>
  <script src="/dist/assets/vendor/bootstrap/js/bootstrap.js"></script>
  <script src="/dist/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/dist/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/dist/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/dist/assets/vendor/php-email-form/validate.js"></script>
  <script src="/dist/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/dist/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/dist/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/dist/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/dist/assets/js/main.js"></script>

<script src="/dist/js/jquery.dataTables.min.js"></script>
<script src="/dist/js/dataTables.bootstrap5.min.js"></script>

<script src="/getreqamphures.js"></script>
<script src="/getreqdistricts.js"></script>
<script src="/getreqpost.js"></script>



</body>

</html>
