<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>General Ledger By DH-PTT & CRRU</title>
  <link href="/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <script src="/dist/assets/vendor/jquery/jquery.min.js"></script>
  <link rel="icon" type="png" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png"/>
  <link href="/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />

  <!-- Vendor CSS Files -->

  <link href="/dist/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/dist/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/dist/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/dist/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/dist/assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/dataTables.bootstrap5.min.css">

  <!-- Template Main CSS File -->
  <link href="/dist/assets/css/style.css" rel="stylesheet">
  <script src="/dist/js/qrcode.min.js" charset="utf-8"></script>
  <script src="/dist/js/JsBarcode.all.min.js" charset="utf-8"></script>
</head>

<body>
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">Accounting</a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a href="/">หน้าแรก</a></li>
        <li><a href="/company">กิจการ</a></li>
        <li><a href="/projectgl">โครงการ</a></li>
        <li class="drop-down"><a href="#">รายการบันทึก</a>
          <ul>
            <li><a href="/gl">บัญชีแยกประเภท</a></li>
            <li><a href="/beginning">รายการยอดยกมา</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="#">แฟ้มบัญชี</a>
          <ul>
            <li><a href="/chart">เพิ่ม/แก้ไข บัญชี</a></li>
            <li><a href="#/chat/report/setting">ตั้งค่าบัญชีออกรายงาน</a></li>
          </ul>
        </li>
        <li><a href="/bank/list">ธนาคาร</a></li>
        <li><a href="/report">จัดทำรายงาน</a></li>
        <li><a href="/human/list">HR</a></li>
        <li><a href="/setting/expenses_head">ตั้งค่า</a></li>
        <% if(session.login == false){ %>
          <li><a href="/login">เข้าสู่ระบบ</a></li>
        <% }else{ %>
          <li><a href="/logout">ออกจากระบบ <%= session.user_firstname %> <%= session.user_lastname %></a></li>
        <% } %>
        <!-- <li class="drop-down"><a href="#">example</a>
          <ul>
            <li><a href="/product">product</a></li>
            <li><a href="/purchase_order">สร้างใบสั่งซื้อ</a></li>
            <li><a href="/debtor">ผู้ติดต่อ</a></li>
          </ul>
        </li> -->
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
<section id="services" class="services">
  <div class="container-fluid">
<!-- <script type="text/javascript">
$(document).ready(function() {
  $('#nav-menu-bar li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
  console.log(location.pathname);
});
</script> -->

<% if(session.check == true){%>
  <% session.check = null; %>
  <div class="alert-danger"><h3 class="text-center"><%= session.success %></h3></div>
<% } %>

<% if(session.check == false){%>
  <% session.check = null; %>
  <div class="alert-danger"><h3 class="text-center"><%= session.warning %></h3></div>
<% } %>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- <% if(session.loginWelcome==true){ session.loginWelcome=null; %>
  <script>
    Swal.fire('เข้าสู่ระบบ สำเร็จ!! <br> สวัสดี คุณ <%= session.user_firstname %> <%= session.user_lastname %>' );
  </script>
  <% } %> -->





  <script>
    var textalert = '';
    var datatextalert = '<%= session.sweetalert2text %>';
    var datatextalert = datatextalert.split("/*/");

    for (var i = 0; i < datatextalert.length; i++) {
      textalert = textalert + datatextalert[i] ;
      if (i!=datatextalert.length-1) {
        textalert = textalert + '<br>';
      }
    }

    $(function(){
        var current = location.pathname;
        $('nav.nav-menu ul li a').each(function(){
          var $this = $(this);
          if($this.attr('href') == current){
            $this.addClass('active');
            $('ul a[href="'+ current +'"]').parents('li').addClass('active');
          }
        });
      });
  </script>
  <% if(session.sweetalert2check == 'true'){ %>
    <% session.sweetalert2check = null; %>
    <script>
      Swal.fire(textalert );
    </script>
  <% }else if(session.sweetalert2check == 'success'){ %>
    <% session.sweetalert2check = null; %>
    <script>
            Swal.fire({icon:'success',text:textalert });
    </script>
  <% }else if(session.sweetalert2check == 'error'){%>
    <% session.sweetalert2check = null; %>
    <script>
            Swal.fire({icon:'error',text:textalert });
    </script>
  <% }else if(session.sweetalert2check == 'warning'){%>
    <% session.sweetalert2check = null; %>
    <script>
            Swal.fire({icon:'warning',text:textalert });
    </script>
  <% }else if(session.sweetalert2check == 'info'){%>
    <% session.sweetalert2check = null; %>
    <script>
            Swal.fire({icon:'info',text:textalert });
    </script>
  <% }else if(session.sweetalert2check == 'question'){%>
    <% session.sweetalert2check = null; %>
    <script>
            Swal.fire({icon:'question',text:textalert });
    </script>
  <% } %>
