<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">

            <%-include('../asset_sidebar.ejs')%>

            <div id="main">

              <div class="row">
                <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                <h3 class="text-info">บันทึกค่าเสื่อมราคา</h3>
              </div>

              <hr>

              <ul class="nav nav-tabs" id="calDepTab">
                <li class="nav-link tablinks active" onclick="openCity(event, 'timeCalDep')"><a data-toggle="tab" href="#timeCalDep">ตารางคำนวณค่าเสื่อมราคา</a></li>
                <li class="nav-link tablinks" onclick="openCity(event, 'accountCalDep')"><a data-toggle="tab" href="#accountCalDep">บันทึกบัญชีค่าเสื่อมราคา</a></li>
              </ul>
              <hr>
              <%var m = ["มกราคม","ธันวาคม"]
              var d = new Date(); year = d.getFullYear(); var fdate = "01 "+m[0]+" "+year; var ldate = "31 "+m[1]+" "+year;%>
              <div class="mt-3">
                <div class="tab-content">
                  <div id="timeCalDep" class="tabcontent">
                    <div class="responsive-md responsive-lg">
                      <table class="table table-borderless table-responsive-md table-responsive-sm">
                        <tr>
                          <th width="46%">ช่วงเวลาที่ต้องการคิดค่าเสื่อม</th>
                          <th width="18%">รวมรายการสินทรัพย์</th>
                          <th width="18%">รวมค่าเสื่อมราคาของงวด</th>
                          <th width="18%">รวมราคาตามบัญชีใหม่</th>
                        </tr>
                        <tr>
                          <td>
                            <div style="width: 70%;">
                              <div class="input-group">
                                <button class="btn btn-outline-secondary" href="#"><i class="fa fa-angle-left"></i></button>
                                <input class="form-control" type="text" name="" value="<%=fdate+' - '+ldate%>">
                                <button class="btn btn-outline-secondary" href="#"><i class="fa fa-angle-right"></i></button>
                              </div>
                            </div>
                          </td>
                          <td><h2 class="text-secondary">1 รายการ</h2></td>
                          <td><h2 class="text-info">0.00</h2></td>
                          <td><h2 class="text-info">0.00</h2></td>
                        </tr>
                      </table>
                        <table class="table table-borderless table-responsive-md">
                          <thead>
                            <tr>
                              <th></th>
                              <th>รหัสสินทรัพย์</th>
                              <th>ชื่อสินทรัพย์</th>
                              <th>วันที่เริ่มใช้งาน</th>
                              <th>ราคาซื้อ</th>
                              <th>ค่าเสื่อมราคาสะสมยกมา</th>
                              <th>ราคาตามบัญชียกมา</th>
                              <th>
                                <select class="form-control" name="">
                                  <option value="">ค่าเสื่อมต่อปี (%)	</option>
                                  <option value="">อายุการใช้งาน (ปี)	</option>
                                </select>
                              </th>
                              <th>จำนวนวัน</th>
                              <th>ค่าเสื่อมราคาของงวด</th>
                              <th>ราคาตามบัญชีใหม่</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th></th>
                              <th colspan="2">เฟอร์นิเจอร์และตกแต่งสำนักงาน</th>
                              <th></th>
                              <th>0.00</th>
                              <th>0.00</th>
                              <th>0.00</th>
                              <th>0.00</th>
                              <th>0.00</th>
                              <th>0.00</th>
                              <th>0.00</th>
                            </tr>
                            <tr>
                              <td></td>
                              <td>1235</td>
                              <td>what</td>
                              <td>2021-01-01</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                  <div id="accountCalDep" class="tabcontent">
                    <div class="input-group">
                      <table class="table table-borderless table-responsive-md table-responsive-sm">
                        <tr>
                          <th width="46%">งวดบัญชีที่บันทึกรายการ</th>
                          <th width="18%"></th>
                          <th width="18%"></th>
                          <th width="18%">รวมค่าเสื่อมราคาที่บันทึก</th>
                        </tr>
                        <tr>
                          <td>
                            <div style="width: 70%;">
                              <div class="input-group">
                                <button class="btn btn-outline-secondary" href="#"><i class="fa fa-angle-left"></i></button>
                                <input class="form-control" type="text" name="" value="<%=fdate+' - '+ldate%>">
                                <button class="btn btn-outline-secondary" href="#"><i class="fa fa-angle-right"></i></button>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td><h2 class="text-info">0.00</h2></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  if (i > 0) {
                    tabcontent[i].style.display = "none";
                  }
                }
                function openCity(evt, tabgl) {
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablinks");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                  }
                  document.getElementById(tabgl).style.display = "block";
                  evt.currentTarget.className += " active";
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

<script src="dist/js/sidebar.js"></script>

<%-include('../../_footer')%>
