<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h3 class="text-info">สร้างหมวดหมู่สินทรัพย์</h3>
            <span>รายละเอียดหมวดหมู่สินทรัพย์</span>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="float-right">
              <a class="btn btn-outline-dark" href="/category_asset_setting">กลับ</a>
            </div>
          </div>
        </div>

        <hr>
        <form class="form-group" action="index.html" method="post">
          <table class="table table-borderless table-responsive-md table-responsive-sm">
            <tr>
              <th width="20%">ชื่อหมวดหมู่:</th>
              <td><input class="form-control" type="text" name="" value=""></td>
            </tr>
            <tr>
              <th>ชื่อหมวดหมู่(EN):</th>
              <td><input class="form-control" type="text" name="" value=""></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <div class="input-group">
                  <input class="form-check" type="checkbox" name="" value="" checked id="calDep" onclick="calDepCheck()">
                  <label for="calDep"><b>คิดค่าเสื่อมราคาสินทรัพย์นี้</b></label>
                </div>
              </td>
            </tr>
            <tr class="calDepGroup">
              <th>อายุการใช้งานทางบัญชี (ปี):</th>
              <td><input class="form-control" type="text" name="" value=""></td>
            </tr>
            <tr class="calDepGroup">
              <th>คำนวณค่าเสื่อมต่อปี (%)</th>
              <td><input class="form-control" type="text" name="" value=""></td>
            </tr>
          </table>
          <hr>
          <table class="table table-borderless table-responsive-md table-responsive-sm">
            <tr>
              <th width="20%">บัญชีสินทรัพย์:</th>
              <td>
                <select class="form-control" name="">
                  <option value="">test</option>
                  <option value="">test2</option>
                </select>
              </td>
            </tr>
            <tr class="calDepGroup">
              <th>บัญชีค่าเสื่อมราคา:</th>
              <td>
                <select class="form-control" name="">
                  <option value="">test</option>
                  <option value="">test2</option>
                </select>
              </td>
            </tr>
            <tr class="calDepGroup">
              <th>บัญชีค่าเสื่อมราคาสะสม: </th>
              <td>
                <select class="form-control" name="">
                  <option value="">test</option>
                  <option value="">test2</option>
                </select>
              </td>
            </tr>
          </table>
          <hr>
          <div class="text-right">
            <button class="btn btn-success" type="submit" name="button">บันทึก</button>
          </div>
        </form>

        <script type="text/javascript">
          $('.calDepGroup').show();
          var calDep = document.getElementById('calDep');
          function calDepCheck(){
            if (calDep.checked == true) {
              $('.calDepGroup').show();
            }else {
              $('.calDepGroup').hide();
            }
          }
        </script>

      </div>
    </div>
  </div>
</div>

<%-include('../../_footer')%>
