<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <%-include('../asset_sidebar.ejs')%>

        <div id="main">
          <div class="row">
            <div class="col-md-6">
              <div class="text-left">
                <div class="row">
                  <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                  <h3 class="text-info">ตั้งค่าหมวดหมู่สินทรัพย์</h3>
                </div>
                <h5>หมวดหมู่สินทรัพย์ในธุรกิจของคุณ</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="float-right">
                <a class="btn btn-success" href="/category_asset_setting/add">เพิ่มหมวดหมู่ทรัพย์สิน</a>
              </div>
            </div>
          </div>

          <hr>

          <div style="width: 100%;">
            <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
              <thead class="table-bordered">
                <tr class="bg-info">
                  <th width="30%">ชื่อหมวดหมู่</th>
                  <th width="20%">บัญชีสินทรัพย์</th>
                  <th width="20%">บัญชีที่ลงค่าเสื่อมราคา</th>
                  <th width="20%">บัญชีที่ลงค่าเสื่อมราคาสะสม</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-left border-right border-bottom">
                  <td> </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('category_asset_setting1')">
                        <i class="fa fa-ellipsis-h"></i>
                      </button>
                      <div id="category_asset_setting1" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="dist/js/sidebar.js"></script>

<%-include('../../_footer')%>
