<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">จัดการรายการปรับเพิ่ม</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success"data-toggle="modal" onclick="add()" data-target="#popup">เพิ่มรายการปรับเพิ่ม</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >รายการ</th>
                      <th >แสดง/ไม่แสดง</th>
 
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (up_list) { %>
                      <% for (var i = 0; i< up_list.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td> <%= up_list[i].name %> </td>
                      <% if(up_list[i].default == 1){ %>
                        <td  value="แสดง"> แสดง </td>
                        <% }else{ %>
                        <td> ไม่แสดง </td>
                        <%  } %>
                      
               

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"  data-toggle="modal" data-target="#popup" onclick="edit('<%= up_list[i].id%>')"><i class="fa fa-edit"></i> แก้ไขข้อมูลรายการปรับเพิ่ม</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= up_list[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูลรายการปรับเพิ่ม</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>       
              </div>
            </div>
          </div>
        </div>
        <%-include('up_list_addedit.ejs')%>
        <%-include('up_list_del.ejs')%>

      

<script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });

});
function add(){
      $("input[name='default']").prop('checked', false);
      $('#yy').prop('selected', true);
      $('#name').val("");
      $('#default').val("");
};
function edit(pp){
  var urlname = '/up_listajax/'+pp
  $('#edit,#editt').addClass('active');
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.up_list[0]
    var id = "/up_listeditcon/" + suc.id
     console.log(id);
     console.log(suc);
     $('#exampleModalLabel').text("แก้ไขข้อมูลธนาคาร");
     $('#name').val(suc.name);
     $('#action').prop('action', id);

     if(suc.default == '1'){
      $("input[name=default][value=" + suc.default + "]").prop('checked', true);
     }else if(suc.default == '0'){
      $("input[name=default][value=" + suc.default + "]").prop('checked', true);
    }else{
      $("input[name='default']").prop('checked', false);;
    }
     
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/up_listajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.up_list[0]
    var succheck = data.up_list_check
    var id = "/up_listdelcon/" + suc.id
     console.log(succheck.length);
     $('#namedel').val(suc.name);

     $("input[name=default][value=" + suc.default + "]").prop('checked', true);
     if(succheck.length >= 1){
      $('#up_listdel').attr("href", "/up_list");
      $('#up_listdel').text('ไม่สามารถลบได้').button("refresh").css("background-color","green");
      $('#colorbutton').button("refresh").css("background-color","green");
     }else{
      $('#up_listdel').text('ลบรายการ').button("refresh").css("background-color","red");
      $('#colorbutton').button("refresh").css("background-color","red");
      $('#up_listdel').attr("href", id);
     }
   
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
