<%-include('../../_header.ejs')%>

      <div class="row">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-body">
              <form action="/creditor/update/<%=creditor[0].id%>" method="POST" class="form-group" name="addcreditor" enctype="multipart/form-data">
              <div class="row">
                <div class="col-9">
                  <h3 class="text-info">แก้ไขรายชื่อเจ้าหนี้</h3>
                </div>
                <div class="col-3">
                  
                  <div class="text-right">
                    <a class="btn btn-outline-dark" href="/creditor">กลับ</a>
                    <button type="submit" class="btn btn-success">ตกลง</button>
                  </div>
                </div>
              </div>
              <hr>
                <%-include('creditoraddform')%>
              </form>
            </div>
          </div>
        </div>
      </div>

  <script type="text/javascript">
    $( document ).ready(function() {
      var creditor = <%-JSON.stringify(creditor)%>;
      var a = 'edit_'+creditor[0].id;
      creditorPopup(a);
    });
  </script>

  <script src="/dist/js/creditors/creditor.js" crossorigin="anonymous"></script>

  <%-include('../../_footer.ejs')%>
