<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
              <div class="row">
                  <div class="col-9">
                    <h2><i class="far fa-sticky-note"></i> ประวัติการชำระ</h2>
                  </div>
              </div>
              <hr>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="receipt-tab" data-toggle="tab" href="#receipt" >ประวัติการซื้อ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="expenses-tab" data-toggle="tab" href="#expenses" >ประวัติค่าใช้จ่าย</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" >ประวัติการชำระหนี้</a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="receipt">
                    <div style="width: 100%;" class="text-right">
                      <br>
                      <label for="">เลือกช่วงเวลา</label>
                        <input type="date" name="date-A" id="seachreceipt-A" >
                        <input type="date" name="date-B" id="seachreceipt-B" >
                        <button type="button"  class="btn btn-info"  id="seachreceipt" onclick="seachreceipt()">ค้นหา</button>
                        
                        <table class="table table-borderless table-hover table-responsive-md table-responsive-lg" id="receipttable">
                          <thead class="table-bordered">
                            <tr class="bg-info">
                              <th width="10%">วันที่</th>
                              <th width="15%">เลขที่เอกสาร</th>
                              <th width="20%">ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค</th>
                              <th width="15%">วันครบกำหนด</th>
                              <th width="15%">ยอดรวมสุทธิ</th>
                              <th width="15%">สถานะ</th>
                            </tr>
                          </thead>
                          <tbody id="table-dateA">
                         
                            <%for (var i = 0; i < receipt.length; i++) { %>
                              <tr class="border-left border-right border-bottom"  ondblclick="window.location.href ='/product_receipt/detail/<%=receipt[i].id%>'">
                                <td><%=receipt[i].dateday%></td>
                                <td><%=receipt[i].receiptchar%><%=receipt[i].receiptordernumber%></td>
                                <td><%=receipt[i].creditors_name%></td>
                                <td><%=receipt[i].dueday%></td>
                                <td><%=receipt[i].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                                <td><%=receipt[i].status%></td>
                              </tr>
                           <%}%>
                        
                          </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade " id="expenses" >
                    <div style="width: 100%;" class="text-right">
                      <br>
                      <label for="">เลือกช่วงเวลา</label>
                        <input type="date" name="date-A" id="seachexpenses-A" >
                        <input type="date" name="date-B" id="seachexpenses-B" >
                        <button type="button"   id="seachexpenses" class="btn btn-success" onclick="seachexpenses()">ค้นหา</button>
                        <table class="table table-borderless table-hover table-responsive-md table-responsive-lg mt-5" id="expensestable">
                          <thead class="table-bordered">
                            <tr class="bg-success">
                              <th width="10%">วันที่</th>
                              <th width="15%">เลขที่เอกสาร</th>
                              <th width="20%">ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค</th>
                              <th width="15%">วันครบกำหนด</th>
                              <th width="15%">ยอดรวมสุทธิ</th>
                              <th width="15%">สถานะ</th>
                            </tr>
                          </thead>
                          <tbody id="table-dateB">
                            <%if(expenses){ %>
                            <%for (var i = 0; i < expenses.length; i++) { %>
                              <tr class="border-left border-right border-bottom" ondblclick="window.location.href ='/expenses/detail/<%=expenses[i].id%>'">
                                <td><%=expenses[i].dateday%></td>
                                <td><%=expenses[i].expenseschar%><%=expenses[i].expensesnumber%></td>
                                <td><%=expenses[i].creditors_name%></td>
                                <td><%=expenses[i].dueday%></td>
                                <td><%=expenses[i].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                                <td><%=expenses[i].status%></td>
                              </tr>
                           <%}%>
                           <%}%>
                          </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="payment" >
                    <div style="width: 100%;" class="text-right">
                      <br>
                      <label for="">เลือกช่วงเวลา</label>
                        <input type="date" name="date-A" id="seachpayment-A" >
                        <input type="date" name="date-B" id="seachpayment-B" >
                        <button type="button"  class="btn btn-primary" id="seachpayment" onclick="seachpayment()">ค้นหา</button>
                      
                        <table class="table table-borderless table-hover table-responsive-md table-responsive-lg mt-5" id="paymenttable">
                          <thead class="table-bordered">
                            <tr class="bg-primary">
                                <th width="10%">วันที่ชำระ</th>
                                <th width="15%">เลขที่เอกสาร</th>
                                <th width="20%">ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค</th>
                                <th width="15%">จำนวนเงินที่ชำระ</th>
                                <th width="15%">ยอดค้างชำระ</th>
                                <th width="15%">ยอดรวมสุทธิ</th>
                                <th width="15%">สถานะ</th>
                            </tr>
                          </thead>
                          <tbody  id="table-dateC">
                            <%if(payment){ %>
                            <%for (var j = 0; j < payment.length; j++) { %>
                              <tr class="border-left border-right border-bottom">
                               <td><%=payment[j].dateday%></td>
                               <td><%=payment[j].chars%><%=payment[j].number %></td>
                               <td><%=payment[j].creditorsname%></td>
                               <td><%=payment[j].net_payout.replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                               <td>
                                 <%if(payment[j].granttotal == payment[j].net_payout){ %>
                                    <%= 0.00 %>
                                 <% }else{ %>
                                    <%= payment[j].balance.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' ) %>
                                 <% }%>
                               </td>
                               <td> <%=payment[j].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                               <td>
                               <t style="color: green;"><b><%=payment[j].status%></b></t>
                              </td>
                              </tr>
                            <%}%>
                            <%}%>
                          </tbody>
                        </table>
                    </div>
                </div>
              </div>

          </div>
          </div>
        </div>
      </div>
    </div>

<script>
  $(document).ready(function() {
    $('#receipttable').DataTable();
    $('#expensestable').DataTable();
    $('#paymenttable').DataTable();
  });
  
    var i, tabcontent, tablinks;
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
  if (i > 0) {
    tabcontent[i].style.display = "none";
  }
}
function openCity(evt, tabgl) {
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("active", "");
  }
  evt.currentTarget.className += " active";
}

  function seachreceipt(){
    var datea = ($('#seachreceipt-A').val()).split("-")[0] + '-' + ($('#seachreceipt-A').val()).split("-")[1] + '-' + ($('#seachreceipt-A').val()).split("-")[2];
    var dateb = ($('#seachreceipt-B').val()).split("-")[0] + '-' +  ($('#seachreceipt-B').val()).split("-")[1] + '-' +  ($('#seachreceipt-B').val()).split("-")[2];
    $.ajax({
      type: 'GET',
      url: '/api/seachreceipt/' + datea + '/' + dateb + '/<%=receipt[0].creditors_id%>',
      success: function(result){
        $('#table-dateA').empty();
        $.each(result.creditors, function (i, creditors) {
          $('#table-dateA').append(
            '<tr class="border-left border-right border-bottom">'+
              '<td>'+creditors.date+'</td>'+
              '<td>'+creditors.receiptchar+creditors.receiptordernumber+'</td>'+
              '<td>'+creditors.creditors_name+'</td>'+
             ' <td>'+creditors.due+' </td>'+
             ' <td>'+creditors.granttotal+' </td>'+
             ' <td>'+creditors.status+'</td>'+
            '</tr>'
          );
        });
      },error: function(e){
        console.log(e)
      }
    })
  }


  function seachexpenses(){
    var datea = ($('#seachexpenses-A').val()).split("-")[0] + '-' + ($('#seachexpenses-A').val()).split("-")[1] + '-' + ($('#seachexpenses-A').val()).split("-")[2];
    var dateb = ($('#seachexpenses-B').val()).split("-")[0] + '-' +  ($('#seachexpenses-B').val()).split("-")[1] + '-' +  ($('#seachexpenses-B').val()).split("-")[2];
    $.ajax({
      type: 'GET',
      url: '/api/seachexpenses/' + datea + '/' + dateb + '/<%=expenses[0].creditors_id%>',
      success: function(result){
        $('#table-dateB').empty();
        $.each(result.creditors, function (i, creditors) {
          $('#table-dateB').append(
            '<tr class="border-left border-right border-bottom">'+
              '<td>'+creditors.date+'</td>'+
              '<td>'+creditors.expenseschar+creditors.expensesnumber+'</td>'+
              '<td>'+creditors.creditors_name+'</td>'+
             ' <td>'+creditors.due+' </td>'+
             ' <td>'+creditors.granttotal+' </td>'+
             ' <td>'+creditors.status+'</td>'+
            '</tr>'
          );
        });
      },error: function(e){
        console.log(e)
      }
    })
  }


  function seachpayment(){
    var datea = ($('#seachpayment-A').val()).split("-")[0] + '-' + ($('#seachpayment-A').val()).split("-")[1] + '-' + ($('#seachpayment-A').val()).split("-")[2];
    var dateb = ($('#seachpayment-B').val()).split("-")[0] + '-' +  ($('#seachpayment-B').val()).split("-")[1] + '-' +  ($('#seachpayment-B').val()).split("-")[2];
    $.ajax({
      type: 'GET',
      url: '/api/seachpayment/' + datea + '/' + dateb + '/<%=payment[0].creditors_id%>',
      success: function(result){
        $('#table-dateC').empty();
        $.each(result.payment, function (i, payment) {
          
          $('#table-dateC').append(
            '<tr class="border-left border-right border-bottom">'+
              '<td>'+payment.dateday+'</td>'+
              '<td>'+payment.chars+payment.number+'</td>'+
              '<td>'+payment.creditorsname+'</td>'+
             ' <td>'+payment.net_payout+' </td>'+
             ' <td>'+payment.balance+' </td>'+
             ' <td>'+payment.granttotal+' </td>'+
             ' <td>'+payment.status+'</td>'+
            '</tr>'
          );
        });
      },error: function(e){
        console.log(e)
      }
    })
  }

</script>

<%-include('../../_footer')%>
