<%-include('../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">รายชื่อผู้ใช้</h3>
          </div>
          <div class="text-right">
            <a class="btn btn-success" href="/human/add">เพิ่มรายชื่อ</a>
          </div>
          <hr>
          <div class="wrapper">
            <div>
              
              <div style="width: 100%;">
                <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="table-active">
                      <th width="10%">ลำดับ</th>
                      <th width="25%">ชื่อ-นามสกุล</th>
                      <th width="20%">ชื่อเล่น</th>
                      <th width="25%">เบอร์โทร</th>
                      <th width="10%">ระดับผู้ใช้งาน</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (var i=0; i < human.length; i++) {%>
                      <tr class="border-left border-right border-bottom">
                        <td>
                          <%=i+1%>
                        </td>
                        <td>
                          <%=human[i].firstname%>
                            <%=human[i].lastname%>
                        </td>
                        <td>
                          <%=human[i].nickname%>
                        </td>
                        <td>
                          <%=human[i].phone%>
                        </td>
                        <td>
                          <%=human[i].permission%>
                        </td>
                        <td align="center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/human/edit/<%=human[i].id%>"><i
                                  class="fa fa-edit"></i>แก้ไขข้อมูล</a>
                              <a class="dropdown-item" href="#" onclick="cashSale('delete')"><i class="fa fa-trash"></i>ลบข้อมูล</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="/dist/js/product.js" crossorigin="anonymous"></script> -->

  <%-include('../_footer.ejs')%>