<%-include('../_header.ejs')%>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
          <div class="float-left">
            <h3 class="text-info"><b>แก้ไขข้อมูลรายชื่อพนักงาน</b></h3>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-dark" href="/human/list">กลับ</a>
          </div>
          <hr>
          <div class="wrapper">
            <div>
              <div style="width: 100%;">
                <form action="/human/update/<%=human_resource[0].id%>" method="POST" class="form-group">

                  <div class="row">
                    <div class="col-6">
                      <table class="table table-bordered">
                        <tr>
                          <th>อีเมลผู้ใช้งาน</th>
                          <td>
                            <div class="row ">
                              <div class="col-1 input-group-prepend">
                                  <span class="input-group-text" ><i class="fas fa-minus" id="checkemail"></i></span>
                              </div>
                              <div class="col-11">
                                <input type="text" name="email" id="email"  class="form-control"  placeholder="email" value="<%=human_resource[0].email%>">
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ชื่อผู้ใช้-เข้าสู่ระบบ</th>
                          <td>
                            <div class="row ">
                              <div class="col-1 input-group-prepend">
                                  <span class="input-group-text" ><i class="fas fa-minus" id="checkUsername"></i></span>
                              </div>
                              <div class="col-11">
                                <input type="text" name="username" id="username"  class="form-control"  placeholder="Username" value="<%=human_resource[0].username%>" readonly>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>รหัสผ่าน-เข้าสู่ระบบ</th>
                          <td>
                            <div class="row ">
                              <div id="eyePassword1" class="col-1 input-group-prepend">
                                <span class="input-group-text" ><i class="far fa-eye-slash"></i></span>
                              </div>
                              <div class="col-11">
                                <input type="password" name="password" id="password" class="form-control password" placeholder="password" >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ยืนยัน-รหัสผ่าน</th>
                          <td>
                            <div class="row ">
                              <div id="eyePassword2" class="col-1 input-group-prepend">
                                <span class="input-group-text" ><i class="far fa-eye-slash"></i></span>
                              </div>
                              <div class="col-11">
                                <input type="password" name="password-confirm" id="password-confirm" class="form-control password" placeholder="password">
                              </div>
                              
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ระดับของผู้ใช้งานระบบ</th>
                          <td>
                            <select name="permission_id"  class="form-control" id="permission_id">
                              <option value="000">--กรุณาเลือก-</option>
                              <%for(var i =0 ;i<permission.length;i++){%>
                              <option value="<%=permission[i].id%>" <%if(human_resource[0].permission_id==permission[i].id){%>selected <%}%>  ><%=permission[i].name%></option>
                              <%}%>
                            </select>
                          </td>
                        </tr>
                        

                      </table>
                    </div>
                    <div class="col-6">
                      <table class="table table-bordered">
                        <tr>
                          <th>สาขา</th>
                          <td>
                            <select name="company" class="form-control" required>
                              <%for(var i =0 ;i<company.length;i++){%>
                                <option value="<%=company[i].id%>" <%if(human_resource[0].company_id==company[i].id){%>selected <%}%>  ><%=company[i].branchNo%></option>
                                <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>ตำแหน่ง</th>
                          <td><input type="text" name="position" class="form-control" value="<%=human_resource[0].username%>"></td>
                        </tr>
                        <tr>
                          <th>ชื่อ</th>
                          <td><input type="text" name="firstname" class="form-control" value="<%=human_resource[0].firstname%>"></td>
                        </tr>
                        <tr>
                          <th>นามสกุล</th>
                          <td><input type="text" name="lastname" class="form-control" value="<%=human_resource[0].lastname%>"></td>
                        </tr>
                        
                        <tr>
                          <th style="width: 20%;">ชื่อเล่น</th>
                          <td><input type="text" name="nickname" class="form-control" value="<%=human_resource[0].nickname%>"></td>
                        </tr>
                        <tr>
                          <th style="width: 20%;">เลขบัตรประชาชน</th>
                          <td><input type="text" name="cardpeople" class="form-control" value="<%=human_resource[0].cardpeople%>"></td>
                        </tr>
                        <tr>
                          <th>เบอร์โทร</th>
                          <td><input type="text" name="phone" class="form-control" value="<%=human_resource[0].phone%>"></td>
                        </tr>
                        
                        <tr>
                          <th>วันเกิด</th>
                          <td><input type="date" name="birthday" class="form-control" value="<%=human_resource[0].birthday%>"></td>
                        </tr>
                        <tr>
                          <th>ที่อยู่</th>
                          <td><input type="text" name="address" class="form-control" value="<%=human_resource[0].address%>"></td>
                        </tr>
                        <tr>
                          <th>จังหวัด</th>
                          <td>
                            <select id="getResultOption" class="form-control" name="provinces_id" required>
                              <option value="">--กรุณาเลือกจังหวัด--</option>
                              <% if(provinces) { %>
                                <% for(var i=0; i<provinces.length; i++){ %>
                                  <option value="<%=provinces[i].id%>" <%if(human_resource[0].provinces_id==provinces[i].id){%> selected <%}%>  >
                                    <%=provinces[i].name_th %>
                                  </option>
                                  <%}%>
                                    <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>อำเภอ</th>
                          <td>
                            <select id="getAmphuresOption" class="form-control" name="amphures_id" required>
                              <option value="">--กรุณาเลือกอำเภอ--</option>
                              <% if(amphures) { %>
                                <% for(var i=0; i<amphures.length; i++){ %>
                                  <option value="<%=amphures[i].id%>" <%if(human_resource[0].amphures_id==amphures[i].id){%> selected <%}%>  >
                                    <%=amphures[i].name_th %>
                                  </option>
                                  <%}%>
                                    <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>ตำบล</th>
                          <td>
                            <select id="getDistrictsOption" class="form-control" name="districts_id" required>
                              <option value="">--กรุณาเลือกตำบล--</option>
                              <% if(districts) { %>
                                <% for(var i=0; i<districts.length; i++){ %>
                                  <option value="<%=districts[i].id%>" <%if(human_resource[0].districts_id==districts[i].id){%> selected <%}%>  >
                                    <%=districts[i].name_th %>
                                  </option>
                                  <%}%>
                                    <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>รหัสไปรษณีย์</th>
                          <td>
                            <div id="getPost" class="">
                              <input id="changPost" type="text" name="pos" class="form-control" value="<%=human_resource[0].pos%>" readonly>
                            </div>
                          </td>
                        </tr>
                        
                        
                      </table>
                    </div>
                  </div>
                  <hr>
                  <div class="text-right">
                    <button type="submit" class="btn btn-success" id="submidAdd" hidden></button>
                    <button type="button" class="btn btn-success" onclick="checkUserpassword()">ตกลง</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    
var CCemail = 1;
var CCusername = 1;
var CCpassword = 0;

    $(document).ready(function () {

      $('#email').change(function () {
        $.ajax({
          type: 'GET',
          url: '/api/checkemail/'+$('#email').val(),
          success: function (result) {
            if (result=='yes') {
              CCemail = 1;
              $('#checkemail').attr('class','fas fa-check');
              $('#checkemail').attr('style','color: #6fda6d;');
            } else if (result=='no') {
              CCemail = 0;
              $('#checkemail').attr('class','fas fa-times');
              $('#checkemail').attr('style','color: #ff4242;');
            }
          },error: function (e) {
            console.log(e);
          }
        });
      });

      $('#username').change(function () {
        $.ajax({
          type: 'GET',
          url: '/api/checkusername/'+$('#username').val(),
          success: function (result) {
            if (result=='yes') {
              CCusername = 1;
              $('#checkUsername').attr('class','fas fa-check');
              $('#checkUsername').attr('style','color: #6fda6d;');
            } else if (result=='no') {
              CCusername = 0;
              $('#checkUsername').attr('class','fas fa-times');
              $('#checkUsername').attr('style','color: #ff4242;');
            }
          },error: function (e) {
            console.log(e);
          }
        }); 
      }); 

      $('.password').change(function () {
        
        if ($('#password').val() == $('#password-confirm').val()) {
          CCpassword = 1;
        } else {
          CCpassword = 0;

        }
      });

      $('#eyePassword1').click(function () {
        if ($('#eyePassword1 i').attr('class')=='far fa-eye-slash') {
          $('#eyePassword1 i').attr('class','far fa-eye');
          $('#password').attr('type','text');
        } else {
          $('#eyePassword1 i').attr('class','far fa-eye-slash');
          $('#password').attr('type','password');

        }
      }); 

      $('#eyePassword2').click(function () {
        if ($('#eyePassword2 i').attr('class')=='far fa-eye-slash') {
          $('#eyePassword2 i').attr('class','far fa-eye');
          $('#password-confirm').attr('type','text');
        } else {
          $('#eyePassword2 i').attr('class','far fa-eye-slash');
          $('#password-confirm').attr('type','password');
        }
      }); 
    });


    function checkUserpassword() {
      if (CCemail == 1 && CCusername==1 && CCpassword == 1 && $('#permission_id').val()!='000') {
        $('#submidAdd').click();
      }else if(CCemail==0){
        Swal.fire('อีเมลไม่ถูกต้อง');
      }else if(CCusername==0){
        Swal.fire('ชื่อผู้ใช้ไม่ถูกต้อง');
      }else if(CCpassword==0){
        if ($('#password').val()=='' && $('#password-confirm').val()=='') {
        $('#submidAdd').click();
        }else{
          Swal.fire('รหัสผ่านไม่ถูกต้อง');
        }
      }else if($('#permission_id').val()=='000'){
        Swal.fire('กรุณเลือกระดับของผู้ใช้');
      }
    }

  </script>
  <%-include('../_footer.ejs')%>