<%-include('../_header.ejs')%>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
          <div class="float-left">
            <h3 class="text-info"><b>เพิ่มข้อมูลรายชื่อพนักงาน</b></h3>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-dark" href="/human/list">กลับ</a>
          </div>
          <hr>
          <div class="wrapper">
            <div>
              <div style="width: 100%;">
                <form action="/human/save" method="POST" class="form-group" id="formAddUser">
                  <div class="row">
                    <div class="col-6">
                      <table class="table table-bordered">
                        <tr>
                          <th>อีเมลผู้ใช้งาน</th>
                          <td>
                            <div class="col-auto">
                              <label class="sr-only" for="email">Email</label>
                              <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fas fa-minus" id="checkemail"></i></div>
                                </div>
                                <input type="text" name="email" id="email" class="form-control"placeholder="email">
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ชื่อผู้ใช้-เข้าสู่ระบบ</th>
                          <td>
                            <div class="col-auto">
                              <label class="sr-only" for="username">Username</label>
                              <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fas fa-minus" id="checkUsername"></i></div>
                                </div>
                                <input type="text" name="username" id="username" class="form-control"placeholder="Username">
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>รหัสผ่าน-เข้าสู่ระบบ</th>
                          <td>
                            <div class="col-auto">
                              <label class="sr-only" for="password">password</label>
                              <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div  id="eyePassword1" class="input-group-text">
                                    <i class="far fa-eye-slash"></i>
                                  </div>
                                </div>
                                <input type="password" name="password" id="password" class="form-control password" placeholder="password" >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ยืนยัน-รหัสผ่าน</th>
                          <td>

                            <div class="col-auto">
                              <label class="sr-only" for="password-confirm">password-confirm</label>
                              <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div  id="eyePassword2" class="input-group-text">
                                    <i class="far fa-eye-slash"></i>
                                  </div>
                                </div>
                                <input type="password" name="password-confirm" id="password-confirm" class="form-control password" placeholder="password">
                              </div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <th>ระดับของผู้ใช้งานระบบ</th>
                          <td>
                            <select name="permission_id"  class="form-control" id="permission_id">
                              <option value="000">--กรุณาเลือก-</option>
                              <%for(var i =0 ;i<permission.length;i++){%>
                              <option value="<%=permission[i].id%>"><%=permission[i].name%></option>
                              <%}%>
                            </select>
                          </td>
                        </tr>


                      </table>
                    </div>
                    <div class="col-6">
                      <table class="table table-bordered">
                        <tr>
                          <th>สาขา</th>
                          <td>
                            <select name="company" class="form-control" required>
                              <%for(var i =0 ;i<company.length;i++){%>
                                <option value="<%=company[i].id%>"><%=company[i].branchNo%></option>
                                <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>ตำแหน่ง</th>
                          <td><input type="text" name="position" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>ชื่อ</th>
                          <td><input type="text" name="firstname" class="form-control" required></td>
                        </tr>
                        <tr>
                          <th>นามสกุล</th>
                          <td><input type="text" name="lastname" class="form-control" required></td>
                        </tr>

                        <tr>
                          <th style="width: 20%;">ชื่อเล่น</th>
                          <td><input type="text" name="nickname" class="form-control"></td>
                        </tr>
                        <tr>
                          <th style="width: 20%;">เลขบัตรประชาชน</th>
                          <td><input type="text" name="cardpeople" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>เบอร์โทร</th>
                          <td><input type="text" name="phone" class="form-control"></td>
                        </tr>

                        <tr>
                          <th>วันเกิด</th>
                          <td><input type="date" name="birthday" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>ที่อยู่</th>
                          <td><input type="text" name="address" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>จังหวัด</th>
                          <td>
                            <select id="getResultOption" class="form-control" name="provinces_id">
                              <option value="">--กรุณาเลือกจังหวัด--</option>
                              <% if(provinces) { %>
                                <% for(var i=0; i<provinces.length; i++){ %>
                                  <option value="<%= provinces[i].id %>">
                                    <%=provinces[i].name_th %>
                                  </option>
                                  <%}%>
                                    <%}%>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>อำเภอ</th>
                          <td>
                            <select id="getAmphuresOption" class="form-control" name="amphures_id">
                              <option value="">--กรุณาเลือกอำเภอ--</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>ตำบล</th>
                          <td>
                            <select id="getDistrictsOption" class="form-control" name="districts_id">
                              <option value="">--กรุณาเลือกตำบล--</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <th>รหัสไปรษณีย์</th>
                          <td>
                            <div id="getPost" class="">
                              <input id="changPost" type="text" name="pos" class="form-control" readonly>
                            </div>
                          </td>
                        </tr>


                      </table>
                    </div>
                  </div>
                  <hr>
                  <div class="text-right">
                    <button type="submit" class="btn btn-success" id="submidAdd" hidden></button>
                    <button type="button" class="btn btn-success" onclick="checkUserpassword()">ตกลง</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>

var CCemail = 0;
var CCusername = 0;
var CCpassword = 0;

    $(document).ready(function () {


      $('#email').change(function () {
        $.ajax({
          type: 'GET',
          url: '/api/checkemail/'+$('#email').val(),
          success: function (result) {
            if (result=='yes') {
              CCemail = 1;
              $('#checkemail').attr('class','fas fa-check');
              $('#checkemail').attr('style','color: #6fda6d;');
            } else if (result=='no') {
              CCemail = 0;
              $('#checkemail').attr('class','fas fa-times');
              $('#checkemail').attr('style','color: #ff4242;');
            }
          },error: function (e) {
            console.log(e);
          }
        });
      });


      $('#username').change(function () {
        $.ajax({
          type: 'GET',
          url: '/api/checkusername/'+$('#username').val(),
          success: function (result) {
            if (result=='yes') {
              CCusername = 1;
              $('#checkUsername').attr('class','fas fa-check');
              $('#checkUsername').attr('style','color: #6fda6d;');
            } else if (result=='no') {
              CCusername = 0;
              $('#checkUsername').attr('class','fas fa-times');
              $('#checkUsername').attr('style','color: #ff4242;');
            }
          },error: function (e) {
            console.log(e);
          }
        });
      });

      $('.password').change(function () {

        if ($('#password').val() == $('#password-confirm').val()) {
          CCpassword = 1;
        } else {
          CCpassword = 0;

        }
      });

      $('#eyePassword1').click(function () {
        if ($('#eyePassword1 i').attr('class')=='far fa-eye-slash') {
          $('#eyePassword1 i').attr('class','far fa-eye');
          $('#password').attr('type','text');
        } else {
          $('#eyePassword1 i').attr('class','far fa-eye-slash');
          $('#password').attr('type','password');

        }
      });

      $('#eyePassword2').click(function () {
        if ($('#eyePassword2 i').attr('class')=='far fa-eye-slash') {
          $('#eyePassword2 i').attr('class','far fa-eye');
          $('#password-confirm').attr('type','text');
        } else {
          $('#eyePassword2 i').attr('class','far fa-eye-slash');
          $('#password-confirm').attr('type','password');
        }
      });
    });


    function checkUserpassword() {
      if (CCemail == 1 && CCusername == 1 && CCpassword == 1 && $('#permission_id').val()!='000') {
        $('#submidAdd').click();
      }else if(CCemail==0){
        Swal.fire('อีเมลไม่ถูกต้อง');
      }else if(CCusername==0){
        Swal.fire('ชื่อผู้ใช้ไม่ถูกต้อง');
      }else if(CCpassword==0){
        Swal.fire('รหัสผ่านไม่ถูกต้อง');
      }else if($('#permission_id').val()=='000'){
        Swal.fire('กรุณเลือกระดับของผู้ใช้');
      }
    }

  </script>
  <%-include('../_footer.ejs')%>
