<%-include('../_header.ejs')%>

<!-- style for scroll ber -->

<!-- <style media="screen">
  .services {
    background: #2d405f;
    padding-bottom: 0;
    height: 90%;
  }

  .monitor {
    display: block;
    min-height: 93%;
    margin-top: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style> -->

  <!-- <div class="monitor"> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-left">
                    <h3 class="text-info">จัดการแฟ้มและข้อมูล</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="float-right">
                    <a class="btn btn-success" href="#/data_management/add">สร้างใหม่</a>
                  </div>
                </div>
              </div>
              <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
              <button class="btn btn-outline-primary" id="update" type="button">Upload</button>
              <!-- <div id="counter">1</div> -->

              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="getNum">0%</div>
              </div>
              <hr>
              <script type="text/javascript">
                $(".progress").hide();
                $("#update").click(function() {
                  $('#update').hide();
                  $(".progress").show();
                  var count = 0;
                  var innterval = setInterval(function() {
                    if (count == 99)
                    clearInterval(innterval);
                    count++;
                    if (count == 100) {
                      $("#getNum").html("complete. " + 100/100*count + "%");
                      exitCount();
                    }else {
                      $("#getNum").html("Loading... " + 100/100*count + "%");
                    }
                    $("#getNum").css('width',100/100*count+"%");
                  }, 100);
                });
                function exitCount(){
                  setTimeout(function(){
                    $('#update').show();
                    $(".progress").hide();
                    $("#getNum").css('width',0+"%");
                    $("#getNum").html("Loading... " + 0 + "%");
                  }, 5000);
                };
              </script>

              <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                <thead class="table-bordered">
                  <tr class="bg-info">
                    <th width="10%"></th>
                    <th width="12%">ชื่อผสินทรัพย์</th>
                    <th width="17%">หมวดหมู่สินทรัพย์</th>
                    <th width="12%">วันเริ่มต้นใช้งาน</th>
                    <th width="12%">ราคาซื้อ</th>
                    <th width="12%">มูลค่าทางบัญชี</th>
                    <th width="15%">สถานะสินทรัพย์</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border">
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td align="center">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h dropbtn"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                          <a class="dropdown-item" href="#"><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                          <a class="dropdown-item" href="#"><i class="far fa-copy"></i> สร้างซ้ำ</a>
                          <hr>
                          <a class="dropdown-item" href="#"><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->


<%-include('../_footer')%>
