<%-include('../_header.ejs')%>

<div class="text-center mt-6">
  <%for (var i = 0; i < company.length; i++) {%>
    <h1><%=company[0].name%> <%=company[i].branchNo%></h1>
  <%}%>
  <hr>
  <%for (var i = 0; i < glhead.length; i++) {%>
    <h3><%=glhead[i].date%> <%=glhead[i].doc_no%> <%=glhead[i].detail%></h3>
  <%}%>
  <hr>
  <%for (var i = 0; i < gldetail.length; i++) {%>
    <h6><%=gldetail[i].id%></h6>
  <%}%>
</div>

<%-include('../_footer.ejs')%>
