<%-include('../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
            <div class="row">
              <div class="card col-md-4" style="height: 500px" id="accReport">
                <%for (var i = 0; i < reportname.length; i++) { var p = 0;%>
                  <%for (var j = 0; j < reportpattern.length; j++) {%>
                    <%if (reportname[i].id == reportpattern[j].reportname_id) { p = 1;%>
                    <%}%>
                  <%}
                  if (p == 1) {%>
                    <h6 class="mt-2"><%=reportname[i].name%></h6>
                    <%for (var k = 0; k < reportpattern.length; k++) {%>
                      <%if (reportname[i].id == reportpattern[k].reportname_id) {%>
                        <a class="tablinks text-dark<%if(k == 0){%>active<%}%>" style="text-indent: 3rem; margin-top: 0;" href="#/report/<%=reportname[i].name%>/<%=reportpattern[k].name%>" onclick="openCity(event, 'report<%=reportname[i].id%><%=reportpattern[k].id%>')"><%=reportpattern[k].name%></a>
                      <%}%>
                    <%}%>
                  <%}else {%>
                    <a class="tablinks text-dark" href="#/<%=reportname[i].name%>" onclick="openCity(event, 'report<%=reportname[i].id%>')"><%=reportname[i].name%></a>
                  <%}%>
                <%}%>
              </div>

              <%var d = new Date();
              var date = d.getDate();
              if (date < 10) {
                date = "0"+date;
              }
              var m = d.getMonth()+1;
              if (m < 10) {
                m = "0"+m;
              }
              var y = d.getFullYear();
              var f_date = y+"-"+m+"-"+"0"+1;
              var l_date = new Date().toISOString().split('T')[0]%>
              <!-- สมุดรายวันทั่วไป -->

              <div id="report11" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/general-journal/normal/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[0].name%> (<%=reportpattern[0].name%>)</h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="generalo" checked onclick="generalO('generalo')">
                        <label for="generalo">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="generali<%=company[k].id%>" onclick="generalI('generali<%=company[k].id%>')">
                          <label for="generali<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>

                        <script type="text/javascript">
                          var a = 0;
                          function generalO(o){
                            var generalo = document.getElementById(o);
                            if (generalo.checked == true) {
                              $('input[id^=generali]').prop('checked' , false);
                              a = 0;
                            }
                          }

                          function generalI(i){
                            var generali = document.getElementById(i);
                            if (generali.checked == true) {
                              $('input#generalo').prop('checked' , false);
                              a++;
                              if ($('input[id^=generali]').length == a) {
                                $('input#generalo').prop('checked' , true);
                                $('input[id^=generali]').prop('checked' , false);
                                a = 1;
                              }
                            }
                            if (generali.checked == false) {
                              a = a-1;
                            }
                          }
                        </script>

                      </div>
                    </div>
                    <hr>

                    <p class="mt-2"><b>รูปแบบรายงาน:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="1" id="every" checked>
                        <label for="every">แสดงทุกรายการ</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="2" id="ap">
                        <label for="ap">เฉพาะที่มาจาก AP</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="3" id="ar">
                        <label for="ar">เฉพาะที่มาจาก AR</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="4" id="not">
                        <label for="not">ไม่รวม AP/AR</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report12" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/general-journal/simplified/report#" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[0].name%> (<%=reportpattern[1].name%>)</h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="short" checked>
                        <label for="short">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="short<%=company[k].id%>">
                          <label for="short<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>รูปแบบรายงาน:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="1" id="every" checked>
                        <label for="every">แสดงทุกรายการ</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="2" id="ap">
                        <label for="ap">เฉพาะที่มาจาก AP</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="3" id="ar">
                        <label for="ar">เฉพาะที่มาจาก AR</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="pattern" value="4" id="not">
                        <label for="not">ไม่รวม AP/AR</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <!--- สมุดรายวันเฉพาะ --->

              <div id="report2" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/specific-journal/report#" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[1].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="specific" checked>
                        <label for="specific">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="specific<%=company[k].id%>">
                          <label for="specific<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>รหัสสมุดรายวันเฉพาะ:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="specific1" style="margin-left: 3rem;">สมุดรายวันเฉพาะ</label>
                        <select class="form-control" name="book" id="specific1" style="width: 30%; margin-left: 1%;">
                          <option></option>
                          <%for (var s = 0; s < book.length; s++) {%>
                            <option value="<%=book[s].id%>"><%=book[s].name%></option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- บัญชีแยกประเภท -->

              <div id="report33" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/ledger-account/standartd/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[2].name%> (<%=reportpattern[2].name%>)</h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="all" checked>
                        <label for="all">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="standard<%=company[k].id%>">
                          <label for="standard<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>รหัสบัญชี:</b></p>
                    <div class="container">
                      <div class="row">
                        <datalist id="list" class="list">
                          <option></option>
                          <%for (var k = 0; k < chart.length; k++) {%>
                            <option value="<%=chart[k].code%>:<%=chart[k].name%>"></option>
                          <%}%>
                        </datalist>
                        <label for="acc1" style="margin-left: 3rem;">ตั้งแต่รหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="f_code" value="" id="acc1" required style="width: 30%; margin-left: 1%;">
                        <label for="acc2" style="margin-left: 3%;">จนถึงรหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="l_code" value="" id="acc2" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                    <div class="container">
                      <div class="form-check-label">
                        <input type="checkbox" name="zero" value="1" id="acc3" style="margin-left: 3rem;">
                        <label for="acc3" style="margin-left: 1%;">แสดงบัญชียอดศูนย์</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report34" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/ledger-account/animated/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[2].name%> (<%=reportpattern[3].name%>)</h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="animated" checked>
                        <label for="animated">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="animated<%=company[k].id%>">
                          <label for="animated<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>รหัสบัญชี:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="animated1" style="margin-left: 3rem;">ตั้งแต่รหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="f_acc" value="" id="animated1" required style="width: 30%; margin-left: 1%;">
                        <label for="animated2" style="margin-left: 3%;">จนถึงรหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="l_acc" value="" id="animated2" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report35" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/ledger-account/summary/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[2].name%> (<%=reportpattern[4].name%>)</h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="period" checked>
                        <label for="period">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="period<%=company[k].id%>">
                          <label for="period<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>รหัสบัญชี:</b></p>
                    <div class="container">
                      <div class="row">
                        <datalist id="list" class="list">
                          <option></option>
                          <%for (var k = 0; k < chart.length; k++) {%>
                            <option value="<%=chart[k].code%>:<%=chart[k].name%>"></option>
                          <%}%>
                        </datalist>
                        <label for="period1" style="margin-left: 3rem;">ตั้งแต่รหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="f_acc" value="" id="period1" required style="width: 30%; margin-left: 1%;">
                        <label for="period2" style="margin-left: 3%;">จนถึงรหัสบัญชี</label>
                        <input list="list" class="form-control" type="text" name="l_acc" value="" id="period2" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- สรุปประเภทบัญชีย่อย -->

              <div id="report4" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/ledger-account/sub/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportname[3].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="sub-type" checked>
                        <label for="sub-type">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="sub-type<%=company[k].id%>">
                          <label for="sub-type<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>ประเภทบัญชีย่อย:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="sub-type1" style="margin-left: 3rem;">รหัสบัญชีเริ่มต้น</label>
                        <input list="list" class="form-control" type="text" name="f_acc" value="" id="sub-type1" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- รายงานงบการเงิน -->

              <div id="report56" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/trial-balance/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[5].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3%;">ณ วันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="balance" checked>
                        <label for="balance">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="balance<%=company[k].id%>">
                          <label for="balance<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="mt-2"><b>รูปแบบรายงาน:</b></p>
                        <div class="container">
                          <div class="row">
                            <input class="form-check" type="radio" name="pattern" value="ก่อนปิดบัญชี" id="balance1" checked>
                            <label for="balance1">ก่อนปิดบัญชี</label>
                          </div>
                          <div class="row">
                            <input class="form-check" type="radio" name="pattern" value="หลังปิดบัญชี" id="balance2">
                            <label for="balance2">หลังปิดบัญชี</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                        <div class="container">
                          <div class="form-check-label">
                            <input type="checkbox" name="zero" value="1" id="showbalance" style="margin-left: 3rem;">
                            <label for="showbalance" style="margin-left: 1%;">แสดงบัญชียอดศูนย์</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report57" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/income-statement/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[6].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="income" checked>
                        <label for="income">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="income<%=company[k].id%>">
                          <label for="income<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="show" value="" id="income1">
                        <label for="income1">แสดงรหัสบัญชีต่อท้าย</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report58" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/statement/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[7].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3%;">วันที่สิ้นสุด</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="show" value="" id="statement2">
                        <label for="statement2">แสดงรหัสบัญชีต่อท้าย</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report59" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/statement-of-change/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[8].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="change" checked>
                        <label for="change">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="change<%=company[k].id%>">
                          <label for="change<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="show" value="" id="show3">
                        <label for="show3">แสดงรหัสบัญชีต่อท้าย</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report510" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/cash-flow-statement/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[9].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="cash-flow" checked>
                        <label for="cash-flow">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="cash-flow<%=company[k].id%>">
                          <label for="cash-flow<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>แสดงข้อมูล:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="show" value="" id="show4">
                        <label for="show4">แสดงรหัสบัญชีต่อท้าย</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report511" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/comparative-financial-statement/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[10].name%></h4>
                    </div>
                    <p class="mt-2"><b>เดือนปี:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่เดือน/ปี</label>
                        <input class="form-control" type="month" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงเดือน/ปี</label>
                        <input class="form-control" type="month" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="comparative" checked>
                        <label for="comparative">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="comparative<%=company[k].id%>">
                          <label for="comparative<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>เลือกรายงาน:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="radio" name="statement" value="1" id="statement1" required>
                        <label for="statement1">งบกำไรขาดทุน</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="statement" value="2" id="statement2" required>
                        <label for="statement2">งบแสดงฐานะการเงิน</label>
                      </div>
                      <div class="row">
                        <input class="form-check" type="radio" name="statement" value="3" id="statement3" required>
                        <label for="statement3">งบต้นทุนผลิต</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report512" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/statement-of-ratained-earnings/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[11].name%></h4>
                    </div>
                    <p class="mt-2"><b>เดือนปี:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่เดือน/ปี</label>
                        <input class="form-control" type="month" name="f_month" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงเดือน/ปี</label>
                        <input class="form-control" type="month" name="l_month" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="ratained" checked>
                        <label for="ratained">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="ratained<%=company[k].id%>">
                          <label for="ratained<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="report513" class="card col-md-8 tabcontent">
                <div class="mt-2" id="tabs-1">
                  <form class="form-group" action="/working-paper/report" target="_blank" method="post">
                    <div class="card">
                      <h4 class="text-center mt-2"><%=reportpattern[12].name%></h4>
                    </div>
                    <p class="mt-2"><b>วันที่:</b></p>
                    <div class="container">
                      <div class="row">
                        <label for="" style="margin-left: 3rem;">ตั้งแต่วันที่</label>
                        <input class="form-control" type="date" name="f_date" value="<%=f_date%>" required style="width: 30%; margin-left: 1%;">
                        <label for="" style="margin-left: 3%;">จนถึงวันที่</label>
                        <input class="form-control" type="date" name="l_date" value="<%=l_date%>" required style="width: 30%; margin-left: 1%;">
                      </div>
                    </div>
                    <hr>
                    <p class="mt-2"><b>สาขา:</b></p>
                    <div class="container">
                      <div class="row">
                        <input class="form-check" type="checkbox" name="company_id" value="0" id="paper" checked>
                        <label for="paper">ทั้งหมด</label>
                        <%for (var k = 0; k < company.length; k++) {%>
                          <input class="form-check" type="checkbox" name="company_id" value="<%=company[k].id%>" id="paper<%=company[k].id%>">
                          <label for="paper<%=company[k].id%>"><%=company[k].namebranch%></label>
                        <%}%>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="bottom" class="btn btn-dark" type="submit">พิมพ์</button>
                    </div>
                  </form>
                </div>
              </div>

              <script>
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  if (i > 0) {
                    tabcontent[i].style.display = "none";
                  }
                }
                function openCity(evt, cityName) {
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablinks");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                  }
                  document.getElementById(cityName).style.display = "block";
                  evt.currentTarget.className +="active";
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

<%-include('../_footer.ejs')%>
