<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h3 class="text-info">โครงการ</h3>
            </div>
            <div class="col-3">
              <div class="text-right mb-2">
                <a href="/projectgl/add" class="btn btn-success">เพิ่ม</a>
              </div>
            </div>
          </div>

          <hr>

            <table class="table table-bordered table-responsive-md">
              <thead class="table-active">
                <tr align="center">
                  <th width="50px">ลำดับ</th>
                  <th>ชื่อโครงการ</th>
                  <th>รายละเอียด</th>
                  <th>สถานะ</th>
                  <th>จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0 ;i<projectgl.length; i++){ %>
                  <tr >
                    <td align="center"><%= i+1 %></td>
                    <td><%= projectgl[i].name %></td>
                    <td><%= projectgl[i].detail %></td>
                    <td><%if(projectgl[i].hidden == 0){%><i class="text-success"><u><b>ดำเนินการ</b></u></i><%}else{%><i class="text-danger"><u>ปิดดำเนินการ</u></i><%}%></td>
                    <td align="center">
                      <a class="btn btn-outline-info" href="/projectgl/edit/<%=projectgl[i].id%>">แก้ไข</a>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete<%=i%>">ลบ</button>
                    </td>

                    <div class="modal fade" id="delete<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            ต้องการลบข้อมูล ? <br>
                            <%= projectgl[i].name %>
                          </div>
                          <div class="modal-footer">
                            <form action="/projectgl/delete/<%= projectgl[i].id %>" class="form-group" method="post">
                            <button type="submit" class="btn btn-danger">ยืนยัน</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

<!-- <script src="/dist/js/projectgl.js" crossorigin="anonymous"></script> -->

<%-include('../../_footer.ejs')%>
