<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info">เพิ่มข้อมูลโครงการ</h3>
              </div>
              <div class="col-3">
                <div class="text-right">
                  <a href="/projectgl" class="btn btn-outline-dark">กลับ</a>
                </div>
              </div>
            </div>

            <hr>

            <div class="card-body">
              <form action="/projectgl/save" method="post" class="form-group">
                <table class="table table-bordered table-responsive-md">
                  <thead>
                    <tr>
                      <th style="width: 20%;">ชื่อโครงการ</th>
                      <td><input type="text" name="name" class="form-control" required></td>
                    </tr>
                    <tr>
                      <th>รายละเอียดโครงการ</th>
                      <td><input type="text" name="detail" class="form-control" required></td>
                    </tr>
                  </thead>
                </table>
                <div class="row">
                  <input type="radio" name="hidden" class="form-check" value="0" id="hidden0" checked> <label for="hidden0"> เปิด</label>
                  <input type="radio" name="hidden" class="form-check" value="1" id="hidden1"> <label for="hidden1"> ซ่อน</label>
                </div>
                <br><br><br>
                <div class="mt-2 text-right">
                  <button type="submit"  class="btn btn-success">ตกลง</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<%-include('../../_footer.ejs')%>
