
<style>

* {
  box-sizing: border-box;
}

.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}
.l-radio:hover, .l-radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}
.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.l-radio input:focus {
  outline: none;
}
.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}
.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}
</style>
  <div class="modal-overlay" id="add">
    <div class="modal" id="addd">
      
      <div class="modal-content">
        <div id="wrap" class="input">
            <!-- <header class="input-header">
              <h1>Input Text/Password Animation</h1>
            </header> -->
            <section class="input-content">
              <a class="close-modal">
                <svg viewBox="0 0 20 20">
                  <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                </svg>
              </a><!-- close modal -->
              <h2 style="color: #8A2BE2;">สร้างประกันสังคม</h2>
              <div class="input-content-wrap">
                <form action="/socialadd" method="post">
                  <dl class="inputbox">
                    <dt class="inputbox-title">ชื่อประกันสังคม</dt>
                    <dd class="inputbox-content">
                      <input id="bank_number" name="name" type="text" required/>
                      <label for="bank_number">Name</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                  <dl class="inputbox">
                    <dt class="inputbox-title">คำนวณ %</dt>
                    <dd class="inputbox-content">
                      <input id="bank_branch" name="percent" type="text" required/>
                      <label for="bank_branch">กรุณากรอกตัวเลข</label>
                      <span class="underline"></span>
                    </dd>
                  </dl>
                  
                  <div class="btns">
                      <button class="btn btn-confirm" type="submit">สร้างรายการ</button>
                  </div>
                </form>
                
              </div>
            </section>
          </div>
      </div><!-- content -->
    </div><!-- modal -->
  </div>

