<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
    <div class="row">
     <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">จัดการประกันสังคม</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success"data-toggle="modal" data-target="#popup" onclick="add()">เพิ่มประกันสังคม</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >ชื่อ</th>
                      <th >คำนวณ %</th>
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (social) { %>
                      <% for (var i = 0; i< social.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td style="width: 50%;"> <%= social[i].name %> </td>
                      <td> <%= social[i].percent %> %</td>
               

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-toggle="modal" data-target="#popup" onclick="edit('<%= social[i].id%>')"><i class="fa fa-edit"></i> แก้ไขข้อมูลบัญชีธนาคาร</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= social[i].id%>')"><i class="fa fa-trash"></i>ลบข้อมูลบัญชีธนาคาร</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>       
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <%-include('social_security_addedit')%>
      <%-include('social_security_del')%>

      

<script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });
});
function add(){
  $('#soname_edit').val("");
  $('#soper_edit').val("");
  $('#exampleModalLabel').text("สร้างประกันสังคม");
  $('#action').prop('action', "/socialadd");
}
function edit(pp){
  var urlname = '/socialajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.so[0]
    var id = "/socialeditcon/" + suc.id
     $('#exampleModalLabel').text("แก้ไขประกันสังคม");
     $('#soname_edit').val(suc.name);
     $('#soper_edit').val(suc.percent);
     $('#action').prop('action', id);
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/socialajax/'+pp
    var getData = function () { 
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.so[0]
    var succheck = data.so
    var id = "/socialdelcon/" + suc.id
     console.log(suc);
    $('#soname_del').val(suc.name);
     $('#soper_del').val(suc.percent);
     $('#socialdel').attr("href", id);
   
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
