

  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">สร้างการตั้งค่าเงินเดือน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/salarysettingadd" method="post" id="action">
          <div class="modal-body">
            <!-- <input type="hidden" id="idd" name="id"> -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">กรอกข้อมูล</legend>
                  <table class="table table-borderless" >
                      <tr>
                        <td>
                        </td>
                      </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ชื่อประกันสังคม :</label>
                              </div>
                              <input type="text"  id="soname_edit" name="name" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>คำนวณ % :</label>
                              </div>
                              <input type="text" id="soper_edit" name="percent" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                     
                      
                      </table>
                  </fieldset>
              </div>
    
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">ตกลง</button>
          </div>
        </form>
       
      </div>
    </div>
  </div>

