<div id="mySidenav" class="sidenav">
  <a href="/quotation">ใบเสนอราคา</a>
  <a href="/bill">ใบวางบิล</a>
  <a href="/tax_invoice">ใบกำกับภาษี</a>
  <a href="/billreceipt">ใบเสร็จรับเงิน</a>
  <hr>
  <a href="/cash_sale">ขายเงินสด</a>
  <hr>
  <a href="/credit_note">ใบลดหนี้</a>
  <a href="/debit_note">ใบเพิ่มหนี้</a>
</div>
