<%-include('../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h3 class="text-info">ข้อมูลธนาคาร</h3>
            </div>
            <div class="col-3">
              <div class="text-right mb-2">
                <a href="/bank/add" class="btn btn-success">เพิ่ม</a>
              </div>
            </div>
          </div>
          <hr>
            <table class="table table-bordered table-responsive-md">
              <thead class="table-active">
                <tr align="center">
                  <th width="50px">ลำดับ</th>
                  <th>ชื่อผู้ถือบัญชี</th>
                  <th>ชื่อธนาคาร</th>
                  <th>เลขที่บัญชี</th>
                  <th>ประเภทบัญชี</th>
                  <th>จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <%for (var i = 0; i < module_bank.length; i++) { %>
                  <tr class="border-left border-right border-bottom" id="tr_modulebank_<%=i%>-<%=module_bank[i].id%>">
                    <td align="center"><%=i + 1%></td>
                    <td><%=module_bank[i].name_acc%></td>
                    <td><%=module_bank[i].bank%></td>
                    <td><%=module_bank[i].number_acc%></td>
                    <td><%=module_bank[i].type_acc%></td>
                    <td align="center">
                      <a class="btn btn-outline-primary" href="/bank/edit/<%=module_bank[i].id%>">แก้ไข</a>
                      <button type="button" class="btn btn-danger" data-toggle="modal" onclick="delete_modal('tr_modulebank_<%=i%>-<%=module_bank[i].id%>')">ลบ</button>
                    </td>
                    </tr>
                    <%}%>
                </tbody>
              </table>
              <div class="modal fade" id="tr_delete_modulebank" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="p_delete_modulebank">
                      <p id="p1_delete_modulebank">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                      <p id="p2_delete_modulebank"></p>
                      <p id="p3_delete_modulebank"></p>
                      <p id="p4_delete_modulebank"></p>
                      <p id="p5_delete_modulebank"></p>

                    </div>
                    <div class="modal-footer">
                      <a  id="a1_modulebank_delete" onclick=" location.reload()" class="btn btn-danger">ยืนยัน</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        function delete_modal(tr) {
          var del = tr.split('-')[1];
          console.log(del)
          $('#p2_delete_modulebank').text('ชื่อผู้ถือบัญชี :' + $('#' +tr+' td:eq(1)').text());
          
          $('#p3_delete_modulebank').text('ชื่อธนาคาร :' + $('#' + tr + ' td:eq(2)').text());

          $('#p4_delete_modulebank').text('เลขที่บัญชี :' + $('#' + tr + ' td:eq(3)').text());

          $('#p5_delete_modulebank').text('ประเภทบัญชี :' + $('#' + tr + ' td:eq(4)').text());

          $('#a1_modulebank_delete').attr('href','/bank/delete/'+ del);
      
          $('#tr_delete_modulebank').modal();
        }
      </script>
<%-include('../_footer.ejs')%>
