<%-include('../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <form action="/bank/save" method="post" class="form-group">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info">เพิ่มข้อมูลธนาคาร</h3>
              </div>
              <div class="col-3">
                <div class="text-right">
                    <button type="submit"  class="btn btn-success">ตกลง</button>
                  <a href="/bank/list" class="btn btn-outline-dark">กลับ</a>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                  <table class="table table-bordered table-responsive-md">
                    <thead>
                        <tr>
                            <th>ชื่อธนาคาร</th>
                            <td>
                                <select name="namebank_id" class="form-control">
                                    <option>--กรุณาเลือก--</option>
                                    <%for(var i = 0; i<bank.length;i++){%>
                                    <option value="<%=bank[i].id%>"><%=bank[i].name%></option>
                                    <%}%>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>ชื่อผู้ถือบัญชี</th>
                            <td><input type="text" name="name_acc"  class="form-control"></td>
                        </tr>
                        <tr>
                            <th>เลขที่บัญชี</th>
                            <td><input type="text" name="number_acc"  class="form-control"></td>
                        </tr>
                        <tr>
                            <th>สาขา</th>
                            <td><input type="text" name="branch" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>ประเภทบัญชี</th>
                            <td>
                                <div class="input-group">
                                  
                                    <div class="col-lg-4 col-md-4">
                                      <div class="input-group">
                                        <input class="form-check" type="radio" name="type_acc" value="บัญชีออมทรัพย์" id="checkp" required>
                                        <label for="checkp">บัญชีออมทรัพย์</label>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                      <div class="input-group">
                                        <input class="form-check" type="radio" name="type_acc" value="บัญชีกระแสรายวัน" id="checko" required>
                                        <label for="checko">บัญชีกระแสรายวัน</label>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </thead>
                 </table>
                </div>
                <div class="col-6">
                  <table class="table table-bordered table-responsive-md">
                    <thead>
                      <tr>
                        <th>ชื่อธนาคาร</th>
                        <td>
                            <select name="namecard_id"  class="form-control">
                                <option>--กรุณาเลือก--</option>
                                <%for(var i = 0; i<bank.length;i++){%>
                                <option value="<%=bank[i].id%>"><%=bank[i].name%></option>
                                <%}%>
                            </select>
                        </td>
                    </tr>
                        <tr>
                            <th>ประเภทบัตรเครดิต</th>
                            <td>
                              <div class="input-group">
                                  
                                <div class="col-lg-4 col-md-4">
                                  <div class="input-group">
                                    <input class="form-check" type="radio" name="type_card" value="บัตรเครดิตของธุรกิจ" id="check1" required>
                                    <label for="check1">บัตรเครดิตของธุรกิจ</label>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                  <div class="input-group">
                                    <input class="form-check" type="radio" name="type_card" value="บัตรเครดิตส่วนตัว" id="check2" required>
                                    <label for="check2">บัตรเครดิตส่วนตัว</label>
                                  </div>
                                </div>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <th>ชื่อผู้ถือบัตร</th>
                            <td><input type="text" name="name_card"  class="form-control"></td>
                        </tr>
                        <tr>
                            <th>หมายเลขบัตร</th>
                            <td><input type="text" name="number_card"  class="form-control"></td>
                        </tr>
                        <tr>
                          <th>วันหมดอายุบัตร</th>
                          <td><input type="date" name="expiry_date" class="form-control"></td>
                      </tr>
                      <tr>
                        <th>เลขบัตร 3 ตัวท้าย</th>
                        <td><input type="text" name="number_tail"  class="form-control"></td>
                    </tr>
                    </thead>
                 </table>
                </div>
            </div>
          
                <datalist id="bank">
                    <%for (var i = 0; i < bank.length; i++) { %>
                      <option data-value="<%=bank[i].id%>" value="<%=bank[i].name%>"></option>
                    <%}%>
                  </datalist>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<%-include('../_footer.ejs')%>
