<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/product_receipt/petty_cash/save/<%=url.receipt%>" method="POST" class="form-group">
        <div class="row">
          <div class="col-9">
            <h3 style="color: rgb(17, 185, 185);"><b>เพิ่มบัญชีเงินสดย่อย</b></h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/product_receipt/pay/<%=url.receipt%>">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th style="width: 20%;">ชื่อวงเงินสดย่อย:</th>
                    <td><input type="text" name="name_cash" placeholder="ระบุชื่อวงเงินสดย่อย" class="form-control" required></td>
                    <td></td>
                 </tr>
                 <tr>
                   <th style="width: 20;">วงเงินสดย่อย:</th>
                   <td><input type="text" name="petty_money" class="form-control" id="pettycash" placeholder="0.00" value="0.00" required onchange="petty_cash()"></td>
                 </tr>
                 <tr>
                   <th>ผู้รับผิดชอบ: <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                   <td><input  type="text" name="user" placeholder="ระบุชื่อผู้รับผิดชอบ" class="form-control" required></td>
                 </tr>
                 <tr>
                   <th>รายละเอียดวงเงิน: </th>
                   <td><textarea name="detail" id="" cols="100" rows="10" class="form-control"></textarea></td>
                 </tr>
                </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
 function petty_cash(){
    $('#pettycash').val().replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )
  
 }
</script>

<%-include('../../_footer.ejs')%>
