<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">

            <%-include('../buy_sidebar.ejs')%>

            <div id="main">
              <div class="float-left">
                <div class="row">
                  <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                  <h3>ใบรับสินค้า</h3>
                </div>
              </div>
              <div class="text-right">
                <a class="btn btn-success" href="/product_receipt/add">สร้างใบรับสินค้า</a>
              </div>
              <hr>
              <div style="width: 100%;">
                <table class="table table-borderless table-hover table-responsive-md table-responsive-lg" id="receiptTable">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th width="10%">วันที่</th>
                      <th width="15%">เลขที่เอกสาร</th>
                      <th width="20%">ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค</th>
                      <th width="15%">วันครบกำหนด</th>
                      <th width="15%">ยอดรวมสุทธิ</th>
                      <th width="15%">สถานะ</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (var i = 0; i < receipt.length; i++) { %>
                    <tr class="border-left border-right border-bottom" id="tr_receipt_<%=i%>-<%=receipt[i].id%>">
                      <td><%=receipt[i].dateday%></td>
                      <td><%=receipt[i].receiptchar%><%=receipt[i].receiptordernumber%></td>
                      <td><%=receipt[i].creditors_name%></td>
                      <td>
                        <%if(receipt[i].indicate_id == 1){ %>
                          <%=receipt[i].dueday%>
                          <%}else if(receipt[i].indicate_id == 2){ %>
                            <t>เงินสด</t>
                            <%}else{ %>
                              <t>ไม่แสดงวันที่</t>
                              <%}%>
                      </td>
                      <td><%=receipt[i].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                      <td>
                        <div class="dropdown">
                          <%if(receipt[i].status_id == 2 || receipt[i].status_id == 6){ %>
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=receipt[i].status%>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#" onclick="payment('tr_receipt_<%=i%>-<%=receipt[i].id%>')">popupชำระเงิน</a>
                                <a class="dropdown-item" href="/product_receipt/pay/<%=receipt[i].id%>">ชำระเงิน</a>
                          </div>
                          <%}else{ %>
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <%=receipt[i].status%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <%if(receipt[i].status_pay != ""  ){ %>
                                <a class="dropdown-item text-danger" href="/product_receipt/paymentmoney/delete/<%=receipt[i].id%>">ยกเลิก</a>
                              <% }else{ %>
                                <a class="dropdown-item text-danger" href="/product_receipt/paymentdelete/delete/<%=receipt[i].id%>">ยกเลิก</a>
                                <% }%>
                            </div>
                            <%}%>
                        </div>
                      </td>
                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/product_receipt/detail/<%=receipt[i].id%>"><i class="far fa-sticky-note"></i> รายละเอียดใบรับสินค้า</a>
                            <%if(receipt[i].status_id  == 5){ %>
                              <%}else{ %>
                            <a class="dropdown-item" href="/product_receipt/edit/<%=receipt[i].id%>"><i class="fa fa-edit"></i> แก้ไขเอกสาร</a>
                            <%}%>
                            <a class="dropdown-item" href="#"><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                            <a class="dropdown-item" href="/product_receipt/readd/<%=receipt[i].id%>"><i class="far fa-copy"></i> สร้างซ้ำ</a>
                            <%if(receipt[i].status_id  == 5){ %>
                            <%}else{ %>
                              <a class="dropdown-item" href="#" onclick="delete_modal('tr_receipt_<%=i%>-<%=receipt[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูล</a>
                              <%}%>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
               
                <div class="modal fade" id="tr_delete_receipt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="exampleModalLabel">ยืนยันการลบข้อมูล</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="p_delete_receipt">

                        <p id="p1_delete_receipt">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                        <p id="p2_delete_receipt"></p>
                        <p id="p3_delete_receipt"></p>
                      </div>
                      <div class="modal-footer">
                        <a  id="a1_receipt_delete" onclick=" location.reload()" class="btn btn-danger">ยืนยัน</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="tr_payment_receipt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title text-primary" id="exampleModalLabel">ข้อมูลการชำระเงิน</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="p_delete_receipt">
                        <table class="table table-bordered" id="mytable">
                         <tr>
                           <th>เลขที่เอกสาร</th>
                           <td>
                             <t id="receipt"></t>
                             <input type="hidden" name="" class=" form-control" id="receiptchar">
                             <input type="hidden" name="" class=" form-control" id="receiptordernumber">
                          </td>
                         </tr>
                         <tr>
                           <th>ยอดที่ต้องชำระ</th>
                           <td>
                             <t id="granttotal"></t>
                             <input type="hidden" name="" id="granttotal_val"  class=" form-control" onchange="pay()">
                          </td>
                         </tr>
                         <tr>
                           <th>วันที่ชำระ</th>
                           <td><input type="date"  id="receiptdate" class="form-control"></td>
                         </tr>
                         <tr>
                           <th>ยอดที่ต้องชำระ</th>
                           <td><input type="text" name=""  id="net_payout" value="0.00" class="form-control" onchange="pay()"></td>
                         </tr>
                         <tr>
                          <th><input type="checkbox" name="withholding" id="wit" onclick="pay()"> หัก ณ ที่จ่าย</th>
                          <td class="witcheck">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                              <select class="form-control" name="witvat" id="witholding"  onchange="pay()">
                               
                              </select>
                              <input type="text" name="vate" id="witholdingin" class="form-control">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>ยอดคงเหลือ</th>
                          <td><input type="text" name="" id="balance" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>ระบุสาเหตุ</th>
                          <td></td>
                        </tr>
                        <tr>
                          <th style="color: rgb(17, 185, 185);"><b>วิธีการชำระ</b></th>
                        </tr>
                        <tr>
                          <th>วิธีการชำระ</th>
                          <td>
                            <select name="" id="typepayment" class="form-control">

                            </select>
                          </td>
                        </tr>
                        <tr class="hidden_1" hidden>
                          <th>วงเงินสดย่อย : <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                          <td>
                            <select name="" id="pettycash" class="form-control" onchange="p()">
                             
                            </select>
                          </td>
                        </tr>
                        <tr class="hidden_2" hidden>
                          <th>บัญชีโอนเงิน <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                          <td>
                            <select name="" id="pettycash" class="form-control">

                            </select>
                          </td>
                        </tr>
                        <tr class="hidden_2" hidden>
                          <th>ค่าธรรมเนียม</th>
                          <td><input type="text" name="dues"  class="form-control"></td>
                        </tr>
                        <tr class="hidden_3" hidden>
                          <th>บัญชีเช็คจ่าย <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                           <td><input type="text" name="account_check" placeholder="ยังไม่มีบัญชีเช็คจ่าย เพิ่มได้ที่ My Company" class="form-control"></td>
                      </tr>
                      <tr class="hidden_3" hidden >
                          <th>วันที่หน้าเช็ค</th>
                           <td><input type="date" name="date_check" value="<%=new Date().toISOString().split('T')[0]%>" class="form-control"></td>
                      </tr>
                      <tr class="hidden_3" hidden >
                          <th>เลขที่เช็ค</th>
                           <td><input type="text" name="number_check" id="" class="form-control"></td>
                      </tr>
                      <tr class="hidden_3" hidden >
                          <th>ค่าธรรมเนียม</th>
                           <td><input type="text" name="dues_check" id="" class="form-control"></td>
                      </tr>
                      <tr class="hidden_4" hidden>
                        <th>บัตรเครดิตจ่าย <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                        <td>
                          <select name="" id="pettycash" class="form-control">

                          </select>
                        </td>
                      </tr>
                      <tr class="hidden_5" hidden>
                        <th>ประเภท</th>
                        <td>
                          <select name="" id="pettycash" class="form-control">

                          </select>
                        </td>
                      </tr>
                      <tr class="hidden_5" hidden>
                        <th>ช่องทางชำระเงิน</th>
                        <td>
                          <select name="" id="pettycash" class="form-control">

                          </select>
                        </td>
                      </tr>
                        <tr>
                          <th style="color: rgb(17, 185, 185);"><b>รายละเอียดเพิ่มเติม</b></th>
                        </tr>
                        <tr>
                          <th>หมายเหตุ</th>
                          <td><textarea name="" id="" cols="60" rows="5" class="form-control"></textarea></td>
                        </tr>
                        </table>
                       
                      </div>
                      <div class="modal-footer">
                        <a  id="a1_receipt_delete" onclick=" location.reload()" class="btn btn-success">ยืนยัน</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  var receipt = <%-JSON.stringify(receipt)%>;
  var typepayment = <%-JSON.stringify(typepayment)%>;
  var witholding = <%-JSON.stringify(witholding)%>;
  var petty_cash = <%-JSON.stringify(petty_cash)%>;


  function delete_modal(tr) {
    var del = tr.split('-')[1];
    console.log(tr)
    $('#p2_delete_receipt').text('เลขที่เอกสาร :' + $('#' +tr+' td:eq(1)').text());
    $('#p3_delete_receipt').text('ยอดรวมสุทธิ :' + $('#' + tr + ' td:eq(4)').text());
    $('#a1_receipt_delete').attr('href','/product_receipt/delete/'+ del);
    $('#tr_delete_receipt').modal();
  }



  function payment(tr) {
    var del = tr.split('-')[1];
    $('#tr_payment_receipt').modal();
    for (var i = 0; i < receipt.length; i++) {
    $('#receipt').text(receipt[i].receiptchar + receipt[i].receiptordernumber + "(" + (receipt[i].creditors_name) + ")" );
    $('#receiptchar').val(receipt[i].receiptchar);
    $('#receiptordernumber').val(receipt[i].receiptordernumber);
    $('#granttotal').text(receipt[i].granttotal.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    $('#granttotal_val').val(receipt[i].granttotal.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
    $('#receiptdate').val(receipt[i].receiptdate);
    $('#balance').val(receipt[i].granttotal.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
  }
  $(document).ready(function () {
    $('.witcheck').hide()
    $('#wit').click(function(){
      $('.witcheck').toggle()
    })
   
  });

 

  pay()
  p()
  for (var i = 0; i < typepayment.length; i++) {
    $("#typepayment").append('<option value="' + typepayment[i].id + '">' + typepayment[i].name + '</option>');
  }
  for (var i = 0; i < witholding.length; i++) {
    $("#witholding").append('<option value="'+ witholding[i].id + '"data-value="'+ witholding[i].number + '">' + witholding[i].name + '</option>');
  }
  for (var i = 0; i < petty_cash.length; i++) {
    $("#pettycash").append('<option value="' + petty_cash[i].id + '">' + petty_cash[i].name_cash +  '</option>');
  }
  $("#pettycash").append('<option value="' + '123' + '">' + 'เพิ่มข้อมูล' + '</option>');
  $('#pettycash')
 
}
function p(){
  var i = $('#pettycash').val()
  if(i == 123){
    window.open('www.google.com');
  }
console.log(i)
}

function pay() {
  var granttotal = parseInt($('#granttotal_val').val().replace(/,/g, ''));
  var net_payout = parseInt($('#net_payout').val().replace(/,/g, ''));
  var val = $('#witholding').val();
  var witholding = $('#witholding option').filter(function () {
    return this.value == val;
  }).data('value');
  if($('#wit').prop('checked') == true){
    $('#balance').val((granttotal - ((granttotal / 100) * witholding) - net_payout).toFixed(2));
    $('#witholdingin').val(((granttotal / 100) * witholding).toFixed(2))
    if($('#balance').val() < 0 ){
      $('#net_payout').val(granttotal +(+$('#balance').val()))
      $('#balance').val(0.00)
    }
  }else{
    $('#balance').val(parseInt(granttotal - net_payout).toFixed(2));
  }

  $('#typepayment').change(function(){
    var pay = $('#typepayment').val()
    console.log(pay)
    if(pay == 2){
        $('.hidden_1').attr('hidden',false);
        $('.hidden_2').attr('hidden',true);
        $('.hidden_3').attr('hidden',true);
        $('.hidden_4').attr('hidden',true);
        $('.hidden_5').attr('hidden',true);
    }else if(pay == 3){
        $('.hidden_1').attr('hidden',true);
        $('.hidden_2').attr('hidden',false);
    }else if(pay == 4){
        $('.hidden_1').attr('hidden',true);
        $('.hidden_2').attr('hidden',true);
        $('.hidden_3').attr('hidden',false);
        $('.hidden_4').attr('hidden',true);
        $('.hidden_5').attr('hidden',true);
    }else if(pay == 5){
        $('.hidden_1').attr('hidden',true);
        $('.hidden_2').attr('hidden',true);
        $('.hidden_3').attr('hidden',true);
        $('.hidden_4').attr('hidden',false);
        $('.hidden_5').attr('hidden',true);
    }else if(pay ==6){
        $('.hidden_1').attr('hidden',true);
        $('.hidden_2').attr('hidden',true);
        $('.hidden_3').attr('hidden',true);
        $('.hidden_4').attr('hidden',true);
        $('.hidden_5').attr('hidden',false);
    }else if(pay ==1){
      $('.hidden_1').attr('hidden',true);
      $('.hidden_2').attr('hidden',true);
      $('.hidden_3').attr('hidden',true);
      $('.hidden_4').attr('hidden',true);
      $('.hidden_5').attr('hidden',true);
    }
 
});


}


</script>
<script src="dist/js/sidebar.js"></script>
<%-include('../../_footer')%>
