<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/product_receipt/mastercard/save/<%=url.receipt%>" method="POST" class="form-group" >
        <div class="row">
          <div class="col-9">
            <h3 style="color: rgb(17, 185, 185);"><b>เพิ่มบัญชีธนาคาร</b></h3>
          </div>
          <div class="col-12">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/product_receipt/pay/<%=url.receipt%>">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ประเภทบัตร</th>
                        <td>
                           <% for(var i =0; i<typecard.length;i++){ %>
                               <div class="form-check-inline">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" name="typecard_id" value="<%=typecard[i].id%>" required>
                                   <%= typecard[i].name%>
                                 </label>
                               </div>
                               <% }%>
                        </td>
                    </tr>
                  <tr>
                    <th style="width: 20%;">ธนาคาร:</th>
                    <td>
                        <select class="form-control" name="bank_id" required>
                            <option>-- กรุณาเลือกธนาคาร --</option>
                            <%for (var i = 0; i < bank.length; i++) { %>
                              <option value="<%=bank[i].id%>">
                                <%=bank[i].name%></option>
                            <%}%>
                          </select>
                    </td>
                    <td></td>
                 </tr>
                 <tr>
                   <th style="width: 20;">เลขบัตร 4 ตัวท้าย:</th>
                   <td><input type="text" name="numbercard" maxlength="4" class="form-control" placeholder="กรุณาระบุเลขบัตร 4 ตัวท้ายบัตรเครดิต" required></td>
                 </tr>
                 <tr>
                   <th>ชื่อผู้ถือบัตร: <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                   <td><input  type="text" name="username"   class="form-control" required></td>
                 </tr>
                 <tr>
                   <th>ชื่อบัตร: </th>
                   <td><input type="text" name="cardname" placeholder="กรุณาระบุชื่อบัตร" class="form-control" required></td>
                 </tr>
                 <tr>
                    <th>วงเงิน: </th>
                    <td><input type="text" name="money" placeholder="0.00" class="form-control" required></td>
                  </tr>
                  <tr>
                    <th>วันสรุปยอดบัญชี: </th>
                    <td>
                        <select class="form-control" name="sumarydate" required>
                            <option>กรุณาระบุวันสรุปยอดบัญชี</option>
                            <option>สิ้นเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 1 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 2 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 3 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 4 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 5 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 6 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 7 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 8 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 9 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 10 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 11 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 12 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 13 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 14 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 15 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 16 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 17 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 18 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 19 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 20 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 21 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 22 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 23 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 24 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 25 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 26 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 27 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 28 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 29 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 30 ของทุกเดือน</option>
                            <option value="">สรุปยอดบัญชีทุกวันที่ 31 ของทุกเดือน</option>
                          </select>
                    </td>
                  </tr>
                  <tr>
                    <th>วันครบกำหนด: </th>
                    <td>
                        <select class="form-control" name="duedate" required>
                            <option> กรุณาเลือกวันที่ตัดยอด/สรุปยอดของบัตรเครดิต</option>
                              <option value="">ชำระไม่เกินวันที่สิ้นเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 1 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 2 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 3 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 4 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 5 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 6 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 7 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 8 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 9 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 10 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 11 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 12 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 13 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 14 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 15 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 16 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 17 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 18 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 19 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 20 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 21 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 22 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 23 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 24 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 25 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 26 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 27 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 28 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 29 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 30 ของทุกเดือน</option>
                              <option value="">ชำระไม่เกินวันที่ 31 ของทุกเดือน</option>
                          </select>
                    </td>
                  </tr>
                </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>


<%-include('../../_footer.ejs')%>
