<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/product_receipt/chanal_other/save/<%=url.receipt%>" method="POST" class="form-group">
        <div class="row">
          <div class="col-9">
            <h3 style="color: rgb(17, 185, 185);"><b>เพิ่มช่องทางชำระอื่น</b></h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/product_receipt/pay/<%=url.receipt%>">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th style="width: 20%;">ช่องทางชำระเงิน:</th>
                    <td>
                        <input type="text" " id="typepayment"  value="<%=typepayment_card[0].name%>" class="form-control" disabled >
                        <input type="hidden" name="machine_payment" id="typepayment"  value="<%=typepayment_card[0].id%>" class="form-control" readonly >
                    </td>
                    <td></td>
                 </tr>
                 <tr id="bank">
                   <th style="width: 20;">ธนาคาร:</th>
                   <td>
                    <select class="form-control" name="bank_name"  >
                        <option value="">กรุณาเลือกธนาคารของเครื่องรูดบัตร</option>
                        <%for (var i = 0; i < bank.length; i++) { %>
                          <option value="<%=bank[i].name%>">
                            <%=bank[i].name%></option>
                        <%}%>
                      </select>
                   </td>
                 </tr>
                 <tr class="chanal_1">
                   <th>ชื่อเครื่อง/เลขซีเรียล:</th>
                   <td><input  type="text" name="serial_number"   class="form-control chanal_1"></td>
                 </tr>
                 <tr  class="chanal_2">
                  <th>ชื่อให้บริการ/ชื่อเครื่อง:</th>
                  <td><input  type="text" name="service_name"   class="form-control chanal_2"></td>
                </tr>
                <tr class="chanal_3">
                  <th>ชื่อให้บริการ:</th>
                  <td><input  type="text" name="service_name"   class="form-control chanal_3"></td>
                </tr>
                <tr  class="chanal_4">
                  <th>ชื่อ Marketplace:</th>
                  <td><input  type="text" name="name_market"  placeholder="กรุณาระบุชื่อ เช่น Lasada , shopee"  class="form-control chanal_4"></td>
                </tr>
                 <tr>
                   <th>รายละเอียดเพิ่มเติม: </th>
                   <td><textarea name="detail" id="" cols="100" rows="10" class="form-control" ></textarea></td>
                 </tr>
                </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  var select_typepaymentcard = <%-JSON.stringify(select_typepaymentcard)%>;
 var machin = $('#typepayment').val()
  if(machin == "เครื่องรูดบัตรเครดิต (EDC)"){
    $('#bank').show()
    $('.chanal_2').hide().attr('disabled',true);
    $('.chanal_3').hide().attr('disabled',true);
    $('.chanal_4').hide().attr('disabled',true);
  }else if(machin == "เครื่องบันทึกเงินสด (POS)"){
    $('#bank').hide()
    $('.chanal_1').hide().attr('disabled',true);
    $('.chanal_2').show()
    $('.chanal_3').hide().attr('disabled',true);
    $('.chanal_4').hide().attr('disabled',true);
  }else if(machin == "ช่องทางรับชำระออนไลน์  (Online Payment Geteway)"){
    $('#bank').hide()
    $('.chanal_1').hide().attr('disabled', true)
    $('.chanal_2').hide().attr('disabled', true)
    $('.chanal_3').show()
    $('.chanal_4').hide().attr('disabled', true)
  }else{
    $('#bank').hide()
    $('.chanal_1').hide().attr('disabled', true)
    $('.chanal_2').hide().attr('disabled', true)
    $('.chanal_3').hide().attr('disabled', true)
    $('.chanal_4').show()
  }
</script>

<%-include('../../_footer.ejs')%>
