<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/product_receipt/acc_transfer/save/<%=url.receipt%>" method="POST" class="form-group">
        <div class="row">
          <div class="col-9">
            <h3 style="color: rgb(17, 185, 185);"><b>เพิ่มบัญชีธนาคาร</b></h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/product_receipt/pay/<%=url.receipt%>">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th style="width: 20%;">ชื่อธนาคาร:</th>
                    <td>
                        <select class="form-control" name="bank_name" required>
                          <option value="">--กรุณาเลือก--</option>
                            <%for (var i = 0; i < bank.length; i++) { %>
                              <option value="<%=bank[i].name%>">
                                <%=bank[i].name%></option>
                            <%}%>
                          </select>
                    </td>
                    <td></td>
                 </tr>
                 <tr>
                   <th style="width: 20;">เลขที่บัญชี:</th>
                   <td><input type="text" name="bank_number" class="form-control" placeholder="ระบุเลขบัญชี" required></td>
                 </tr>
                 <tr>
                   <th>สาขาธนาคาร: <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                   <td><input  type="text" name="branchbank" placeholder="ระบุสาขา"  class="form-control" required></td>
                 </tr>
                 <tr>
                   <th>ชื่อบัญชี: </th>
                   <td><input type="text" name="account_name" id="" class="form-control" placeholder="ระบุชื่อบัญชี" required></td>
                 </tr>
                 <tr>
                     <th>ประเภทบัญชี</th>
                     <td>
                        <% for(var i =0; i<typeaccount.length;i++){ %>
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="typeacc_id" value="<%=typeaccount[i].id%>" required>
                                <%= typeaccount[i].name%>
                              </label>
                            </div>
                            <% }%>
                     </td>
                 </tr>
                </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>


<%-include('../../_footer.ejs')%>
