<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="/dist/css/bootstrap.css" rel="stylesheet" /> -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="/dist/assets/vendor/jquery/jquery.min.js"></script>
  <title>General Ledger By DH-PTT & CRRU</title>
  <link rel="icon" type="png"
    href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png" />
</head>

<body>
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

  <section id="services" class="services">
    <div class="container-fluid">
      <h1 class="welcome text-center">แก้ไขรหัสผ่าน</h1>
      <div class="card card-container">
        <h2 class='text-dark text-center'></h2>
        <hr>
        <form class="form-signin" action="/login/reset_password_resetpassword" id="formpost" method="POST">
          <input type="hidden" name="token" class="form-control" value="<%= token %>">
          <input type="hidden" name="email" class="form-control" value="<%= email %>">
          <span id="reauth-email" class="reauth-email"></span>
          <p class="input_title">รหัสผ่าน</p>
          <input class="form-control login_box" type="password" name="password1" id="password1" placeholder="รหัสผ่าน"
            required autofocus>
          <p class="input_title">ยืนยัน-รหัสผ่าน</p>
          <input class="form-control login_box" type="password" name="password2" id="password2" placeholder="รหัสผ่าน"
            required autofocus>
          <button class="btn btn-lg btn-primary mt-3" type="button" onclick="chackpassword()">แก้ไข</button>
        </form><!-- /form -->


      </div><!-- /card-container -->
    </div><!-- /container -->
  </section>

</body>
<!-- <script src="/dist/assets/vendor/bootstrap/js/bootstrap.js"></script> -->
<script src="/dist/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</html>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function chackpassword() {
    if ($('#password1').val() == $('#password2').val() && $('#password1').val() != '') {
      $('#formpost').submit();
    } else {
      Swal.fire('รหัสผ่าน ไม่ตรงกัน ');
      $('#password2').val() = '';
    }
  }
</script>




<script>
  var textalert = '';
  var datatextalert = '<%= session.sweetalert2text %>';
  var datatextalert = datatextalert.split("/*/");
  
  for (var i = 0; i < datatextalert.length; i++) {
    textalert = textalert + datatextalert[i] ;
    if (i!=datatextalert.length-1) {
      textalert = textalert + "\r\n";
    }
  }
</script>
<% if(session.sweetalert2check == 'true'){ %>
  <% session.sweetalert2check = null; %>
  <script>
    Swal.fire(textalert );
  </script>
<% }else if(session.sweetalert2check == 'success'){ %>
  <% session.sweetalert2check = null; %>
  <script>
          Swal.fire({icon:'success',text:textalert });
  </script>
<% }else if(session.sweetalert2check == 'error'){%>
  <% session.sweetalert2check = null; %>
  <script>
          Swal.fire({icon:'error',text:textalert });
  </script>
<% }else if(session.sweetalert2check == 'warning'){%>
  <% session.sweetalert2check = null; %>
  <script>
          Swal.fire({icon:'warning',text:textalert });
  </script>
<% }else if(session.sweetalert2check == 'info'){%>
  <% session.sweetalert2check = null; %>
  <script>
          Swal.fire({icon:'info',text:textalert });
  </script>
<% }else if(session.sweetalert2check == 'question'){%>
  <% session.sweetalert2check = null; %>
  <script>
          Swal.fire({icon:'question',text:textalert });
  </script>
<% } %>


<style>
  body,
  html {
    height: 100%;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    background: #2d405f;
  }

  .login_box {
    background: #f7f7f7;
    border: 3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom: 25px;
  }

  .input_title {
    color: rgba(164, 164, 164, 0.9);
    padding-left: 3px;
    margin-bottom: 2px;
  }

  hr {
    width: 100%;
  }

  .welcome {
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-top: 50px;

  }

  .login_title {
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: rgba(164, 164, 164, 0.44);
  }

  .card-container.card {
    max-width: 350px;

  }

  .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border-radius: 0;
    background: #43A6EB;
    height: 55px;
    margin-bottom: 10px;
  }

  /*
  * Card component
  */
  .card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  /*
  * Form styles
  */
  .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
  }

  .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-signin #inputEmail,
  .form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
  }

  .form-signin input[type=email],
  .form-signin input[type=password],
  .form-signin input[type=text],
  .form-signin button {
    width: 100%;
    display: block;

    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  }

  .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
  }

  .btn.btn-signin:hover,
  .btn.btn-signin:active,
  .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
  }

  .forgot-password {
    color: rgb(104, 145, 162);
  }

  .forgot-password:hover,
  .forgot-password:active,
  .forgot-password:focus {
    color: rgb(12, 97, 33);
  }
</style>