<%-include('../../_header.ejs')%>

  <div class="monitor">
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-body">

              <%-include('../sell_sidebar.ejs')%>

              <div id="main">
                <div class="row">
                  <div class="col-9">
                    <div class="float-left">
                      <div class="row">
                        <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                        <h3>ใบเพิ่มหนี้</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-success" href="/debit_note/add">สร้างใบเพิ่มหนี้</a>
                    </div>
                  </div>
                </div>

                <hr>

                <div style="width: 100%;">
                  <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                    <thead class="table-bordered">
                      <tr>
                        <th width="10%">วันที่</th>
                        <th width="15%">เลขที่เอกสาร</th>
                        <th width="35%">ชื่อลูกค้า/ชื่อโปรเจ็ค</th>
                        <th width="15%">ยอดรวมสุทธิ</th>
                        <th width="15%">สถานะ</th>
                        <th width="10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-left border-right border-bottom">
                        <td> </td>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td ></td>
                        <td align="center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/debit_note/edit/1"><i class="fa fa-edit"></i> แก้ไขเอกสาร</a>
                              <a class="dropdown-item" href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                              <a class="dropdown-item" href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                              <hr>
                              <a class="dropdown-item" href="#" onclick="cashSale('delete')"><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-info" id="exampleModalLabel">ยืนยันการลบข้อมูล</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                          <p>เลขที่เอกสาร:</p>
                          <p>ยอดรวมสุทธิ:</p>
                        </div>
                        <div class="modal-footer">
                          <a href="/debit_note/delete/1" class="btn btn-danger">ยืนยัน</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
  function cashSale(id) {
    $('#'+id).modal();
  }
</script>

<script src="dist/js/sidebar.js"></script>

<%-include('../../_footer')%>
