<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info">บันทึกประวัติยอดยกมา</h3>
              </div>
              <div class="col-3">
                <div class="text-right">
                  <a class="btn btn-dark mb-2" href="/beginning">กลับ</a>
                </div>
              </div>
            </div>

              <hr>

                  <form action="/beginning/save" method="post" class="form-group">
                      <table class="table table-bordered " style="width:100%; "  >
                        <th style="text-align: center;">ประเภทการปิดงบ</th>
                        <td>
                          <select class='form-control' name='type_id' placeholder="กรุณาเลือก" width="20%">
                            <% if(beginning_type) { %>
                              <% for(var i=0; i<beginning_type.length; i++){ %>
                                <option value="<%= beginning_type[i].id %>"><%= beginning_type[i].name %></option>
                              <%}%>
                            <%}%>
                          </select>
                        </td>
                        <th style="text-align: center;">ยอดยกมางวดที่</th>
                        <td style="width: 20%;">
                          <%var year = new Date().getFullYear()-1;%>
                          <input type="date" name="closedate" class="form-control" value="<%=year+'-01-01'%>" required>
                        </td>
                      </table>

                    <table class="table table-bordered table-responsive-md">
                      <thead>
                        <tr align="center" class="table-active">
                          <th width="10%">รหัสบัญชี</th>
                          <th width="30%">ชื่อบัญชี</th>
                          <th width="30%">เดบิต</th>
                          <th width="30%">เครบิต</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var j=0;j<chart.length;j++){ %>
                          <tr>
                            <td>
                              <input type="hidden" name="chart_id" value="<%=chart[j].id%>">
                              <input type="text" class="form-control" value="<%=chart[j].code%>" disabled>
                            </td>
                            <td><input type="text" class="form-control" value="<%=chart[j].name%>" disabled></td>
                            <td><input type="text" name="dr" value="0.00" class="form-control text-right drS" onkeyup="drSum()"></td>
                            <td><input type="text" name="cr" value="0.00" class="form-control text-right crS" onkeyup="crSum()"></td>

                          </tr>
                        <%}%>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2" align="center">รวม</td>
                          <td><input type="text" class="form-control text-right" id="drR" disabled></td>
                          <td><input type="text" class="form-control text-right" id="crR" disabled></td>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="mt-2" align="center">
                      <a href="/beginning" class="btn btn-primary">ย้อนกลับ</a>
                      <button type="submit" class="btn btn-success" id="ok">ตกลง</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

<script src="/dist/js/beginning_balance.js"></script>

<%-include('../../_footer.ejs')%>
