<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info">รายการยอดยกมา</h3>
              </div>
              <div class="col-3">
                <%var year = new Date().getFullYear()-1;%>
                <div class="text-right mb-2">
                  <a href="/beginning/add" class="btn btn-success">เพิ่ม</a>
                  <a href="/beginning/edit/<%=year%>" class="btn btn-info">แก้ไข</a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">ลบ</button>
                </div>
              </div>
            </div>

              <hr>

              <table class="table table-bordered table-responsive-lg" id="beginningDatatable">
                <thead class="table-active">
                  <tr align="center">
                    <th style="width: 5%;">ลำดับ</th>
                    <th style="width: 10%;">รหัสบัญชี</th>
                    <th style="width: 25%;">ชื่อบัญชี</th>
                    <th style="width: 15%;">เดบิต</th>
                    <th style="width: 15%;">เครดิต</th>
                    <th style="width: 15%;">วันต้นงวด</th>
                    <th style="width: 15%;">ประเภทปิดงบ</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (beginning) { %>
                    <% for (var i=0 ;i<beginning.length; i++){ %>
                      <tr >
                        <td align="center" class="<%=beginning[i].id%>"><%= i+1 %></td>
                        <td align="center"><%=beginning[i].code%></td>
                        <td class="<%=beginning[i].chart_id%>"><%= beginning[i].chart %></td>
                        <td align="right"><%= beginning[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %></td>
                        <td align="right"><%= beginning[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %></td>
                        <td align="center"><%= beginning[i].bclosedate %></td>
                        <td align="center"><%= beginning[i].tname %></td>
                      </tr>
                    <% } %>
                  <% } %>
                </tbody>
                <tfoot>
                  <tr >
                    <td colspan="3" align="center">รวม</td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
              <!-- edit -->
              <!-- <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">แก้ไข</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/beginning/update"  method="post">
                        <input type="hidden" name="id" id="idd" >
                       <table class="table table-bordered">
                        <th width="30%">ประเภทการปิดงบ</th>
                        <td>
                          <select class='form-control' id="edittype_id" name='type_id' placeholder="กรุณาเลือก" width="50%">
                            <% if(typebegin) { %>
                              <% for(var i=0; i<typebegin.length; i++){ %>
                                <option value="<%= typebegin[i].id %>"><%= typebegin[i].name %></option>
                              <%}%>
                            <%}%>
                          </select>
                        </td>
                        <th style="text-align: center;">วันที่ปิดงบ</th>
                        <td style="width: 20%;">
                          <input type="date" id="editclosedate" name="closedate" class="form-control" required>
                        </td>
                       </table>

                       <table class="table table-bordered">
                        <thead>
                          <tr align="center" class="table-active">
                            <th>ชื่อบัญชี</th>
                            <th>เดบิต</th>
                            <th>เครบิต</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td width="20%">
                                <input type="text" id="editchart_id1"   class="form-control">
                                <input type="hidden" id="editchart_id"  name="chart_id" class="form-control">
                              </td>
                              <td><input type="text" id="editdr"name="dr" value="0" class="form-control text-right ddr"  step="0.01" ></td>
                              <td><input type="text" id="editcr" name="cr" value="0" class="form-control text-right ccr" step="0.01" ></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <td width="20%"></td>
                            <td><input type="text" class="form-control text-right" id="" disabled></td>
                            <td><input type="text" class="form-control text-right" id="" disabled></td>
                          </tfoot>
                       </table>
                       <div class="modal-footer">
                         <button type="submit" class="btn btn-success">ตกลง</button>
                       </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- delete -->
              <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูล</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ต้องการลบประวัติยอดยกมาปี <%=year%> ? <br>
                    </div>
                    <div class="modal-footer">
                      <form action="/beginning/delete/<%=year%>" method="post">
                      <button type="submit" class="btn btn-danger">ยืนยัน</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

<script>
  function editData(data){ //
  $('#idd').val($(data).closest("tr").find("td").eq(0).attr('class'));
  $('#edittype_id option:contains("' + $(data).closest("tr").find("td").eq(6).text().trim() + '")').prop('selected', true);
  $('#editlistdate').val($(data).closest("tr").find("td").eq(1).text().trim());

  var strdate = $(data).closest("tr").find("td").eq(1).text().trim().split('/');
  var strdate_new = ''+(strdate[2]-543)+'-'+strdate[1]+'-'+strdate[0]+'';

  $('#editclosedate').val($(data).closest("tr").find("td").eq(5).text().trim());
  var strclose = $(data).closest("tr").find("td").eq(5).text().trim().split('/');
  var strclose_new = ''+(strclose[2]-543)+'-'+strclose[1]+'-'+strclose[0]+'';

  $('#editclosedate').val(strclose_new);
  $('#editlistdate').val(strdate_new);
  $('#editchart_id').val($(data).closest("tr").find("td").eq(2).attr('class'));
  $('#editchart_id1').val($(data).closest("tr").find("td").eq(2).text().trim());
  $('#editdr').val($(data).closest("tr").find("td").eq(3).text().trim());
  $('#editcr').val($(data).closest("tr").find("td").eq(4).text().trim());
  $('#editTypeacc option[value="' + $(data).closest("tr").find("td").eq(3).attr('class') + '"]').prop('selected', true);
  }
</script>

<script>

  $('.ddr').keyup(function(){
    if($(this).val() > 0  ){
      $('.ccr').val(0.00);
    }
  });

  $('.ccr').keyup(function(){
    if($(this).val() > 0 ){
      $('.ddr').val(0.00);
    }
  });

    $(document).ready(function () {
      $('#beginningDatatable').DataTable({
        "order": [[0, "asc"]]
      });
    });

</script>

<%-include('../../_footer.ejs')%>
