<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <tr>
        <th>เลขที่คลัง</th>
        <td>
          <div class="col-auto">
            <label class="sr-only" for="no_inventory">เลขที่คลัง</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-minus" ></i></div>
              </div>
              <input type="text" name="no_inventory" id="no_inventory" class="form-control" placeholder="เลขที่คลัง">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>ชื่อคลังสินค้า</th>
        <td>
          <div class="col-auto">
            <label class="sr-only" for="name">ชื่อคลังสินค้า</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-minus" ></i></div>
              </div>
              <input type="text" name="name" id="name" class="form-control" placeholder="ชื่อคลังสินค้า">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>ที่อยู่</th>
        <td>
          <div class="col-auto">
            <label class="sr-only" for="address">ที่อยู่</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-minus" ></i></div>
              </div>
              <input type="text" name="address" id="address" class="form-control" placeholder="ที่อยู่">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>