<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">รายการสินค้าในคลังสินค้า: <%=inventory_list[0].name%></h3>
          </div>
          <div class="text-right">
            <a class="btn btn-success" href="/inventory/addproduct/<%=inventory_list[0].id%>">เพิ่มสินค้าเข้าคลัง</a>
            <!-- <a class="btn btn-success" href="/product/add">เพิ่มรายการสินค้า</a> -->
            <a class="btn btn-success" href="/inventory/editstock/<%=inventory_list[0].id%>">แก้ไขสต๊อก</a>
            <a class="btn btn-success" href="/inventory/transaction_inventory/<%=inventory_list[0].id%>">ประวัติ</a>
            <a class="btn btn-outline-dark" href="/inventory">กลับ</a>

          </div>
          <hr>

          <div class="wrapper">
            <nav class="tabs">
              <!-- <div class="selector"></div> -->
              <a href="#" id="tapsearch" class="active" onclick="activeTabp(event, 'go1')"><i
                  class="fas fa-box-open"></i>แสดงทั้งหมด</a>
              <a href="#" onclick="activeTabp(event, 'go2')"><i class="fas fa-people-carry"></i>บริการ</a>
              <a href="#" onclick="activeTabp(event, 'go3')"><i class="fas fa-tint-slash"></i>สินค้าไม่นับสต็อก</a>
              <a href="#" onclick="activeTabp(event, 'go4')"><i class="fas fa-tint"></i>สินค้านับสต็อก</a>
              <a href="#" onclick="activeTabp(event, 'go5')"><i class="fas fa-minus-circle"></i>ปิดใช้งานแล้ว</a>
            </nav>

            <div class="tabcontent" id="go1">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="15%">จำนวนคงคลัง</th>
                    <th width="15%">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="8%">แจ้งเตือน</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list) { %>
                    <% for (var i=0 ;i<product_list.length; i++){ %>
                      <% if (product_list[i].inventoryEnable == 1) { %>
                      <tr id="go1-<%=product_list[i].id%>"
                        ondblclick="window.location.href ='/inventory/productdetail/<%=product_list[i].id%>/<%=inventory_list[0].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list[i].typename %>
                        </td>
                        <td>
                          <%= product_list[i].code %>
                        </td>
                        <td>
                          <%= product_list[i].name %>
                        </td>
                        <td align="right">
                          <%if(product_list[i].inventorynumber){%>
                            <%=product_list[i].inventorynumber%>
                              <%}else{%>0<%}%>
                        </td>
                        <td align="right">
                          <%if(product_list[i].inventorycost){%>
                            <%=product_list[i].inventorycost.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                              <%}else{%>0<%}%>
                        </td>
                        <td>
                          <%= product_list[i].product_group %>
                        </td>
                        <td>
                          <%if(product_list[i].inventorynumber <= product_list[i].inventoryAlert){%>
                            <t style="color: red;">ต่ำกว่าที่กำหนด</t>
                          <%}else{%>
                            -
                          <%}%>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/inventory/productdetail/<%=product_list[i].id%>/<%=inventory_list[0].id%>"><i
                                  class="fa fa-list "></i> รายละเอียดสินค้า link</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go1-<%=product_list[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go2">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="15%">จำนวนคงคลัง</th>
                    <th width="15%">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="8%">แจ้งเตือน</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list1) { %>
                    <% for (var i=0 ;i<product_list1.length; i++){ %>
                      <tr id="go2-<%=product_list1[i].id%>"
                        ondblclick="window.location.href ='/inventory/productdetail/<%=product_list1[i].id%>/<%=inventory_list[0].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list1[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list1[i].typename %>
                        </td>
                        <td>
                          <%= product_list1[i].code %>
                        </td>
                        <td>
                          <%= product_list1[i].name %>
                        </td>
                        <td align="right">
                          <%if(product_list1[i].inventorynumber){%>
                            <%=product_list1[i].inventorynumber%>
                              <%}else{%>0<%}%>
                        </td>
                        <td align="right">
                          <%if(product_list1[i].inventorycost){%>
                            <%=product_list1[i].inventorycost.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                              <%}else{%>0<%}%>
                        </td>
                        <td>
                          <%= product_list1[i].product_group %>
                        </td>
                        <td>
                          <%if(product_list1[i].inventorynumber <= product_list1[i].inventoryAlert){%>
                            <t style="color: red;">ต่ำกว่าที่กำหนด</t>
                          <%}else{%>
                            -
                          <%}%>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" class="dropdown-item"
                                href="/inventory/productdetail/<%=product_list1[i].id%>/<%=inventory_list[0].id%>"><i class="fa fa-list"></i>
                                รายละเอียดสินค้า link</a>
                              <hr>
                              <a class="dropdown-item" class="dropdown-item" href="#"
                                onclick="inventoryDisable('go2-<%=product_list1[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go3">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="15%">จำนวนคงคลัง</th>
                    <th width="15%">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="8%">แจ้งเตือน</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list2) { %>
                    <% for (var i=0 ;i<product_list2.length; i++){ %>
                      <tr id="go3-<%=product_list2[i].id%>"
                        ondblclick="window.location.href ='/inventory/productdetail/<%=product_list2[i].id%>/<%=inventory_list[0].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list2[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list2[i].typename %>
                        </td>
                        <td>
                          <%= product_list2[i].code %>
                        </td>
                        <td>
                          <%= product_list2[i].name %>
                        </td>
                        <td align="right">
                          <%if(product_list2[i].inventorynumber){%>
                            <%=product_list2[i].inventorynumber%>
                              <%}else{%>0<%}%>
                        </td>
                        <td align="right">
                          <%if(product_list2[i].inventorycost){%>
                            <%=product_list2[i].inventorycost.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                              <%}else{%>0<%}%>
                        </td>
                        <td>
                          <%= product_list2[i].product_group %>
                        </td>
                        <td>
                          <%if(product_list2[i].inventorynumber <= product_list2[i].inventoryAlert){%>
                            <t style="color: red;">ต่ำกว่าที่กำหนด</t>
                          <%}else{%>
                            -
                          <%}%>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/inventory/productdetail/<%=product_list2[i].id%>/<%=inventory_list[0].id%>"><i
                                  class="fa fa-list"></i> รายละเอียดสินค้า link</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go3-<%=product_list2[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go4">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="15%">จำนวนคงคลัง</th>
                    <th width="15%">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="8%">แจ้งเตือน</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_list3) { %>
                    <% for (var i=0 ;i<product_list3.length; i++){ %>
                      <tr id="go4-<%=product_list3[i].id%>"
                        ondblclick="window.location.href ='/inventory/productdetail/<%=product_list3[i].id%>/<%=inventory_list[0].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_list3[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_list3[i].typename %>
                        </td>
                        <td>
                          <%= product_list3[i].code %>
                        </td>
                        <td>
                          <%= product_list3[i].name %>
                        </td>
                        <td align="right">
                          <%if(product_list3[i].inventorynumber){%>
                            <%=product_list3[i].inventorynumber%>
                              <%}else{%>0<%}%>
                        </td>
                        <td align="right">
                          <%if(product_list3[i].inventorycost){%>
                            <%=product_list3[i].inventorycost.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                              <%}else{%>0<%}%>
                        </td>
                        <td>
                          <%= product_list3[i].product_group %>
                        </td>
                        <td>
                          <%if(product_list3[i].inventorynumber <= product_list3[i].inventoryAlert){%>
                            <t style="color: red;">ต่ำกว่าที่กำหนด</t>
                          <%}else{%>
                            -
                          <%}%>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/inventory/productdetail/<%=product_list3[i].id%>/<%=inventory_list[0].id%>"><i
                                  class="fa fa-list"></i> รายละเอียดสินค้า link</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go4-<%=product_list3[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go5">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-info">
                  <tr align="center">
                    <th width="5%">ลำดับ</th>
                    <th width="10%">รูปสินค้า</th>
                    <th width="8%">ประเภทสินค้า</th>
                    <th width="12%">รหัสสินค้า</th>
                    <th width="20%">ชื่อสินค้า</th>
                    <th width="15%">จำนวนคงคลัง</th>
                    <th width="15%">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                    <th width="8%">หมวดสินค้า</th>
                    <th width="8%">แจ้งเตือน</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (product_listDel) { %>
                    <% for (var i=0 ;i<product_listDel.length; i++){ %>
                      <% if (product_listDel[i].inventoryEnable == 0 || product_listDel[i].enable == 0) { %>
                      <tr id="go1-<%=product_listDel[i].id%>"
                        ondblclick="window.location.href ='/inventory/productdetail/<%=product_listDel[i].id%>/<%=inventory_list[0].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td align="center">
                          <%if (photo) {%>
                            <% for (var iii=0 ;iii<photo.length; iii++){ %>
                              <%if (photo[iii].id==product_listDel[i].id) {%>
                                <a href="/inventory/<%=photo[iii].photo%>" target="_blank">
                                  <img src="/inventory/<%=photo[iii].photo%>" alt="สินค้า" height="50px">
                                </a>
                                <%}%>
                                  <%}%>
                                    <%}%>
                        </td>
                        <td>
                          <%= product_listDel[i].typename %>
                        </td>
                        <td>
                          <%= product_listDel[i].code %>
                        </td>
                        <td>
                          <%= product_listDel[i].name %>
                        </td>
                        <td align="right">
                          <%if(product_listDel[i].inventorynumber){%>
                            <%=product_listDel[i].inventorynumber%>
                              <%}else{%>0<%}%>
                        </td>
                        <td align="right">
                          <%if(product_listDel[i].inventorycost){%>
                            <%=product_listDel[i].inventorycost.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                              <%}else{%>0<%}%>
                        </td>
                        <td>
                          <%= product_listDel[i].product_group %>
                        </td>
                        <td>
                          <%if(product_listDel[i].inventorynumber <= product_listDel[i].inventoryAlert){%>
                            <t style="color: red;">ต่ำกว่าที่กำหนด</t>
                          <%}else{%>
                            -
                          <%}%>
                        </td>
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/inventory/productdetail/<%=product_listDel[i].id%>/<%=inventory_list[0].id%>"><i
                                  class="fa fa-list "></i> รายละเอียดสินค้า link</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryEnable('go1-<%=product_listDel[i].id%>')"><i
                                  class="fas fa-external-link-alt"></i> เปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- -----------------Disable modal---------------- -->
          <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>รหัส: <span></span></p>
                  <p>ชื่อสินค้า: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>
          <!-- -----------------Enable modal---------------- -->
          <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">เปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการเปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>รหัส: <span></span></p>
                  <p>ชื่อสินค้า: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function inventoryDisable(trId) {
      var inid = trId.split('-')[1];
      $('#Disable').modal();
      $('#Disable .modal-body p:eq(1) span').text($('#' + trId + ' td:eq(3)').text());
      $('#Disable .modal-body p:eq(2) span').text($('#' + trId + ' td:eq(4)').text());
      $('#Disable .modal-body p:eq(3) span').text($('#' + trId + ' td:eq(3)').text());
      $('#Disable .modal-footer a').attr('href', '/inventory/disable/' + inid+'/<%=inventory_list[0].id%>');
    }
    function inventoryEnable(trId) {
      var inid = trId.split('-')[1];
      $('#Enable').modal();
      $('#Enable .modal-body p:eq(1) span').text($('#' + trId + ' td:eq(3)').text());
      $('#Enable .modal-body p:eq(2) span').text($('#' + trId + ' td:eq(4)').text());
      $('#Enable .modal-footer a').attr('href', '/inventory/Enable/' + inid+'/<%=inventory_list[0].id%>');
    }
var i, tabcontent
function activeTabp(evt, tabPd) {
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    $("table#tablesearch").attr('id', '');
  }
  document.getElementById(tabPd).style.display = "block";
  $('#search').val('');
  $("#" + tabPd + " table:first").attr('id', 'tablesearch');
  if ($('div#' + tabPd + ' > div:first').attr('id') != 'tablesearch_wrapper') {
    dataTable();
  }
}
// end js eletric
$('#resvenueInput').hide();
function resvenue() {
  $('#resvenueInput').show();
  $('#resvenueEdit').hide();
}
$('#paymentInput').hide();
function payment() {
  $('#paymentInput').show();
  $('#paymentEdit').hide();
}
// --- datatable ----///
$(document).ready(function () {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
});
function dataTable() {
  // $('#tablesearch_wrapper .row').remove().end()
  // $(document).ready(function() {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
  // });
}
  </script>
  <!-- <script src="/dist/js/product.js" crossorigin="anonymous"></script> -->
  <%-include('../../_footer.ejs')%>