<%-include('../../_header.ejs')%>

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-body">

                    <div class="float-left">
                        <h3 class="text-info">เพิ่ม รายการโอนสินค้าระหว่างคลัง</h3>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-outline-dark" href="/inventory/transfer">กลับ</a>
                    </div>
                    <hr>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>คลังส่ง</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <select class="form-control" name="a_inventory"  onchange="changeoptionAB(),getProductlist()" id="selectA" disabled required>
                                                        <option value="">--เลือก--</option>
                                                        <% for(var i = 0 ;i<inventory_list.length;i++){ %>
                                                            <option class="a_inventory_list" id="a_inventory_list_<%=inventory_list[i].id%>" value="<%=inventory_list[i].id%>" <% if(inventory_transfer_head[0].a_inventory==inventory_list[i].id){ %> selected <% } %> ><%=inventory_list[i].name%></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-1 text-center">
                                <h3>ไปยัง</h3>
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>คลังรับ</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <select class="form-control" name="b_inventory" onchange="changeoptionAB()" id="selectB" disabled required>
                                                        <option value="">--เลือก--</option>
                                                        <% for(var i = 0 ;i<inventory_list.length;i++){ %>
                                                            <option class="b_inventory_list" id="b_inventory_list_<%=inventory_list[i].id%>" value="<%=inventory_list[i].id%>" <% if(inventory_transfer_head[0].b_inventory==inventory_list[i].id){ %> selected <% } %> ><%=inventory_list[i].name%></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">

                            </div>

                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 30%;">เลขที่เอกสาร</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control" name="no_transfer" value="<%=inventory_transfer_head[0].no_transfer%>" disabled required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 30%;">วันที่</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control" name="date"  value="<%=inventory_transfer_head[0].date%>" disabled required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 3%;">ลำดับ</th>
                                            <th style="width: 30%;">รายการ</th>
                                            <th style="width: 20%;">จำนวนที่ต้องส่ง</th>
                                            <th style="width: 15%;">หน่วย</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyRowForAddData">
                                        <% for(var i = 0 ;i<inventory_transfer_detail.length;i++){ %>
                                        
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td>
                                                <div class="col-auto">
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text"><i class="fas fa-minus"></i>
                                                            </div>
                                                        </div>
                                                        <select class="form-control selectproduct selectlist" onchange="chackaddtrdata() ,getProductunit(1)" name="product_list_id" id="selectlist-1" disabled>
                                                            <option ><%=inventory_transfer_detail[i].productname%></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control number_product" name="number_product" id="number_product-1" min="0" value="<%=inventory_transfer_detail[i].number_product%>" disabled>
                                            </td>
                                            <td>
                                                <select name="unit" class="form-control selectunit" id="selectunit-1" onchange="Chacknumber_product(1)" disabled>
                                                    <option ><%=inventory_transfer_detail[i].unitname%></option>

                                                </select>
                                            </td>
                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        
                    <div class="text-right">
                        <%if( inventory_transfer_head[0].allow == 0 ){%>
                        <a href="/inventory/transferallowsave/<%=inventory_transfer_head[0].id%>" class="btn btn-success">อนุมัติ</a>
                        <% }else{ %>
                        <a href="/inventory/transferallowcancel/<%=inventory_transfer_head[0].id%>" class="btn btn-info">ยกเลิกการอนุมัติ</a>
                        <a  class="btn btn-info">อนุมัติไปแล้ว</a>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        var optionproductlist ='<option >--เลือก--</option>';
        var inventoryA = 0;
        $(document).ready(function () {
            $('#selectA').change(function () {
                inventoryA = $('#selectA').val();
            })

        })
        function chackaddtrdata() {
            var tbody = document.getElementById('bodyRowForAddData');
            var tr = tbody.getElementsByTagName('tr');
            var addtrOrNO = 0;
            var numberoftr = 1;
            $.each(tr, function (i, el) {
                numberoftr++;
                if ($(tr[i]).find("td:eq(1) select.selectproduct").val() == '') {
                    addtrOrNO++
                }
            });
            console.log(addtrOrNO);
            if (addtrOrNO == 0) {
                addtrdata(numberoftr);
            }
        }
        function addtrdata(i) {
            $('#bodyRowForAddData').append('<tr>'+
                                            '<td>'+i+'</td>'+
                                            '<td>'+
                                                '<div class="col-auto">'+
                                                    '<div class="input-group mb-2">'+
                                                        '<div class="input-group-prepend">'+
                                                            '<div class="input-group-text"><i class="fas fa-minus"></i>'+
                                                            '</div>'+
                                                        '</div>'+
                                                        '<select class="form-control selectproduct selectlist" onchange="chackaddtrdata(),getProductunit('+i+')"  name="product_list_id" id="selectlist-'+i+'">'+
                                                            optionproductlist+
                                                        '</select>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</td>'+
                                            '<td>'+
                                                '<select name="unit" class="form-control selectunit" id="selectunit-'+i+'" onchange="Chacknumber_product('+i+')">'+
                                                    
                                                '</select>'+
                                            '</td>'+
                                            '<td>'+
                                                '<input type="number" class="form-control number_product" name="number_product" id="number_product-'+i+'" min="0">'+
                                            '</td>'+
                                            '<td>'+
                                                '<input type="text" class="form-control " id="CCnumber_product-'+i+'"  readonly>'+
                                            '</td>'+
                                            '<td>'+
                                                '<input type="text" class="form-control" readonly>'+
                                            '</td>'+
                                            ' </tr>');

        }

        function  changeoptionAB() {
            $('.a_inventory_list').show();
            $('.b_inventory_list').show();
            $('#a_inventory_list_'+$('#selectB').val()).hide();
            $('#b_inventory_list_'+$('#selectA').val()).hide();
        }


        function getProductlist() {
            $.ajax({
                type: 'GET',
                    url: '/api/getproductlist/'+$('#selectA').val(),
                    success: function (result) {
                        $('.number_product').val('0');
                        $('.selectlist').empty();
                        $('.selectlist').append("<option value='' >--เลือก--</option>");
                        optionproductlist = '<option value="" >--เลือก--</option>';
                        $.each(result, function (i, productlist) {
                            // console.log(productlist);
                            $('.selectlist').append("<option value="+productlist.product_list_id +">"+ productlist.product_list_name + "</option>");
                            optionproductlist = optionproductlist+" <option value="+productlist.product_list_id +">"+ productlist.product_list_name + "</option>";
                        });
                        
                },
                    error: function (e) {
                }
            });
        }


        function getProductunit(tr) {
            $.ajax({
                type: 'GET',
                url: '/api/getproductunit/'+$('#selectlist-'+tr).val()+'/'+inventoryA,
                success: function (result) {
                    $('#selectunit-'+tr).empty();
                    $('#number_product-'+tr).val('0');
                    $.each(result, function (i, productunit) {
                        $('#selectunit-'+tr).append("<option value="+productunit.id +">"+ productunit.name + "</option>");
                    });
                    $('#number_product-'+tr).prop('max',(result[0].number_product));
                    $('#CCnumber_product-'+tr).val(result[0].number_product)
                        
                },
                    error: function (e) {
                }
            });
        }

        function Chacknumber_product(tr) {
            // $('#CCnumber_product-'+tr).val(parseInt($('#selectunit-'+tr).attr('number'))/parseInt($('#selectunit-'+tr).attr('unit')))
            $.ajax({
                type: 'GET',
                url: '/api/getproductchacknumber_product/'+$('#selectlist-'+tr).val()+'/'+inventoryA+'/'+$('#selectunit-'+tr).val(),
                success: function (result) {
                    $('#number_product-'+tr).val('0');

                    $('#number_product-'+tr).prop('max',(result[0].sum));
                    $('#CCnumber_product-'+tr).val(result[0].sum)
                   
                },
                    error: function (e) {
                }
            });
            
        }
    </script>
    <%-include('../../_footer.ejs')%>