<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <div class="float-left">
          <h3 class="text-info">รายการสินค้าในคลังสินค้า :: <%=inventory_list.name%></h3>
        </div>
        <div class="text-right">
          <a class="btn btn-outline-dark" href="/inventory/detail/<%=inventory_list.id%>">กลับ</a>
        </div>
        <hr>
        <form action="/inventory/updatestock/<%=inventory_list.id%>" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 3%;">ลำดับ</th>
                            <th style="width: 30%;">รายการ</th>
                            <th style="width: 15%;">จำนวน</th>
                            <th style="width: 20%;">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                            <th style="width: 20%;">จำนวนแจ้งเตือน</th>
                        </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                        <% if (inventory) { %>
                        <% for (var i=0 ;i<inventory.length; i++){ %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            <input type="number" class="form-control" name="i" value="<%=i%>" hidden>

                            <input type="number" class="form-control" name="inventory_id" value="<%=inventory[i].inventory_id%>" hidden>

                            </td>
                            <td>
                                <%=inventory[i].product_name%>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="number_product" value="<%=inventory[i].number_product%>">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="cost_product" value="<%=inventory[i].cost_product%>">
                            </td>
                            <td>
                              <input type="number" class="form-control" name="alert" value="<%=inventory[i].alert%>">
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>


          <hr>
          <div class="text-right">
            <button type="submit" class="btn btn-success">บันทึก</button>
          </div>
        </form>
     </div>
    </div>
  </div>
</div>



<%-include('../../_footer.ejs')%>
