<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3>รายละเอียดสินค้าของ: <%=product_list[0].name %> จากคลัง <%= inventory_list[0].name%></h3>
          </div>
          <div class="text-right">
            <a class="btn btn-success" href="/inventory/transaction_inventory_product/<%=inventory[0].inventory_list_id%>/<%=product_list[0].id%>"
              id="transactionhistory">ประวัติ</a>
              <a class="btn btn-outline-dark" href="/inventory/detail/<%=inventory[0].inventory_list_id%>">กลับ</a>


          </div>
          <hr>
          <%for (var i=0; i < product_list.length; i++) {%>
            <div class="col-md-12 col-lg-12">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="card card-dark">
                    <div class="card-body">


                      <div class="row">
                        <div class="col-md-12 col-lg-12">
                          <h5 class="text-info">รายละเอียดขาย-ซื้อ</h5>
                        </div>
                        <div class="col-md-2 col-lg-2">
                          <label>ประเภทสินค้า: </label> 
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <label> <%=product_list[i].product_type_list %> </label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-2 col-lg-2">
                          <label>รหัสสินค้า:</label> 
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <label> <%= product_list[i].code %></label> 
                        </div>
                      </div>
 
                      <div class="row">
                        <div class="col-md-2 col-lg-2">
                          <label>รูปสินค้า:</label> 
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <% if(photo){ %>
                            <% for(var j = 0 ; j < photo.length ; j++){ %>
                                <% if(photo[j].main == 1){ %>
                                  <div>
                                    <div class="card card-dark">
                                      <div class="card-body">
                                        <img src="/inventory/<%=photo[j].photo%>" style="width: 200px;height: 150px;">
                                        <samp>รูปสินค้าหลัก</samp>
                                      </div>
                                    </div>
                                  </div>
                                <% }else{ %>
                                  <img src="/inventory/<%=photo[j].photo%>" style="width: 145px;height: 95px;">
                                <% } %>
                              <% } %>
                            <% } %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-lg-2">
                          <label>หน่วยสินค้า:</label> 
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <% if(category_price){ %>
                                <% for(var k=0;k< category_price.length;k++){ %>
                                  <% var kk = k-1;%>
                                  <% if( kk < 0 ){ %>
                                  <% kk = 0;%>
                                  <% } %>
                                  <div class="row">
                                    <div class="col-md-10 col-lg-10">
                                      <b><%=category_price[k].unit%> <%=category_price[kk].name%>=1 <%=category_price[k].name%></b>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4 col-lg-4 text-right">
                                      <t>ราคาขายA</t>
                                    </div>
                                    <div class="col-md-1 col-lg-1">
                                    :
                                    </div>
                                    <div class="col-md-3 col-lg-3 text-right">
                                      <t><%=category_price[k].price_sellA%> บาท</t>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4 col-lg-4 text-right">
                                      <t>ราคาขายB</t>
                                    </div>
                                    <div class="col-md-1 col-lg-1">
                                    :
                                    </div>
                                    <div class="col-md-3 col-lg-3 text-right">
                                      <t><%=category_price[k].price_sellB%> บาท</t>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4 col-lg-4 text-right">
                                      <t>ราคาขายC</t>
                                    </div>
                                    <div class="col-md-1 col-lg-1">
                                    :
                                    </div>
                                    <div class="col-md-3 col-lg-3 text-right">
                                      <t><%=category_price[k].price_sellC%> บาท</t>
                                    </div>
                                  </div>
                                  <hr>
                                  <!-- <t>ราคาซื้อA: <%=category_price[k].price_buyA%></t><br> -->
                                  <!-- <t>ราคาซื้อB: <%=category_price[k].price_buyB%></t><br> -->
                                  <!-- <t>ราคาซื้อC: <%=category_price[k].price_buyC%></t><hr> -->
                                <% } %>
                          <% } %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-lg-2">
                          <label>หมวดสินค้า:</label> 
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <label> <%=product_list[i].product_groupname%></label> 
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
                <% if(product_list[i].product_type_list_id==3){ %>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      <h5 class="text-info">สต๊อก</h5>
                      <div class="row">
                        <div class="col-md-4 col-lg-4">
                          <div class="card card-dark">
                            <div class="card-body">
                              <%var uall=inventory[0].number_product%>
                                <%for(var j=category_price.length-1;j>=0;j--){%>
                                  <%if(uall>0){%>
                                    <h2 class="text-center text-success">
                                      <%=Math.trunc(uall /category_price[j].unit)%>
                                        <%=category_price[j].name%>
                                    </h2>
                                    <% uall=uall%category_price[j].unit%>
                                      <%}else{%>
                                        <h2 class="text-center text-success">
                                          <%=Math.trunc(uall)%>
                                            <%=category_price[j].name%>
                                        </h2>
                                        <%}%>
                                          <%}%>
                            </div>
                            <div class="card-footer text-center bg-success">

                              <t style="color: white;">จำนวนคงเหลือ</t>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="col-md-4 col-lg-4">
                              <div class="card card-info">
                                <div class="card-body">
                                  <h2 class="text-center text-info"><%=product_list[i].id%></h2>
                                </div>
                                <div class="card-footer text-center bg-info">
                                  <t style="color: white;">ราคาขายเฉลี่ย</t> 
                                </div>
                              </div>
                            </div> -->

                        <div class="col-md-4 col-lg-4"
                          onclick="location.href='/inventory/transaction_inventory_product/<%=inventory[0].inventory_list_id%>/<%=product_list[0].id%>';">
                          <div class="card">
                            <div class="card-body">
                              <h2 class="text-center text-primary">
                                <%if(inventory[0].cost_product){%>
                                  <%=inventory[i].cost_product.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>
                                <%}else{%>
                                  0
                                <%}%>
                              </h2>
                            </div>
                            <div class="card-footer text-center bg-primary">
                              <t style="color: white;">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</t>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </div>
            </div>
            <hr>
            <div class="col-md-12 col-lg-12">
              <div class="row">
                <% if(product_list[i].product_type_list_id==2 || product_list[i].product_type_list_id==3){ %>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      <table>
                        <tr>
                          <h5 class="text-info">รายละเอียดการซื้อ</h5>
                          <th><label>รายละเอียดสินค้า:</label></th>
                          <td><label>
                              <%=product_list[i].detail%>
                            </label></td>
                        </tr>

                        <tr>
                          <th><label>บัญชีรายจ่าย:</label></th>
                          <td><label>
                              <%=product_list[i].chart_buy_id%>
                            </label></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <% } %>
                    <% if(true){ %>
                      <div class="col-md-6 col-lg-6">
                        <div>
                          <table>
                            <tr>
                              <h5 class="text-info">รายละเอียดการขาย</h5>
                              <th><label>รายละเอียดสินค้า:</label></th>
                              <td><label>
                                  <%=product_list[i].detail%>
                                </label></td>
                            </tr>

                            <tr>
                              <th><label>ภาษีมูลค่าเพิ่ม:</label></th>
                              <td><label>
                                  <%=product_list[i].product_tax1%>
                                </label></td>
                            </tr>
                            <tr>
                              <th><label>บัญชีรายได้:</label></th>
                              <td><label>
                                  <%=product_list[i].chart_sell_id%>
                                </label></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <% } %>
              </div>
            </div>
            <hr>
            <div class="col-md-12 col-lg-12">
              <div class="row">

                <div class="col-md-6 col-lg-6">
                  <label>รายการ Code สินค้า:</label>
                  <label>
                    <%=product_list[i].code_qrbar%>
                  </label>
                  <input class="form-control" name="code_qrbar" type="text" id="codeText"
                    placeholder="ไม่รองรับอักขระไทย" value="<%=product_list[i].code_qrbar%>" hidden>
                </div>
                <div class="col-md-6 col-lg-6">
                </div>

                <div class="col-md-4">
                  <div id="chbar2">
                    <div class="text-center" id="newbar">
                      <img id="barcode" />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div id="chqr2">
                    <div style="width:100px; height: 100px; margin:auto;" id="newqr">
                      <div id="qrcode"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $(document).ready(function () {
                codeTextx();
              });

              function codeTextx() {
                $('#newbar').empty();
                $('#newbar').append('<img id="barcode"/>');
                $('#newqr').empty();
                $('#newqr').append('<div id="qrcode"></div>');
                var data = $('#codeText').val();
                if (data != "") {
                  JsBarcode("#barcode", data, {
                    // format: "auto",
                    lineColor: "#000000",
                    width: 1.5,
                    height: 50,
                    displayValue: true,
                    background: "#ffffff"
                  });
                  new QRCode(document.getElementById("qrcode"), {
                    text: data,
                    width: 100,
                    height: 100,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                  });
                }
              }


            </script>
            <%}%>

        </div>
      </div>
    </div>
  </div>

  <%-include('../../_footer.ejs')%>