<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">รายการคลังสินค้า</h3>
          </div>
          <div class="text-right">
            <a class="btn btn-success" href="/inventory/transfer">โอนสินค้า</a>
            <a class="btn btn-success" href="/inventory/add">เพิ่มรายการคลังสินค้า</a>
            <!-- <button type="button" class="btn btn-success" data-toggle="modal"
              data-target="#productAddForm">เพิ่มรายการคลังสินค้า</button> -->
              <a class="btn btn-outline-dark" href="/homeInventoryList">กลับ</a>

          </div>
          <hr>

          <div class="wrapper">
            <nav class="tabs">
              <!-- <div class="selector"></div> -->
              <a href="#" id="tapsearch" class="active" onclick="activeTabp(event, 'go1')"><i
                  class="fas fa-box-open"></i>เปิดใช้งานแล้ว</a>
              <a href="#" onclick="activeTabp(event, 'go2')"><i class="fas fa-people-carry"></i>ไม่ได้เปิดใช้งาน</a>
              <!-- <a href="#" onclick="activeTabp(event, 'go3')"><i class="fas fa-tint-slash"></i>สินค้าไม่นับสต็อก</a> -->
              <!-- <a href="#" onclick="activeTabp(event, 'go4')"><i class="fas fa-tint"></i>สินค้านับสต็อก</a> -->
              <!-- <a href="#" onclick="activeTabp(event, 'go5')"><i class="fas fa-minus-circle"></i>ปิดใช้งานแล้ว</a> -->
            </nav>

            <div class="tabcontent" id="go1">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-bordered">
                  <tr class="table-active" >
                    <th width="5%">ลำดับ</th>
                    <th width="10%">เลขที่</th>
                    <th width="8%">ชื่อคลังสินค้า</th>
                    <th width="12%">ที่อยู่</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (inventory_list1) { %>
                    <% for (var i=0 ;i<inventory_list1.length; i++){ %>
                      <tr id="go1-<%=inventory_list1[i].id%>"
                        ondblclick="window.location.href ='/inventory/detail/<%=inventory_list1[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        <td>
                          <%= inventory_list1[i].no_inventory %>
                        </td>
                        <td>
                          <%= inventory_list1[i].name %>
                        </td>
                        <td>
                          <%= inventory_list1[i].address %>
                        </td>
                        
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/inventory/detail/<%=inventory_list1[i].id%>"><i
                                  class="fa fa-list "></i> รายละเอียดสินค้า link</a>
                              <a class="dropdown-item" href="/inventory/edit/<%=inventory_list1[i].id%>"><i
                                  class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" href="#"
                                onclick="inventoryDisable('go1-<%=inventory_list1[i].id%>')"><i class="fa fa-trash"></i>
                                ปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

            <div class="tabcontent" id="go2">
              <table class="table table-borderless table-hover table-responsive-lg">
                <thead class="bg-bordered">
                  <tr class="table-active" >
                    <th width="5%">ลำดับ</th>
                    <th width="10%">เลขที่</th>
                    <th width="8%">ชื่อคลังสินค้า</th>
                    <th width="12%">ที่อยู่</th>
                    <th width="7%">ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (inventory_list2) { %>
                    <% for (var i=0 ;i<inventory_list2.length; i++){ %>
                      <tr id="go2-<%=inventory_list2[i].id%>"
                        ondblclick="window.location.href ='/inventory/detail/<%=inventory_list2[i].id%>'">
                        <td>
                          <%=i+1%>
                        </td>
                        
                        <td>
                          <%= inventory_list2[i].no_inventory %>
                        </td>
                        <td>
                          <%= inventory_list2[i].name %>
                        </td>
                        <td>
                          <%= inventory_list2[i].address %>
                        </td>
                        
                        <td class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" class="dropdown-item"
                                href="/inventory/detail/<%=inventory_list2[i].id%>"><i class="fa fa-list"></i>
                                รายละเอียดสินค้า link</a>
                              <a class="dropdown-item" class="dropdown-item"
                                href="/inventory/edit/<%=inventory_list2[i].id%>"><i class="fa fa-edit"></i> แก้ไข</a>
                              <hr>
                              <a class="dropdown-item" class="dropdown-item" href="#"
                                onclick="inventoryEnable('go2-<%=inventory_list2[i].id%>')"><i class="fa fa-trash"></i>เปิดใช้งาน</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>

           
            </div>
          </div>

          <!-- -----------------Disable modal---------------- -->

          <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>เลขที่คลัง: <span></span></p>
                  <p>ชื่อคลังสินค้า: <span></span></p>
                  <p>ที่อยู่: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>
          <!-- -----------------Enable modal---------------- -->

          <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">เปิดใช้งาน</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>ต้องการปิดใช้งานข้อมูลนี้หรือไม่ ?</p>
                  <p>เลขที่คลัง: <span></span></p>
                  <p>ชื่อคลังสินค้า: <span></span></p>
                  <p>ที่อยู่: <span></span></p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-danger">ยืนยัน</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script>
    function inventoryDisable(trId) {
      var inid = trId.split('-')[1];
      $('#Disable').modal();
      $('#Disable .modal-body p:eq(1) span').text($('#' + trId + ' td:eq(1)').text());
      $('#Disable .modal-body p:eq(2) span').text($('#' + trId + ' td:eq(2)').text());
      $('#Disable .modal-body p:eq(3) span').text($('#' + trId + ' td:eq(3)').text());
      $('#Disable .modal-footer a').attr('href', '/inventory/disableinventory/' + inid);
    }


    function inventoryEnable(trId) {
      var inid = trId.split('-')[1];
      $('#Enable').modal();
      $('#Enable .modal-body p:eq(1) span').text($('#' + trId + ' td:eq(1)').text());
      $('#Enable .modal-body p:eq(2) span').text($('#' + trId + ' td:eq(2)').text());
      $('#Enable .modal-body p:eq(3) span').text($('#' + trId + ' td:eq(3)').text());
      $('#Enable .modal-footer a').attr('href', '/inventory/enableinventory/' + inid);
    }


    
var i, tabcontent

function activeTabp(evt, tabPd) {
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    $("table#tablesearch").attr('id', '');
  }
  document.getElementById(tabPd).style.display = "block";
  $('#search').val('');
  $("#" + tabPd + " table:first").attr('id', 'tablesearch');
  if ($('div#' + tabPd + ' > div:first').attr('id') != 'tablesearch_wrapper') {
    dataTable();
  }
}

// end js eletric

$('#resvenueInput').hide();
function resvenue() {
  $('#resvenueInput').show();
  $('#resvenueEdit').hide();
}

$('#paymentInput').hide();
function payment() {
  $('#paymentInput').show();
  $('#paymentEdit').hide();
}


// --- datatable ----///
$(document).ready(function () {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
});

function dataTable() {
  // $('#tablesearch_wrapper .row').remove().end()
  // $(document).ready(function() {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
  // });
}
  </script>

  <!-- <script src="/dist/js/product.js" crossorigin="anonymous"></script> -->

  <%-include('../../_footer.ejs')%>