<%-include('../../_header.ejs')%>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <div class="card-body">

          <div class="float-left">
            <h3 class="text-info">การเปลี่ยนแปลงของคลังสินค้า: <%=inventory_list.name%>
            </h3>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-dark" href="/inventory/detail/<%=inventory_list.id%>">กลับ</a>
          </div>
          <hr>
          <div>
            <div class="tabcontent">
              <table class="table table-borderless table-hover table-responsive-lg" id="tablesearch">
                <thead class="bg-bordered">
                  <tr class="table-active" align="center">
                    <th width="2%">ลำดับ</th>
                    <th width="10%">วันที่</th>
                    <th width="10%">เลขที่เอกสาร</th>
                    <th width="10%">เข้า</th>
                    <th width="10%">ออก</th>
                    <th width="10%">สถานะ</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(inventory_transaction){ %>
                  <%for(var i=0 ;i<inventory_transaction.length;i++){%>
                    <tr class="text-center" <% if(inventory_transaction[i].x == 'รับสินค้า'){ %> ondblclick="location.href='/product_receipt/detail/<%=inventory_transaction[i].idclick%>';" <% }else if(inventory_transaction[i].x == 'โอนออก' || inventory_transaction[i].x == 'โอนเข้า'){ %> ondblclick="location.href='/inventory/transferallow/<%=inventory_transaction[i].idclick%>';"<% } %> >
                      <td>
                        <%=i+1%>
                      </td>
                      <td>
                        <%=inventory_transaction[i].dates%>
                      </td>
                      <td>
                        <%=inventory_transaction[i].no%>
                      </td>
                      <td>
                        <%=inventory_transaction[i].input%>
                      </td>
                      <td>
                        <%=inventory_transaction[i].output%>
                      </td>
                      <td>
                        <%=inventory_transaction[i].x%>
                      </td>
                    </tr>
                    <%}%>
                    <%}%>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var i, tabcontent

    function activeTabp(evt, tabPd) {
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        $("table#tablesearch").attr('id', '');
      }
      document.getElementById(tabPd).style.display = "block";
      $('#search').val('');
      $("#" + tabPd + " table:first").attr('id', 'tablesearch');
      if ($('div#' + tabPd + ' > div:first').attr('id') != 'tablesearch_wrapper') {
        dataTable();
      }
    }

    $(document).ready(function () {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
});

function dataTable() {
  // $('#tablesearch_wrapper .row').remove().end()
  // $(document).ready(function() {
  $('#tablesearch').DataTable({
    "order": [[0, "asc"]]
  });
  // });
}
  </script>
  <%-include('../../_footer.ejs')%>