<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <div class="float-left">
          <h3 class="text-info">แก้ไขรายการคลังสินค้า</h3>
        </div>
        <div class="text-right">
          <a class="btn btn-outline-dark" href="/inventory">กลับ</a>
        </div>
        <hr>
        <form action="/inventory/update/<%=inventory_list[0].id%>" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <tr>
                  <th>เลขที่คลัง</th>
                  <td>
                    <div class="col-auto">
                      <label class="sr-only" for="no_inventory">เลขที่คลัง</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-minus" ></i></div>
                        </div>
                        <input type="text" name="no_inventory" id="no_inventory" class="form-control" placeholder="เลขที่คลัง" value="<%=inventory_list[0].no_inventory%>">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ชื่อคลังสินค้า</th>
                  <td>
                    <div class="col-auto">
                      <label class="sr-only" for="name">ชื่อคลังสินค้า</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-minus" ></i></div>
                        </div>
                        <input type="text" name="name" id="name" class="form-control" placeholder="ชื่อคลังสินค้า" value="<%=inventory_list[0].name%>">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ที่อยู่</th>
                  <td>
                    <div class="col-auto">
                      <label class="sr-only" for="address">ที่อยู่</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-minus" ></i></div>
                        </div>
                        <input type="text" name="address" id="address" class="form-control" placeholder="ที่อยู่" value="<%=inventory_list[0].address%>">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <button type="submit" class="btn btn-success">บันทึก</button>
          </div>
        </form>
     </div>
    </div>
  </div>
</div>

<%-include('../../_footer.ejs')%>
