<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <div class="float-left">
          <h3 class="text-info">รายการสินค้าในคลังสินค้า :: <%=inventory_list.name%></h3>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-success" data-toggle="modal"
              data-target="#productAddForm">เพิ่มรายการสินค้า</button>
          <a class="btn btn-outline-dark" href="/inventory/detail/<%=inventory_list.id%>">กลับ</a>
        </div>
        <hr>
        <form action="/inventory/addproduct_save/<%=inventory_list.id%>" method="post" enctype="multipart/form-data">
          

          


          <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 3%;">ลำดับ</th>
                            <th style="width: 30%;">รายการ</th>
                            <th style="width: 15%;">จำนวน</th>
                            <th style="width: 20%;">ราคาซื้อ/ต้นทุนถัวเฉลี่ย</th>
                            <th style="width: 20%;">จำนวนแจ้งเตือน</th>
                        </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-minus"></i>
                                            </div>
                                        </div>
                                        <select class="form-control selectproduct selectlist" onchange="chackaddtrdata(),selecthide()" name="product_list_id" id="selectlist-1"> 
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="number_product" value="0">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="cost_product" value="0">
                            </td>
                            <td>
                              <input type="number" class="form-control" name="alert" value="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>













          <hr>
          <div class="text-right">
            <button type="submit" class="btn btn-success" >บันทึก</button>
          </div>
        </form>
     </div>
    </div>
  </div>
</div>




          <div class="modal fade" id="productAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <h3 class="text-info">รายการสินค้า</h3>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid mt-2">
                    <%-include('../product/_add')%>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">บันทึก</button>
                </div>
              </div>
            </div>
          </div>




<script>
var optionproductlist = '<option value="" >--เลือก--</option>';
  


</script>

<% if(product){ %>
  <% for(var i = 0 ;i<product.length;i++){ %>
<script>
  optionproductlist = optionproductlist+" <option class='optionPD-<%=product[i].id%>' value='<%=product[i].id%>'><%=product[i].name%> </option>";
</script>
  <% } %>
<% } %>



<script>

$(document).ready(function () {
  $("#selectlist-1").append(optionproductlist);
})



function chackaddtrdata() {
  var tbody = document.getElementById('bodyRowForAddData');
  var tr = tbody.getElementsByTagName('tr');
  var addtrOrNO = 0;
  var numberoftr = 1;
  $.each(tr, function (i, el) {
      numberoftr++;
      if ($(tr[i]).find("td:eq(1) select.selectproduct").val() == '') {
        addtrOrNO++
      }
  });
  if (addtrOrNO == 0) {
      addtrdata(numberoftr);
  }
  selecthide();
}

function addtrdata(i) {
  $('#bodyRowForAddData').append('<tr>'+
                            '<td>'+i+'</td>'+
                            '<td>'+
                                '<div class="col-auto">'+
                                    '<div class="input-group mb-2">'+
                                        '<div class="input-group-prepend">'+
                                            '<div class="input-group-text"><i class="fas fa-minus"></i>'+
                                            '</div>'+
                                        '</div>'+
                                        '<select class="form-control selectproduct selectlist" onchange="chackaddtrdata(),selecthide()" name="product_list_id" id="selectlist-'+i+'">'+ 
                                          optionproductlist+
                                        '</select>'+
                                    '</div>'+
                                '</div>'+
                            '</td>'+
                            '<td>'+
                                '<input type="number" class="form-control" name="number_product" value="0">'+
                            '</td>'+
                            '<td>'+
                                '<input type="number" class="form-control" name="cost_product" value="0">'+
                            '</td>'+
                            '<td>'+
                              '<input type="number" class="form-control" name="alert" value="0">'+
                            '</td>'+
                        '</tr>');
}


var pdlistHide = [];
var pflistShow = []
function selecthide() {
  // console.log($('#selectlist-'+t).val());
  // var pd = $('#selectlist-'+t).val();
  // $('.optionPD-'+pd).hide();
  // $('#selectlist-'+t+' .optionPD-'+pd).show();  
  // pdlistHide.push($('#selectlist-'+t).val());
  // for (var i = 0; i < pdlistHide.length; i++) {
  // }
  pdlistHide = [];
  for (var i = 0; i < $('.selectlist').length; i++) {
  pdlistHide.push($('#selectlist-'+i).val());
  }
  
  for (var i = 1; i < pdlistHide.length; i++) {
    var pd = pdlistHide[i];
    
    $('.optionPD-'+pd).hide();
    $('#selectlist-'+i+' .optionPD-'+pd).show(); 
  }

  
  for (var i = 1; i < pflistShow.length; i++) {
    for (var j = 0; j < pdlistHide.length; j++) {
      var x = pflistShow.indexOf(pdlistHide[j]);
      if (x == -1) {
        $('.optionPD-'+pflistShow[i]).show();
      }
    }
  }

  
  console.log('show',pflistShow);
  console.log('hide',pdlistHide);

  pflistShow = pdlistHide;

}
</script>

<%-include('../../_footer.ejs')%>
