<%-include('../../_header.ejs')%>

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-body">

                    <div class="float-left">
                        <h3 class="text-info">เพิ่ม รายการโอนสินค้าระหว่างคลัง</h3>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-outline-dark" href="/inventory/transfer">กลับ</a>
                    </div>
                    <hr>
                    <form action="/inventory/transfersave" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>คลังส่ง</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <select class="form-control" name="a_inventory"  onchange="changeoptionAB(),getProductlist()" id="selectA" required>
                                                        <option value="">--เลือก--</option>
                                                        <% for(var i = 0 ;i<inventory_list.length;i++){ %>
                                                            <option class="a_inventory_list" id="a_inventory_list_<%=inventory_list[i].id%>" value="<%=inventory_list[i].id%>"><%=inventory_list[i].name%></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-1 text-center">
                                <h3>ไปยัง</h3>
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>คลังรับ</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <select class="form-control" name="b_inventory" onchange="changeoptionAB()" id="selectB" required>
                                                        <option value="">--เลือก--</option>
                                                        <% for(var i = 0 ;i<inventory_list.length;i++){ %>
                                                            <option class="b_inventory_list" id="b_inventory_list_<%=inventory_list[i].id%>" value="<%=inventory_list[i].id%>"><%=inventory_list[i].name%></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">

                            </div>

                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 30%;">เลขที่เอกสาร</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control" name="no_transfer" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 30%;">วันที่</th>
                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-minus"></i></div>
                                                    </div>
                                                    <input type="date" class="form-control" name="date" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 3%;">ลำดับ</th>
                                            <th style="width: 30%;">รายการ</th>
                                            <th style="width: 15%;">หน่วย</th>
                                            <th style="width: 20%;">จำนวนที่ต้องส่ง</th>
                                            <th style="width: 20%;">จำนวนคงเหลือ</th>
                                            <th style="width: 10%;">ตัวเลือก</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyRowForAddData">
                                        <tr id="trid-1">
                                            <td>1</td>
                                            <td>
                                                <div class="col-auto">
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text"><i class="fas fa-minus"></i>
                                                            </div>
                                                        </div>
                                                        <select class="form-control selectproduct selectlist" onchange="chackaddtrdata() ,getProductunit(1)" name="product_list_id" id="selectlist-1">
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <select name="unit" class="form-control selectunit" id="selectunit-1" onchange="Chacknumber_product(1)">
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control number_product" name="number_product" id="number_product-1" min="0">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="CCnumber_product-1" readonly>
                                                <input type="text" name="cost_product" id="cost-1" hidden>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger" onclick="removeTR('1')">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <input type="text" name="add" id="add_1" hidden>
                                                <t id="statusAdd_1"></t>
                                             </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <button type="button" class="btn btn-outline-primary" onclick="chackaddtrdata()">
                                        <i class="fas fa-plus"></i>เพิ่มรายการ
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        var optionproductlist ='<option >--เลือก--</option>';
        var inventoryA = 0;
        var inventoryB = 0;
        $(document).ready(function () {
            $('#selectA').change(function () {
                inventoryA = $('#selectA').val();
            })
            $('#selectB').change(function () {
                inventoryB = $('#selectB').val();
            })

        })
        function chackaddtrdata() {
            var tbody = document.getElementById('bodyRowForAddData');
            var tr = tbody.getElementsByTagName('tr');
            var addtrOrNO = 0;
            var numberoftr = 1;
            $.each(tr, function (i, el) {
                numberoftr++;
                if ($(tr[i]).find("td:eq(1) select.selectproduct").val() == '') {
                    addtrOrNO++
                }
            });
            if (addtrOrNO == 0) {
                addtrdata(numberoftr);
            }
        }
        function addtrdata(i) {
            $('#bodyRowForAddData').append('<tr id="trid-'+i+'">'+
                                            '<td>'+i+'</td>'+
                                            '<td>'+
                                                '<div class="col-auto">'+
                                                    '<div class="input-group mb-2">'+
                                                        '<div class="input-group-prepend">'+
                                                            '<div class="input-group-text"><i class="fas fa-minus"></i>'+
                                                            '</div>'+
                                                        '</div>'+
                                                        '<select class="form-control selectproduct selectlist" onchange="chackaddtrdata(),getProductunit('+i+')"  name="product_list_id" id="selectlist-'+i+'">'+
                                                            optionproductlist+
                                                        '</select>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</td>'+
                                            '<td>'+
                                                '<select name="unit" class="form-control selectunit" id="selectunit-'+i+'" onchange="Chacknumber_product('+i+')">'+
                                                    '<option value=""></option>'+
                                                    
                                                '</select>'+
                                            '</td>'+
                                            '<td>'+
                                                '<input type="number" class="form-control number_product" name="number_product" id="number_product-'+i+'" min="0">'+
                                            '</td>'+
                                            '<td>'+
                                                '<input type="text" class="form-control " id="CCnumber_product-'+i+'"  readonly>'+
                                                '<input type="text" name="cost_product" id="cost-'+i+'" hidden>'+
                                            '</td>'+
                                            '<td>'+
                                                '<button type="button" class="btn btn-outline-danger" onclick="removeTR('+i+')">'+
                                                   '<i class="fa fa-trash"></i>'+
                                               '</button>'+
                                               ' <input type="text" name="add" id="add_'+i+'" hidden>'+
                                                   '<t id="statusAdd_'+i+'"></t>'+
                                            '</td>'+
                                            ' </tr>');

        }

        function  changeoptionAB() {
            $('.a_inventory_list').show();
            $('.b_inventory_list').show();
            $('#a_inventory_list_'+$('#selectB').val()).hide();
            $('#b_inventory_list_'+$('#selectA').val()).hide();
        }


        function getProductlist() {
            $.ajax({
                type: 'GET',
                    url: '/api/getproductlist/'+$('#selectA').val(),
                    success: function (result) {
                        $('.number_product').val('0');
                        $('.selectlist').empty();
                        $('.selectlist').append("<option value='' >--เลือก--</option>");
                        optionproductlist = '<option value="" >--เลือก--</option>';
                        $.each(result, function (i, productlist) {
                            // console.log(productlist);
                            $('.selectlist').append("<option value="+productlist.product_list_id +">"+ productlist.product_list_name + "</option>");
                            optionproductlist = optionproductlist+" <option value="+productlist.product_list_id +">"+ productlist.product_list_name + "</option>";
                        });
                        
                },
                    error: function (e) {
                }
            });
        }


        function getProductunit(tr) {
            getaddinventoryproduct(tr,$('#selectlist-'+tr).val());

            $.ajax({
                type: 'GET',
                url: '/api/getproductunit/'+$('#selectlist-'+tr).val()+'/'+inventoryA,
                success: function (result) {
                    $('#selectunit-'+tr).empty();
                    $('#number_product-'+tr).val('0');
                    if (result.length > 0 ) {
                        $.each(result, function (i, productunit) {
                        $('#selectunit-'+tr).append("<option value="+productunit.id +">"+ productunit.name + "</option>");
                    });
                    $('#number_product-'+tr).prop('max',(result[0].number_product));
                    $('#CCnumber_product-'+tr).val(result[0].number_product)
                    $('#cost-'+tr).val(result[0].cost_product)
                    }
                    


                },
                    error: function (e) {
                        $('#number_product-'+tr).val('0');
                        $('#selectunit-'+tr).empty();
                        $('#CCnumber_product-'+tr).val('0');
                }
            });
        }

        function getaddinventoryproduct(tr,pid) {
            $.ajax({
                type: 'GET',
                url: '/api/getaddinventoryproduct/'+inventoryB + '/'+pid,
                success: function (result) {
                   $('#add_'+tr).val(result)
                   if (result == 0) {
                        $('#statusAdd_'+tr).text("โอนได้");
                   } else {
                        $('#statusAdd_'+tr).text("ต้องเพิ่มสินค้า");
                       
                   }
                },
                error: function (e) {
                       
                }
            });
        }

        function Chacknumber_product(tr) {
            // $('#CCnumber_product-'+tr).val(parseInt($('#selectunit-'+tr).attr('number'))/parseInt($('#selectunit-'+tr).attr('unit')))
            $.ajax({
                type: 'GET',
                url: '/api/getproductchacknumber_product/'+$('#selectlist-'+tr).val()+'/'+inventoryA+'/'+$('#selectunit-'+tr).val(),
                success: function (result) {
                    $('#number_product-'+tr).val('0');

                    $('#number_product-'+tr).prop('max',(result[0].sum));
                    $('#CCnumber_product-'+tr).val(result[0].sum)
                   
                },
                    error: function (e) {
                }
            });
            
        }
        function removeTR(tr) {
            var tbody = document.getElementById('bodyRowForAddData');
            var trs = tbody.getElementsByTagName('tr');
            var numberoftr = 0;
            $.each(trs, function (i, el) {
                console.log($(trs[i]).find("td:eq(1) select.selectproduct").attr('class'));
                if ( $(trs[i]).find("td:eq(1) select.selectproduct").attr('class')) {
                numberoftr++;
                }
            });
            if (numberoftr>1) {
                $('#trid-'+tr).hide();
                $('#trid-'+tr).find("td:eq(1) select.selectproduct").attr('class','');
            } else {
            }
        }
    </script>
    <%-include('../../_footer.ejs')%>