<%-include('../../_header.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card mt-5">        
            <div class="card-body">
              <form class="form-group" action="/product_receipt/save" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-9">
                    <h3><i class="far fa-sticky-note"></i>สร้างใบรับสินค้า</h3>
                    <h1 id='app'></h1>
                    <h2 class="text-success" id="receiptordernumber" ></h2>
                    <input type="hidden" name="receiptchar" value="" id="receiptchar">
                    <input type="hidden" name="receiptordernumber" value="" id="receiptordernumberin">
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-outline-dark" href="/purchase_order">กลับ</a>
                      <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>ชื่อผู้จำหน่าย</b></label>
                    <div class="input-group-prepend">
                      <datalist class="" id="creditorslist">
                        <%for (var i = 0; i < creditors.length; i++) { %>
                          <option data-id="<%=creditors[i].id%>" value="<%=creditors[i].company%>"></option>
                        <%}%>
                      </datalist>
                      <input type="hidden" name="creditors_id" value="<%=purchase[0].creditors_id%>" id="creid">
                      <input type="text" name="creditors_name" class="form-control"value="<%=purchase[0].creditors_name%>" list="creditorslist" id="inputpopup" placeholder="เลือกลูกค้า หรือพิมพ์เพื่อสร้างใหม่" >
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" onclick="contact('contact')"><i class="fa fa-plus"></i> เพิ่มผู้จำหน่าย</a>
                        </div>
                      </div>
                    </div>
                    <div class="text-right" id="creditoreditpopuplink">
                      <!-- for credit popup link -->
                    </div>
                    <label for=""><b>รายละเอียด</b></label>
                    <textarea class="form-control" name="address" id="creditorsaddress" cols="50" rows="5" placeholder="รายละเอียดที่อยู่"><%=purchase[0].address%></textarea>
                    <label for=""><b>รหัสไปรษณีย์</b></label>
                    <input type="text" name="post" class="form-control" value="<%=purchase[0].post%>" id="creditorszipcode" placeholder="รหัสไปรษณีย์">
                    <label for=""><b>เลขประจำตัวผู้เสียภาษี</b></label>
                    <input type="text" name="tax" class="form-control" value="<%=purchase[0].tax%>" id="creditorstax" placeholder="เลขประจำตัวผู้เสียภาษี">
                    <label for=""><b>สำนักงาน/สาขาที่</b></label>
                    <input type="text" name="branch" class="form-control" value="<%=purchase[0].branch%>" id="creditorsbranch"  placeholder="สำนักงาน/สาขาที่">
                    <label for=""><b>คลังสินค้า</b></label>
                    <select name="inventory_id" id="inventory" class="form-control" onchange="getinventory()" required >
                      <option value="">--กรุณาเลือกคลัง--</option>
                      <%for (var i = 0; i < inventory.length; i++) { %>
                        <option value="<%=inventory[i].id%>" <%if(inventory[i].id == purchase[0].inventory_id){%>selected<%}%><%= inventory[i].inventory_id %>>
                          <%=inventory[i].name%></option>
                        <%}%>
                    </select>
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <!-- /////blank//// -->
                  </div>

                  <div class="col-lg-4 col-md-4">
                   <span><b>จำนวนเงินรวมทั้งสิ้น</b></span>
                    <div class="form-group">
                      <span style="color: blue; font-size: 40px;" id="topgranttotal"><%=purchase[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>วันที่:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="date" value="<%=purchase[0].dateday%>" id="datedata" onchange="setDue()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b id="indicatetext">เครดิต (วัน):</b></label>
                          <input type="hidden" name="indicate_id" value="1" id="indicateid"  >
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <div class="input-group">
                            <input class="form-control credit" type="text" name="credit" value="<%=purchase[0].credit%>" id="creditdata" onchange="setDue()">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                <div class="dropdown">
                                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <%for (var i = 0; i < indicate.length; i++) { %>
                                      <a class="dropdown-item" href="#" id="indicate_<%=indicate[i].id%>" onclick="indicate('indicate_<%=indicate[i].id%>')"><%=indicate[i].name%></a>
                                    <%}%>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input-group" id="duegroup">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>ครบกำหนด:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="due" value="<%=purchase[0].dueday%>" id="duedata" onchange="setDay()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานส่ง:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="employee_saler" value="<%=purchase[0].employee_saler%>">
                        </div>
                      </div>
                      <datalist id="deliverylist">
                        <%for (var i = 0; i < human_resource.length; i++) { %>
                          <option   value="<%=human_resource[i].firstname%> <%=human_resource[i].lastname%>"></option>
                        <%}%>
                      </datalist>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานรับ:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" list="deliverylist" type="text" name="employee_delivery" value="<%=purchase[0].employee_delivery%>">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>สำนักงาน/สาขา:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <select class="form-control" name="company_id" required>
                            <option value="">--กรุณาเลือก--</option>
                            <%for (var i = 0; i < company.length; i++) { %>
                              <option value="<%=company[i].id%>" <%if(company[i].id == purchase[0].company_id){%>selected<%}%><%= company[i].company_id %>>
                                <%=company[i].branchNo%></option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label><b>ตั้งค่าใบสั่งซื้อ</b></label>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( purchase[0].itemizedvat == 0){%> checked="checked" <%}%> name="itemizedvat" id="computevatlist" onclick="settingcompute(),computeList()">
                          <% if( purchase[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ภาษีแยกรายการ</b></span>
                        </div>
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( purchase[0].itemizeddiscount == 0){%> checked="checked" <%}%> name="itemizeddiscount" id="computediscountlist" onclick="settingcompute(),computeList()">
                          <% if( purchase[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ส่วนลดแยกรายการ</b></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-2 col-md-2">
                          <label for=""><b>ชื่อโปรเจค:</b></label>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          <select class="form-control" name="project_id">
                            <%for (var i = 0; i < projectgl.length; i++) { %>
                              <option value="<%=projectgl[i].id%>"<%if(projectgl[i].id == purchase[0].project_id){%>selected<%}%><%= projectgl[i].project_id %>>
                                <%=projectgl[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>เลขที่อ้างอิง:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text" name="number" value="<%=purchase[0].purchasechar%><%=purchase[0].purchaseordernumber%>" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>ราคาสินค้า:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <select class="form-control" name="compute_id" id="compute" onchange="settingcompute(),computeList()">
                            <%for (var i = 0; i < compute.length; i++) { %>
                              <option value="<%=compute[i].id%>" <%if(compute[i].id == purchase[0].compute_id){%>selected<%}%><%= compute[i].compute_id %>>
                                <%=compute[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <datalist id="productName">
                    <%for (var i = 0; i < product_list.length; i++) { %>
                      <option data-value="<%=product_list[i].id%>" data-value2="<%=product_list[i].code%>"  value="<%=product_list[i].name%>" data-chart="<%=product_list[i].acc_buy%>"></option>
                    <%}%>
                  </datalist>
                  <datalist id="productcode">
                    <%for (var i = 0; i < product_list.length; i++) { %>
                      <option data-value="<%=product_list[i].id%>" value="<%=product_list[i].code%>"  data-value2="<%=product_list[i].name%>" data-chart="<%=product_list[i].acc_buy%>"></option>
                      <%}%>
                  </datalist>
                  <table class="table table-responsive" id="rowForAddData">
                    <thead class="bg-info">
                      <tr>
                        <th width="5%" class="text-center">ลำดับ</th>
                        <th width="40%">ชื่อสินค้า/รายละเอียด</th>
                        <th width="8%" class="text-center">จำนวน</th>
                        <th width="8%" class="text-center">หน่วย</th>
                        <th width="10%" class="text-center">ราคาต่อหน่วย</th>
                        <th width="8%" class="text-center discountlist" hidden>
                          <div class="input-group">
                            <label for="">ส่วนลด</label>
                            <select class="" name="discount_id" style="background-color: #9954bb;" id="setdiscount" onchange="computeList()">
                              <%for (var i = 0; i < discount.length; i++) { %>
                                <option value="<%=discount[i].id%>" <%if(discount[i].name == purchase[0].discount_id){%>selected<%}%><%= discount[i].discount_id %>>
                                  <%=discount[i].name%>
                                </option>
                              <%}%>
                            </select>
                          </div>
                        </th>
                        <th width="10%" class="text-center vatlist" hidden>ภาษี</th>
                        <th width="10%" class="text-center">ราคารวม</th>
                        <th width="4%"></th>
                      </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                      <script>
                        var n = 1;
                  </script>
                  <%for (var j = 0; j < purchase.length; j++) { %>
                    <tr class="border" id="row_<%=j+1%>">
                      <td align="center">
                        <script>
                          n = n + 1;
                        </script>
                        <span><%=j+1%></span>
                        </td>
                        <td>
                          <input type="hidden" class="productidget product"  name="product_id" value="<%=purchase[j].product_id%>">
                          <div class="input-group">
                            <input type="hidden" name="acc_buy"  value="<%=product_list[0].acc_buy%>" id="row_<%=j+1%>acc_buy" >
                            <input list="productName" type="text" class="form-control radia productidset " value="<%=purchase[j].name%>" placeholder="ชื่อสินค้า"  onclick="productidset(event,'row_1')" onchange="productidset(event,'row_1'),product(event,'row_1')"  >
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                <div class="dropdown">
                                  <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#productAddForm"><i class="fa fa-plus"></i> เพิ่มรายการสินค้า</a>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                          <input type="text" list="productcode" name="product_code" class="form-control productcode "  value="<%=purchase[0].product_code%>" placeholder="รหัสสินค้า" onclick="productcode(event,'row_1')" onchange="productcode(event,'row_1'),product(event,'row_1')">
                          <input type="text" name="detail" class="form-control raida" value="<%=purchase[j].detail%>" placeholder="รายละเอียด">
                        </td>
                        <td>
                          <input type="text" name="quantity" class="form-control text-right" value="<%=purchase[j].quantity%>" step="1.00" onkeyup="computeList()">
                        </td>
                        <td>
                          <select class="form-control" name="categoryprice_id" id="optionunit_row_<%=j+1%>">
                            <%for (var i = 0; i < category_price.length; i++) { %>
                                <option value="<%=category_price[i].id%>" <%if(category_price[i].id == purchase[j].categoryprice_id){%>selected<%}%>>
                                <%=category_price[i].name%>
                                </option>
                            <%}%>
                          </select>
                          <input type="hidden" name="unitnumber" id="input_row_<%=j+1%>" value="<%=category_price[0].unit%>">
                        </td>
                        <td>
                          <input type="text" name="price" class="form-control text-right" value="<%=purchase[j].price%>" onkeyup="computeList()">
                        </td>
                        <td  class="discountlist" hidden>
                          <input type="text" class="form-control text-right" name="listdiscount" value="<%=purchase[j].listdiscount%>" onkeyup="computeList()">
                        </td>
                        <td class="vatlist" hidden>
                          <select class="form-control receiptlistvat" name="vat_id" onchange="computeList()">
                            <%for (var i = 0; i < vat.length; i++) { %>
                              <option value="<%=vat[i].number%>" <%if(vat[i].number == purchase[j].vat_id){%>selected<%}%>>
                                <%=vat[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" name="totallist" value="<%=purchase[j].totallist%>" readonly>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-danger" onclick="removeRow('row_<%=j+1%>')"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-outline-primary" onclick="plusRow()">
                    <i class="fas fa-plus"></i>เพิ่มแถวรายการ
                  </button>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="input-group">
                      <input class="form-check" type="checkbox" <% if( purchase[0].signature == 0){%> checked="checked" <%}%> name="signature" value="" id="checke">
                      <label for="checke">
                        ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                      </label>
                    </div>
                    <table class="table table-borderless">
                      <tr>
                        <th>หมายเหตุ</th>
                        <th>โน๊ตภายในบริษัท</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" name="note" id="" cols="50" rows="4"><%=purchase[0].note%></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" name="notein" id="" cols="50" rows="4"><%=purchase[0].notein%></textarea>
                        </td>
                      </tr>
                    </table>
                    <table class="table table-borderless table-responsive-md">
                      <tr>
                        <td>
                          <div class="dropzone" id="divUp" style="width: 150px; height: 180px;">
                            <div class="text-right">
                              <button type="button" class="close-pic"><span aria-hidden="true">&times;</span></button>
                          </div>
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br><br>
                            คลิกอัปโหลดรูปภาพ
                            <input type="file" name="filename" class="upload-input" multiple  accept="image/*" id="imgInp"> 
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>


                  <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>รวมเป็นเงิน</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="total"><%=purchase[0].total.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="total" value="<%=purchase[0].total%>" id="totalin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="sumdiscount">
                      <div class="input-group">
                        <div class="col-8">
                          <b>ส่วนลด</b>
                          <input class="text-right" type="text" value="0.00" maxlength="6" id="discountP" onchange="setDiscountValue('discountM'),computeList();" style="width: 50px;">
                          <b>%</b>
                        </div>
                        <div class="col-4 text-right">
                          <input type="hidden" name="alldiscount" value="<%=purchase[0].alldiscount%>" step="0.00" class="text-right float-right" id="discountM" onchange="setDiscountValue('discountP'),computeList();" style="width: 100px;">
                          <%var alldiscount = purchase[0].total-  purchase[0].afterdiscount %>
                          <i class="fa fa-edit" onclick="inputdiscount()"></i><b><%=alldiscount%></b>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินหลังหักส่วนลด</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="afterdiscount"><%=purchase[0].afterdiscount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="afterdiscount" value="<%=purchase[0].afterdiscount%>" id="afterdiscountin">
                        </div>
                      </div>
                    </div>

                    <div class="vatlistset" hidden>
                      <hr>
                      <div class="form-group" id="vatexamption">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่ไม่มี/ยกเว้นภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=purchase[0].except.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="except" value="<%=purchase[0].except%>">
                          </div>
                        </div>
                      </div>
                      <div class="form-group" id="vatcalculator">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่คำนวณภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=purchase[0].vatcalculator.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="vatcalculator" value="<%=purchase[0].vatcalculator%>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="computevat1">
                      <div class="input-group">
                        <div class="col-8">
                          <div class="input-group">
                            <input class="form-check" type="checkbox" <% if( purchase[0].vat > 0){ %> checked="checked" <%}%>  name="vat" value="7" id="ordervat" onclick="computeList()">
                            <b>ภาษีมูลค่าเพิ่ม</b>
                          </div>
                        </div>
                        <div class="col-4 text-right">
                          <b id="computevat"><%=purchase[0].vatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="vatamount" value="<%=purchase[0].vatamount%>" id="computevatin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินรวมทั้งสิ้น</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="granttotal"><%=purchase[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="granttotal" value="<%=purchase[0].granttotal%>" id="granttotalin">
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group" id="computevat2">
                      <!-- /// -->
                    </div>

                    <div class="form-group" id="notplusvat" hidden>
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินไม่รวมภาษี</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=purchase[0].notvatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="notvatamount" value="<%=purchase[0].notvatamount%>">
                        </div>
                      </div>
                    </div>

                    <div class="withholding">
                      <hr>
                      <div class="form-group" >
                        <div class="input-group">
                          <div class="col-8">
                            <div class="input-group">
                              <input class="form-check" type="checkbox" <% if( purchase[0].vat == 0){%> checked="checked" <%}%> id="withholdingC" onclick="corectCheck('withholdingC'),computeList()">
                              <b class="mr-3" for="withholdingC">หัก ณ ที่จ่าย</b>
                              <select class="" name="witholding_id" id="witholdingoption" onchange="computeList()" disabled hidden>
                                <%for (var i = 0; i < witholding.length; i++) { %>
                                  <option value="<%=witholding[i].number%>" <%if(witholding[i].number == purchase[0].witholding_id){%>selected<%}%><%= witholding[i].number %>>
                                    <%=witholding[i].name%>
                                  </option>
                                <%}%>
                              </select>
                            </div>
                          </div>
                          <div class="col-4 text-right">
                            <b id="computewitholding"><%=purchase[0].witholding%></b>
                            <input type="hidden" name="witholding" value="<%=purchase[0].witholding%>" id="computewitholdingin">
                          </div>
                        </div>
                      </div>

                      <div class="form-group" id="discountSum" >
                        <div class="input-group">
                          <div class="col-8">
                            <b>ยอดชำระ</b>
                          </div>
                          <div class="col-4 text-right">
                            <b id="paymoney"><%=purchase[0].payment.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="payment" value="<%=purchase[0].payment%>" id="paymoneyin">
                            <input type="hidden" name="status_pay"  id="status_pay" >
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <ul class="nav nav-tabs" id="assetTab">
                <li class="nav-link tablinks active" onclick="openCity(event, 'assetPayment')"><a data-toggle="tab" href="#assetPayment">บันทึกการชำระเงิน</a></li>
                <li class="nav-link tablinks" onclick="openCity(event, 'taxData')"><a data-toggle="tab" href="#taxData">ข้อมูลใบกำกับภาษีที่ได้รับ</a></li>
              </ul>
              <div class="mt-3">
                <div class="tab-content">
                  <div id="assetPayment" class="tabcontent">
                    <form class="form-inline" action="/product_receipt/save" method="post" enctype="multipart/form-data">
                      <div class="form-group mx-sm-3 mb-2">
                        <label class="text-success" style="font-size: 24px;">บันทึกการชำระเงิน :</label>
                      </div>
                      <!-- <button type="button" class="btn btn-success mb-2">เพิ่มการชำระเงิน</button> -->
                      <div class="form-check">
                        <input class="form-check-input"  name="checkpay" type="checkbox" value="1" id="checkmoney" onclick="cashmoney()">
                        <input type="text"  class="form-control " id="money" onchange="$('#status_pay').val($(this).val())" disabled>
                      </div>
                    </form>
                  </div>
                  <script>
                    function cashmoney(){
                     if($('#checkmoney').prop('checked') == true){
                       $('#money').val($('#granttotalin').val())
                       $('#status_pay').val($('#money').val())
                       $('#money').attr('disabled',false);
                     }else{
                       $('#money').attr('disabled',true);
                       $('#status_pay').attr('disabled',true)
                       $('#money').val('')
                       $('#status_pay').val('')
                     }
                    }
                   </script>
                  <div id="taxData" class="tabcontent">
                    <form class="form-inline">
                      <div class="form-group mx-sm-3 mb-2">
                        <label class="text-dark" style="font-size: 24px;">ข้อมูลใบกำกับภาษีที่ได้รับ</label>
                      </div>
                      <button type="button" class="btn btn-dark mb-2">เพิ่มข้อมูลเอกสาร</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ข้อมูลผู้ติดต่อ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form  action="/creditor/save" class="form-group" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              <%-include('../../creditor/creditor/creditoraddform')%>
              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/////////////////////////////////////Modal//////////////////////////////////////////////////////-->
  </div>

  <!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->
<!-- product add-->

<div class="modal fade" id="productAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <h3 class="text-info">รายการสินค้า</h3>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid mt-2">
          <%-include('../../Inventory_Control/product/_add')%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<%-include('../../Inventory_Control/product/_category')%>




  



<script type="text/javascript">
  var creditors = <%-JSON.stringify(creditors)%>;
  var product_list = <%-JSON.stringify(product_list)%>;
  var vat = <%-JSON.stringify(vat)%>;
  var category_price = <%-JSON.stringify(category_price)%>;
  var receiptnumber = <%-JSON.stringify(receiptnumber)%>;
  var runnumber = <%-JSON.stringify(runnumber)%>;
  var module = <%-JSON.stringify(receiptmodule)%>;
  var pn = (+receiptnumber[0].maxnumber);
</script>
<script src="/dist/js/creditors/creditor.js" crossorigin="anonymous"></script>
<script src="/dist/js/receipt/receipt.js" crossorigin="anonymous"></script>
<%-include('../../_footer.ejs')%>
