<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">

            <%-include('../buy_sidebar.ejs')%>

            <div id="main">
              <div class="float-left">
                <div class="row">
                  <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                  <h3>ใบสั่งซื้อ</h3>
                </div>
              </div>
              <div class="text-right">
                <a class="btn btn-success" href="/purchase_order/add">สร้างใบสั่งซื้อ</a>
              </div>
              <hr>
              <div style="width: 100%;">
                <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th width="10%">วันที่</th>
                      <th width="15%">เลขที่เอกสาร</th>
                      <th width="20%">ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค</th>
                      <th width="15%">วันครบกำหนด</th>
                      <th width="15%">ยอดรวมสุทธิ</th>
                      <th width="15%">สถานะ</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for (var i = 0; i < purchase.length; i++) { %>
                      <tr class="border-left border-right border-bottom" id="tr_purchase_<%=i%>-<%=purchase[i].id%>">
                        <td><%=purchase[i].dateday%></td>
                        <td><%=purchase[i].purchasechar%><%=purchase[i].purchaseordernumber%></td>
                        <td>
                          <%=purchase[i].creditors_name%>
                        </td>
                        <td>
                          <%if(purchase[i].indicate_id == 1){ %>
                          <%=purchase[i].dueday%>
                          <%}else if(purchase[i].indicate_id == 2){ %>
                            <t>เงินสด</t>
                            <%}else{ %>
                              <t>ไม่แสดงวันที่</t>
                              <%}%>
                        </td>
                        <td><%=purchase[i].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                        <td>
                          <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <%=purchase[i].status%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="/purchase_order/purchase_to_receipt/add/<%=purchase[i].id%>">สร้างใบรับสินค้า</a>
                              <a class="dropdown-item" href="/purchase_order/purchase_to_expenses/add/<%=purchase[i].id%>">สร้างใบค่าใช้จ่าย</a>
                            </div>
                          </div>
                        </td>
                        <td align="center">
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/purchase_order/detail/<%=purchase[i].id%>"><i class="far fa-sticky-note"></i> รายละเอียดใบสั่งซื้อ</a>
                              <a class="dropdown-item" href="/purchase_order/edit/<%=purchase[i].id%>"><i class="fa fa-edit"></i> แก้ไขเอกสาร</a>
                              <a class="dropdown-item" href="#"><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                              <a class="dropdown-item" href="/purchase_order/readd/<%=purchase[i].id%>"><i class="far fa-copy"></i> สร้างซ้ำ</a>
                              <a class="dropdown-item" href="#" onclick="delete_modal('tr_purchase_<%=i%>-<%=purchase[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูล</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <%}%>
                  </tbody>
                </table>

                <div class="modal fade" id="tr_delete_purchase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="exampleModalLabel">ยืนยันการลบข้อมูล</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="p_delete_purchase">
                        <p id="p1_delete_purchase">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                        <p id="p2_delete_purchase"></p>
                        <p id="p3_delete_purchase"></p>
                      </div>
                      <div class="modal-footer">
                        <a  id="a1_purchase_delete" onclick=" location.reload()" class="btn btn-danger">ยืนยัน</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
  function delete_modal(tr) {
    var del = tr.split('-')[1];
    console.log(del)
    $('#p2_delete_purchase').text('เลขที่เอกสาร :' + $('#' +tr+' td:eq(1)').text());
    $('#p3_delete_purchase').text('ยอดรวมสุทธิ :' + $('#' + tr + ' td:eq(4)').text());
    $('#a1_purchase_delete').attr('href','/purchase_order/delete/'+ del);
    $('#tr_delete_purchase').modal();
  }
</script>
<script src="dist/js/sidebar.js"></script>

<%-include('../../_footer')%>
