
<style>

* {
  box-sizing: border-box;
}

.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}
.l-radio:hover, .l-radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}
.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.l-radio input:focus {
  outline: none;
}
.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}
.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}
</style>
  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">สร้างบัญชีธนาคาร</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/salaryadd" method="post" id="action">
          <div class="modal-body">
            <!-- <input type="hidden" id="idd" name="id"> -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">กรอกข้อมูล</legend>
                  <table class="table table-borderless" >
                      <tr>
                        <td>
                        </td>
                      </tr>
                      <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label for="">ธนาคาร</label>
                              </div>
                              <select class="form-control" name="bank_id" id="bank_id" required>
                                <option id="yy">--กรุณาเลือกธนาคาร--</option>
                                <% if(bank) { %>
                                  <% for(var i = 0; i<bank.length; i++) { %>
                                    <option value="<%= bank[i].id %>" id="bank_id"><%= bank[i].name %></option>
                                  <% } %>
                                <% } %>
                              </select>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>เลขที่บัญชี</label>
                              </div>
                              <input type="text" name="bank_number" class="form-control" id="bank_number" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>สาขาธนาคาร</label>
                              </div>
                              <input type="text" name="bank_branch" id="bank_branch" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ชื่อบัญชี</label>
                              </div>
                              <input type="text" name="bank_name" id="bank_name" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ประเภทบัญชี</label>
                              </div>
                              <% if(banktype) { %>
                                <% for(var i = 0; i<banktype.length; i++) { %>
                   
                    <label for="<%= banktype[i].id %>" class="l-radio">
                      <input type="radio" id="<%= banktype[i].id %>" name="bank_type_id" value="<%= banktype[i].id %>" tabindex="<%= banktype[i].id %>">
                      <span><%= banktype[i].name %></span>
                    </label>
                  <%}}%>
                            </div>
                          </td>
                        </tr>
                     
                      
                      </table>
                  </fieldset>
              </div>
    
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">ตกลง</button>
          </div>
        </form>
       
      </div>
    </div>
  </div>

