<%-include('../../_header.ejs')%>

  <div class="monitor">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">

            <%-include('../sell_sidebar.ejs')%>

              <div id="main">
                <div class="float-left">
                  <div class="row">
                    <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i
                        class="fas fa-angle-double-left"></i></span>
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i
                        class="fas fa-angle-double-right"></i></span>
                    <h3>ใบวางบิล</h3>
                  </div>
                </div>
                <div class="text-right">
                  <a class="btn btn-success" href="/bill/add">สร้างใบวางบิล</a>
                </div>
                <hr>

                <div style="width: 100%;">
                  <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                    <thead class="table-bordered">
                      <tr class="bg-primary">
                        <th width="10%">วันที่</th>
                        <th width="15%">เลขที่เอกสาร</th>
                        <th width="35%">ชื่อลูกค้า/ชื่อโปรเจ็ค</th>
                        <th width="15%">วันครบกำหนด</th>
                        <th width="15%">ยอดรวมสุทธิ</th>
                        <th width="15%">สถานะ</th>
                        <th width="10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for (var i = 0; i < bill.length; i++) { %>
                      <tr class="border-left border-right border-bottom" id="tr_bill_<%=i%>-<%=bill[i].id%>">
                        <td><%=bill[i].dateday%></td>
                        <td><%=bill[i].billchar%><%=bill[i].billnumber%></td>
                        <td><%=bill[i].debtors_name%></td>
                        <td><%=bill[i].dueday%></td>
                        <td><%=bill[i].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                        <td >
                          <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <%=bill[i].status%>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">วางบิลแล้ว</a>
                              <a class="dropdown-item" href="#">เปิดบิลแล้ว</a>
                              <hr>
                              <a class="dropdown-item" href="/bill/taxinvoice/<%=bill[i].id%>">สร้างใบส่งสินค้า/ใบแจ้งหนี้/ใบกำกับภาษี</a>
                              <hr>
                              <a class="dropdown-item" href="#">ยกเลิก</a>
                            </div>
                          </div>
                        </td>
                        <td align="center">
                          <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-h dropbtn"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/bill/detail/<%=bill[i].id%>"><i class="far fa-sticky-note"></i> รายละเอียดใบเสนอราคา</a>
                              <a class="dropdown-item" href="/bill/edit/<%=bill[i].id%>"><i class="fa fa-edit"></i> แก้ไขเอกสาร</a>
                              <a class="dropdown-item" href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                              <a class="dropdown-item" href="/bill/readd/<%=bill[i].id%>"><i class="far fa-copy"></i> สร้างซ้ำ</a>
                              <hr>
                              <a class="dropdown-item" href="#" onclick="delete_modal('tr_bill_<%=i%>-<%=bill[i].id%>')"><i class="fa fa-trash"></i>
                                ลบผู้ติดต่อ</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>

                  <div class="modal fade" id="tr_delete_bill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-info" id="exampleModalLabel">ยืนยันการลบข้อมูล</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" id="p_delete_bill">
                          <p id="p1_delete_bill">ต้องการลบข้อมูลนี้หรือไม่ ?</p>
                          <p id="p2_delete_bill"></p>
                          <p id="p3_delete_bill"></p>
                        </div>
                        <div class="modal-footer">
                          <a  id="a1_bill_delete" onclick=" location.reload()" class="btn btn-danger">ยืนยัน</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <script type="text/javascript">
      function delete_modal(tr) {
        var del = tr.split('-')[1];
        console.log(del)
        $('#p2_delete_bill').text('เลขที่เอกสาร :' + $('#' +tr+' td:eq(1)').text());
        
        $('#p3_delete_bill').text('ยอดรวมสุทธิ :' + $('#' + tr + ' td:eq(4)').text());
        $('#a1_bill_delete').attr('href','/bill/delete/'+ del);
    
        $('#tr_delete_bill').modal();
      }
    </script>

    <script src="/dist/js/sidebar.js"></script>

    <%-include('../../_footer')%>