<div id="mySidenav" class="sidenav d-none d-lg-block">
  <a href="/property_list">รายการทรัพสินย์</a>
  <a href="/record_depreciation">บันทึกค่าเสื่อมราคา</a>
  <a href="/category_asset_setting">ตั้งค่าหมวดหมู่ทรัพย์สิน</a>
</div>
