<%-include('../../_header.ejs')%>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                        </div>
                        <div class="col-3">
                            <div class="text-right">
                                <a class="btn btn-dark mb-2" onclick="redi()" >กลับ</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    <form method="post" class="form-group" enctype="multipart/form-data" id="reqform">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="text-info">สร้างรายการเงินเดือน</h3>
                                <h3 style="color: cornflowerblue;">ประเภทพนักงาน : <%= em[0].name%>
                                </h3>
                                <h3 style="color: cornflowerblue;">ช่องทางการชำระ : <%= pm[0].name%>
                                </h3>
                                <h3 style="color: cornflowerblue;" id="datesum">ช่วงวันที่</h3>
                            </div>
                            <div class="col-6">
                                <h3 style="color: darkgray;">รวมค่าใช้จ่ายพนักงาน</h3>
                                <input type="text" id="employee_expensesum" value="0" class="form-control"
                                    style="background-color:darkgray;font-size: large;color:white;" readonly>
                                <h3 style="color:darkturquoise;">รวมจ่ายสุทธิ</h3>
                                <input type="text" value="0" id="total_paysum" class="form-control"
                                    style="background-color:darkturquoise;font-size: large;color:white;" readonly>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-borderless table-responsive-md" style="width:100%; ">
                            <%var date=new Date().toISOString().split("T")[0]%>
                                <%console.log(date)%>
                                    <th style="text-align: center;width:15%;">วันที่ทำรายการ</th>
                                    <td style="width: 10%;">
                                        <input type="date" name="date_create" class="form-control" value="<%= date%>"
                                            required>
                                    </td>
                                    <th style="text-align: center;width: 15%;">วันที่ชำระ</th>
                                    <td style="width: 10%;">
                                        <input type="date" name="date_pay" class="form-control" required>
                                    </td>
                                    <th style="text-align: center;width: 15%;">ช่วงวันที่</th>
                                    <td style="width: 10%;">
                                        <input type="date" name="date_start" class="form-control"
                                            onchange="datesumfunc('0')" id="date_start" required>
                                    </td>
                                    <th style="text-align: center;width: 15%;">ถึงวันที่</th>
                                    <td style="width: 10%;">
                                        <input type="date" name="date_end" class="form-control"
                                            onchange="datesumfunc('1')" id="date_end" required>
                                    </td>

                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-mt-12">
                                <h3 class="text-info">เลือกประกันสังคม</h3>
                            </div>
                            <div class="col-md-3 col-mt-12">
                                <select class="form-control" name="social_val" id="social_val" onchange="socialupdate(this.value,this.id)" required>
                                    <% if(social) { %>
                                        <% for(var i=0; i<social.length; i++) { %>
                                            <option value="<%= social[i].percent %>" id="social_val">
                                                <%= social[i].name %>
                                                    <%= social[i].percent %> %
                                            </option>
                                            <% } %>
                                                <% } %>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div style="width: 100%;" >
                            <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                              <thead class="table-bordered">
                                <tr class="bg-info" align="center">
                                  <th >บัญชีเงินเดือน</th> 
                                  <th >ช่องทางการชำระ</th> 
                                  <% if (id.selectemployee == '2') {%>
                                    <th style="width: 10%;">จำนวนวัน</th> 
                                    <th >ค่าจ้าง</th> 
                                    <th >ค่าจ้างรวม</th> 
                                    <% }else{%>
                                        <th >เงินเดือน</th> 
                                        <%}%>
                                  <th >รวมปรับเพิ่ม</th> 
                                  <th >รวมปรับลด</th> 
                                  <th >ยอดจ่ายสุทธิ</th> 
                                  <th >สถานะ</th> 
                                  <th ></th>   
                                </tr>
                              </thead>
                              <tbody>
                                <% if (payment_topic) { %>
                                  <% for (var i = 0; i< payment_topic.length; i++) { %>
                                <tr class="border-left border-right border-bottom" align="center" id="idtable_<%=payment_topic[i].id%>">
                                  <td> <%= payment_topic[i].firstname_th %> <%= payment_topic[i].lastname_th %><br> <p><%= payment_topic[i].employee_code %></p> </td>
                                  <% if (id.selecttype == '2') {%>
                                    <td> <%= payment_topic[i].bank_number %><br><%= payment_topic[i].bname %></td>
                                    <% }else{%>
                                      <td> จ่ายเงินสด</td>
                                        <%}%>
                                  <% if (id.selectemployee == '2') {%>
                                    <td ><input type="text" id="dayquantityin_<%=payment_topic[i].id%>" onkeyup="sumemdayv(this.value,'<%= payment_topic[i].id %>')" value="0" > </td>
                                    <td ><input type="text" id="wagein_<%=payment_topic[i].id%>" onkeyup="sumemdayv(this.value,'<%= payment_topic[i].id %>')" value="<%= payment_topic[i].salary %>" > </td>
                                    <td ><label id="salarysum_<%=payment_topic[i].id%>">0</label> </td>
                                    <% }else{%>
                                        <td ><label id="salarysum_<%=payment_topic[i].id%>"><%= payment_topic[i].salary %></label> </td>
                                        <%}%>
                                  
                                  <td> <lable id="sumup_<%=payment_topic[i].id%>" style="color: green;">0 </label> </td>
                                    <td> <label id="sumdown_<%=payment_topic[i].id%>" style="color: red;"><%= payment_topic[i].social_security_cost+payment_topic[i].withholding %></label> </td>
                                    
                                  <td> <lable id="pay_<%=payment_topic[i].id%>">0 </label> </td>
                                    <td>   <select class="form-control"  id="paystatus<%=payment_topic[i].id%>" >
                                          <option value="1" >จ่ายแล้ว</option>
                                          <option value="0" selected="selected">ยังไม่จ่าย</option>
                                    </select> </td>
                                  
                                  <td align="center">
                                    <div class="dropdown">
                                      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h dropbtn"></i>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#popup<%=payment_topic[i].id%>" ><i class="fa fa-edit"></i>แก้ไขรายการปรับเพิ่ม/ลด</a>
                                        <hr>
                                        <a class="dropdown-item" onclick="delem('<%=payment_topic[i].id%>')" ><i class="fa fa-trash"></i>ลบพนักงาน</a>
                                      </div>
                                    </div>
                                  </div>
                                  </td>
                                 
                                </tr>
                                <% } %>
                                <% } %>
                              </tbody>
                            </table>
                            <%-include('payment_topic_addvalue.ejs')%>
                            <div class="row">
                                <div class="col-md-9 col-mt-12">
                                    </div>
                                    <div class="col-md-3 col-mt-12">
                                        <table class="table table-borderless" id="downlist_field" style="background: linear-gradient(to right, #3a7bd5, #3a6073); box-shadow: 0px 5px 20px -10px #000851;">
                                            <tr>
                                              <td>
                                                <div class="input-group">
                                                  <div class="col-lg-8 col-md-8">
                                                    <label style="color: white;">จำนวนพนักงาน :</label>
                                                  </div>
                                                  <label id="emcount" style="color: white;">0</label>
                                                   
                                                  
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                  <div class="input-group">
                                                    <div class="col-lg-8 col-md-8">
                                                      <label style="color: white;">ยอดรวมเงินเดือน :</label>
                                                    </div>
                                                    <label id="salarysumem" style="color: white;">0</label>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div class="input-group">
                                                    <div class="col-lg-8 col-md-8">
                                                      <label style="color: white;">รวมรายการปรับเพิ่ม :</label>
                                                    </div>
                                                    <label id="upsumem" style="color: white;">0</label>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div class="input-group">
                                                    <div class="col-lg-8 col-md-8">
                                                      <label style="color: white;">รวมรายการปรับลด :</label>
                                                    </div>
                                                    <label id="downsumem" style="color: white;">0</label>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div class="input-group">
                                                    <div class="col-lg-8 col-md-8">
                                                      <label style="color: white;">รวมจ่ายสุทธิ :</label>
                                                    </div>
                                                    <label id="sumpay" style="color: white;">0</label>
                                                  </div>
                                                </td>
                                              </tr>
                                          </table>
                                    </div>
                                </div>





                        <div class="mt-2" align="center">
                            <a class="btn btn-success" onclick="req()">ตกลง</a>
                            <a onclick="redi()" class="btn btn-primary">ย้อนกลับ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();

    var result =  <%- JSON.stringify(payment_topic) %>
    for (var i = 0; i< result.length; i++) {
    var elem = document.getElementById("salary_"+result[i].id);
      if(elem !== null ) {
    append(result[i].id)
    }
    

    }

  });
});
function redi(){
  if (confirm('ต้องการกลับหรือไม่')) {
  // Save it!
  window.location.href = "/paymenttopic";
} else {
  // Do nothing!
 console.log("no");
}
}
function delem(emid){
  if (confirm('ต้องการลบหรือไม่')) {
  // Save it!
   $('#idtable_' + emid).remove();
    $('#popup' + emid).remove();
} else {
  // Do nothing!
  console.log('notdel');
}


    var result =  <%- JSON.stringify(payment_topic) %>;
    for (var i = 0; i< result.length; i++) {
    var elem = document.getElementById("salary_"+result[i].id);
      if(elem !== null ) {
    append(result[i].id)
    }
    }

}
function req(){
    
    var form = JSON.parse(JSON.stringify(jQuery('#reqform').serializeArray()))
    var data = $("#reqform").serialize().split("&");
    var obj={};
    for(var key in data)
    {
        obj[data[key].split("=")[0]] = data[key].split("=")[1];
    }
    console.log(form);
    var pmt =  <%- JSON.stringify(pm) %>;
    var emt =  <%- JSON.stringify(em) %>;
    var sumjson = []
    var uplist = [];
    var downlist = [];
    var paylist = [];
    var employee_expensesum = parseFloat(document.getElementById("employee_expensesum").value)
    var total_paysum = parseFloat(document.getElementById("total_paysum").value)
    var emcount = parseInt(document.getElementById("emcount").innerHTML)
    var salarysumem = parseFloat(document.getElementById("salarysumem").innerHTML)
    var upsumem = parseFloat(document.getElementById("upsumem").innerHTML)
    var downsumem = parseFloat(document.getElementById("downsumem").innerHTML)
    var topic = [{date_create:obj.date_create,date_end:obj.date_end,date_pay:obj.date_pay,date_start:obj.date_start,social_security:obj.social_val
        ,employee_expense:employee_expensesum,payment_method_id:pmt[0].id,employee_type_id:emt[0].id,employee_count:emcount,salary_sum:salarysumem,sum_up:upsumem,sum_down:downsumem,total_pay:total_paysum}]
    var result =  <%- JSON.stringify(payment_topic) %>;
    for (var i = 0; i< form.length; i++) {
    var test = form[i].name.split('_')
    
    if(test[0] == "uplist"){
        uplist.push({up_list_id:test[1],employee_id:test[2],money:form[i].value})
    }
    if(test[0] == "downlist"){
        downlist.push({down_list_id:test[1],employee_id:test[2],money:form[i].value})
    }
    for (var k = 0; k< result.length; k++) {
        if(test[1] == result[k].id && test[0] == "salary"){
            var valsalary = parseFloat(document.getElementById("salarysum_"+result[k].id).innerHTML)
            var valsumup = parseFloat(document.getElementById("sumup_"+result[k].id).innerHTML)
            var valsumdown = parseFloat(document.getElementById("sumdown_"+result[k].id).innerHTML)
            var valsumpay = parseFloat(document.getElementById("pay_"+result[k].id).innerHTML)
            var valsocost = parseFloat(document.getElementById("socialcost_"+result[k].id).value)
            var valwithholding = parseFloat(document.getElementById("withholding_"+result[k].id).value)
            var paystatus = parseFloat(document.getElementById("paystatus"+result[k].id).value)
            if(result[k].employee_type_id == 2){
                var valwagein = parseFloat(document.getElementById("wagein_"+result[k].id).value)
                var valdayquantityin = parseFloat(document.getElementById("dayquantityin_"+result[k].id).value)
                paylist.push({employee_id:test[1],payment_method_id:result[k].payment_method_id,day_quantity:valdayquantityin,
                    wage:valwagein,salary:valsalary,sum_up:valsumup,sum_down:valsumdown,total_pay:valsumpay,social_cost:valsocost,
                    withholding_cost:valwithholding,pay_status:paystatus})
            }else{
                paylist.push({employee_id:test[1],payment_method_id:result[k].payment_method_id,
                    salary:valsalary,sum_up:valsumup,sum_down:valsumdown,total_pay:valsumpay,social_cost:valsocost,
                    withholding_cost:valwithholding,pay_status:paystatus})
            }
            
        }
    
    }
    
    }
    sumjson = JSON.stringify({topic:topic,paylist:paylist,uplist:uplist,downlist:downlist})
    console.log(topic);
    console.log(uplist);
    console.log(downlist);
    console.log(paylist);
    console.log(sumjson);
    if(topic[0].date_create == "" || topic[0].date_end == "" ||topic[0].date_pay == "" ||topic[0].date_start == "" ){
      alert("ใส่ข้อมูลให้ครบ")
    }else{
      $.ajax({
   url: "/paymentaddform", 
   type: "POST",
   dataType: "json",
   contentType: "application/json; charset=utf-8",
   data: sumjson,
   success: function (result) {
      //redirecting to main page from here.
      console.log(result);
      window.location.href = "/paymenttopic";
    },
    error: function (err) {
    // check the err for error details
    }
 });
    }
}

function datesumfunc(v) {
            var val = $('#date_start').val();
            var val1 = $('#date_end').val();
            val = val.split("-")
            val1 = val1.split("-")
            var year1 = parseInt(val[0]) + 543
            var year2 = parseInt(val1[0]) + 543
            val = val[2] + "/" + val[1] + "/" + year1
            val1 = val1[2] + "/" + val1[1] + "/" + year2
            console.log(val.length, val1.length);
            if (val.length == 10 && val1.length == 10) {
                val = "ช่วงวันที่ " + val + " - " + val1
                $('#datesum').text(val);
            }

};
function socialupdate(val,id){
    console.log(val,id);
    var result =  <%- JSON.stringify(payment_topic) %>
    for (var i = 0; i< result.length; i++) {
    var elem = document.getElementById("salary_"+result[i].id);
      if(elem !== null ) {
        var salarys = parseFloat(document.getElementById("salary_"+result[i].id).value)/100
        salarys = salarys*val
    $('#socialcost_'+result[i].id).val(salarys)
    append(result[i].id)
    
    }
    }
   };

    </script>
 <%-include('../../_footer.ejs')%>