
<div class="modal fade" id="popupadd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> เพิ่มรายการพนักงาน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/paymenttopicaddlist/<%=id%>" method="post" id="action">
        <div class="modal-body">
          <!-- <input type="hidden" id="idd" name="id"> -->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table table-borderless" >
                <tr>
                  <td>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label for="">พนักงาน:</label>
                      </div>
                      <select class="form-control" name="employee_id_check" id="employee_id" onchange="selectem(this.value,this.id)" required>
                        <option id="yy">--เลือกพนักงาน--</option>

                      </select>
                    </div>
                  </td>
                </tr>
                <%if (pmemname[0].emid == '2') {%>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label>จำนวนวัน :</label>
                        </div>
                        <input type="text" id="day_quantity" name="day_quantity" value="0" class="form-control" onkeyup="sumlist()" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label>ค่าจ้าง :</label>
                        </div>
                        <input type="text"  id="salary" name="wage" value="0" class="form-control" onkeyup="sumlist()" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label>ค่าจ้างรวม :</label>
                        </div>
                        <input type="text" id="sumsa" name="salary" value="0" class="form-control" readonly required>
                      </div>
                    </td>
                  </tr>
                <% }else{%>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label>เงินเดือน :</label>
                        </div>
                        <input type="text" id="salary" name="salary" value="0" class="form-control" required>
                      </div>
                    </td>
                  </tr>
                <%}%>
                <tr>
                  <td>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label>ประกันสังคม :</label>
                      </div>
                      <input type="text" id="social_security_cost" name="social_cost" value="0" class="form-control" required>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <div class="col-lg-4 col-md-4">
                        <label>หัก ณ ที่จ่าย :</label>
                      </div>
                      <input type="text" id="withholding" name="withholding_cost" value="0" class="form-control" required>
                      <input type="hidden" name="payment_method_id" value="<%= pmemname[0].emid%>" class="form-control" required>
                      <input type="hidden" name="sum_up" value="0" class="form-control" required>
                      <input type="hidden" name="sum_down" value="0" class="form-control" required>
                      <input type="hidden" name="total_pay" value="0" class="form-control" required>
                      <input type="hidden" name="pay_status" value="0" class="form-control" required>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function selectem(val,id){
    var result =  <%- JSON.stringify(employee) %>;
    var idd =  <%- JSON.stringify(id) %>;
    for (var i = 0; i< result.length; i++) {
      if(result[i].id == val){
        $('#salary').val(result[i].salary)
        $('#social_security_cost').val(result[i].social_security_cost)
        $('#withholding').val(result[i].withholding)
        var link = "/paymenttopicaddlist/"+idd
        $('#action').prop('action', link);
        var elem = document.getElementById("sumsa");
        if(elem !== null ) {

        }
      }
    }
  };
  function sumlist(){
    var sumemday = parseFloat(document.getElementById("day_quantity").value)
    var salaryday = parseFloat(document.getElementsByName("wage")[0].value)
    var sum = sumemday*salaryday
    $('#sumsa').val(sum);

  };
</script>
