<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h3 class="text-info" style="color: #8A2BE2;">รายการเงินเดือน/ค่าจ้าง</h3>
          </div>
          <div class="col-3">
            <div class="text-right mb-2">
              <a class="btn btn-success"data-toggle="modal" data-target="#popup" onclick="add()">เพิ่มรายการเงินเดือน</a>
            </div>
          </div>
        </div>
        <hr>
        <div style="width: 100%;" >
          <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
            <thead class="table-bordered">
              <tr class="bg-info">
                <th >ช่วงวันที่</th>
                <th >วันที่ชำระ</th>
                <th >ค่าใช้จ่ายพนักงานรวม</th>
                <th >ยอดจ่ายรวมสุทธิ</th>
                <th >สถานะ</th>
                <th ></th>
              </tr>
            </thead>
            <tbody>
              <% if (payment_topic) { %>
                <% for (var i = 0; i< payment_topic.length; i++) { %>
                  <tr class="border-left border-right border-bottom" align="center">
                    <td> <%= payment_topic[i].date_startn %> - <%= payment_topic[i].date_endn %> </td>
                    <td> <%= payment_topic[i].date_payn %></td>
                    <% if (payment_topic[i].employee_expense == 0 || payment_topic[i].employee_expense > 0){%>
                      <td> <%= payment_topic[i].employee_expense.toLocaleString() %></td>
                    <%}else{%>
                      <td> <%= payment_topic[i].employee_expense %></td>
                    <%}%>
                    <% if (payment_topic[i].total_pay == 0 || payment_topic[i].total_pay > 0){%>
                      <td> <%= payment_topic[i].total_pay.toLocaleString() %></td>
                    <%}else{%>
                      <td> <%= payment_topic[i].total_pay %></td>
                    <%}%>
                    <% if (payment_topic[i].topic == payment_topic[i].id){%>
                      <td style="color: green;"> ชำระแล้ว</td>
                    <%}else{%>
                      <td style="color: red;"> ยังไม่ชำระ</td>
                    <%}%>
                    <td align="center">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h dropbtn"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <!-- <a class="dropdown-item"  href="/paymentedit/<%= payment_topic[i].id %>"><i class="fa fa-edit"></i> เพิ่มพนักงาน</a>
                          <hr> -->
                          <a class="dropdown-item"  href="/paymentedit/<%= payment_topic[i].id %>"><i class="fa fa-edit"></i> แก้ไขรายการเงินเดือน</a>
                          <hr>
                          <a class="dropdown-item" data-toggle="modal" data-target="#popupdel<%= payment_topic[i].id %>" ><i class="fa fa-trash"></i> ลบข้อมูลบัญชีธนาคาร</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('payment_topic_selecttype.ejs')%>
<%-include('payment_topic_del.ejs')%>

<script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });
});
// function add(){
//   console.log("test");
//   $('#action').prop('action', "/salaryadd");
//     $("input[name='bank_type_id']").prop('checked', false);
//     $('#yy').prop('selected', true);
//      $('#bank_number').val("");
//      $('#bank_branch').val("");
//      $('#bank_name').val("");
// };
// function edit(pp){
//   var urlname = '/salaryajax/'+pp
//   $('#edit,#editt').addClass('active');
//     var getData = function () {
//   $.ajax({
//     url: urlname,
//     success: function (data) {
//     var suc = data.salary[0]
//     var id = "/salaryeditcon/" + suc.id
//      console.log(id);
//      console.log(suc);
//      $('#exampleModalLabel').text("แก้ไขข้อมูลธนาคาร");
//      $('#bank_id').val(suc.bank_id);
//      $('#bank_number').val(suc.bank_number);
//      $('#bank_branch').val(suc.bank_branch);
//      $('#bank_name').val(suc.bank_name);
//      $('#action').prop('action', id);
//      $("input[name=bank_type_id][value=" + suc.bank_type_id + "]").prop('checked', true);
//     }
//   });
// };
// getData()
// }
// function del(pp){
//     var urlname = '/salaryajax/'+pp
//     var getData = function () {
//   $.ajax({
//     url: urlname,
//     success: function (data) {
//     var suc = data.salary[0]
//     var succheck = data.salary_check
//     var id = "/salarydelcon/" + suc.id
//      console.log(succheck.length);
//      $('#bank_iddel').val(suc.name);
//      $('#bank_numberdel').val(suc.bank_number);
//      $('#bank_branchdel').val(suc.bank_branch);
//      $('#bank_namedel').val(suc.bank_name);
//      $('#nametypedel').val(suc.nametype);
//      if(succheck.length >= 1){
//       $('#salarydel').attr("href", "/salary");
//       $('#salarydel').text('ไม่สามารถลบได้').button("refresh").css("background-color","green");
//       $('#colorbutton').button("refresh").css("background-color","green");
//      }else{
//       $('#salarydel').text('ลบรายการ').button("refresh").css("background-color","red");
//       $('#colorbutton').button("refresh").css("background-color","red");
//      $('#salarydel').attr("href", id);
//      }

//     }
//   });
// };
// getData()
// }


</script>



 <%-include('../../_footer')%>
