<% if (payment_topic.length > 0){%>
  <% for (var i = 0; i< payment_topic.length; i++) { %>
    <div class="modal fade" id="popup<%=payment_topic[i].id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">รายการปรับเพิ่ม/ลด <%=payment_topic[i].firstname_th%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
              <!-- <input type="hidden" id="idd" name="id"> -->
              <div class="row">
                <div class="col-lg-12 col-md-12">
                    <table class="table table-borderless" id="dynamic_field<%=payment_topic[i].id%>">
                      <% if (id.selectemployee == '2') {%>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>จำนวนวัน :</label>
                              </div>
                              <input type="text" onkeyup="sumemday(this.value,'<%=payment_topic[i].id%>')" id="sumemday_<%=payment_topic[i].id%>" name="sumemday_<%=payment_topic[i].id%>" value="0" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ค่าจ้าง :</label>
                              </div>
                              <input type="text" onkeyup="sumemday(this.value,'<%=payment_topic[i].id%>')" id="salaryday_<%=payment_topic[i].id%>" name="salaryday_<%=payment_topic[i].id%>" value="<%=payment_topic[i].salary%>" class="form-control" required>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <div class="col-lg-4 col-md-4">
                                <label>ค่าจ้างรวม :</label>
                              </div>
                              <input type="text"  id="salary_<%=payment_topic[i].id%>" name="salary_<%=payment_topic[i].id%>" value="0"  class="form-control" readonly required>
                            </div>
                          </td>
                        </tr>
                        <% }else{%>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label>เงินเดือน :</label>
                                </div>
                                <input type="text" onkeyup="sumemdaym(this.value,'<%=payment_topic[i].id%>')" id="salary_<%=payment_topic[i].id%>" name="salary_<%=payment_topic[i].id%>" value="<%=payment_topic[i].salary%>" class="form-control" required>
                              </div>
                            </td>
                          </tr>
                            <%}%>
                            <tr>
                              <td>
                                <div class="input-group">
                                  <div class="col-lg-4 col-md-4">
                                    <label>ประกันสังคม :</label>
                                  </div>
                                  <input type="text" onkeyup="sumdownlist(this.value,'<%=payment_topic[i].id%>')" id="socialcost_<%=payment_topic[i].id%>" name="socialcost_<%=payment_topic[i].id%>" value="<%=payment_topic[i].social_security_cost%>"class="form-control" required>
                                </div>
                              </td>
                            </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <div class="col-lg-4 col-md-4">
                                  <label>หัก ณ ที่จ่าย :</label>
                                </div>
                                <input type="text" onkeyup="sumdownlist(this.value,'<%=payment_topic[i].id%>')" id="withholding_<%=payment_topic[i].id%>" name="withholding_<%=payment_topic[i].id%>" value="<%=payment_topic[i].withholding%>"class="form-control" required>
                              </div>
                            </td>
                          </tr>
                       
                        </table>
                        <hr>
                        <table class="table table-borderless" id="uplist_field<%=payment_topic[i].id%>">
                          <% if(uplist) { %>
                            <% for(var k = 0; k<uplist.length; k++) { %>
                              <% if(uplist[k].default == 1){%>
                              <tr id="rowup<%=payment_topic[i].id%>_<%=uplist[k].id%>">
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label style="color: green;"><%= uplist[k].name %> :</label>
                                    </div>
                                    <input type="text" name="uplist_<%= uplist[k].id %>_<%=payment_topic[i].id%>" id="uplist_<%= uplist[k].id %>_<%=payment_topic[i].id%>" onkeyup="sumuplistdel(this.value,'<%=payment_topic[i].id%>')" value="0" class="form-control" required>
                                  </div>
                                </td>
                                <td><button type="button" name="remove" id="rowup_<%=payment_topic[i].id%>_<%=uplist[k].id%>" class="btn btn-danger btn_remove">X</button></td>
                              </tr>
                              <%}}}%>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label style="color: green;">รายการปรับเพิ่ม :</label>
                                    </div>
                                      <select class="form-control" name="nameupselect_<%=payment_topic[i].id%>" id="<%=payment_topic[i].id%>" onchange="uplist(this.value,this.id,'<%=i%>')" >
                                        <option id="yy" value="no">--เลือกรายการปรับเพิ่มเพิ่มเติม--</option>
                                        <% if(uplist) { %>
                                          <% for(var k = 0; k<uplist.length; k++) { %>
                                            <option value="<%= uplist[k].id %>_<%= uplist[k].name %>" name="nameup_<%=payment_topic[i].id%>_<%= uplist[k].id %>" id="<%= uplist[k].name %>" ><%= uplist[k].name %></option>
                                          <% } %>
                                        <% } %>
                                      </select>
                                  </div>
                                </td>
                              </tr>
                        </table>
                        <hr>
                        <table class="table table-borderless" id="downlist_field<%=payment_topic[i].id%>">
                         
                          <% if(downlist) { %>
                            <% for(var k = 0; k<downlist.length; k++) { %>
                              <% if(downlist[k].default == 1){%>
                                <tr id="rowdown<%=payment_topic[i].id%>_<%=downlist[k].id%>">
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label style="color: red;"><%= downlist[k].name %> :</label>
                                    </div>
                                    <input type="text" id="downlist_<%= downlist[k].id %>_<%=payment_topic[i].id%>" name="downlist_<%= downlist[k].id %>_<%=payment_topic[i].id%>" value="0" onkeyup="sumdownlistdel(this.value,'<%=payment_topic[i].id%>')" class="form-control" required>
                                  </div>
                                </td>
                                <td><button type="button" name="remove" id="down_<%=payment_topic[i].id%>_<%=downlist[k].id%>" class="btn btn-danger btn_remove">X</button></td>
                              </tr>
                              <%}}}%>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="col-lg-4 col-md-4">
                                      <label style="color: red;">รายการปรับลด :</label>
                                    </div>
                                      <select class="form-control" name="namedownselect_<%=payment_topic[i].id%>" id="<%=payment_topic[i].id%>" onchange="test(this.value,this.id,'<%=i%>')" >
                                        <option id="yy" value="no">--เลือกรายการปรับลดเพิ่มเติม--</option>
                                        <% if(downlist) { %>
                                          <% for(var k = 0; k<downlist.length; k++) { %>
                                            <option value="<%= downlist[k].id %>_<%= downlist[k].name %>" name="namedown_<%=payment_topic[i].id%>_<%= downlist[k].id %>" id="<%= downlist[k].name %>" ><%= downlist[k].name %></option>
                                          <% } %>
                                        <% } %>
                                      </select>
                                  </div>
                                </td>
                              </tr>
                        </table>
                </div>
      
                </div>
            </div>
           
            <!-- <div class="modal-footer">
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div> -->
         
        </div>
      </div>
    </div>
  <%}}%>


  <script type="text/javascript">
  
  function test(val,id,ids){
        console.log(val,id,ids);
        var name = val.split('_')
        var na = name[0]
        na =  "downlist_" + na +"_"+ id
        console.log(name[0]);
        if(val != "no"){
          $('#downlist_field'+id).prepend('<tr id="rowdown'+id+'_'+name[0]+'" style="color: red;"><td><div class="input-group"><div class="col-lg-4 col-md-4"><label>'+name[1]+' :</label></div><input type="text" value="0" name="'+na+'" id="'+na+'" class="form-control" onkeyup="sumdownlistdel(this.value,'+id+')" required></div></td> <td><button type="button" name="remove" id="down_'+id+'_'+name[0]+'" class="btn btn-danger btn_remove">X</button></td></tr>');
        } 
        append(id)
  };
  function sumdownlistdel(val,id){
    append(id)
  }
  function uplist(val,id,ids){
        console.log(val,id,ids);
        var name = val.split('_')
        var na = name[0]
        na =  "uplist_" + na +"_"+ id
        if(val != "no"){
          $('#uplist_field'+id).prepend('<tr id="rowup'+id+'_'+name[0]+'" style="color: green;"><td><div class="input-group"><div class="col-lg-4 col-md-4"><label>'+name[1]+' :</label></div><input type="text" value="0" name="'+na+'" id="'+na+'" onkeyup="sumdownlistdel(this.value,'+id+')" class="form-control" required></div></td> <td><button type="button" name="remove" id="up_'+id+''+"_"+''+name[0]+'" class="btn btn-danger btn_remove">X</button></td></tr>');
        } 
        append(id)
  };
  function sumdownlist(val,id){
    console.log(id);
    var withholding = parseFloat(document.getElementById("withholding_"+id).value)
    var socialcost = parseFloat(document.getElementById("socialcost_"+id).value)
    var sum = withholding+socialcost
    $('#sumdown'+id).text(sum)
    append(id)
   };
   function sumuplistdel(val,id){
   append(id)
   };
   function sumemdaym(val,id){
    var salaryday = parseFloat(document.getElementById("salary_"+id).value)
    $('#salarysum_'+id).text(salaryday)
    append(id)
   };
   function sumemday(val,id){
    var sumemday = parseFloat(document.getElementById("sumemday_"+id).value)
    var salaryday = parseFloat(document.getElementById("salaryday_"+id).value)
    var sum = sumemday*salaryday
    console.log(salaryday);
    $('#salarysum_'+id).text(sum)
    $('#salary_'+id).val(sum)
    $('#wagein_'+id).val(salaryday)
    $('#dayquantityin_'+id).val(sumemday)
    append(id)
    

   };
   function sumemdayv(val,id){
    console.log(val,id);
    var sumemday = parseFloat(document.getElementById("wagein_"+id).value)
    var salaryday = parseFloat(document.getElementById("dayquantityin_"+id).value)
    console.log(sumemday,salaryday);
    var sum = sumemday*salaryday
    console.log(salaryday);
    $('#salarysum_'+id).text(sum)
    $('#salary_'+id).val(sum)
    $('#sumemday_'+id).val(salaryday)
    $('#salaryday_'+id).val(sumemday)
    append(id)
   };
	$(document).ready(function(){
    $(document).on('click', '.btn_remove', function(){
var button_id = $(this).attr("id"); 
var name = button_id.split('_')[1]
var ch = button_id.split('_')[0];
button_id = button_id.split('_')[1]+"_"+button_id.split('_')[2]
if(ch == "down"){
  $('#rowdown'+button_id+'').remove();
console.log(button_id);
append(name)
}else{
  $('#rowup'+button_id+'').remove();
console.log(button_id);
append(name)
}
});

});
function append(id){
  var result =  <%- JSON.stringify(downlist) %>;
  var result2 =  <%- JSON.stringify(uplist) %>;
  var em =  <%- JSON.stringify(payment_topic) %>;
    var summ = 0.0
    var sumup = 0.0
    var sumdowntop = 0.0
    var sumuptop = 0.0
    var sumsa = 0.0
    var sumwithholding = 0.0
    var countem = 0
    var namedownselect = 'namedownselect_'+id
    $('[name='+namedownselect+']').children('option:not(:first)').remove();
    for (i = 0; i < result.length; i++) {
      var test = result[i].id
      var text = "downlist_" + test +"_"+ id
      var elem = document.getElementById(text);
      if(elem !== null ) {
       var salary = parseFloat(document.getElementById(text).value)
       var nameup = 'namedown_'+id+'_'+test
      $("option[name="+nameup+"]").remove();
       summ = summ +salary
      }else{
        console.log(text);
        $('[name='+namedownselect+']').append('<option value="'+test+'_'+result[i].name+'" name="namedown_'+id+'_'+test+'">'+result[i].name+' </option>');
      }
    }
    var nameupselect = 'nameupselect_'+id
    $('[name='+nameupselect+']').children('option:not(:first)').remove();
    for (i = 0; i < result2.length; i++) {
      var test = result2[i].id
      var text = "uplist_" + test +"_"+ id
      var elem = document.getElementById(text);
      if(elem !== null ) {
       var salary = parseFloat(document.getElementById(text).value)
       var nameup = 'nameup_'+id+'_'+test
      $("option[name="+nameup+"]").remove();
       sumup = sumup +salary
      }else{
        $('[name='+nameupselect+']').append('<option value="'+test+'_'+result2[i].name+'" name="nameup_'+id+'_'+test+'">'+result2[i].name+' </option>');
      }
    }
    console.log(sumdowntop);
    var withholding = parseFloat(document.getElementById("withholding_"+id).value)
    var socialcost = parseFloat(document.getElementById("socialcost_"+id).value)
    var salary = parseFloat(document.getElementById("salary_"+id).value)
    console.log("with",withholding);
    var sum = withholding+socialcost
    sum = sum+summ
    var pay = salary + sumup - sum
    $('#sumdown_'+id).text(sum)
    $('#sumup_'+id).text(sumup)
    $('#pay_'+id).text(pay)
    for (k = 0; k < em.length; k++) {
      var elem = document.getElementById("sumdown_"+em[k].id);
      if(elem !== null ) {
         var salary1 = parseFloat(document.getElementById("sumdown_"+em[k].id).innerHTML)
         sumdowntop =sumdowntop+salary1
      }
      elem = document.getElementById("sumup_"+em[k].id);
      if(elem !== null ) {
         var salary1 = parseFloat(document.getElementById("sumup_"+em[k].id).innerHTML)
         sumuptop =sumuptop+salary1
      }
      elem = document.getElementById("salarysum_"+em[k].id);
      if(elem !== null ) {
         var salary1 = parseFloat(document.getElementById("salarysum_"+em[k].id).innerHTML)
         sumsa =sumsa+salary1
      }
      elem = document.getElementById("withholding_"+em[k].id);
      if(elem !== null ) {
         var salary1 = parseFloat(document.getElementById("withholding_"+em[k].id).value)
         sumwithholding =sumwithholding+salary1
         countem = countem+1
      }
    }
    console.log("countem",countem);
    var sumex = sumuptop+sumdowntop+sumsa-sumwithholding
    $('#employee_expensesum').val(sumex)
    var sumpay = sumsa+sumuptop-sumdowntop
    $('#total_paysum').val(sumpay)
    $('#emcount').text(countem)
    $('#salarysumem').text(sumsa)
    $('#upsumem').text(sumuptop)
    $('#downsumem').text(sumdowntop)
    $('#sumpay').text(sumpay)

}
  </script>