<style>
  @charset "UTF-8";
input[type=radio] {
  display: none;
}
input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  border-radius: 20px;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}


input[type=radio]:checked + label {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type=radio]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  content: "✓";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[type=radio]#control_05:checked + label {
  background: red;
  border-color: red;
}

p {
  font-weight: 900;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
</style>
  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">สร้างรายการเงินเดือน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/paymenttopicadd" method="post" id="action">
          <div class="modal-body">
            <!-- <input type="hidden" id="idd" name="id"> -->
            <div><h3>   ประเภทพนักงาน:</h3>
              <input type="radio" id="selectem1" name="selectemployee" value="1"  checked>
              <label for="selectem1" style="display:block;box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
              padding: 1rem;
border: 2px solid hsla(150, 75%, 50%, 1);">
                <h2>พนักงานรายเดือน</h2>
              </label>
              <input type="radio" id="selectem2" name="selectemployee" value="2">
              <label for="selectem2" style="display:block;box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
              padding: 1rem;
border: 2px solid hsla(150, 75%, 50%, 1);">
                <h2>พนักงานรายวัน</h2>
              </label></div>
            
                  <br>
                  <div>  
                     <h3>   ช่องทางการชำระ:</h3>
                    <input type="radio" id="selecttype1" name="selecttype" value="1"  checked>
                    <label for="selecttype1" style="display:block;box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
                    padding: 1rem;
    border: 2px solid hsla(150, 75%, 50%, 1);">
                      <h2>จ่ายเงินด้วยเงินสด</h2>
                    </label>
                    <input type="radio" id="selecttype2" name="selecttype" value="2">
                    <label for="selecttype2" style="display:block;box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
                    padding: 1rem;
    border: 2px solid hsla(150, 75%, 50%, 1);">
                      <h2>จ่ายเงินด้วยเงินโอน</h2>
                    </label></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">ตกลง</button>
          </div>
        </form>
       
      </div>
    </div>
  </div>

