<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <datalist class="getDocNo" id="glheadDocNo">
                  <option></option>
                </datalist>
                <div class="mt-3 search-for-gl">
                  <div class="row float-right" id="searchByDoc">
                    <label for="glheadsDate">วันที่</label>
                    <input class="form-control col-md-4 ml-2 mr-2" type="date" name="searchDate" value="<%=new Date().toISOString().split('T')[0]%>" id="glheadsDate">
                    <label for="shooseNo">เลขที่รายการ</label>
                    <input list="glheadDocNo" class="form-control col-md-4 ml-2" type="text" name="doc_no" value="" id="shooseNo">
                    <button class="btn btn-primary ml-2" type="button" id="gl-search" data-toggle="modal" data-target="#exampleModal" onclick="glSearchEdit(this)"><i class="fa fa-edit"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="mt-3">
                  <ul class="nav nav-tabs" id="glTab">
                    <li class="nav-link tablinks active" onclick="openCity(event, 'gladd')"><a data-toggle="tab" href="#gladd">เพิ่มข้อมูล</a></li>
                    <li class="nav-link tablinks" onclick="openCity(event, 'gllast')"><a data-toggle="tab" href="#gllast">10 รายการล่าสุด</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div id="gladd" class="tabcontent">
                <form action="/gl/save" method="POST" class="form-group">
                  <table class="table table-bordered table-responsive-md">
                    <thead>
                      <tr>
                        <th width="15%">เลือกสาขา</th>
                        <td colspan="2">
                          <select class="form-control" name="company_id">
                            <% for (var i=0; i<company.length; i++){ %>
                              <option value="<%=company[i].id%>" <%if(session.companyid==company[i].id){%>selected
                                <%}%>><%=company[i].branchNo%>
                              </option>
                            <%}%>
                          </select>
                        </td>
                        <th width="15%">ชื่อโครงการ</th>
                        <td colspan="2">
                          <select class="form-control" name="projectgl_id">
                            <% if (projectgl.length> 0 ) { %>
                              <% for (var i=0; i<projectgl.length;i++){ %>
                                <option value="<%= projectgl[i].id %>">
                                  <%= projectgl[i].name%> (<%= projectgl[i].detail%>)
                                </option>
                              <%}%>
                            <%}%>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th width="15%">วันที่</th>
                        <td width="20%"> <input id="dateInput" type="date" name="date" value="<%=new Date().toISOString().split('T')[0]%>" class="form-control" required></td>
                        <th width="15%">สมุดรายวันทั่วไป</th>
                        <td width="15%">
                          <%if (company[0].GeneralBook_id==1) {%>
                            <input type="hidden" name="book_id" value="<%=book[0].id%>">
                            <input class="form-control" type="text" value="<%=book[0].name%>" disabled>
                          <%}else {%>
                            <select class="form-control" name="book_id">
                              <%for (var i=0; i < book.length; i++) {%>
                                <option value="<%=book[i].id%>"><%=book[i].name%></option>
                              <%}%>
                            </select>
                          <%}%>
                        </td>
                        <th width="12%">เลขที่รายการ</th>
                        <td width="23%">
                          <div class="row ml-1">
                            <input type="text" name="doc_no" class="form-control" required style="width: 94%" onclick="selecttext(this)">
                          </div>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <table class="table table-bordered table-responsive-md">
                    <datalist id="comment">
                      <%for (var i = 0; i < comment.length; i++) {%>
                        <option value="<%=comment[i].comment%>"></option>
                      <%}%>
                    </datalist>
                    <tr>
                      <th>คำอธิบาย</th>
                      <td><input list="comment" type="text" name="detail" class="form-control" required id="detail" onclick="selecttext(this)"></td>
                    </tr>
                  </table>
                  <datalist id="datalistC" class="shoose">
                    <%if(chart){ %>
                      <%for(var i=0 ; i < chart.length ; i++){%>
                        <option value="<%= chart[i].code %>:<%= chart[i].name %>" id="dataopid<%=i%>" data-value="<%= chart[i].name %>" data-xid="<%= chart[i].id %>" data-name="<%= chart[i].name %>"data-code="<%= chart[i].code %>"></option>
                      <%}%>
                    <%}%>
                  </datalist>
                  <table class="table table-bordered table-responsive-md" id="myTable">
                    <thead>
                      <tr align="center">
                        <th width="15%">รหัสบัญชี</th>
                        <th width="15%">ชื่อบัญชี</th>
                        <th width="15%">เช็ค/ใบสำคัญ</th>
                        <th width="15%">ลงวันที่</th>
                        <th width="15%">เดบิต</th>
                        <th width="15%">เครดิต</th>
                        <th width="10%">ลบ</th>
                      </tr>
                    </thead>
                    <tbody id="myTbodyInsert">
                      <%var n=0; for (var i=0; i < 2; i++) {n=i+1;%>
                        <tr id="tr<%=n%>" class="trrow<%=n%>">
                          <td><input list="datalistC" name="code" id="passf<%=n%>" class='form-control inputchart' onclick="Id('<%=n%>'),selecttext(this)" onkeyup="Id('<%=n%>'); entercode(this,'<%=n%>')"></td>
                          <td><input type="text" name="name_id" class="form-control" id="passt<%=n%>" disabled></td>
                          <td><input type="text" name="cheack" class="form-control"></td>
                          <td><input type="date" name="date_list" class="form-control"></td>
                          <td><input type="text" name="dr" class="form-control text-right ddr xdc<%=n%>" value="0.00" id="dr<%=n%>" readonly onchange="valueChang('#dr<%=n%>')" onclick="selecttext(this)"></td>
                          <td>
                            <input type="text" name="cr" class="form-control text-right ccr xdc<%=n%>" value="0.00" id="cr<%=n%>" readonly onchange="valueChang('#cr<%=n%>')" onclick="selecttext(this)">
                            <input type="hidden" name="code_id" id="qqq<%=n%>">
                          </td>
                          <td align="center"><button type="button" onclick="deleterow(this)" class="btn btn-outline-danger trrow<%=n%>""><i class=" fa fa-trash"></i></button></td>
                        </tr>
                      <%}%>
                    </tbody>
                    <tfoot>
                      <tr class="table table-borderless">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"><label>ยอดรวม</label></td>
                        <td><input class="form-control text-right drsum" type="text" disabled></td>
                        <td><input class="form-control text-right crsum" type="text" disabled></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                  <p align="right">
                    <a href="/" class="btn btn-dark">กลับ</a>
                    <button type="button" id="ok" class="btn btn-warning">ตกลง</button>
                  </p>
                </form>
              </div>
              <!-- ------------------------------------------------------------- แสดงรายการล่าสุด 10 รายการ------------------------------------ -->
              <div id="gllast" class="tabcontent">
                <table class="table table-bordered table-hover table-responsive-md" id="list10">
                  <thead align="center">
                    <tr class="table-active" href="#">
                      <th width="2%">ลำดับ</th>
                      <th width="10%">สาขา</th>
                      <th width="10%">วันที่</th>
                      <th width="10%">เลขที่เอกสาร</th>
                      <th width="10%">สมุด</th>
                      <th width="20%">คำอธิบาย</th>
                      <th width="10%">จำนวนเงิน</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (glheads) { %>
                      <% for (var i=0; i<glheads.length ; i++) { %>
                        <tr id="<%=glheads[i].id%>" ondblclick="gledit(this)">
                          <td><%=i+1%></td>
                          <td><%=glheads[i].branchNo%></td>
                          <td><%=glheads[i].dates%></td>
                          <td><%=glheads[i].doc_no%></td>
                          <td><%=glheads[i].book%></td>
                          <td><%=glheads[i].detail%></td>
                          <td align="right"><%=glheads[i].sum.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></td>
                        </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>

              <!-- -----------------------------------------------gledit popup ---------------------------------- -->

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูลรายการ</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="gleditseve"  class="form-group">
                      <div class="modal-body">
                        <table class="table table-bordered table-responsive-md">
                          <thead>
                            <tr>
                              <input type="hidden" name="idH" id="idH">
                              <th width="15%">เลือกสาขา</th>
                              <td colspan="2">
                                <select class="form-control" name="company_id" id="getCompanyEdit">
                                  <% for (var i=0; i < company.length; i++){ %>
                                    <option value="<%=company[i].id%>" <%if(session.companyid==company[i].id){%>selected<%}%>><%=company[i].branchNo%></option>
                                  <%}%>
                                </select>
                              </td>
                              <th width="15%">ชื่อโครงการ</th>
                              <td colspan="2">
                                <select class="form-control" name="projectgl_id" id="getProjectglEdit">
                                  <% if (projectgl.length> 0 ) { %>
                                    <% for (var i=0; i<projectgl.length;i++){ %>
                                      <option value="<%= projectgl[i].id %>">
                                        <%= projectgl[i].name%> (<%= projectgl[i].detail%>)
                                      </option>
                                    <%}%>
                                  <%}%>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <th width="15%">วันที่</th>
                              <td width="20%"><input id="getGlgeadDateEdite" type="date" name="date" value=""
                                class="form-control" required></td>
                                <th width="15%">สมุดรายวันทั่วไป</th>
                                <td width="15%">
                                  <%if (company[0].GeneralBook_id==1) {%>
                                    <input type="hidden" name="book_id" value="<%=book[0].id%>" id="getBookEdit">
                                    <input class="form-control" type="text" value="<%=book[0].name%>" disabled>
                                  <%}else {%>
                                    <select class="form-control" name="book_id" id="getBookEdit">
                                      <%for (var i=0; i < book.length; i++) {%>
                                        <option value="<%=book[i].id%>">
                                          <%=book[i].name%>
                                        </option>
                                      <%}%>
                                    </select>
                                  <%}%>
                                </td>
                                <th width="12%">เลขที่รายการ</th>
                                <td width="23%">
                                  <div class="row ml-1">
                                    <input type="text" name="doc_no" class="form-control" required style="width: 94%" id="getDocNoEdit" onclick="selecttext(this)">
                                    <div class="thises ml-2 mt-2">
                                      <span></span>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </thead>
                          </table>
                          <table class="table table-bordered table-responsive-md" id="myTable2">
                            <tr>
                              <th>คำอธิบาย</th>
                              <td><input type="text" name="detail" class="form-control" value="" required id="getDetailEdit" onclick="selecttext(this)"></td>
                            </tr>
                          </table>
                          <table class="table table-bordered table-responsive-md"">
                            <thead>
                              <tr align=" center">
                                <th width="15%">รหัสบัญชี</th>
                                <th width="15%">ชื่อบัญชี</th>
                                <th width="15%">เช็ค/ใบสำคัญ</th>
                                <th width="15%">ลงวันที่</th>
                                <th width="15%">เดบิต</th>
                                <th width="15%">เครดิต</th>
                                <th width="10%">ลบ</th>
                              </tr>
                            </thead>
                            <tbody id="myTbodyGetDetail">
                              <!-- for get detail to edit -- for get detail to edit -- for get detail to edit -->
                            </tbody>
                            <tfoot>
                              <tr class="table table-borderless">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right"><label>ยอดรวม</label></td>
                                <td><input class="form-control text-right edrsum" type="text" disabled></td>
                                <td><input class="form-control text-right ecrsum" type="text" disabled></td>
                                <td></td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                        <hr>
                        <!-- <div class="modal-footer"> -->
                          <p align="right">
                            <button type="submit" id="ok2" class="btn btn-success mr-3">ตกลง</button>
                            <button type="button" id="ok22" class="btn btn-warning mr-3">ตกลง</button>
                          </p>
                        <!-- </div> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="/dist/js/gl.js" crossorigin="anonymous"></script>
    <script src="/glSearch.js"></script>

<%-include('../../_footer.ejs')%>
