<%-include('../../_header.ejs')%>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="javascript: history.go(-1)">กลับ</a>
            </div>
            <hr>

              <form action="/gl/update/<%=glheads[0].company_id%>/<%=glheads[0].id%>" method="POST" class="form-group">
                <%for (var i = 0; i < glheads.length; i++) {%>
                  <table class="table table-bordered table-responsive-md mt-5">
                    <thead>
                      <tr>
                        <th width="15%">เลือกสาขา</th>
                        <td colspan="2">
                          <select class="form-control" name="company_id">
                            <% for (var f=0; f<company.length; f++){ %>
                              <option value="<%=company[f].id%>" <%if(session.companyid == company[f].id){%>selected<%}%>><%=company[f].branchNo%></option>
                            <%}%>
                          </select>
                        </td>
                        <% if (projectgl.length> 0 ) { %>
                          <th width="15%">ชื่อโครงการ</th>
                          <td colspan="2">
                            <select class="form-control" name="prijectgl_id">
                              <% for (var f = 0; f<projectgl.length;f++){ %>
                                <option value="<%= projectgl[f].id %>"<%if(glheads[i].projectgl_id == projectgl[f].id){%>selected<%}%>><%= projectgl[f].name%> (<%= projectgl[f].detail%>)</option>
                              <%}%>
                            </select>
                          </td>
                        <%}%>
                      </tr>
                      <tr>
                        <th width="15%">วันที่</th>
                        <td width="20%">
                          <input type="hidden" name="glhid" value="<%=glheads[i].id%>">
                          <input type="date" name="date" value="<%=glheads[i].date.toISOString().split('T')[0]%>" class="form-control" required>
                        </td>
                        <th width="15%">สมุดรายวันทั่วไป</th>
                        <td width="15%">
                          <%if (company[0].GeneralBook_id == 1) {%>
                            <input type="hidden" name="book_id" value="<%=book[0].id%>">
                            <input class="form-control" type="text" value="<%=book[0].name%>" readonly>
                          <%}else {%>
                            <select class="form-control" name="book_id">
                              <%for (var s = 0; s < book.length; s++) {%>
                                <option value="<%=book[s].id%>"><%=book[s].name%></option>
                              <%}%>
                            </select>
                          <%}%>
                        </td>
                        <th width="12%">เลขที่รายการ</th>
                        <td width="23%"><input type="text" name="doc_no" value="<%=glheads[i].doc_no%>" class="form-control" required style="width: 300px"></td>
                      </tr>
                    </thead>
                  </table>
                  <table class="table table-bordered table-responsive-md">
                    <tr>
                      <th>คำอธิบาย</th>
                      <td><input type="text" name="detail" value="<%= glheads[i].detail%>" class="form-control" required></td>
                    </tr>
                  </table>
                <%}%>
                <datalist id="datalistC" class="shoose">
                  <%if(chart){ %>
                    <%for(var i=0 ; i < chart.length ; i++){%>
                      <option value="<%= chart[i].code %>:<%= chart[i].name %>" id="dataopid<%=i%>" data-value="<%= chart[i].name %>" data-xid="<%= chart[i].id %>" data-name="<%= chart[i].name %>" data-code="<%= chart[i].code %>"></option>
                    <%}%>
                  <%}%>
                </datalist>
                <table class="table table-bordered table-responsive-md" id="myTable">
                  <thead>
                    <tr align="center">
                      <th>รหัสบัญชี</th>
                      <th>ชื่อบัญชี</th>
                      <th>เช็ค/ใบสำคัญ</th>
                      <th>ลงวันที่</th>
                      <th>เดบิต</th>
                      <th>เครดิต</th>
                      <th width="10%">ลบ</th>
                    </tr>
                  </thead>
                  <tbody id="myTbodyInsert">
                    <%var n = 0; for (var i = 0; i < gldetail.length+1; i++) {n = i+1;%>
                      <tr id="tr<%=n%>" class="trrow<%=n%>">
                        <%if (gldetail[i]) {%>
                          <td>
                            <input type="hidden" name="gldid" value="<%=gldetail[i].id%>">
                            <input list="datalistC" name="code" value="<%=gldetail[i].code%>" id="passf<%=n%>" class='form-control inputchart' onclick="Id('<%=n%>')" onkeyup="Id('<%=n%>'); entercode(this,'<%=n%>')">
                          </td>
                          <td><input type="text" name="name_id" value="<%=gldetail[i].name%>" class="form-control" id="passt<%=n%>" disabled></td>
                          <td><input type="text" name="cheack" value="<%=gldetail[i].cheack%>" class="form-control"></td>
                          <td><input type="date" name="date_list" value="<%=gldetail[i].date_list%>" class="form-control"></td>
                          <td><input type="text" name="dr" value="<%=gldetail[i].dr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>" class="form-control text-right ddr xdc<%=n%>" value="0.00" id="dr<%=n%>" readonly onclick="drChang()"></td>
                          <td>
                            <input type="text" name="cr" value="<%=gldetail[i].cr.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>" class="form-control text-right ccr xdc<%=n%>" value="0.00" id="cr<%=n%>" readonly onclick="crChang()">
                            <input type="hidden" name="code_id" value="<%=gldetail[i].code_id%>" id="qqq<%=n%>">
                          </td>
                        <%}else {%>
                          <td><input list="datalistC" name="code" id="passf<%=n%>" class='form-control inputchart' onclick="Id('<%=n%>')" onkeyup="Id('<%=n%>'); entercode(this,'<%=n%>')"></td>
                          <td><input type="text" name="name_id" class="form-control" id="passt<%=n%>" disabled></td>
                          <td><input type="text" name="cheack" class="form-control"></td>
                          <td><input type="date" name="date_list" class="form-control"></td>
                          <td><input type="text" name="dr" class="form-control text-right ddr xdc<%=n%>" value="0.00" id="dr<%=n%>" readonly onclick="drChang()"></td>
                          <td>
                            <input type="text" name="cr" class="form-control text-right ccr xdc<%=n%>" value="0.00" id="cr<%=n%>" readonly onclick="crChang()">
                            <input type="hidden" name="code_id" id="qqq<%=n%>">
                          </td>
                        <%}%>
                        <td align="center"><button type="button" onclick="deleterow(this)" class="btn btn-outline-danger trrow<%=n%>""><i class=" fa fa-trash"></i></button></td>
                      </tr>
                    <%}%>
                  </tbody>
                  <tfoot>
                    <tr class="table table-borderless">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td align="right"><label>ยอดรวม</label></td>
                      <td><input class="form-control text-right drsum" type="text" readonly></td>
                      <td><input class="form-control text-right crsum" type="text" readonly></td>
                    </tr>
                  </tfoot>
                </table>
                <!-- <a class="btn btn-outline-primary" onclick="myCreateFunction()"><i class="fa fa-plus"> </i> เพิ่ม</a>
                <a class="btn btn-outline-primary" onclick="myDeleteFunction(), drSum(), crSum(), checkSum()"><i class="fa fa-minus"> </i> ลบ</a> -->
                <p align="center">
                  <button type="button" id="ok" class="btn btn-warning" style="border-radius: 8px;">ตกลง</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

<script src="/dist/js/gl.js" crossorigin="anonymous"></script>

<%-include('../../_footer.ejs')%>
