<%-include('../../_header.ejs')%>

    <div class="row" >
      <div class="col-md-12" >
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="text-info">รายการบันทึก <%if(branch.com_id != 0){%>สาขา<%}%><%=branch.branchNo%></h3>

            <hr>

            <%
            if (f_date1) {
              f_date = f_date1;
            }
            if (l_date1) {
              l_date = l_date1;
            }%>
            <div class="card">
              <form class="form-group" action="/gl">
                <table class="table table-borderless table-responsive-md">
                  <tr>
                    <td width="10%" align="center">ตั้งแต่วันที่</td>
                    <td width="20%"><input class="form-control" type="date" name="f_date" value="<%=f_date%>"></td>
                    <td width="10%" align="center">จนถึงวันที่</td>
                    <td width="20%"><input class="form-control" type="date" name="l_date" value="<%=l_date%>"></td>
                    <td width="5%">สาขา</td>
                    <td width="20%">
                      <select class="form-control" name="com_id">
                        <option value="0" <%if(branch.com_id == 0){%>selected<%}%>>ทั้งหมด</option>
                        <%for (var i = 0; i < company.length; i++) {%>
                          <option value="<%=company[i].id%>" <%if(company[i].id == branch.com_id){%>selected<%}%>><%=company[i].branchNo%></option>
                        <%}%>
                      </select>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
            <hr>
            <style>
              table tr[data-href] {
                cursor: pointer;
              }
            </style>
            <table class="table table-bordered table-hover table-responsive-md" id="glListDatatable">
              <thead align="center">
                <tr class="table-active" href="#">
                  <th width="2%">ลำดับ</th>
                  <th width="10%">สาขา</th>
                  <th width="10%">วันที่</th>
                  <th width="10%">เลขที่เอกสาร</th>
                  <th width="10%">สมุด</th>
                  <th width="20%">คำอธิบาย</th>
                  <th width="10%">จำนวนเงิน</th>
                  <th width="10%">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <% if (glheads) { %>
                  <% for (var i=0; i<glheads.length ; i++) { %>
                    <tr  ondblclick="window.location.href='/gl/detail/<%=glheads[i].company_id%>/<%=glheads[i].id%>'">
                      <td><%=i+1%></td>
                      <td><%=glheads[i].branchNo%></td>
                      <td><%=glheads[i].dates%></td>
                      <td><%=glheads[i].doc_no%></td>
                      <td><%=glheads[i].book%></td>
                      <td><%=glheads[i].detail%></td>
                      <td align="right">
                        <%=glheads[i].sum.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      </td>
                      <td align="center">
                        <a class="btn btn-danger" href="/gl/delete/<%=glheads[i].id%>" onclick="return confirm('ต้องการลบข้อมูลนี่หรือไม่')"><i class="fa fa-trash"></i> ลบ</a>
                      </td>
                    </tr>
                  <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#glListDatatable').DataTable({
          "order": [[0, "asc"]]
        });
      });
    </script>

<%-include('../../_footer.ejs')%>
