<%-include('../../_header.ejs')%>
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<%-include('../css.ejs')%>
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h3 class="text-info" style="color: #8A2BE2;">จัดการประเภทพนักงาน</h3>
              </div>
              <div class="col-3">
                <div class="text-right mb-2">
                  <a class="btn btn-success"data-toggle="modal" onclick="add()" data-target="#popup">เพิ่มประเภทพนักงาน</a>
                </div>
              </div>
            </div>
             <hr>
              <div style="width: 100%;" >
                <table id="example" class="table table-borderless table-hover table-responsive-md table-responsive-lg">
                  <thead class="table-bordered">
                    <tr class="bg-info">
                      <th >ลำดับ</th>
                      <th >ประเภทพนักงาน</th>
         
 
                      <th ></th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% if (employee_type) { %>
                      <% for (var i = 0; i< employee_type.length; i++) { %>
                    <tr class="border-left border-right border-bottom" align="center">
                      <td> <%= i+1 %> </td>
                      <td> <%= employee_type[i].name %> </td>

                      <td align="center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h dropbtn"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"  data-toggle="modal" data-target="#popup" onclick="edit('<%= employee_type[i].id%>')"><i class="fa fa-edit"></i> แก้ไขข้อมูลประเภทพนักงาน</a>
                            <hr>
                            <a class="dropdown-item" data-toggle="modal" data-target="#popupdel" onclick="del('<%= employee_type[i].id%>')"><i class="fa fa-trash"></i> ลบข้อมูลประเภทพนักงาน</a>
                          </div>
                        </div>
                      </div>
                      </td>
                     
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>       
              </div>
            </div>
          </div>
        </div>
        <%-include('employee_type_addedit.ejs')%>
        <%-include('employee_type_del.ejs')%>

      

<script type="text/javascript">
  $(function() {
  $(document).ready(function() {
    $('#example').DataTable();
  });
});

function add(){
    $("input[name='default']").prop('checked', false);
    $('#yy').prop('selected', true);
    $('#name').val("");
    $('#default').val("");
};

function edit(pp){
  var urlname = '/employee_typeajax/'+pp
  $('#edit,#editt').addClass('active');
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.employee_type[0]
    var id = "/employee_typeeditcon/" + suc.id
     console.log(id);
     console.log(suc);
     $('#exampleModalLabel').text("แก้ไขข้อมูลธนาคาร");
     $('#name').val(suc.name);
     $('#action').prop('action', id);
     $("input[name=default][value=" + suc.default + "]").prop('checked', true);
    }
  });
};
getData()
}
function del(pp){
    var urlname = '/employee_typeajax/'+pp
    var getData = function () {
  $.ajax({
    url: urlname,
    success: function (data) {
    var suc = data.employee_type[0]
    var succheck = data.employee_type_check
    var id = "/employee_typedelcon/" + suc.id
     console.log(succheck.length);
     $('#namedel').val(suc.name);

     $("input[name=default][value=" + suc.default + "]").prop('checked', true);
     if(succheck.length >= 1){
      $('#employee_typedel').attr("href", "/employee_type");
      $('#employee_typedel').text('ไม่สามารถลบได้').button("refresh").css("background-color","green");
      $('#colorbutton').button("refresh").css("background-color","green");
     }else{
      $('#employee_typedel').text('ลบรายการ').button("refresh").css("background-color","red");
      $('#colorbutton').button("refresh").css("background-color","red");
      $('#employee_typedel').attr("href", id);
     }
   
    }
  });
};
getData()
}


</script>



 <%-include('../../_footer')%>
