<%-include('../../_header.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card mt-5">        
            <div class="card-body">
              <form class="form-group" action="/quotation/update/<%=quotation[0].id%>" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-9">
                    <h3><i class="far fa-sticky-note"></i> แก้ไขใบเสนอราคา</h3>
                    <h2 class="text-success"><%=quotation[0].quotationchar%><%=quotation[0].quotationnumber%></h2>
                   
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-outline-dark" href="/quotation">กลับ</a>
                      <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>ชื่อผู้จำหน่าย</b></label>
                    <div class="input-group-prepend">
                      <datalist class="" id="debtorslist">
                        <%for (var i = 0; i < debtors.length; i++) { %>
                          <option data-id="<%=debtors[i].id%>" value="<%=debtors[i].company%>"></option>
                        <%}%>
                      </datalist>
                      <input type="hidden" name="debtors_id" value="<%=quotation[0].debtors_id%>"  id="debid">
                      <input type="text" name="debtors_name" class="form-control" value="<%=quotation[0].debtors_name%>" list="debtorslist" id="inputpopup" placeholder="เลือกลูกค้า หรือพิมพ์เพื่อสร้างใหม่" >
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" onclick="contact('contact')"><i class="fa fa-plus"></i> เพิ่มผู้จำหน่าย</a>
                        </div>
                      </div>
                    </div>
                    <div class="text-right" id="creditoreditpopuplink">
                      <!-- for credit popup link -->
                    </div>
                    <label for=""><b>รายละเอียด</b></label>
                    <textarea class="form-control" name="address" id="debtorsaddress" cols="50" rows="5" placeholder="รายละเอียดที่อยู่"><%=quotation[0].address%></textarea>
                    <label for=""><b>รหัสไปรษณีย์</b></label>
                    <input type="text" name="post" class="form-control" id="debtorszipcode" value="<%=quotation[0].post%>" placeholder="รหัสไปรษณีย์">
                    <label for=""><b>เลขประจำตัวผู้เสียภาษี</b></label>
                    <input type="text" name="tax" class="form-control" id="debtorstax" value="<%=quotation[0].tax%>" placeholder="เลขประจำตัวผู้เสียภาษี">
                    <label for=""><b>สำนักงาน/สาขาที่</b></label>
                    <input type="text" name="branch" class="form-control" value="<%=quotation[0].branch%>" id="debtorsbranch"  placeholder="สำนักงาน/สาขาที่">
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <!-- /////blank//// -->
                  </div>

                  <div class="col-lg-4 col-md-4">
                   <span><b>จำนวนเงินรวมทั้งสิ้น</b></span>
                    <div class="form-group">
                      <span style="color: blue; font-size: 40px;" id="topgranttotal"><%=quotation[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>วันที่:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="date" value="<%=quotation[0].date.toISOString().split('T')[0]%>" id="datedata" onchange="setDue()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b id="indicatetext">เครดิต (วัน):</b></label>
                          <input type="hidden" name="indicate_id" value="1" id="indicateid"  >
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <div class="input-group">
                            <input class="form-control credit" type="text" name="credit" value="<%=quotation[0].credit%>" id="creditdata" onchange="setDue()">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                <div class="dropdown">
                                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <%for (var i = 0; i < indicate.length; i++) { %>
                                      <a class="dropdown-item" href="#" id="indicate_<%=indicate[i].id%>" onclick="indicate('indicate_<%=indicate[i].id%>')"><%=indicate[i].name%></a>
                                    <%}%>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input-group" id="duegroup">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>ครบกำหนด:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="due" value="<%=quotation[0].due.toISOString().split('T')[0]%>" id="duedata" onchange="setDay()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานส่ง:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="employee_saler" value="<%=quotation[0].employee_saler%>">
                        </div>
                      </div>
                      <datalist id="deliverylist">
                        <%for (var i = 0; i < human_resource.length; i++) { %>
                          <option   value="<%=human_resource[i].firstname%> <%=human_resource[i].lastname%>"></option>
                        <%}%>
                      </datalist>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานรับ:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" list="deliverylist" type="text" name="employee_delivery" value="<%=quotation[0].employee_delivery%>">
                        </div>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label><b>ตั้งค่าใบสั่งซื้อ</b></label>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( quotation[0].itemizedvat == 0){%> checked="checked" <%}%> name="itemizedvat" id="computevatlist" onclick="settingcompute(),computeList()">
                          <% if( quotation[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ภาษีแยกรายการ</b></span>
                        </div>
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( quotation[0].itemizeddiscount == 0){%> checked="checked" <%}%> name="itemizeddiscount" id="computediscountlist" onclick="settingcompute(),computeList()">
                          <% if( quotation[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ส่วนลดแยกรายการ</b></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-2 col-md-2">
                          <label for=""><b>ชื่อโปรเจค:</b></label>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          <select class="form-control" name="project_id">
                            <%for (var i = 0; i < projectgl.length; i++) { %>
                              <option value="<%=projectgl[i].id%>"><%=projectgl[i].name%></option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>เลขที่อ้างอิง:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text" name="number" value="<%=quotation[0].number%>" class="form-control" >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>ราคาสินค้า:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <select class="form-control" name="compute_id" id="compute" onchange="settingcompute(),computeList()">
                            <%for (var i = 0; i < compute.length; i++) { %>
                              <option value="<%=compute[i].id%>" <%if(compute[i].id == quotation[0].compute_id){%>selected<%}%><%= compute[i].compute_id %>>
                                <%=compute[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <datalist id="productName">
                    <%for (var i = 0; i < product_list.length; i++) { %>
                      <option data-value="<%=product_list[i].id%>" data-value2="<%=product_list[i].code%>"  value="<%=product_list[i].name%>"></option>
                    <%}%>
                  </datalist>
                  <datalist id="productcode">
                    <%for (var i = 0; i < product_list.length; i++) { %>
                      <option data-value="<%=product_list[i].id%>" value="<%=product_list[i].code%>"  data-value2="<%=product_list[i].name%>"></option>
                    <%}%>
                  </datalist>
                  <table class="table table-responsive" id="rowForAddData">
                    <thead class="bg-primary">
                      <tr>
                        <th width="5%" class="text-center">ลำดับ</th>
                        <th width="40%">ชื่อสินค้า/รายละเอียด</th>
                        <th width="8%" class="text-center">จำนวน</th>
                        <th width="8%" class="text-center">หน่วย</th>
                        <th width="10%" class="text-center">ราคาต่อหน่วย</th>
                        <th width="8%" class="text-center discountlist" hidden>
                          <div class="input-group">
                            <label for="">ส่วนลด</label>
                            <select class="" name="discount_id" style="background-color: #105cd8;" id="setdiscount" onchange="computeList()">
                              <%for (var i = 0; i < discount.length; i++) { %>
                                <option value="<%=discount[i].id%>" <%if(discount[i].name == quotation[0].discount_id){%>selected<%}%><%= discount[i].discount_id %>>
                                  <%=discount[i].name%>
                                </option>
                              <%}%>
                            </select>
                          </div>
                        </th>
                        <th width="10%" class="text-center vatlist" hidden>ภาษี</th>
                        <th width="10%" class="text-center">ราคารวม</th>
                        <th width="4%"></th>
                      </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                      <script>
                        var n = 1;
                  </script>
                  <%for (var j = 0; j < quotation.length; j++) { %>
                      <tr class="border" id="row_<%=j+1%>">
                        <td align="center">
                          <script>
                            n = n + 1;
                          </script>
                          <span><%=j+1%></span>
                        </td>
                        <td>
                          <input type="hidden" class="productidget product"  name="product_id" value="<%=quotation[j].product_id%>">
                          <div class="input-group">
                            <input list="productName" type="text" class="form-control radia productidset" value="<%=quotation[j].name%>" placeholder="ชื่อสินค้า"  onclick="productidset(event,'row_<%=j+1%>')" onchange="productidset(event,'row_<%=j+1%>'),product(event,'row_<%=j+1%>')"  >
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                <div class="dropdown">
                                  <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#productAddForm"><i class="fa fa-plus"></i> เพิ่มรายการสินค้า</a>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                          <input type="text" list="productcode" name="product_code" class="form-control productcode codePD"  value="<%=quotation[0].product_code%>"  placeholder="รหัสสินค้า" onclick="productcode(event,'row_<%=j+1%>')" onchange="productcode(event,'row_<%=j+1%>')">
                          <input type="text" name="detail" class="form-control raida" value="<%=quotation[j].detail%>" placeholder="รายละเอียด">
                        </td>
                        <td>
                          <input type="text" name="quantity" class="form-control text-right" value="<%=quotation[j].quantity%>" step="1.00" onkeyup="computeList()">
                        </td>
                        <td>
                          <select class="form-control" name="categoryprice_id" id="optionunit_row_<%=j+1%>">
                            <%for (var i = 0; i < category_price.length; i++) { %>
                              <%if(category_price[i].product_list_id == quotation[j].product_id){ %>
                                <option value="<%=category_price[i].id%>" <%if(category_price[i].id == quotation[j].categoryprice_id){%>selected<%}%>>
                                <%=category_price[i].name%>
                                </option>
                              <%}%>
                            <%}%>
                          </select>
                        </td>
                        <td>
                          <input type="text" name="price" class="form-control text-right" value="<%=quotation[j].price%>" onkeyup="computeList()">
                        </td>
                        <td  class="discountlist" hidden>
                          <input type="text" class="form-control text-right" name="listdiscount" value="<%=quotation[j].listdiscount%>" onkeyup="computeList()">
                        </td>
                        <td class="vatlist" hidden>
                          <select class="form-control quotationlistvat" name="vat_id" onchange="computeList()">
                            <%for (var i = 0; i < vat.length; i++) { %>
                              <option value="<%=vat[i].number%>" <%if(vat[i].number == quotation[j].vat_id){%>selected<%}%>>
                                <%=vat[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" name="totallist" value="<%=quotation[j].totallist%>" readonly>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-danger" onclick="removeRow('row_<%=j+1%>')"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-outline-primary" onclick="plusRow()">
                    <i class="fas fa-plus"></i>เพิ่มแถวรายการ
                  </button>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="input-group">
                      <input class="form-check" type="checkbox" <% if( quotation[0].signature == 0){%> checked="checked" <%}%> name="signature"  id="checke">
                      <label for="checke">
                        ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                      </label>
                    </div>
                    <table class="table table-borderless">
                      <tr>
                        <th>หมายเหตุ</th>
                        <th>โน๊ตภายในบริษัท</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" name="note" id="" cols="50" rows="4"><%=quotation[0].note%></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" name="notein" id="" cols="50" rows="4"><%=quotation[0].notein%></textarea>
                        </td>
                      </tr>
                    </table>
                    <table class="table table-borderless table-responsive-md">
                      <tr>
                        <td>
                          <div class="dropzone" style="width: 150px; height: 150px;">
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
                            คลิกเพื่อเลือกไฟล์
                            <input type="file" name="filename" class="upload-input" multiple/>
                          </div>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </div>


                  <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>รวมเป็นเงิน</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="total"><%=quotation[0].total.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="total" value="<%=quotation[0].total%>" id="totalin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="sumdiscount">
                      <div class="input-group">
                        <div class="col-8">
                          <b>ส่วนลด</b>
                          <input class="text-right" type="text" value="" maxlength="6" id="discountP" onchange="setDiscountValue('discountM'),computeList();" style="width: 50px;">
                          <b>%</b>
                        </div>
                        <div class="col-4 text-right">
                          <input type="hidden" name="alldiscount" value="<%=quotation[0].alldiscount%>" step="0.00" class="text-right float-right" id="discountM" onchange="setDiscountValue('discountP'),computeList();" style="width: 100px;">
                          <%var alldiscount = quotation[0].total-  quotation[0].afterdiscount %>
                          <i class="fa fa-edit" onclick="inputdiscount()"></i><b><%=alldiscount%></b>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินหลังหักส่วนลด</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="afterdiscount"><%=quotation[0].afterdiscount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="afterdiscount" value="<%=quotation[0].afterdiscount%>" id="afterdiscountin">
                        </div>
                      </div>
                    </div>

                    <div class="vatlistset" hidden>
                      <hr>
                      <div class="form-group" id="vatexamption">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่ไม่มี/ยกเว้นภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=quotation[0].except.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="except" value="<%=quotation[0].except%>">
                          </div>
                        </div>
                      </div>
                      <div class="form-group" id="vatcalculator">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่คำนวณภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=quotation[0].vatcalculator.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="vatcalculator" value="<%=quotation[0].vatcalculator%>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="computevat1">
                      <div class="input-group">
                        <div class="col-8">
                          <div class="input-group">
                            <input class="form-check" type="checkbox"  <% if( quotation[0].vat > 0){ %> checked="checked" <%}%>  name="vat" value="7" id="ordervat" onclick="computeList()">
                            <b>ภาษีมูลค่าเพิ่ม</b>
                          </div>
                        </div>
                        <div class="col-4 text-right">
                          <b id="computevat"><%=quotation[0].vatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="vatamount" value="<%=quotation[0].vatamount%>" id="computevatin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินรวมทั้งสิ้น</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="granttotal"><%=quotation[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="granttotal" value="<%=quotation[0].granttotal%>" id="granttotalin">
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group" id="computevat2">
                      <!-- /// -->
                    </div>

                    <div class="form-group" id="notplusvat" hidden>
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินไม่รวมภาษี</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=quotation[0].notvatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="notvatamount" value="<%=quotation[0].notvatamount%>">
                        </div>
                      </div>
                    </div>

                    <div class="withholding">
                      <hr>
                      <div class="form-group" >
                        <div class="input-group">
                          <div class="col-8">
                            <div class="input-group">
                              <input class="form-check" type="checkbox"<% if( quotation[0].vat == 0){%> checked="checked" <%}%> id="withholdingC" onclick="corectCheck('withholdingC'),computeList()">
                              <b class="mr-3" for="withholdingC">หัก ณ ที่จ่าย</b>
                              <select class="" name="witholding_id" id="witholdingoption" onchange="computeList()" disabled hidden>
                                <%for (var i = 0; i < witholding.length; i++) { %>
                                  <option value="<%=witholding[i].number%>" <%if(witholding[i].number == quotation[0].witholding_id){%>selected<%}%><%= witholding[i].number %>>
                                    <%=witholding[i].name%>
                                  </option>
                                <%}%>
                              </select>
                            </div>
                          </div>
                          <div class="col-4 text-right">
                            <b id="computewitholding"><%=quotation[0].witholding%></b>
                            <input type="hidden" name="witholding" value="<%=quotation[0].witholding%>" id="computewitholdingin">
                          </div>
                        </div>
                      </div>

                      <div class="form-group" id="discountSum" >
                        <div class="input-group">
                          <div class="col-8">
                            <b>ยอดชำระ</b>
                          </div>
                          <div class="col-4 text-right">
                            <b id="paymoney"><%=quotation[0].payment.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="payment" value="<%=quotation[0].payment%>" id="paymoneyin">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->
<!-- product add-->

<div class="modal fade" id="productAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <h3 class="text-info">รายการสินค้า</h3>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid mt-2">
          <%-include('../../Inventory_Control/product/_add')%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<%-include('../../Inventory_Control/product/_category')%>

<!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ข้อมูลผู้ติดต่อ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="/creditor/save" class="form-group" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
         
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>
  
<!--/////////////////////////////////////Modal//////////////////////////////////////////////////////-->


<script type="text/javascript">
  var debtors = <%-JSON.stringify(debtors)%>;
  var product_list = <%-JSON.stringify(product_list)%>;
  var vat = <%-JSON.stringify(vat)%>;
  var quotationnumber = <%-JSON.stringify(quotationnumber)%>;
  var runnumber = <%-JSON.stringify(runnumber)%>;
  var category_price = <%-JSON.stringify(category_price)%>;
  var module = <%-JSON.stringify(quotationmodule)%>;
  var pn = (+quotationnumber[0].maxnumber);
</script>
<script src="/dist/js/creditor.js" crossorigin="anonymous"></script>
<script src="/dist/js/quotation/quotation_edit.js" crossorigin="anonymous"></script>
<%-include('../../_footer.ejs')%>
