<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">

        <%-include('../asset_sidebar.ejs')%>

        <div id="main">
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="text-left">
                <div class="row">
                  <span style="font-size:30px;cursor:pointer" onclick="closeNav()" id="sidenavClose"><i class="fas fa-angle-double-left"></i></span>
                  <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="sidenavOpen"><i class="fas fa-angle-double-right"></i></span>
                  <h3 class="text-info">จัดการทรัพย์สิน</h3>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="text-right">
                <div class="dropdown">
                  <button class="btn btn-success dropbtn" onclick="myFunction('propertyDrop')">เพิ่มทรัพย์สิน</button>
                  <div id="propertyDrop" class="dropdown-content">
                    <a class="dropdown-item" href="/property_list/new">ซื้อสินทรัพย์มาใหม่</a>
                    <a class="dropdown-item" href="/property_list/add">เพิ่มสินทรัพย์ยกมา</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div style="width: 100%;">
            <table class="table table-borderless table-hover table-responsive-md table-responsive-lg">
              <thead class="table-bordered">
                <tr class="bg-info">
                  <th width="10%"></th>
                  <th width="12%">ชื่อผสินทรัพย์</th>
                  <th width="17%">หมวดหมู่สินทรัพย์</th>
                  <th width="12%">วันเริ่มต้นใช้งาน</th>
                  <th width="12%">ราคาซื้อ</th>
                  <th width="12%">มูลค่าทางบัญชี</th>
                  <th width="15%">สถานะสินทรัพย์</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown1')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown1" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown2')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown2" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown3')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown3" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown4')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown4" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown5')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown5" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border">
                  <td></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td align="center">
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropbtn" onclick="myFunction('myDropdown6')">
                        <i class="fa fa-ellipsis-h dropbtn"></i>
                      </button>
                      <div id="myDropdown6" class="dropdown-content">
                        <a href=""><i class="fa fa-edit"></i> แก้ไขลูกหนี้</a>
                        <a href=""><i class="far fa-envelope"></i> พิมพ์จ่าหน้าซอง</a>
                        <a href=""><i class="far fa-copy"></i> สร้างซ้ำ</a>
                        <a href=""><i class="fa fa-trash"></i> ลบผู้ติดต่อ</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="dist/js/sidebar.js"></script>

<%-include('../../_footer')%>
