<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h3><i class="far fa-sticky-note"></i> เพิ่มสินทรัพย์</h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/property_list">กลับ</a>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-2 col-lg-2">
            <div class="dropzone" style="width: 100%; height: 200px;">
              <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
              คลิกเพื่อเลือกไฟล์
              <input type="file" class="upload-input"/>
            </div>
          </div>
          <div class="col-md-2 col-lg-2">
            <h2 class="text-info">ชื่อสินทรัพย์</h2>
            <span>สถานะสินทรัพย์:</span>
            <span>(ระยะเวลาที่ใช้งาน: - เดือน)</span>
          </div>
          <div class="col-md-5 col-lg-5">

          </div>
          <div class="col-md-3 col-lg-3">
            <div class="row">
              <div class="col-6">
                <h5>ราคาซื้อ</h5>
                <h3>0.00</h3>
              </div>
              <div class="col-6">
                <h5>มูลค่าทางบัญชี</h5>
                <h3 class="text-info">0.00</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <hr>
            <h5 class="text text-info">ข้อมูลสินทรัพย์พื้นฐาน</h5>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>รหัสสินทรัพย์:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>ชื่อสินทรัพย์:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>รายละเอียดสินทรัพย์:</b></label>
                </div>
                <div class="col-md-8">
                  <textarea class="form-control" name="name" rows="2"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>เลขที่เอกสารอ้างอิง:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>หมวดหมู่สินทรัพย์:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>จำนวน:</b></label>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input class="form-control text-right" type="text" name="" value="1.00">
                    <input class="form-control" type="text" name="" value="" placeholder="หน่วย">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>วันที่ซื้อ:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>

            <hr>

            <h5 class="text-info">วิธีการคำนวณค่าเสื่อมราคาทางบัญชี</h5>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>วันที่เริ่มต้นใช้งาน:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>ราคาซื้อ:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <!-- //// -->
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input class="form-check" type="checkbox" name="" value="" id="calDep" checked onclick="calDepCheck()">
                    <label for="calDep">คิดค่าเสื่อมราคาสินทรัพย์นี้</label>
                  </div>
                </div>
              </div>
            </div>

            <div id="calDep_tr">
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>มูลค่าซาก:</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="1.00">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>มูลค่าที่คิดค่าเสื่อม:</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>อายุการใช้งานทางบัญชี (ปี):</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>คำนวณค่าเสื่อมต่อปี (%):</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>ค่าเสื่อมที่คำนวณได้ต่อปี:</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
            </div>

            <div id="calAccDep_check">
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <!-- //// -->
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input class="form-check" type="checkbox" name="" value="" id="calAccDep" onclick="calDepCheck()">
                      <label for="calAccDep">สินทรัพย์นี้มีค่าเสื่อมสะสมยกมา</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="calAccDep_tr">
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>ค่าเสื่อมสะสมยกมา:</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="col-md-4">
                    <label><b>วันที่เริ่มคำนวณค่าเสื่อมราคา:</b></label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control" type="text" name="" value="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <hr>
            <h5 class="text-info">ข้อมูลอื่นๆ</h5>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>ชื่อผู้จำหน่าย:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>หมายเลขซีเรียล:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>วันหมดอายุประกัน:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>ที่ตั้งสินทรัพย์:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>ผู้ใช้งาน:</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#calDep_tr').show();
              $('#calAccDep_check').show();
              $('#calAccDep_tr').hide();
              function calDepCheck(){
                var calDep = document.getElementById("calDep");
                var calAccDep = document.getElementById("calAccDep");
                if (calDep.checked == true) {
                  $('#calDep_tr').show();
                  $('#calAccDep_check').show();
                  if (calAccDep.checked == true) {
                    $('#calAccDep_tr').show();
                  }else {
                    $('#calAccDep_tr').hide();
                  }
                }else {
                  $('#calDep_tr').hide();
                  $('#calAccDep_check').hide();
                }
              }
            </script>
            <hr>

            <h5 class="text-info">ข้อมูลเพิ่มเติม</h5>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>โน้ต:</b></label>
                </div>
                <div class="col-md-8">
                  <textarea class="form-control" name="name" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="col-md-4">
                  <label><b>แนบเอกสาร/รูปภาพ:</b></label>
                </div>
                <div class="col-md-8">
                  <div class="dropzone" style="width: 150px; height: 150px;">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
                    คลิกเพื่อเลือกไฟล์
                    <input type="file" class="upload-input"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%-include('../../_footer.ejs')%>
