<%-include('../../_header.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card mt-5">        
            <div class="card-body">
              <form class="form-group" action="/expenses/update/<%=expenses[0].id%>" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-9">
                    <h3><i class="far fa-sticky-note"></i> แก้ไขค่าใช้จ่าย</h3>
                    <h2 class="text-success"><%=expenses[0].expenseschar%><%=expenses[0].expensesnumber%></h2>
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-outline-dark" href="/expenses">กลับ</a>
                      <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>ชื่อผู้จำหน่าย</b></label>
                    <div class="input-group-prepend">
                      <datalist class="" id="creditorslist">
                        <%for (var i = 0; i < creditors.length; i++) { %>
                          <option data-id="<%=creditors[i].id%>" value="<%=creditors[i].company%>"></option>
                        <%}%>
                      </datalist>
                      <input type="hidden" name="creditors_id" value="<%=expenses[0].creditors_id%>"  id="creid">
                      <input type="text" name="creditors_name" class="form-control" value="<%=expenses[0].creditors_name%>" list="creditorslist" id="inputpopup" placeholder="เลือกลูกค้า หรือพิมพ์เพื่อสร้างใหม่"  required>
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" onclick="contact('contact')"><i class="fa fa-plus"></i> เพิ่มผู้จำหน่าย</a>
                        </div>
                      </div>
                    </div>
                    <div class="text-right" id="creditoreditpopuplink">
                      <!-- for credit popup link -->
                    </div>
                    <label for=""><b>รายละเอียด</b></label>
                    <textarea class="form-control" name="address" id="creditorsaddress" cols="50" rows="5" placeholder="รายละเอียดที่อยู่"><%=expenses[0].address%></textarea>
                    <label for=""><b>รหัสไปรษณีย์</b></label>
                    <input type="text" name="post" class="form-control" id="creditorszipcode" value="<%=expenses[0].post%>" placeholder="รหัสไปรษณีย์">
                    <label for=""><b>เลขประจำตัวผู้เสียภาษี</b></label>
                    <input type="text" name="tax" class="form-control" id="creditorstax" value="<%=expenses[0].tax%>" placeholder="เลขประจำตัวผู้เสียภาษี">
                    <label for=""><b>สำนักงาน/สาขาที่</b></label>
                    <input type="text" name="branch" class="form-control" value="<%=expenses[0].branch%>" id="creditorsbranch"  placeholder="สำนักงาน/สาขาที่">
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <!-- /////blank//// -->
                  </div>

                  <div class="col-lg-4 col-md-4">
                   <span><b>จำนวนเงินรวมทั้งสิ้น</b></span>
                    <div class="form-group">
                      <span style="color: blue; font-size: 40px;" id="topgranttotal"><%=expenses[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>วันที่:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="date" value="<%=expenses[0].dateday%>" id="datedata" onchange="setDue()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b id="indicatetext">เครดิต (วัน):</b></label>
                          <input type="hidden" name="indicate_id" value="1" id="indicateid"  >
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <div class="input-group">
                            <input class="form-control credit" type="text" name="credit" value="<%=expenses[0].credit%>" id="creditdata" onchange="setDue()">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                <div class="dropdown">
                                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <%for (var i = 0; i < indicate.length; i++) { %>
                                      <a class="dropdown-item" href="#" id="indicate_<%=indicate[i].id%>" onclick="indicate('indicate_<%=indicate[i].id%>')"><%=indicate[i].name%></a>
                                    <%}%>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input-group" id="duegroup">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>ครบกำหนด:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="date" name="due" value="<%=expenses[0].dueday%>" id="duedata" onchange="setDay()">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานส่ง:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="employee_saler" value="<%=expenses[0].employee_saler%>" >
                        </div>
                      </div>
                      <datalist id="deliverylist">
                        <%for (var i = 0; i < human_resource.length; i++) { %>
                          <option   value="<%=human_resource[i].firstname%> <%=human_resource[i].lastname%>"></option>
                        <%}%>
                      </datalist>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานรับ:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" list="deliverylist" type="text" name="employee_delivery" value="<%=expenses[0].employee_delivery%>" >
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>สำนักงาน/สาขา:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <select class="form-control" name="company_id" required>
                            <option>--กรุณาเลือก--</option>
                            <%for (var i = 0; i < company.length; i++) { %>
                              <option value="<%=company[i].id%>" <%if(company[i].id == expenses[0].company_id){%>selected<%}%>> 
                                <%=company[i].branchNo%></option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="col-md-4">
                        <label><b>ตั้งค่าใบสั่งซื้อ</b></label>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( expenses[0].itemizedvat == 0){%> checked="checked" <%}%> name="itemizedvat" id="computevatlist" onclick="settingcompute(),computeList()">
                          <% if( expenses[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ภาษีแยกรายการ</b></span>
                        </div>
                        <div class="input-group">
                          <input class="form-check" type="checkbox" <% if( expenses[0].itemizeddiscount == 0){%> checked="checked" <%}%> name="itemizeddiscount" id="computediscountlist" onclick="settingcompute(),computeList()">
                          <% if( expenses[0].itemizeddiscount == 0){ %> 
                            <script>
                              $(document).ready(function () {
                              settingcompute();
                              computeList();
                              });
                            </script>
                          <%}%>
                          <span><b>ส่วนลดแยกรายการ</b></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-3 col-md-10">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-6">
                          <label for=""><b>ชื่อโปรเจค:</b></label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <select class="form-control" name="project_id" required>
                            <%for (var i = 0; i < projectgl.length; i++) { %>
                              <option value="<%=projectgl[i].id%>" <%if(projectgl[i].id == expenses[0].project_id){%>selected<%}%><%= projectgl[i].project_id %>>
                                <%=projectgl[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>เลขที่อ้างอิง:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text" name="number" value="<%=expenses[0].number%>" class="form-control" >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>หมวดหมู่:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <select class="form-control" name="expenses_type" id="expenses_head" onchange="getexpensesclass('.expenses')" required>
                            <option value="">--กรุณาเลือก--</option>
                            <%for (var i = 0; i < expenses_head.length; i++) { %>
                            <option value="<%=expenses_head[i].id%>" <%if(expenses_head[i].id == expenses[0].expenses_type){%>selected<%}%>>
                              <%=expenses_head[i].name%>
                            </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>ราคาสินค้า:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <select class="form-control" name="compute_id" id="compute" onchange="settingcompute(),computeList()">
                            <%for (var i = 0; i < compute.length; i++) { %>
                              <option value="<%=compute[i].id%>" <%if(compute[i].id == expenses[0].compute_id){%>selected<%}%><%= compute[i].compute_id %>>
                                <%=compute[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <table class="table table-responsive" id="rowForAddData">
                    <thead class="bg-info">
                      <tr>
                        <th width="5%" class="text-center">ลำดับ</th>
                        <th width="30%">รายละเอียด</th>
                        <th width="10%" class="text-center">ประเภท</th>
                        <th width="8%" class="text-center">จำนวน</th>
                        <th width="8%" class="text-center">หน่วย</th>
                        <th width="10%" class="text-center">ราคาต่อหน่วย</th>
                        <th width="8%" class="text-center discountlist" hidden>
                          <div class="input-group">
                            <label for="">ส่วนลด</label>
                            <select class="" name="discount_id" style="background-color: #9954bb;" id="setdiscount" onchange="computeList()">
                              <%for (var i = 0; i < discount.length; i++) { %>
                                <option value="<%=discount[i].id%>" <%if(discount[i].name == expenses[0].discount_id){%>selected<%}%><%= discount[i].discount_id %>>
                                  <%=discount[i].name%>
                                </option>
                              <%}%>
                            </select>
                          </div>
                        </th>
                        <th width="10%" class="text-center vatlist" hidden>ภาษี</th>
                        <th width="10%" class="text-center">ราคารวม</th>
                        <th width="4%"></th>
                      </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                      <script>
                        var n = 1;
                  </script>
                  <%for (var j = 0; j < expenses.length; j++) { %>
                      <tr class="border" id="row_<%=j+1%>">
                        <td align="center">
                          <script>
                            n = n + 1;
                          </script>
                          <span><%=j+1%></span>
                        </td>
                        <td>
                          <input type="text" name="detail" class="form-control raida" value="<%=expenses[j].detail%>" placeholder="รายละเอียด">
                        </td>
                        <td>
                          <select class="form-control expenses" name="expenses_detail" onchange="getexpenses('#expenses_row_'+n)" required>
                            <%for (var i = 0; i < expenses_detail.length; i++) { %>
                              <option value="<%=expenses_detail[i].id%>" <%if(expenses_detail[i].name == expenses[j].expenses_detail){%>selected<%}%>>
                                <%=expenses_detail[i].name%>
                              </option>
                            <%}%>
                          </select>
                          <input type="hidden" name="acc_buy" id="chart" value="<%=expenses[0].acc_buy%>">
                        </td>
                        <td>
                          <input type="text" name="quantity" class="form-control text-right" value="<%=expenses[j].quantity%>" step="1.00" onkeyup="computeList()" required>
                        </td>
                        <td>
                          <input type="text" name="categoryprice" value="<%=expenses[j].categoryprice%>" class="form-control " required>
                        </td>
                        <td>
                          <input type="text" name="price" class="form-control text-right" value="<%=expenses[j].price%>" onkeyup="computeList()" required>
                        </td>
                        <td  class="discountlist" hidden>
                          <input type="text" class="form-control text-right" name="listdiscount" value="<%=expenses[j].listdiscount%>" onkeyup="computeList()" required>
                        </td>
                        <td class="vatlist" hidden>
                          <select class="form-control expenseslistvat" name="vate_id" onchange="computeList()" required>
                            <%for (var i = 0; i < vat.length; i++) { %>
                              <option value="<%=vat[i].number%>" <%if(vat[i].number == expenses[j].vate_id){%>selected<%}%>>
                                <%=vat[i].name%>
                              </option>
                            <%}%>
                          </select>
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" name="totallist" value="<%=expenses[j].totallist%>" readonly>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-danger" onclick="removeRow('row_<%=j+1%>')"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-outline-primary" onclick="plusRow()">
                    <i class="fas fa-plus"></i>เพิ่มแถวรายการ
                  </button>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <table class="table table-borderless">
                      <tr>
                        <th>หมายเหตุ</th>
                        <th>โน๊ตภายในบริษัท</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" name="note" id="" cols="50" rows="4"><%=expenses[0].note%></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" name="notein" id="" cols="50" rows="4"><%=expenses[0].notein%></textarea>
                        </td>
                      </tr>
                    </table>
                    <table class="table table-borderless table-responsive-md">
                      <tr>
                        <td>
                          <div class="dropzone" id="divUp" style="width: 155px; height: 180px;">
                            <div class="text-right">
                              <button type="button" class="close-pic"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <%if(expenses[0].filename){ %>
                            <img src="/expenses/<%=expenses[0].filename%>" class="upload-icon" style="width: 150px; height: 150px;"><br>
                            คลิกอัปโหลดรูปภาพ
                            <%}%>
                           <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br><br>
                           คลิกอัปโหลดรูปภาพ
                            <input type="file" name="filename" value="<%=expenses[0].filename%>" class="upload-input" multiple  accept="image/*" id="imgInp"> 
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>


                  <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>รวมเป็นเงิน</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="total"><%=expenses[0].total.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="total" value="<%=expenses[0].total%>" id="totalin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="sumdiscount">
                      <div class="input-group">
                        <div class="col-8">
                          <b>ส่วนลด</b>
                          <input class="text-right" type="text" value="0.00" maxlength="6" id="discountP" onchange="setDiscountValue('discountM'),computeList();" style="width: 50px;">
                          <b>%</b>
                        </div>
                        <div class="col-4 text-right">
                          <input type="hidden" name="alldiscount" value="<%=expenses[0].alldiscount%>" step="0.00" class="text-right float-right" id="discountM" onchange="setDiscountValue('discountP'),computeList();" style="width: 100px;">
                          <%var alldiscount = expenses[0].total-  expenses[0].afterdiscount %>
                          <i class="fa fa-edit" onclick="inputdiscount()"></i><b><%=alldiscount%></b>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินหลังหักส่วนลด</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="afterdiscount"><%=expenses[0].afterdiscount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="afterdiscount" value="<%=expenses[0].afterdiscount%>" id="afterdiscountin">
                        </div>
                      </div>
                    </div>

                    <div class="vatlistset" hidden>
                      <hr>
                      <div class="form-group" id="vatexamption">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่ไม่มี/ยกเว้นภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=expenses[0].except.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="except" value="<%=expenses[0].except%>">
                          </div>
                        </div>
                      </div>
                      <div class="form-group" id="vatcalculator">
                        <div class="input-group">
                          <div class="col-8">
                            <b>จำนวนเงินที่คำนวณภาษี</b>
                          </div>
                          <div class="col-4 text-right">
                            <b><%=expenses[0].vatcalculator.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                            <input type="hidden" name="vatcalculator" value="<%=expenses[0].vatcalculator%>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="computevat1">
                      <div class="input-group">
                        <div class="col-8">
                          <div class="input-group">
                            <input class="form-check" type="checkbox"  <% if( expenses[0].vat > 0){%> checked="checked" <%}%>  name="vat" value="7" id="ordervat" onclick="computeList()">
                            <b>ภาษีมูลค่าเพิ่ม</b>
                          </div>
                        </div>
                        <div class="col-4 text-right">
                          <b id="computevat"><%=expenses[0].vatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="vatamount" value="<%=expenses[0].vatamount%>" id="computevatin">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินรวมทั้งสิ้น</b>
                        </div>
                        <div class="col-4 text-right">
                          <b id="granttotal"><%=expenses[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="granttotal" value="<%=expenses[0].granttotal%>" id="granttotalin">
                          <input type="hidden" name="status_pay"  id="status_pay" >
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group" id="computevat2">
                      <!-- /// -->
                    </div>

                    <div class="form-group" id="notplusvat" hidden>
                      <div class="input-group">
                        <div class="col-8">
                          <b>จำนวนเงินไม่รวมภาษี</b>
                        </div>
                        <div class="col-4 text-right">
                          <b><%=expenses[0].notvatamount.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%></b>
                          <input type="hidden" name="notvatamount" value="<%=expenses[0].notvatamount%>">
                        </div>
                      </div>
                    </div>

                   
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <ul class="nav nav-tabs" id="assetTab">
                <li class="nav-link tablinks active" onclick="openCity(event, 'assetPayment')"><a data-toggle="tab" href="#assetPayment">บันทึกการชำระเงิน</a></li>
                <li class="nav-link tablinks" onclick="openCity(event, 'taxData')"><a data-toggle="tab" href="#taxData">ข้อมูลใบกำกับภาษีที่ได้รับ</a></li>
              </ul>
              <div class="mt-3">
                <div class="tab-content">
                  <div id="assetPayment" class="tabcontent">
                    <form class="form-inline">
                      <div class="form-group mx-sm-3 mb-2">
                        <label class="text-success" style="font-size: 24px;">บันทึกการชำระเงิน :</label>
                      </div>
                      <!-- <button type="button" class="btn btn-success mb-2">เพิ่มการชำระเงิน</button> -->
                      <div class="form-check">
                        <input class="form-check-input"  name="checkpay" type="checkbox" value="1" id="checkmoney" onclick="cashmoney()">
                        <input type="text"  class="form-control " id="money" onchange="$('#status_pay').val($(this).val())" disabled>
                      </div>
                    </form>
                  </div>
                  <script>
                    function cashmoney(){
                     if($('#checkmoney').prop('checked') == true){
                       $('#money').val($('#granttotalin').val())
                       $('#status_pay').val($('#money').val())
                       $('#money').attr('disabled',false);
                     }else{
                       $('#money').attr('disabled',true);
                       $('#status_pay').attr('disabled',true)
                       $('#money').val('')
                       $('#status_pay').val('')
                     }
                    }
                   </script>
                  <div id="taxData" class="tabcontent">
                    <form class="form-inline">
                      <div class="form-group mx-sm-3 mb-2">
                        <label class="text-dark" style="font-size: 24px;">ข้อมูลใบกำกับภาษีที่ได้รับ</label>
                      </div>
                      <button type="button" class="btn btn-dark mb-2">เพิ่มข้อมูลเอกสาร</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ข้อมูลผู้ติดต่อ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="/creditor/save" class="form-group" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <%-include('../../creditor/creditor/creditoraddform')%>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>
  
<!--/////////////////////////////////////Modal//////////////////////////////////////////////////////-->


<script type="text/javascript">
  var expenses = <%-JSON.stringify(expenses)%>;
  var creditors = <%-JSON.stringify(creditors)%>;
  var vat = <%-JSON.stringify(vat)%>;
  var expensesnumber = <%-JSON.stringify(expensesnumber)%>;
  var runnumber = <%-JSON.stringify(runnumber)%>;
  var expenses_detail = <%-JSON.stringify(expenses_detail)%>;
  var module = <%-JSON.stringify(expensesmodule)%>;
  var pn = (+expensesnumber[0].maxnumber);
</script>
<script src="/dist/js/creditors/creditor.js" crossorigin="anonymous"></script>
<script src="/dist/js/expenses/expenses_edit.js" crossorigin="anonymous"></script>
<%-include('../../_footer.ejs')%>
