<%-include('../../_header.ejs')%>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-5">
      <div class="card-body">
        <form action="/expenses/paymentsave/<%=url.expenses%>" method="POST" class="form-group" >
        <div class="row">
          <div class="col-9">
            <h3 style="color: rgb(17, 185, 185);"><b>บันทึกการชำระเงิน</b></h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <a class="btn btn-outline-dark" href="/expenses">กลับ</a>
              <button type="submit" class="btn btn-success">ตกลง</button>
            </div>
          </div>
        </div>
        <hr>
            <table class="table table-bordered" id="mytable">
                <tbody>
                  <tr>
                    <th style="width: 20%;">เลขที่เอกสาร:</th>
                    <td hidden><input type="text" name="papernumber" value="<%=expenses[0].expenseschar%><%=expenses[0].expensesnumber%>"></td>
                    <td><%=expenses[0].expenseschar%><%=expenses[0].expensesnumber%> (<%=expenses[0].creditors_name%>)</td>
                 </tr>
                 <tr>
                   <th style="width: 20;">ยอดที่ต้องชำระ:</th>
                  <% if(!expenses[0].balance){ %>
                   <td hidden><input type="text" name="amount" value="<%=expenses[0].granttotal%>" id="amountpay" onchange="pay()"></td>
                   <td><%=expenses[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%> บาท</td>
                   <% }else{ %>
                    <td hidden><input type="text" name="amount"  value="<%=expenses[0].balance%>" id="amountpay" onchange="pay()"></td>
                    <td><%=expenses[0].balance%> บาท</td>
                    <%}%>
                 </tr>
                 <tr>
                   <th>วันที่ชำระ:</th>
                   <td><input  type="date" name="datepayment"  value="<%=new Date().toISOString().split('T')[0]%>" class="form-control"></td>
                 </tr>
                 <tr>
                   <th>ยอดชำระ: <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                   <td><input type="text" name="net_payout"  id="net_payout" value="0.00" class="form-control" onchange="pay()"></td>
                 </tr>
                 <tr>
                  <th>คิดเป็นเงิน</th>
                  <td><input type="text" name="acc_money" class="form-control" id="money" value="0.00" readonly ></td>
                </tr>
                 <tr>
                   <th><input type="checkbox" name="withholding" value="0" id="checkwithholding" onclick="pay()"> หัก ณ ที่จ่าย:</th>
                   <td  class="withholding_id">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <select class="form-control" name="withholding_id" id="witholding"  onchange="pay()">
                        <%for (var i = 0; i < witholding.length; i++) { %>
                          <option value="<%=witholding[i].id%>" data-value="<%=witholding[i].number%>">
                            <%=witholding[i].name%></option>
                        <%}%>
                      </select>
                      <input type="text" name="withholding_vate" id="witholdingin" class="form-control">
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <th>วิธีการชำระ:</th>
                   <%if(expenses[0].status_pay == expenses[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )){ %>
                   <td>
                     <select class="form-control" name="type_payment_id" id="payment" onchange="chanalother()">
                       <%for (var i = 0; i < typepayment.length; i++) { %>
                         <option value="<%=typepayment[i].id%>">
                           <%=typepayment[i].name%></option>
                       <%}%>
                     </select>
                   </td>
                   <%}else{ %>
                    <td>
                      <select class="form-control" name="type_payment_id" id="payment" onchange="chanalother()">
                        <%for (var i = 0; i < typepayment.length; i++) { %>
                          <option value="<%=typepayment[i].id%>">
                            <%=typepayment[i].name%></option>
                        <%}%>
                      </select>
                    </td>
                    <%}%>
                 </tr>
                 <tr class="hid1" hidden>
                 <th>วงเงินสดย่อย <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                  <td>
                      <datalist  id="petty_cash">
                        <%for (var i = 0; i < petty_cash.length; i++) { %>
                            <option data-id="<%=petty_cash[i].id%>" value="<%=petty_cash[i].name_cash%>"></option>
                          <%}%>
                      </datalist>
                    <div class="input-group">
                        <input type="text" class="form-control" id="pettycash" list="petty_cash" name="petty_cash" aria-label="Text input with dropdown button" placeholder="เลือกวงเงินสดย่อย">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">เพิ่มบัญชีเงินสดย่อย</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/product_expenses/petty_cash/<%=url.expenses%>">เพิ่มบัญชีเงินสดย่อย</a>
                          </div>
                        </div>
                      </div>
                  </td>
                 </tr>
                 <tr class="hid2" hidden>
                    <th>บัญชีโอนเงิน <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                     <td>
                      <datalist  id="accounttransfer">
                        <%for (var i = 0; i < account_transfer.length; i++) { %>
                            <option data-id="<%=account_transfer[i].id%>" value="<%=account_transfer[i].bank_name%> <%=account_transfer[i].bank_number%>" ></option>
                          <%}%>
                    </datalist>
                      <div class="input-group">
                          <input type="text" class="form-control" list="accounttransfer" name="transfer_account" aria-label="Text input with dropdown button" placeholder="เลือกบัญชี" >
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">เพิ่มบัญชีธนาคาร</button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/product_expenses/acc_transfer/<%=url.expenses%>">เพิ่มบัญชีธนาคาร</a>
                            </div>
                          </div>
                        </div>
                     </td>
                </tr>
                <tr class="hid2" hidden>
                    <th>ค่าธรรมเนียม</th>
                     <td><input type="text" name="charge" placeholder="0.00"  class="form-control"></td>
                </tr>
                <tr class="hid3" hidden>
                    <th>บัญชีเช็คจ่าย <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                     <td><input type="text" name="check_account" placeholder="ระบุบัญชีเช็คจ่าย" class="form-control"></td>
                </tr>
                <tr class="hid3" hidden>
                    <th>วันที่หน้าเช็ค</th>
                     <td><input type="date" name="check_date" value="<%=new Date().toISOString().split('T')[0]%>" class="form-control hid3" ></td>
                </tr>
                <tr class="hid3" hidden>
                    <th>เลขที่เช็ค</th>
                     <td><input type="text" name="check_number" placeholder="ระบุเลขที่เช็ค" class="form-control"></td>
                </tr>
                <tr class="hid3" hidden>
                  <th>วันที่ถูกตัดบัญชี</th>
                   <td><input type="date" name="check_acc_cut" placeholder="กรุณาระบุวันที่ถูกตัดบัญชี" class="form-control"></td>
              </tr>
                <tr class="hid3" hidden>
                    <th>ค่าธรรมเนียม</th>
                     <td><input type="text" name="check_charge" placeholder="0.00" class="form-control"></td>
                </tr>
                <tr class="hid4" hidden>
                    <th>บัตรเครดิตจ่าย <span style="color: rgb(17, 185, 185);" title="บัญชีวงเงินสดย่อย"><i  class="fas fa-question-circle"></i></span></th>
                     <td>
                      <datalist  id="mastercard">
                        <%for (var i = 0; i < mastercasrd.length; i++) { %>
                            <option data-id="<%=mastercasrd[i].id%>" value="<%=mastercasrd[i].username%>*** **** <%=mastercasrd[i].numbercard%>"></option>
                          <%}%>
                    </datalist>
                      <div class="input-group">
                          <input type="text" class="form-control" list="mastercard" name="mastercard" aria-label="Text input with dropdown button" placeholder="">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">เพิ่มบัตรเครดิต</button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/product_expenses/mastercard/<%=url.expenses%>">เพิ่มบัตรเครดิต</a>
                            </div>
                          </div>
                        </div>
                     </td>
                </tr>
                <tr class="hid5" hidden>
                    <th>ประเภท</th>
                     <td>
                        <select class="form-control typemachin_1" name="typemachin_id" id="typemachin"onchange="chanalother()" >
                          <%for (var i = 0; i < typepayment_card.length; i++) { %>
                            <option value="<%=typepayment_card[i].id%>">
                              <%=typepayment_card[i].name%></option>
                          <%}%>
                          </select>
                     </td>
                </tr>
                <tr class="hid5" hidden>
                    <th>ช่องทางชำระเงิน</th>
                     <td>
                      <datalist  id="chanal_other">
                        <%for (var i = 0; i < chanal_other.length; i++) { %>
                          <option data-id="<%=chanal_other[i].id%>" value="<%=chanal_other[i].serial%>"></option>
                        <%}%>
                      </datalist>
                      <div class="input-group">
                          <input type="text" class="form-control" list="chanal_other" name="chanal_pay" aria-label="Text input with dropdown button" placeholder="เลือกช่องทางชำระอื่นๆ">
                          <%for (var i = 0; i < typepayment_card.length; i++) { %>
                          <div class="input-group-append typepaymentcard" id="typepaymentcard_<%=typepayment_card[i].id%>">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ช่องทางชำระเงิน</button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item " href="/product_expenses/chanal_other/<%=url.expenses%>/<%=typepayment_card[i].id%>">ช่องทางชำระเงิน</a>
                            </div>
                          </div>
                          <%}%>
                          <script>
                            $(document).ready(function(){
                              $('.typepaymentcard').hide();
                              $('#typepaymentcard_' +  $('.typemachin_1').val()).show()
                              $('.typemachin_1').change(function(){
                                $('.typepaymentcard').hide();
                                $('#typepaymentcard_' +  $('.typemachin_1').val()).show()
                              })
                            })
                          </script>
                        </div>
                     </td>
                </tr>
                 <tr>
                   <th style="color: rgb(17, 185, 185);"><b>รายละเอียดเพิ่มเติม</b></th>
                 </tr>
                 <tr>
                   <th>หมายเหตุ</th>
                   <td><textarea name="note" id="" cols="70" rows="5"  class="form-control"></textarea></td>
                 </tr>
                   <tr>
                     <th>ยอดคงเหลือ</th>
                     <% if(!expenses[0].balance){ %>
                     <td><input type="text" name="balance"  id="balance" value="<%=expenses[0].granttotal.toFixed(2).replace( /(\d)(?=(\d{3})+(?!\d))/g, '$1,' )%>" class="form-control" readonly></td>
                      <% }else { %>
                        <td><input type="text" name="balance"  id="balance" value="<%=expenses[0].balance%>" class="form-control"></td>
                        <%}%>
                      </tr>
                   <tr>
                     <th>ระบุสาเหตุ:</th>
                     <td>
                        <input type="text" name="Identify" value="" class="form-control" >
                     </td>
                   </tr>
                </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  
  function pay(){
    var amountpay = parseFloat($('#amountpay').val().replace(/,/g, ''));
    var net_payout = parseFloat($('#net_payout').val().replace(/,/g, ''));
   

    if($('#checkwithholding').prop('checked') == true){
      var val = $('#witholding').val();
      var witholding = $('#witholding option').filter(function () {
        return this.value == val;
      }).data('value');
      $('#witholdingin').val(((amountpay / 100) * witholding).toFixed(2));
      $('#money').val(net_payout - $('#witholdingin').val() );
      $('#balance').val(amountpay - net_payout )
    }else{
     $('#money').val(net_payout);
      $('#balance').val(parseFloat(amountpay -  $('#net_payout').val() ).toFixed(2));
    }
  }

  $(document).ready(function () {
    $('.withholding_id').hide()
    $('#checkwithholding').click(function(){
      $('.withholding_id').toggle()
    })
  });

    $('#typemachin').change(function(){
        var other = $('#typemachin').val()
    })
    $('#payment').change(function(){
        var pay = $('#payment').val()
        console.log(pay)
        if(pay == 2){
            $('.hid1').attr('hidden',false);
            $('.hid2').attr('hidden',true);
            $('.hid3').attr('hidden',true).attr('disabled',true);;
            $('.hid4').attr('hidden',true);
            $('.hid5').attr('hidden',true);
        }else if(pay == 3){
            $('.hid1').attr('hidden',true);
            $('.hid2').attr('hidden',false);
        }else if(pay == 4){
            $('.hid1').attr('hidden',true);
            $('.hid2').attr('hidden',true);
            $('.hid3').attr('hidden',false);
            $('.hid4').attr('hidden',true);
            $('.hid5').attr('hidden',true);
        }else if(pay == 5){
            $('.hid1').attr('hidden',true);
            $('.hid2').attr('hidden',true);
            $('.hid3').attr('hidden',true).attr('disabled',true);;
            $('.hid4').attr('hidden',false);
            $('.hid5').attr('hidden',true);
        }else if(pay ==6){
            $('.hid1').attr('hidden',true);
            $('.hid2').attr('hidden',true);
            $('.hid3').attr('hidden',true).attr('disabled',true);;
            $('.hid4').attr('hidden',true);
            $('.hid5').attr('hidden',false);
        }else if(pay ==1){
          $('.hid1').attr('hidden',true);
          $('.hid2').attr('hidden',true);
          $('.hid3').attr('hidden',true).attr('disabled',true);;
          $('.hid4').attr('hidden',true);
          $('.hid5').attr('hidden',true);
        }
    });




    function chanalother() {
      var typemachin = $('#typemachin').val()
      console.log(typemachin);
      $.ajax({
        type: "GET",
        url: '/api/typemachin/' + typemachin,
        success: function (result) {
          $('#chanal_other').empty();
          $.each(result, function (i, machin) {
            console.log(result,machin);
            $('#chanal_other').append('<option data-id="'+machin.id + '" value="'+ machin.serial_number +'"></option>');
          });
        },
        error: function () {
        }
      });
    }
</script>

<%-include('../../_footer.ejs')%>
