<%-include('../../_header.ejs')%>

  <div class="monitor">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card mt-5">
            <div class="card-body">

              <form class="form-group" action="/billreceipt/save" method="post">
                <div class="row">
                  <div class="col-9">
                    <h3><i class="far fa-sticky-note"></i> สร้างใบเสร็จรับเงิน</h3>
                  </div>
                  <div class="col-3">
                    <div class="text-right">
                      <a class="btn btn-outline-dark" href="/billreceipt">กลับ</a>
                      <button type="submit" class="btn btn-success">บันทึก</button>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>ชื่อลูกค้า</b></label>
                    <div class="input-group-prepend">
                      <input type="text" name="" class="form-control" id="inputpopup" placeholder="เลือกลูกค้า หรือพิมพ์เพื่อสร้างใหม่">
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" onclick="contact('contact')"><i class="fa fa-plus"></i> เพิ่มลูกค้า</a>
                        </div>
                      </div>
                    </div>

                    <label for=""><b>รายละเอียด</b></label>
                    <textarea class="form-control" name="" id="" cols="50" rows="5" placeholder="รายละเอียดที่อยู่"></textarea>
                    <input type="text" name="" class="form-control" placeholder="รหัสไปรษณีย์">
                    <input type="text" name="" class="form-control" placeholder="เลขประจำตัวผู้เสียภาษี">
                    <input type="text" name="" class="form-control" placeholder="สำนักงาน/สาขาที่">
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <!-- /////blank//// -->
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <label for=""><b>จำนวนเงินรวมทั้งสิ้น</b></label>
                    <div class="input-group-append mb-4">
                      <span class="input-group-text">
                        <font size=5>
                          <font color="blue">0.00</font>
                        </font>
                      </span>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>วันที่:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="" value="">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>เครดิต(วัน):</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="" value="">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>ครบกำหนด:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="" value="">
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for=""><b>พนักงานขาย:</b></label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                          <input class="form-control" type="text" name="" value="">
                        </div>
                      </div>
                    </div>
                    <datalist id="day">
                      <option value="เครดิตวัน"></option>
                      <option value="เงินสด"></option>
                      <option value="เครดิต(ไม่แสดงวันที่)"></option>
                    </datalist>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-2 col-md-2">
                          <label for=""><b>ชื่อโปรเจค:</b></label>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          <input type="text" name="" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>เลขที่อ้างอิง:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <input type="text" name="" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="col-lg-5 col-md-5">
                          <label for=""><b>ราคาสินค้า:</b></label>
                        </div>
                        <div class="col-lg-7 col-md-7">
                          <select class="form-control" name="">
                            <option value="">รวมภาษี</option>
                            <option value="">ไม่รวมภาษี</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <datalist class="form-control" name="" id="productUnit">
                    <option data-value="1" value="กก."></option>
                    <option data-value="2" value="ก้าน"></option>
                    <option data-value="3" value="กิ่ง"></option>
                    <option data-value="4" value="โก่ง"></option>
                  </datalist>

                  <table class="table table-responsive" id="rowForAddData">
                    <thead class="bg-info">
                      <tr>
                        <th width="5%" class="text-center">ลำดับ</th>
                        <th width="55%">ชื่อสินค้า/รายละเอียด</th>
                        <th width="8%" class="text-center">จำนวน</th>
                        <th width="8%" class="text-center">หน่วย</th>
                        <th width="10%" class="text-center">ราคาต่อหน่วย</th>
                        <th width="10%" class="text-center">ราคารวม</th>
                        <th width="4%"></th>
                      </tr>
                    </thead>
                    <tbody id="bodyRowForAddData">
                      <tr class="border" id="row_1">
                        <td align="center">
                          <span>1</span>
                        </td>
                        <td>
                          <input type="text" name="" class="form-control radia" placeholder="ชื่อสินค้า">
                          <input type="text" name="" class="form-control raida" placeholder="รายละเอียด">
                        </td>
                        <td>
                          <input type="text" name="" class="form-control text-right" value="1.00" step="1.00">
                        </td>
                        <td>
                          <input list="productUnit" type="text" name="" class="form-control" value="">
                        </td>
                        <td>
                          <input type="text" name="" class="form-control text-right" value="">
                        </td>
                        <td>
                          <div class="input-group-append">
                            <input type="text" class="form-control text-right" value="0.00" disabled>
                          </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-danger" onclick="removeRow(row_1)"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-outline-primary" onclick="plusRow()">
                    <i class="fas fa-plus"></i>เพิ่มแถวรายการ
                  </button>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="input-group">
                      <input class="form-check" type="checkbox" value="" id="checke">
                      <label for="checke">
                        ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                      </label>
                    </div>
                    <table class="table table-borderless">
                      <tr>
                        <th>หมายเหตุ</th>
                        <th>โน๊ตภายในบริษัท</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" name="" id="" cols="50" rows="4"></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" name="" id="" cols="50" rows="4"></textarea>
                        </td>
                      </tr>
                    </table>
                    <table class="table table-borderless table-responsive-md">
                      <tr>
                        <td>
                          <div class="dropzone" style="width: 150px; height: 150px;">
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"><br>
                            คลิกเพื่อเลือกไฟล์
                            <input type="file" class="upload-input" />
                          </div>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <table class="table table-borderless">
                      <tr>
                        <th style="width: 70%;">รวมเป็นเงิน </th>
                        <th style="width: 30%;" class="text-right">
                          0.00
                        </th>
                      </tr>
                      <tr>
                        <th>
                          <div class="input-group">
                            <label for="">ส่วนลด</label>
                            <div class="" style="width: 80px;">
                              <input class="form-control text-right" type="text" name="" value="0.00" maxlength="6" id="discountP">
                            </div>
                            <label for="">%</label>
                          </div>
                        </th>
                        <th>
                          <input type="text" name="" value="0.00" step="0.00" class="form-control text-right float-right" id="discountM">
                        </th>
                      </tr>

                      <tr>
                        <th>ราคาหลังหักส่วนลด </th>
                        <th class="text-right">
                          0.00
                        </th>
                      </tr>
                      <tr>
                        <th>ภาษีมูลค่าเพิ่ม7% </th>
                        <th class="text-right">
                          0.00
                        </th>
                      </tr>
                      <tr>
                        <th>จำนวนเงินรวมทั้งสิ้น </th>
                        <th class="text-right">
                          0.00
                        </th>
                      </tr>
                      <tr class="border-top">
                        <th>
                          <div class="input-group">
                            <input class="form-check" type="checkbox" id="withholdingC" onclick="corectCheck('withholdingC')">
                            <label for="withholdingC">หัก ณ ที่จ่าย</label>
                          </div>
                        </th>
                        <th class="text-right" id="withholdingI">
                          <span>0.00</span>
                        </th>
                      </tr>
                      <tr id="discountSum">
                        <th>ยอดชำระ</th>
                        <th class="text-right">
                          0.00
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////Modal////////////////////////////////////////////////////////////////////-->

  <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ข้อมูลผู้ติดต่อ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/purchase_order/save" method="POST" class="form-group">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <table class="table table-borderless">
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">ประเภทผู้ติดต่อ:</label>
                        </div>
                        <select class="form-control" name="contype">
                          <option value="นิติบุคคล">นิติบุคคล</option>
                          <option value="บุคคลธรรมดา">บุคคลธรรมดา</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label>รหัสผู้ติดต่อ:</label>
                          </div>
                          <input type="text" name="conpass" class="form-control">
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ชื่อธุระกิจ:</label>
                          </div>
                          <input type="text" name="namebusiness" class="form-control"
                          placeholder="ตัวอย่างการกรอก: บริษัทพีทีทีแอคเคาท์ จำกัด">
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ที่อยู่:</label>
                          </div>
                          <textarea class="form-control" name="address" rows="2" cols="40"></textarea>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">จังหวัด:</label>
                          </div>
                          <select id="getResultOption" class="form-control" name="provinces_id">
                            <option></option>
                            <% if(provinces) { %>
                              <% for(var i=0; i<provinces.length; i++){ %>
                                <option value="<%= provinces[i].id %>">
                                  <%=provinces[i].name_th %>
                                </option>
                              <%}%>
                            <%}%>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">อำเภอ:</label>
                          </div>
                          <select id="getAmphuresOption" class="form-control" name="amphures_id" required>
                            <option></option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ตำบล:</label>
                          </div>
                          <select id="getDistrictsOption" class="form-control" name="districts_id" required>
                            <option></option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">รหัสไปรษณีย์:</label>
                          </div>
                          <div id="getPost" class="">
                            <input id="changPost" type="text" value="" class="form-control" required>
                          </div>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">เลขผู้เสียภาษี:</label>
                          </div>
                          <input type="text" name="numbertax" class="form-control">
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">สำนักงาน/สาขา:</label>
                        </div>
                        <input class="form-check" type="radio" name="company" value="สำนักงานใหญ่" id="checka">
                        <label for="checka">สำนักงานใหญ่</label>
                        <input class="form-check" type="radio" name="company" value="สาขา" id="checkb">
                        <label for="checkb">สาขา</label>
                      </div>
                    </td>
                  </tr>
                </table>
                <hr>
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">รายละเอียดผู้ติดต่อ</legend>
                  <table class="table table-borderless">
                    <tr>
                      <td>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">ชื่อผู้ติดต่อ:</label>
                            </div>
                            <input class="form-control" type="text" name="conname" value="">
                          </div>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">อีเมล์:</label>
                            </div>
                            <input class="form-control" type="email" name="email" value="">
                          </div>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">เบอร์มือถือ:</label>
                            </div>
                            <input class="form-control" type="text" name="mobile" value="">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </fieldset>
                <hr>

                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">ข้อมูลธนาคาร</legend>
                  <table class="table table-borderless">
                    <tr>
                      <td>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">ธนาคาร:</label>
                            </div>
                            <select class="form-control" name="bank_id">
                              <option></option>
                              <% if(bank) { %>
                                <% for(var i=0; i<bank.length; i++){ %>
                                  <option value="<%= bank[i].id %>">
                                    <%=bank[i].name %>
                                  </option>
                                <%}%>
                              <%}%>
                            </select>
                          </div>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">เลขที่บัญชี:</label>
                            </div>
                            <input class="form-control" type="text" name="numberbank" value="">
                          </div>
                          <div class="input-group">
                            <div class="col-lg-4 col-md-4">
                              <label for="">สาขาธนาคาร:</label>
                            </div>
                            <input class="form-control" type="text" name="facutybank">
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ประเภทบัญชี:</label>
                          </div>
                          <input class="form-check" type="radio" name="typeacc" value="บัญชีออมทรัพย์" id="checkp">
                          <label for="checkp">บัญชีออมทรัพย์</label>
                          <input class="form-check" type="radio" name="typeacc" value="บัญชีกระแสรายวัน"
                          id="checko">
                          <label for="checko">บัญชีกระแสรายวัน</label>
                        </div>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </div>

              <div class="col-lg-6 col-md-6">
                <table class="table table-borderless">
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">ประเภท:</label>
                        </div>
                        <input class="form-check" name="type" type="checkbox" value="ลูกค้า" id="checkc">
                        <label for="checkc">
                          ลูกค้า
                        </label>
                        <input class="form-check" name="type" type="checkbox" value="ผู้จำหน่าย" id="checkd">
                        <label for="checkd">
                          ผู้จำหน่าย
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">เครดิต(วัน):</label>
                        </div>
                        <input type="text" name="crday" class="form-control">
                      </div>
                    </td>
                  </tr>
                  <tr id="input1">
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">เบอร์สำนักงาน:</label>
                        </div>
                        <input type="text" name="businessphone" class="form-control">
                      </div>
                    </td>
                  </tr>
                  <tr id="input2">
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">เบอร์โทรสาร:</label>
                        </div>
                        <input type="text" name="sanphone" class="form-control">
                      </div>
                    </td>
                  </tr>
                  <tr id="input3">
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">เว็บไซต์:</label>
                        </div>
                        <input type="text" name="website" class="form-control">
                      </div>
                    </td>
                  </tr>
                  <tr id="input4">
                    <td>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ที่อยู่สำหรับจัดส่ง:</label>
                          </div>
                          <textarea class="form-control" name="" rows="2" cols="40"></textarea>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">จังหวัด:</label>
                          </div>
                          <select id="getResultOption2" class="form-control" name="provinces_id1">
                            <option></option>
                            <% if(provinces) { %>
                              <% for(var i=0; i<provinces.length; i++){ %>
                                <option value="<%= provinces[i].id %>">
                                  <%=provinces[i].name_th %>
                                </option>
                              <%}%>
                            <%}%>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">อำเภอ:</label>
                          </div>
                          <select id="getAmphuresOption2" class="form-control" name="amphures_id1" required>
                            <option></option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">ตำบล:</label>
                          </div>
                          <select id="getDistrictsOption2" class="form-control" name="districts_id1" required>
                            <option></option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="col-lg-4 col-md-4">
                            <label for="">รหัสไปรษณีย์:</label>
                          </div>
                          <div id="getPost2" class="">
                            <input id="changPost2" type="text" value="" class="form-control" required>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr id="input5">
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="clip">แนบไฟล์:</label>
                        </div>
                        <input type="file" name="filename" class="form-control" hidden id="clip">
                        <label for="clip"><i class="fa fa-paperclip"></i></label>
                      </div>
                    </td>
                  </tr>
                  <tr id="input6">
                    <td>
                      <div class="input-group">
                        <div class="col-lg-4 col-md-4">
                          <label for="">โน๊ต:</label>
                        </div>
                        <textarea class="form-control" name="note" rows="3" cols="40"></textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="dropdown" id="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-plus"></i> เพิ่มรายละเอียด
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#" onclick="dropworke1()" id="dropwork1">เบอร์สำนักงาน</a>
                          <a class="dropdown-item" href="#" onclick="dropworke2()" id="dropwork2">เบอร์โทรสาร</a>
                          <a class="dropdown-item" href="#" onclick="dropworke3()" id="dropwork3">เว็บไซต์</a>
                          <a class="dropdown-item" href="#" onclick="dropworke4()" id="dropwork4">ที่อยู่สำหรับจัดส่ง</a>
                          <a class="dropdown-item" href="#" onclick="dropworke5()" id="dropwork5">แนบไฟล์</a>
                          <a class="dropdown-item" href="#" onclick="dropworke6()" id="dropwork6">โน๊ต</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">ตกลง</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--/////////////////////////////////////Modal//////////////////////////////////////////////////////-->


<script>
  //show contact popup

  function contact(id){
    $('#'+id).modal();
  }

  $('#inputpopup').keyup(function () {
    if ($('#inputpopup').val() === "เพิ่มรายชื่อผู้ติดต่อ") {
      $('#popupadd').click();
      $('#inputpopup').val('');
    }
  });

  $(document).ready(function () {
    $('#input1').hide();
    $('#input2').hide();
    $('#input3').hide();
    $('#input4').hide();
    $('#input5').hide();
    $('#input6').hide();
  })

  var numberdrop = 0;
  function hidedorp() {
    if (numberdrop == 6) {
      $('#dropdown').hide();
    }
  }

  function dropworke1() {
    $('#dropwork1').hide();
    $('#input1').show();
    numberdrop++;
    hidedorp();

  }
  function dropworke2() {
    $('#dropwork2').hide();
    $('#input2').show();
    numberdrop++;
    hidedorp();
  }
  function dropworke3() {
    $('#dropwork3').hide();
    $('#input3').show();
    numberdrop++;
    hidedorp();
  }
  function dropworke4() {
    $('#dropwork4').hide();
    $('#input4').show();
    numberdrop++;
    hidedorp();
  }
  function dropworke5() {
    $('#dropwork5').hide();
    $('#input5').show();
    numberdrop++;
    hidedorp();
  }
  function dropworke6() {
    $('#dropwork6').hide();
    $('#input6').show();
    numberdrop++;
    hidedorp();
  }


// add row and run row number

var n = 2;
  function plusRow(){
    $('#rowForAddData tbody').append('<tr class="border" id="row_'+n+'"><td align="center"></td>'+
      '<td><input type="text" name="" class="form-control radia" placeholder="ชื่อสินค้า">'+
        '<input type="text" name="" class="form-control raida" placeholder="รายละเอียด"></td>'+
      '<td><input type="text" name="" class="form-control text-right" value="1.00" step="1.00"></td>'+
      '<td><input list="productUnit" type="text" name="" class="form-control"></td>'+
      '<td><input type="text" name="" class="form-control text-right" value=""></td>'+
      '<td><div class="input-group-append">'+
        '<input type="text" class="form-control text-right" value="0.00" disabled>'+
      '</div></td>'+
      '<td><button type="button" class="btn btn-outline-danger" onclick="removeRow(row_'+n+')"><i class="fa fa-trash"></i></button></td></tr>');
      n = n+1;
      numRow();
    }

    var tbody = document.getElementById('bodyRowForAddData');
    var tr = tbody.getElementsByTagName('tr');

    function removeRow(r){
      if (tr.length > 1) {
        $(r).remove();
        numRow();
      }
    }

    function numRow(){
      $.each( tr, function (i, el) {
        var getId = $(tr[i]).attr('id');
        $('tr#'+getId).find("td:eq(0) span").remove();
        $('tr#'+getId).find("td:eq(0)").append('<span>'+(i+1)+'</span>')
      });
    }

    // writting % check----------

    $('#discountP').on('keyup', function(){
      var dp = $('#discountP').val();
      if (dp > 100) {
        // $('#discountP').val((100).toFixed(2));
        alert('ข้อมูลที่กรอก '+dp+'% มากก่าว 100.00 %')
      }else if (dp < 0) {
        // $('#discountP').val((0).toFixed(2));
        alert('ข้อมูลที่กรอก '+dp+'% น้อยกว่า 0.00 %')
      }else if(isNaN(+dp)){
        alert('ข้อมูลที่กรอก '+dp+'% ไม่ใช่ตัวเลข')
        $('#discountP').val('');
      }else {
        // -----
      }
    });

    ////- รายการปรับลด

    $('#discountSum').hide();
    function corectCheck(id){
      var withholding = document.getElementById(id);
      if (withholding.checked == true) {
        $('#withholdingI span').remove().end();
        $('#withholdingI').append(
          '<input class="form-control text-right float-right" type="text" name="" value="0.00">'
        );
        $('#discountSum').show();
      }else {
        $('#withholdingI input').remove().end();
        $('#withholdingI span').remove().end();
        $('#withholdingI').append('<span>0.00</span>');
        $('#discountSum').hide();
      }
    }
</script>

<%-include('../../_footer.ejs')%>
